<template>
    <div>
        <div v-if="registered" class="alert alert--success">
            Cek email Anda dan klik link verifikasi.
        </div>

        <form v-else @submit.prevent="save">
            <div class="form__group">
                <label class="sr-only" for="name">
                    Name
                    <span class="required">*</span>
                </label>
                <div class="input-group input-group--no-append">
                    <div
                        class="input-group__prepend input-group__prepend--icon-primary"
                    >
                        <i class="icon-profile"></i>
                    </div>
                    <div class="input-group__main">
                        <input
                            type="text"
                            class="form__control"
                            id="name"
                            placeholder="Nama"
                            v-model="form.name"
                            @blur="$v.form.name.$touch()"
                        />
                    </div>
                </div>
                <span
                    v-if="errors.name || $v.form.name.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.name">{{ errors.name[0] }}</span>
                    <span v-if="$v.form.name.$error">Required field!</span>
                </span>
            </div>
            <div class="form__group">
                <label class="sr-only" for="email">
                    Email
                    <span class="required">*</span>
                </label>
                <div class="input-group input-group--no-append">
                    <div
                        class="input-group__prepend input-group__prepend--icon-primary"
                    >
                        <i class="icon-message"></i>
                    </div>
                    <div class="input-group__main">
                        <input
                            type="text"
                            id="email"
                            class="form__control"
                            placeholder="Email"
                            v-model="form.email"
                            @blur="$v.form.email.$touch()"
                        />
                    </div>
                </div>
                <span
                    v-if="errors.email || $v.form.email.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.email">{{ errors.email[0] }}</span>
                    <span v-if="$v.form.email.$error"
                        >Required field! Should be valid email</span
                    >
                </span>
            </div>
            <div class="form__group">
                <label class="sr-only" for="phone">
                    Telepon
                    <span class="required">*</span>
                </label>
                <div class="input-group input-group--no-append">
                    <div
                        class="input-group__prepend input-group__prepend--icon-primary"
                    >
                        <i class="icon-call"></i>
                    </div>
                    <div class="input-group__main">
                        <input
                            type="text"
                            id="phone"
                            class="form__control"
                            placeholder="Telepon"
                            v-model="form.phone"
                            @blur="$v.form.phone.$touch()"
                        />
                    </div>
                </div>
                <span
                    v-if="errors.phone || $v.form.phone.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.phone">{{ errors.phone[0] }}</span>
                    <span v-if="$v.form.phone.$error">Required field!</span>
                </span>
            </div>
            <div class="form__group">
                <label class="sr-only" for="phone">
                    Jabatan
                    <span class="required">*</span>
                </label>
                <div class="input-group input-group--no-append">
                    <div
                        class="input-group__prepend input-group__prepend--icon-primary"
                    >
                        <i class="icon-bag-2"></i>
                    </div>
                    <div class="input-group__main">
                        <input
                            type="text"
                            id="job_position"
                            class="form__control"
                            placeholder="Jabatan"
                            v-model="form.job_position"
                            @blur="$v.form.job_position.$touch()"
                        />
                    </div>
                </div>
                <span
                    v-if="errors.job_position || $v.form.job_position.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.job_position">{{
                        errors.job_position[0]
                    }}</span>
                    <span v-if="$v.form.job_position.$error"
                        >Required field!</span
                    >
                </span>
            </div>
            <div class="form__group">
                <label class="sr-only" for="password">
                    Password
                    <span class="required">*</span>
                </label>
                <div class="input-group input-group--no-append">
                    <div
                        class="input-group__prepend input-group__prepend--icon-primary"
                    >
                        <i class="icon-lock"></i>
                    </div>
                    <div class="input-group__main">
                        <input
                            type="password"
                            id="password"
                            class="form__control"
                            placeholder="Kata Sandi"
                            v-model="form.password"
                            @blur="$v.form.password.$touch()"
                            autocomplete="new-password"
                        />
                    </div>
                </div>
                <span
                    v-if="errors.password || $v.form.password.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.password">
                        {{ errors.password[0] }}
                    </span>
                    <span v-if="$v.form.password.$error">Required field!</span>
                </span>
            </div>
            <div class="form__group">
                <label class="sr-only" for="confirm-password">
                    Confirm Password
                    <span class="required">*</span>
                </label>
                <div class="input-group input-group--no-append">
                    <div
                        class="input-group__prepend input-group__prepend--icon-primary"
                    >
                        <i class="icon-lock"></i>
                    </div>
                    <div class="input-group__main">
                        <input
                            type="password"
                            id="confirm-password"
                            placeholder="Konfirmasi Kata Sandi"
                            class="form__control"
                            v-model="form.password_confirmation"
                            @blur="$v.form.password_confirmation.$touch()"
                            autocomplete="off"
                        />
                    </div>
                </div>
                <span
                    v-if="
                        errors.password_confirmation ||
                        $v.form.password_confirmation.$invalid
                    "
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.password_confirmation">
                        {{ errors.password_confirmation[0] }}
                    </span>
                    <span v-if="$v.form.password_confirmation.$error"
                        >Required field!</span
                    >
                </span>
            </div>

            <button
                type="submit"
                class="btn btn--primary btn--block btn--shadow mt-3"
                :disabled="$v.$invalid || saving"
            >
                <span v-if="!saving">Daftar</span>
                <span v-else>Memproses</span>
            </button>
        </form>
    </div>
</template>

<script>
import SwalMixin from "../../../../../../../../resources/js/mixins/swal";
import { email, required, requiredIf } from "vuelidate/lib/validators";

export default {
    mixins: ["SwalMixin"],
    data() {
        return {
            app_base_url: APP_BASE_URL,
            saving: false,
            errors: [],
            registered: false,
            form: {
                name: "",
                email: "",
                phone: "",
                job_position: "",
                password: "",
                password_confirmation: "",
            },
        };
    },
    validations: {
        form: {
            name: { required },
            email: { required, email },
            phone: { required },
            job_position: { required },
            password: { required },
            password_confirmation: { required },
        },
    },
    methods: {
        save() {
            this.saving = true;
            this.errors = [];

            axios
                .post(`${APP_BASE_URL}/auth/employer/register`, this.form)
                .then((res) => {
                    if (res.status == 201) {
                        this.registered = true;
                    }
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
};
</script>
