<template>
    <div>
        <div v-if="registered" class="clearfix">
            <div class="col-6 mx-auto">
                <div class="alert alert--success">
                    Cek email Anda dan klik link verifikasi.
                </div>
            </div>
        </div>

        <div v-else class="auth-form auth-form--register">
            <div class="auth-form__wrapper">
                <h1>Daftar Yuk</h1>
                <div class="auth-form__cta">
                    Buat akun Anda dan bergabung bersama kami
                </div>
                <form @submit.prevent="save" class="form">
                    <div class="clearfix mxn1">
                        <div class="col col-12 md-col-6 px1">
                            <div class="form__group">
                                <label class="sr-only" for="name">
                                    Nama
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group input-group--no-append">
                                    <div
                                        class="input-group__prepend input-group__prepend--icon-primary"
                                    >
                                        <i class="icon-profile"></i>
                                    </div>
                                    <div class="input-group__main">
                                        <input
                                            type="text"
                                            class="form__control"
                                            id="name"
                                            placeholder="Nama"
                                            v-model="form.name"
                                            @blur="$v.form.name.$touch()"
                                        />
                                    </div>
                                </div>
                                <span
                                    v-if="errors.name || $v.form.name.$invalid"
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.name">{{
                                        errors.name[0]
                                    }}</span>
                                    <span v-if="$v.form.name.$error"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="col col-12 md-col-6 px1">
                            <div class="form__group">
                                <label class="sr-only" for="email">
                                    Email
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group input-group--no-append">
                                    <div
                                        class="input-group__prepend input-group__prepend--icon-primary"
                                    >
                                        <i class="icon-message"></i>
                                    </div>
                                    <div class="input-group__main">
                                        <input
                                            type="text"
                                            id="email"
                                            class="form__control"
                                            placeholder="Email"
                                            v-model="form.email"
                                            @blur="$v.form.email.$touch()"
                                        />
                                    </div>
                                </div>
                                <span
                                    v-if="
                                        errors.email || $v.form.email.$invalid
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.email">{{
                                        errors.email[0]
                                    }}</span>
                                    <span v-if="$v.form.email.$error"
                                        >Required field! Should be valid
                                        email</span
                                    >
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix mxn1">
                        <div class="col col-12 md-col-6 px1">
                            <div class="form__group">
                                <label class="sr-only" for="password">
                                    Kata Sandi
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group input-group--no-append">
                                    <div
                                        class="input-group__prepend input-group__prepend--icon-primary"
                                    >
                                        <i class="icon-lock"></i>
                                    </div>
                                    <div class="input-group__main">
                                        <input
                                            type="password"
                                            id="password"
                                            class="form__control"
                                            placeholder="Kata Sandi"
                                            v-model="form.password"
                                            @blur="$v.form.password.$touch()"
                                            autocomplete="new-password"
                                        />
                                    </div>
                                </div>
                                <span
                                    v-if="
                                        errors.password ||
                                        $v.form.password.$invalid
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.password">
                                        {{ errors.password[0] }}
                                    </span>
                                    <span v-if="$v.form.password.$error"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="col col-12 md-col-6 px1">
                            <div class="form__group">
                                <label class="sr-only" for="confirm-password">
                                    Konfirmasi Kata Sandi
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group input-group--no-append">
                                    <div
                                        class="input-group__prepend input-group__prepend--icon-primary"
                                    >
                                        <i class="icon-lock"></i>
                                    </div>
                                    <div class="input-group__main">
                                        <input
                                            type="password"
                                            id="confirm-password"
                                            placeholder="Konfirmasi Kata Sandi"
                                            class="form__control"
                                            v-model="form.password_confirmation"
                                            @blur="
                                                $v.form.password_confirmation.$touch()
                                            "
                                            autocomplete="off"
                                        />
                                    </div>
                                </div>
                                <span
                                    v-if="
                                        errors.password_confirmation ||
                                        $v.form.password_confirmation.$invalid
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.password_confirmation">
                                        {{ errors.password_confirmation[0] }}
                                    </span>
                                    <span
                                        v-if="
                                            $v.form.password_confirmation.$error
                                        "
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                        </div>
                    </div>

                    <button
                        type="submit"
                        class="btn btn--primary btn--block btn--shadow mt2"
                        :disabled="$v.$invalid || saving"
                    >
                        <span v-if="!saving">Daftar</span>
                        <span v-else>Memproses</span>
                    </button>
                </form>

                <div v-if="socialLogins">
                    <div class="auth-form__or">
                        <span class="text">Atau</span>
                        <span class="line">&nbsp;</span>
                    </div>
                    <p class="auth-form__cta-social">Akun Sosial</p>

                    <div class="auth-form__social">
                        <div
                            v-if="google_client_id != ''"
                            class="auth-form__social-item"
                        >
                            <a
                                :href="`${app_base_url}/auth/social/google/login`"
                                title="Google"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons-color/google.svg`"
                                        alt="Google"
                                    />
                                </svg>
                            </a>
                        </div>
                        <div
                            v-if="facebook_client_id != ''"
                            class="auth-form__social-item"
                        >
                            <a
                                :href="`${app_base_url}/auth/social/facebook/login`"
                                title="Facebook"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons-color/facebook.svg`"
                                        alt="Facebook"
                                    />
                                </svg>
                            </a>
                        </div>
                        <div
                            v-if="linkedin_client_id != ''"
                            class="auth-form__social-item"
                        >
                            <a
                                :href="`${app_base_url}/auth/social/linkedin/login`"
                                title="Linkedin"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons-color/linkedin.svg`"
                                        alt="Linkedin"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <p class="auth-form__tnc">
                        Saya setuju dengan
                        <a href="#" title="Syarata dan ketentuan"
                            >Persyaratan Layanan</a
                        >
                    </p>
                </div>
            </div>
            <div class="auth-form__msg">
                <div class="auth-form__msg-text">
                    <h2>Selamat datang</h2>
                    <p>Sudah punya akun sebelumnya?</p>
                    <p>
                        Yuk, Untuk terhubung dengan kami, silahkan login dengan
                        akun Anda
                    </p>
                </div>
                <div class="auth-form__msg-btn">
                    <a
                        :href="`${app_base_url}/auth/login`"
                        class="btn btn--lg btn--long btn-outline btn-outline--white btn-outline--color-light"
                        >Masuk</a
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SwalMixin from "../../../../../../../../resources/js/mixins/swal";
import { email, required, requiredIf } from "vuelidate/lib/validators";

export default {
    props: {
        google_client_id: String,
        facebook_client_id: String,
        linkedin_client_id: String,
    },
    mixins: ["SwalMixin"],
    data() {
        return {
            app_base_url: APP_BASE_URL,
            saving: false,
            errors: [],
            registered: false,
            form: {
                name: "",
                email: "",
                password: "",
                password_confirmation: "",
            },
        };
    },
    validations: {
        form: {
            name: { required },
            email: { required, email },
            password: { required },
            password_confirmation: { required },
        },
    },
    methods: {
        save() {
            this.saving = true;
            this.errors = [];

            axios
                .post(`${APP_BASE_URL}/auth/register`, this.form)
                .then((res) => {
                    if (res.status == 201) {
                        this.registered = true;
                    }
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
    computed: {
        socialLogins() {
            return (
                this.google_client_id != "" ||
                this.facebook_client_id != "" ||
                this.linkedin_client_id != ""
            );
        },
    },
};
</script>
