#auth {
    background: #4a4a4a;
    height: 100vh;

    .container {
        height: 100%;

        .row {
            height: 100%;

            .auth-form {
                background: #fff;
                padding: 25px;
                border-radius: 5px;
            }
        }
    }


}