.menu-item-container {
    margin: 0;

    .item-group {

        .item {
            border: solid 1px #b9b9b9;
            background-color: #fdfdfd;
            // width: 400px;
            border-radius: 3px;
            box-shadow: 1px 2px 3px #ccc;

            &:hover {
                cursor: move;
            }

            .item-head {
                display: flex;
                justify-content: space-between;
                padding: 10px 15px;

                &.show {
                    border-bottom: 1px solid #dbdbdb;
                }

                .icons {

                    .remove,
                    .show-detail {
                        cursor: pointer;
                    }

                    .show-detail {
                        font-size: 18px;
                        line-height: 1;
                    }
                }
            }
        }

        .item-detail {
            padding: 10px;
            display: none;

            &.show {
                display: block;
            }
        }
    }

    .item-sub {
        margin: 0 0 0 1rem;
    }
}