<template>
    <MainBannerForm :form="form" :header_title="header_title" />
</template>

<script>
import MainBannerForm from "./MainBannerForm";
import moment from "moment";

export default {
    components: {
        MainBannerForm
    },
    data() {
        return {
            header_title: "New Main Banner",
            form: {
                id: "",
                image: "",
                image_url: "",
                alt_image: "",
                link: "",
                open_new_tab: false,
                start_date: moment().format("YYYY-MM-DD"),
                end_date: moment().format("YYYY-MM-DD"),
                enable: true,
                sort_order: 0
            }
        };
    }
};
</script>