<template>
    <MainBannerForm :form="form" :header_title="header_title" />
</template>

<script>
import MainBannerForm from "./MainBannerForm";
import moment from "moment";

export default {
    props: ["main_banner"],
    components: {
        MainBannerForm
    },
    data() {
        return {
            header_title: "Edit Main Banner",
            form: {
                id: this.main_banner.id,
                image: this.main_banner.image,
                image_url: this.main_banner.image_url,
                alt_image: this.main_banner.alt_image,
                link: this.main_banner.link,
                open_new_tab: this.main_banner.open_new_tab,
                start_date: this.main_banner.start_date,
                end_date: this.main_banner.end_date,
                enable: this.main_banner.enable,
                sort_order: this.main_banner.sort_order
            }
        };
    }
};
</script>