<template>
    <div class="container">
        <div class="card">
            <div class="card-header">Main Banners</div>
            <div class="card-body">
                <DataTable :datatable="datatable" />
            </div>
        </div>
    </div>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";

export default {
    props: ["data"],
    components: {
        DataTable
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "banners",
                baseUrl: `${DASHBOARD_BASE_URL}/banners/main-banners`,
                queryUrl: `${DASHBOARD_BASE_URL}/banners/main-banners`,
                createUrl: `${DASHBOARD_BASE_URL}/banners/main-banners/create`,
                noTrash: true,
                search: {
                    keyword: "",
                    start_date: "",
                    end_date: ""
                },
                filterFields: {},
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Image",
                        propertyName: "image_url",
                        type: "image_only"
                    },
                    { name: "Alt Image", propertyName: "alt_image" },
                    {
                        name: "Displaying",
                        propertyName: "displaying",
                        type: "boolean"
                    },
                    { name: "Sort Order", propertyName: "sort_order" },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time"
                    }
                ],
                actions: {
                    addTo: "Alt Image",
                    propertyName: "id",
                    type: ["edit", "destroy"]
                }
            }
        };
    }
};
</script>
