<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="card">
                    <div class="card-header">Image Preview</div>
                    <div class="card-body">
                        <img
                            v-if="form_data.image_url != ''"
                            :src="form_data.image_url"
                            class="img-fluid mt-2"
                        />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">{{ header_title }}</div>
                    <div class="card-body">
                        <form @submit.prevent="save">
                            <div class="form-group">
                                <label>Image</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="image"
                                            @change="onFileChange"
                                            placeholder="Drop file here..."
                                        />
                                        <label
                                            class="custom-file-label"
                                            for="image"
                                            >Choose a file</label
                                        >
                                    </div>
                                </div>
                                <span
                                    v-if="errors.image"
                                    class="text-danger small"
                                    role="alert"
                                    >{{ errors.image[0] }}</span
                                >
                            </div>
                            <div class="form-group">
                                <label for="alt_image">Alt Image</label>
                                <input
                                    type="text"
                                    id="alt_image"
                                    v-model="form_data.alt_image"
                                    class="form-control"
                                    :class="{ 'is-invalid': errors.alt_image }"
                                />
                                <span
                                    v-if="errors.alt_image"
                                    class="invalid-feedback"
                                    role="alert"
                                    >{{ errors.alt_image[0] }}</span
                                >
                            </div>
                            <div class="form-group">
                                <label for="link">Link</label>
                                <input
                                    type="text"
                                    id="link"
                                    class="form-control"
                                    v-model="form_data.link"
                                    :class="{ 'is-invalid': errors.link }"
                                />
                                <span
                                    v-if="errors.link"
                                    class="invalid-feedback"
                                    role="alert"
                                    >{{ errors.link[0] }}</span
                                >
                            </div>
                            <div class="form-group">
                                <label for="start">Start</label>
                                <date-range-picker
                                    @update="startDateUpdate($event)"
                                    :date-range="selectedStartDate"
                                    :singleDatePicker="true"
                                    :locale-data="daterange.locale"
                                    :opens="daterange.opens"
                                    :ranges="false"
                                    v-model="selectedStartDate"
                                    :autoApply="true"
                                    style="width: 100%"
                                ></date-range-picker>
                                <span
                                    v-if="errors.start_date"
                                    class="text-danger small"
                                    role="alert"
                                    >{{ errors.start_date[0] }}</span
                                >
                            </div>
                            <div class="form-group">
                                <label for="end">End</label>
                                <date-range-picker
                                    @update="endDateUpdate($event)"
                                    :date-range="selectedEndDate"
                                    :singleDatePicker="true"
                                    :locale-data="daterange.locale"
                                    :opens="daterange.opens"
                                    :ranges="false"
                                    v-model="selectedEndDate"
                                    :autoApply="true"
                                    style="width: 100%"
                                ></date-range-picker>
                                <span
                                    v-if="errors.end_date"
                                    class="text-danger small"
                                    role="alert"
                                    >{{ errors.end_date[0] }}</span
                                >
                            </div>
                            <div class="form-group">
                                <label>Open New Tab</label>
                                <div class="custom-control custom-switch">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="open_new_tab"
                                        v-model="form_data.open_new_tab"
                                    />
                                    <label
                                        class="custom-control-label"
                                        for="open_new_tab"
                                    >
                                        {{
                                            form_data.open_new_tab
                                                ? "Yes"
                                                : "No"
                                        }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="enable">Enable</label>
                                <div class="custom-control custom-switch">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="enable"
                                        v-model="form_data.enable"
                                    />
                                    <label
                                        class="custom-control-label"
                                        for="enable"
                                    >
                                        {{ form_data.enable ? "Yes" : "No" }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sort_order">Sort Order</label>
                                <input
                                    type="number"
                                    id="sort_order"
                                    class="form-control"
                                    v-model="form_data.sort_order"
                                    :class="{ 'is-invalid': errors.sort_order }"
                                />
                                <span
                                    v-if="errors.sort_order"
                                    class="invalid-feedback"
                                    role="alert"
                                    >{{ errors.sort_order[0] }}</span
                                >
                            </div>

                            <button
                                type="submit"
                                class="btn btn-lg btn-primary float-right"
                                :disabled="saving"
                            >
                                <span v-if="!saving">Save</span>
                                <span v-else
                                    ><i class="fas fa-spinner fa-spin"></i>
                                    Processing</span
                                >
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DateRangePicker from "vue2-daterange-picker";
import moment from "moment";

export default {
    props: ["form", "header_title"],
    components: {
        DateRangePicker,
    },
    data() {
        return {
            saving: false,
            form_data: this.form,
            selectedStartDate: {
                startDate: this.form.start_date,
                endDate: this.form.start_date,
            },
            selectedEndDate: {
                startDate: this.form.end_date,
                endDate: this.form.end_date,
            },
            errors: [],
            daterange: {
                opens: "left", //which way the picker opens, default "center", can be "left"/"right"
                locale: {
                    direction: "ltr", //direction of text
                    format: "dd-mm-yyyy", //fomart of the dates displayed
                    applyLabel: "Apply",
                    cancelLabel: "Cancel",
                    weekLabel: "W",
                    daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
                    monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
                    firstDay: 1, //ISO first day of week - see moment documenations for details
                    showWeekNumbers: true, //show week numbers on each row of the calendar
                },
            },
        };
    },
    methods: {
        dateUpdate() {
            this.form_data.end_date = moment(this.form_data.end_date)
                .set({ second: 59 })
                .format("YYYY-MM-DD HH:mm:ss");
        },
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;
            this.form_data.image = files[0];
            this.form_data.image_url = URL.createObjectURL(files[0]);
        },
        save() {
            // console.log(this.form_data);
            this.errors = [];
            const fd = new FormData();

            if (this.form_data.image instanceof Blob) {
                fd.append(
                    "image",
                    this.form_data.image,
                    this.form_data.image.name
                );
            }
            fd.append("alt_image", this.form_data.alt_image);
            fd.append("link", this.form_data.link);
            fd.append("open_new_tab", this.form_data.open_new_tab);
            fd.append("start_date", this.formatDate(this.form_data.start_date));
            fd.append("end_date", this.formatDate(this.form_data.end_date));
            fd.append("enable", this.form_data.enable);
            fd.append("sort_order", this.form_data.sort_order);

            if (this.form.id == "") {
                var request_to_api = axios.post(
                    `${DASHBOARD_BASE_URL}/banners/main-banners`,
                    fd
                );
            } else {
                var request_to_api = axios.patch(
                    `${DASHBOARD_BASE_URL}/banners/main-banners/${this.form.id}`,
                    fd
                );
            }
            request_to_api
                .then((res) => {
                    if (res.data.status == "success") {
                        window.location.replace(
                            `${DASHBOARD_BASE_URL}/banners/main-banners`
                        );
                    }
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                });
        },
        startDateUpdate(value) {
            this.form_data.start_date = this.formatDate(value.startDate);
        },
        endDateUpdate(value) {
            this.form_data.end_date = this.formatDate(value.endDate);
        },
        formatDate(date) {
            return moment(date).format("YYYY-MM-DD");
        },
    },
};
</script>
