<template>
    <b-container>
        <b-row>
            <b-col md="4" class="mb-3 mb-md-0">
                <b-card>
                    <div class="dt-list-link d-flex mb-2">
                        <a
                            :href="`${dashboard_base_url}/categories`"
                            class="active"
                            title="All"
                            >All</a
                        >
                        <div class="separator mx-2">|</div>
                        <a
                            :href="`${dashboard_base_url}/categories/trashed`"
                            title="Trashed"
                            >Trashed</a
                        >
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <button
                            class="btn btn-primary btn-sm"
                            @click="newRootCategory"
                        >
                            New Root Category
                        </button>
                        <button
                            v-if="dc.active_id != ''"
                            class="btn btn-outline-primary btn-sm"
                            @click="newSubCategory"
                        >
                            New Sub Category
                        </button>
                    </div>
                    <hr />
                    <div>
                        <input
                            type="text"
                            class="form-control"
                            @keyup="inputKeyUp"
                            v-model="searchText"
                        />
                        <v-jstree
                            :data="categories"
                            allow-transition
                            @item-click="getCategoryData"
                            ref="tree"
                        ></v-jstree>
                    </div>
                </b-card>
            </b-col>
            <b-col md="8">
                <b-card v-if="dc.form_title != ''" :header="dc.form_title">
                    <CategoryForm
                        :dc="dc"
                        :form="form"
                        @update-categories="updateCategories"
                    />
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import CategoryForm from "./CategoryForm";
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["categories_data"],
    mixins: ["SwalMixin"],
    components: {
        CategoryForm
    },
    created() {
        EventBus.$emit("set_page_title", "Categories");
    },
    data() {
        return {
            dashboard_base_url: DASHBOARD_BASE_URL,
            categories: this.categories_data,
            searchText: "",
            dc: {
                new_subcategory: false,
                form_title: "",
                active_id: "",
                is_edit: false,
                selected_category: ""
            },
            form: {
                name: "",
                slug: "",
                page_title: "",
                parent_id: "",
                icon: [],
                icon_url: "",
                content: "",
                featured_image: [],
                featured_image_url: "",
                meta_title: "",
                meta_description: ""
            }
        };
    },
    methods: {
        newRootCategory() {
            this.dc.new_subcategory = false;
            this.dc.form_title = "New Root Category";
            this.dc.active_id = "";
            this.dc.is_edit = false;
            this.emptyForm();
        },
        newSubCategory() {
            this.dc.is_edit = false;
            this.dc.new_subcategory = true;
            this.dc.form_title = `New Sub Category of ${this.dc.selected_category.name}`;
            this.emptyForm();
        },
        emptyForm() {
            this.form.name = "";
            this.form.slug = "";
            this.form.page_title = "";
            this.form.icon_url = "";
            this.form.content = "";
            this.form.featured_image_url = "";
            this.form.meta_title = "";
            this.form.meta_description = "";
        },
        getCategoryData(node) {
            this.dc.active_id = node.model.id;
            this.dc.form_title = "";

            axios
                .get(
                    `${DASHBOARD_BASE_URL}/categories/${this.dc.active_id}/edit`
                )
                .then(res => {
                    var data = res.data;
                    var c = data.data;
                    this.dc.selected_category = c;
                    this.dc.all_categories = data.all_categories;
                    this.dc.is_edit = true;

                    this.form.name = c.name;
                    this.form.slug = c.slug;
                    this.form.page_title = c.page_title;
                    this.form.parent_id = c.parent_id;
                    this.form.icon_url = c.icon_url;
                    this.form.content = c.content;
                    this.form.featured_image_url = c.featured_image_url;
                    this.form.meta_title = c.meta_title;
                    this.form.meta_description = c.meta_description;

                    this.dc.form_title = `Edit ${c.name}`;
                })
                .catch(err => {
                    console.log(err);
                    this.swalWrong();
                });
        },
        inputKeyUp() {
            const patt = new RegExp(this.searchText);
            const keyword = this.searchText;
            this.$refs.tree.handleRecursionNodeChilds(this.$refs.tree, function(
                node
            ) {
                if (node.$el.querySelector(".tree-anchor") !== null) {
                    if (keyword !== "") {
                        const str = _.get(node, "model.text");
                        if (patt.test(str)) {
                            node.$el.querySelector(".tree-anchor").style.color =
                                "red";
                        } else {
                            node.$el.querySelector(".tree-anchor").style.color =
                                "#000";
                        } // or other operations
                    } else {
                        node.$el.querySelector(".tree-anchor").style.color =
                            "#000";
                    }
                }
            });
        },
        updateCategories(categories) {
            this.categories = categories;
            this.emptyForm();
            // console.log(this.categories);
        }
    }
};
</script>
