<template>
    <div>
        <div class="d-flex justify-content-end">
            <button
                v-if="dc.is_edit"
                type="button"
                class="btn btn-danger float-right"
                @click="deleteCategory"
            >
                <i class="far fa-trash-alt"></i> Move to Trash
            </button>
        </div>

        <form @submit.prevent="save" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    :class="{ 'is-invalid': errors.name }"
                    v-model="form_data.name"
                    required
                />
                <span v-if="errors.name" class="invalid-feedback" role="alert">{{ errors.name[0] }}</span>
            </div>
            <div class="form-group">
                <label for="slug">Slug</label>
                <div>
                    <span>{{ slug }}</span> |
                    <button
                        v-if="!editSlug"
                        type="button"
                        class="btn btn-sm btn-link"
                        @click="editSlug = true"
                    >Edit</button>
                    <button
                        v-else
                        type="button"
                        class="btn btn-sm btn-link"
                        @click="editSlug = false"
                    >Cancel Edit</button>
                </div>
                <input
                    v-show="editSlug"
                    type="text"
                    v-model="form_data.slug"
                    class="form-control"
                    :class="{ 'is-invalid': errors.slug }"
                    @keyup="slugEdit(form_data.slug)"
                />
                <span v-if="errors.slug" class="invalid-feedback" role="alert">{{ errors.slug[0] }}</span>
            </div>
            <div class="form-group">
                <label for="name">Page Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="page-title"
                    :class="{ 'is-invalid': errors.page_title }"
                    v-model="form_data.page_title"
                    required
                />
                <span
                    v-if="errors.page_title"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.page_title[0] }}</span>
            </div>
            <div v-if="dc.is_edit" class="form-group">
                <label for="parent_id">Parent Category</label>
                <select
                    id="parent_id"
                    class="form-control"
                    v-model="form_data.parent_id"
                    :class="{ 'is-invalid': errors.parent_id }"
                >
                    <option value="0">Root</option>
                    <option
                        v-for="(cat, index) in all_categories"
                        :key="index"
                        :value="cat.id"
                    >{{ cat.name }}</option>
                </select>
                <span
                    v-if="errors.parent_id"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.parent_id[0] }}</span>
            </div>
            <div class="form-group">
                <label>Icon</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="custom-file">
                                <input
                                    type="file"
                                    class="custom-file-input"
                                    id="icon"
                                    @change="onIconChange"
                                    placeholder="Drop file here..."
                                />
                                <label class="custom-file-label" for="icon">Choose a file</label>
                            </div>
                        </div>
                        <span v-if="errors.icon" class="text-danger small" role="alert">
                            <strong>{{ errors.icon[0] }}</strong>
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <img
                            v-if="form_data.icon_url != ''"
                            :src="form_data.icon_url"
                            class="img-fluid mt-2 mt-lg-0"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <ckeditor :editor="editor_type" v-model="form_data.content" :config="editorConfig"></ckeditor>
                <span v-if="errors.content" class="invalid-feedback" role="alert">
                    <strong>{{ errors.content[0] }}</strong>
                </span>
            </div>
            <div class="form-group">
                <label>Featured Image</label>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="custom-file">
                                <input
                                    type="file"
                                    class="custom-file-input"
                                    id="featured_image"
                                    @change="onFeaturedImageChange"
                                    placeholder="Drop file here..."
                                />
                                <label class="custom-file-label" for="featured_image">Choose a file</label>
                            </div>
                        </div>
                        <span
                            v-if="errors.featured_image"
                            class="text-danger small"
                            role="alert"
                        >{{ errors.featured_image[0] }}</span>
                    </div>
                    <div class="col-lg-6">
                        <img
                            v-if="form_data.featured_image_url != ''"
                            :src="form_data.featured_image_url"
                            class="img-fluid mt-2 mt-lg-0"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="meta_title">Meta Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="meta_title"
                    :class="{ 'is-invalid': errors.meta_title }"
                    v-model="form_data.meta_title"
                    required
                />
                <span
                    v-if="errors.meta_title"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.meta_title[0] }}</span>
            </div>
            <div class="form-group">
                <label for="meta_description">Meta Description</label>
                <textarea
                    class="form-control"
                    id="meta_description"
                    :class="{ 'is-invalid': errors.meta_description }"
                    v-model="form_data.meta_description"
                    rows="5"
                    required
                ></textarea>
                <span
                    v-if="errors.meta_description"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.meta_description[0] }}</span>
            </div>

            <hr />
            <button type="submit" class="float-right btn btn-save btn-primary">Save</button>
        </form>
    </div>
</template>

<script>
import SlugifyMixin from "../../../mixins/slugify";
import SwalMixin from "../../../mixins/swal";
import CKEditorMixin from "../../../mixins/ckeditor";

export default {
    props: ["dc", "form"],
    mixins: ["SlugifyMixin", "SwalMixin", "CKEditorMixin"],
    data() {
        return {
            editSlug: false,
            all_categories: "",
            icon_url: "",
            featured_image_url: "",
            selected_category: "",
            form_data: this.form,
            ckeditor_upload_image_url: `${DASHBOARD_BASE_URL}/categories/store-content-image`,
            errors: [],
        };
    },
    methods: {
        save() {
            this.errors = [];
            const fd = new FormData();
            if (this.dc.active_id != "" && !this.dc.new_subcategory) {
                fd.append("parent_id", this.form_data.parent_id);
            }
            if (this.dc.active_id != "" && this.dc.new_subcategory) {
                fd.append("parent_id", this.dc.active_id);
            }

            fd.append("name", this.form_data.name);
            fd.append("slug", this.form_data.slug);
            fd.append("page_title", this.form_data.page_title);
            if (this.form_data.icon instanceof Blob) {
                fd.append(
                    "icon",
                    this.form_data.icon,
                    this.form_data.icon.name
                );
            }
            fd.append("content", this.form_data.content);
            if (this.form_data.featured_image instanceof Blob) {
                fd.append(
                    "featured_image",
                    this.form_data.featured_image,
                    this.form_data.featured_image.name
                );
            }
            fd.append("meta_title", this.form_data.meta_title);
            fd.append("meta_description", this.form_data.meta_description);

            if (!this.dc.is_edit) {
                axios
                    .post(`${DASHBOARD_BASE_URL}/categories`, fd)
                    .then((res) => {
                        var data = res.data;
                        this.$snotify[data.status](data.message, data.status);
                        this.dc.form_title = "";
                        this.$emit("update-categories", data.data);
                    })
                    .catch((err) => {
                        console.log(err);
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        }
                    });
            } else {
                axios
                    .patch(
                        `${DASHBOARD_BASE_URL}/categories/${this.dc.active_id}`,
                        fd
                    )
                    .then((res) => {
                        var data = res.data;
                        this.$snotify[data.status](data.message, data.status);
                        this.dc.form_title = "";
                        this.$emit("update-categories", data.data);
                    })
                    .catch((err) => {
                        console.log(err);
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        }
                    });
            }
        },
        deleteCategory() {
            this.$swal({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, trash it!",
            }).then((result) => {
                if (result.value) {
                    axios
                        .delete(
                            `${DASHBOARD_BASE_URL}/categories/${this.dc.active_id}`
                        )
                        .then((res) => {
                            this.dc.active_id = "";
                            this.dc.form_title = "";
                            this.dc.is_edit = false;
                            this.$emit("update-categories", res.data.data);
                        })
                        .catch((err) => {
                            console.log(err);
                            this.swalWrong();
                        });
                }
            });
        },
        slugEdit(string) {
            this.form_data.slug = this.slugify(string);
        },
        onIconChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;
            this.form_data.icon = files[0];
            this.form_data.icon_url = URL.createObjectURL(files[0]);
        },
        onFeaturedImageChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;
            this.form_data.featured_image = files[0];
            this.form_data.featured_image_url = URL.createObjectURL(files[0]);
        },
    },
    computed: {
        slug: function () {
            var slug = this.form_data.slug;
            if (!this.editSlug && !this.dc.is_edit) {
                var slug = this.slugify(this.form_data.name);
                this.form_data.slug = slug;
            }
            return slug;
        },
    },
};
</script>
