<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable
    },
    created() {
        EventBus.$emit("set_page_title", "Trashed Categories");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "categories",
                baseUrl: `${DASHBOARD_BASE_URL}/categories`,
                queryUrl: `${DASHBOARD_BASE_URL}/categories/trashed`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/categories`,
                    trashed: `${DASHBOARD_BASE_URL}/categories/trashed`
                },
                trashed_page: true,
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    name: "",
                    title: "",
                    start_date: "",
                    end_date: ""
                },
                filterFields: {
                    name: {
                        name: "Name",
                        type: "input"
                    },
                    title: {
                        name: "Title",
                        type: "input"
                    },
                    daterange: true
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    { name: "Name", propertyName: "name" },
                    { name: "Title", propertyName: "title" },
                    { name: "Slug", propertyName: "slug" },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time"
                    },
                    {
                        name: "Deleted At",
                        propertyName: "deleted_at",
                        type: "date_time"
                    }
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    type: ["restore", "destroy_permanent"]
                }
            }
        };
    }
};
</script>
