<template>
    <div>
        <div
            class="category-list"
            v-for="(category, index) in categories"
            :key="index"
        >
            <i
                v-if="category.childs.length > 0 && !show_childs"
                class="far fa-plus-square mr-1"
                @click="toggleShowChilds"
            ></i>
            <i
                v-else-if="show_childs"
                class="far fa-minus-square mr-1"
                @click="toggleShowChilds"
            ></i>
            <span
                class="name"
                @click="getCategoryData(category)"
                :class="{ active: active_id == category.id }"
            >
                <i class="far fa-folder"></i>
                {{ category.name }}
            </span>
            <CategoryTree
                v-if="category.childs.length > 0 && show_childs"
                :categories="category.childs"
                :active_id="active_id"
                :getCategoryData="getCategoryData"
                :depth="depth + 1"
            />
        </div>
    </div>
</template>

<script>
export default {
    props: {
        categories: Array,
        active_id: Number,
        getCategoryData: Function,
        depth: Number,
        show_children: Boolean
    },
    name: "CategoryTree",
    data() {
        return {
            show_childs: false
        };
    },
    methods: {
        toggleShowChilds() {
            // console.log("toggle");
            this.show_childs = !this.show_childs;
        }
    }
};
</script>

<style lang="scss" scoped>
.category-list {
    cursor: pointer;
    padding: 1px 5px;

    span {
        &.name {
            &:hover {
                background: #ececec;
            }
            &.active {
                font-weight: bold;
            }
        }
    }
}
</style>
