<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-bank-transfer>
                <div class="title">Bank Transfer</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-bank-transfer" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Enable</label>
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.bank_transfer"
                            @change="bankTransferUpdate"
                        >
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <span v-if="errors.bank_transfer" class="text-danger small" role="alert">
                            <strong>{{ errors.bank_transfer[0] }}</strong>
                        </span>
                    </div>
                </div>

                <b-button variant="outline-primary" size="sm" @click="addBank">
                    <i class="fas fa-plus"></i> Add Bank
                </b-button>

                <table v-if="form.banks.length > 0" class="table mt-2">
                    <thead>
                        <tr>
                            <th>Bank Name</th>
                            <th>Account Number</th>
                            <th>Logo</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(bank, i) in form.banks" :key="i">
                            <td>
                                <b-form-input v-model="form.banks[i].name"></b-form-input>
                            </td>
                            <td>
                                <b-form-input v-model="form.banks[i].account_number"></b-form-input>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            :id="`bank-logo-${i}`"
                                            @change="
                                                onFileChange($event, i)
                                            "
                                            placeholder="Drop file here..."
                                        />
                                        <label
                                            class="custom-file-label"
                                            :for="`bank-logo-${i}`"
                                        >Choose a file</label>
                                    </div>
                                </div>
                                <span
                                    v-if="errors_logo[i] != ''"
                                    class="text-danger small"
                                    role="alert"
                                >{{ errors_logo[i] }}</span>
                                <div class="image-preview">
                                    <img
                                        v-if="form.banks[i].logo != ''"
                                        :src="logo_urls[i]"
                                        :alt="form.banks[i].name"
                                        class="img-fluid mt-2"
                                    />
                                </div>
                            </td>
                            <td>
                                <b-button variant="danger" @click="removeBank(i)" size="sm">
                                    <i class="far fa-times-circle"></i>
                                </b-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
import { EventBus } from "../../../../plugins/event-bus";

export default {
    props: ["configs", "errors", "bank_logo_urls"],
    data() {
        return {
            form: {
                bank_transfer: this.configs.bank_transfer,
                banks: JSON.parse(this.configs.banks),
            },
            logo_urls: this.bank_logo_urls,
            errors_logo: [],
        };
    },
    created() {
        this.logo_urls.forEach((el) => {
            this.errors_logo.push("");
        });
    },
    methods: {
        bankTransferUpdate() {
            this.$emit("bankTransferFormUpdate", this.form);
        },
        addBank() {
            let newBank = {
                name: "",
                account_number: "",
                logo: "",
            };
            this.form.banks.push(newBank);
            this.logo_urls.push("");
            this.errors_logo.push("");
            this.bankTransferUpdate();
        },
        removeBank(index) {
            this.form.banks.splice(index, 1);
            this.bankTransferUpdate();
        },
        onFileChange(e, i) {
            EventBus.$emit("show_page_overlay");

            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;

            this.errors_logo[i] = "";

            const fd = new FormData();
            fd.append("image", files[0], files[0].name);

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/upload-image`, fd)
                .then((res) => {
                    if (res.data.status == "success") {
                        var data = res.data;
                        this.$snotify[data.status](data.message, data.status);
                        this.form.banks[i].logo = data.file_name;
                        this.logo_urls[i] = data.image_url;
                    }
                })
                .catch((err) => {
                    // console.log(err);
                    if (err.response.status === 422) {
                        this.$set(
                            this.errors_logo,
                            i,
                            err.response.data.errors.image[0]
                        );
                    } else {
                        this.swalWrong;
                    }
                })
                .finally(() => {
                    EventBus.$emit("hide_page_overlay");
                    this.bankTransferUpdate();
                });
        },
    },
};
</script>
