<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-duitku>
                <div class="title">Duitku</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-duitku" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Duitku Mode</label>
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.duitku_mode"
                            @change="duitkuUpdate"
                        >
                            <option value="sandbox">Sandbox</option>
                            <option value="production">Production</option>
                        </select>
                        <span
                            v-if="errors.duitku_mode"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.duitku_mode[0] }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.duitku_mode == 'production'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Merchant Code Production</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.duitku_merchant_code_prod"
                            @keyup="duitkuUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.duitku_merchant_code_prod"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.duitku_merchant_code_prod[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.duitku_mode == 'production'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Merchant Key Production</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.duitku_merchant_key_prod"
                            @keyup="duitkuUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.duitku_merchant_key_prod"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.duitku_merchant_key_prod[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.duitku_mode == 'sandbox'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Merchant Code Sandbox</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.duitku_merchant_code_sandbox"
                            @keyup="duitkuUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.duitku_merchant_code_sandbox"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.duitku_merchant_code_sandbox[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.duitku_mode == 'sandbox'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Merchant Key Sandbox</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.duitku_merchant_key_sandbox"
                            @keyup="duitkuUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.duitku_merchant_key_sandbox"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.duitku_merchant_key_sandbox[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Credit Card</label>
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.duitku_cc"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="duitkuUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.duitku_cc"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.duitku_cc[0] }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">BCA KlikPay</label>
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.duitku_bca_klikpay"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="duitkuUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.duitku_bca_klikpay"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.duitku_bca_klikpay[0] }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >BNI Virtual Account</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.duitku_bni_va"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="duitkuUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.duitku_bni_va"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.duitku_bni_va[0] }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >Permata Virtual Account</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.duitku_permata_va"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="duitkuUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.duitku_permata_va"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.duitku_permata_va[0] }}</strong>
                        </span>
                    </div>
                </div>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
export default {
    props: ["configs", "errors"],
    data() {
        return {
            form: {
                duitku_mode: this.configs.duitku_mode,
                duitku_merchant_code_prod: this.configs
                    .duitku_merchant_code_prod,
                duitku_merchant_key_prod: this.configs.duitku_merchant_key_prod,
                duitku_merchant_code_sandbox: this.configs
                    .duitku_merchant_code_sandbox,
                duitku_merchant_key_sandbox: this.configs
                    .duitku_merchant_key_sandbox,
                duitku_cc: this.configs.duitku_cc,
                duitku_bca_klikpay: this.configs.duitku_bca_klikpay,
                duitku_bni_va: this.configs.duitku_bni_va,
                duitku_permata_va: this.configs.duitku_permata_va
            }
        };
    },
    methods: {
        duitkuUpdate() {
            this.$emit("duitkuFormUpdate", this.form);
        }
    }
};
</script>
