<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-midtrans>
                <div class="title">Midtrans</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-midtrans" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Midtrans Mode</label>
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.midtrans_mode"
                            @change="midtransUpdate"
                        >
                            <option value="sandbox">Sandbox</option>
                            <option value="production">Production</option>
                        </select>
                        <span
                            v-if="errors.midtrans_mode"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.midtrans_mode[0] }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.midtrans_mode == 'production'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Merchant ID Production</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.midtrans_merchant_id_prod"
                            @keyup="midtransUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.midtrans_merchant_id_prod"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.midtrans_merchant_id_prod[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.midtrans_mode == 'production'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Server Key Production</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.midtrans_server_key_prod"
                            @keyup="midtransUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.midtrans_server_key_prod"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.midtrans_server_key_prod[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.midtrans_mode == 'production'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Client Key Production</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.midtrans_client_key_prod"
                            @keyup="midtransUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.midtrans_client_key_prod"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.midtrans_client_key_prod[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.midtrans_mode == 'sandbox'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Merchant ID Sandbox</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.midtrans_merchant_id_sandbox"
                            @keyup="midtransUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.midtrans_merchant_id_sandbox"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.midtrans_merchant_id_sandbox[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.midtrans_mode == 'sandbox'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Server Key Sandbox</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.midtrans_server_key_sandbox"
                            @keyup="midtransUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.midtrans_server_key_sandbox"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.midtrans_server_key_sandbox[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div
                    v-if="form.midtrans_mode == 'sandbox'"
                    class="form-group row"
                >
                    <label class="col-sm-3 col-form-label"
                        >Client Key Sandbox</label
                    >
                    <div class="col-sm-9">
                        <b-form-input
                            v-model="form.midtrans_client_key_sandbox"
                            @keyup="midtransUpdate"
                        ></b-form-input>
                        <span
                            v-if="errors.midtrans_client_key_sandbox"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.midtrans_client_key_sandbox[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Credit Card</label>
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.midtrans_cc"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="midtransUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.midtrans_cc"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.midtrans_cc[0] }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >BCA Virtual Account</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.midtrans_bca_va"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="midtransUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.midtrans_bca_va"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.midtrans_bca_va[0] }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >Mandiri Bill Payment</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.midtrans_mandiri_bill_payment"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="midtransUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.midtrans_mandiri_bill_payment"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{
                                errors.midtrans_mandiri_bill_payment[0]
                            }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >BNI Virtual Account</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.midtrans_bni_va"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="midtransUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.midtrans_bni_va"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.midtrans_bni_va[0] }}</strong>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >Permata Virtual Account</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.midtrans_permata_va"
                            :options="[
                                { value: '1', text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                            @change="midtransUpdate"
                        ></b-form-select>
                        <span
                            v-if="errors.midtrans_permata_va"
                            class="text-danger small"
                            role="alert"
                        >
                            <strong>{{ errors.midtrans_permata_va[0] }}</strong>
                        </span>
                    </div>
                </div>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
export default {
    props: ["configs", "errors"],
    data() {
        return {
            form: {
                midtrans_mode: this.configs.midtrans_mode,
                midtrans_merchant_id_prod: this.configs
                    .midtrans_merchant_id_prod,
                midtrans_server_key_prod: this.configs.midtrans_server_key_prod,
                midtrans_client_key_prod: this.configs.midtrans_client_key_prod,
                midtrans_merchant_id_sandbox: this.configs
                    .midtrans_merchant_id_sandbox,
                midtrans_server_key_sandbox: this.configs
                    .midtrans_server_key_sandbox,
                midtrans_client_key_sandbox: this.configs
                    .midtrans_client_key_sandbox,
                midtrans_cc: this.configs.midtrans_cc,
                midtrans_bca_va: this.configs.midtrans_bca_va,
                midtrans_mandiri_bill_payment: this.configs
                    .midtrans_mandiri_bill_payment,
                midtrans_bni_va: this.configs.midtrans_bni_va,
                midtrans_permata_va: this.configs.midtrans_permata_va
            }
        };
    },
    methods: {
        midtransUpdate() {
            this.$emit("midtransFormUpdate", this.form);
        }
    }
};
</script>
