<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../../Share/DataTable/DataTable";
import { EventBus } from "../../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Employer's Companies");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "companies",
                baseUrl: `${DASHBOARD_BASE_URL}/companies`,
                showBaseUrl: `${DASHBOARD_BASE_URL}/companies`,
                queryUrl: `${DASHBOARD_BASE_URL}/employers/${this.data.employer.id}/companies`,
                search: {
                    keyword: "",
                    name: "",
                },
                filterFields: {
                    name: {
                        name: "Name",
                        type: "input",
                    },
                    daterange: true,
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "Name", propertyName: "name" },
                    {
                        name: "Short Description",
                        propertyName: "short_description",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    propertyNameShow: "id",
                    type: ["show", "destroy"],
                },
            },
        };
    },
};
</script>
