<template>
    <div class="card contain-avatar mb-3">
        <div class="card-avatar">
            <img :src="employer.avatar_url" :alt="employer.name" class="img-fluid rounded-circle" />
        </div>
        <div class="card-body">
            <h4 class="card-title text-center mb-2">{{ employer.name }}</h4>
            <p class="text-center">{{ employer.email }}</p>
            <button type="button" class="destroy-confirm btn btn-block btn-danger" @click="destroy">
                <i class="fas fa-trash-alt"></i> Delete
            </button>
        </div>
    </div>
</template>

<script>
import SwalMixin from "../../../../mixins/swal";

export default {
    props: ["employer"],
    mixins: ["SwalMixin"],
    methods: {
        destroy() {
            this.$swal({
                title: "Are you sure?",
                text: "Move this employer to trash?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, do it!",
            }).then((result) => {
                if (result.value) {
                    axios
                        .delete(
                            `${DASHBOARD_BASE_URL}/employers/${this.employer.id}`
                        )
                        .then((res) => {
                            var data = res.data;
                            this.$snotify[data.status](
                                data.message,
                                data.status
                            );
                            if (data.status == "success") {
                                window.location.replace(
                                    `${DASHBOARD_BASE_URL}/employers`
                                );
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                            if (err.response.status === 422) {
                                this.swalWrong(err.response.data.message);
                            }
                        });
                }
            });
        },
    },
};
</script>
