<template>
    <div id="loading-block" :class="{ show: show }">
        <img
            :src="`${app_base_url}/images/reqruit/loading.gif`"
            alt="Loading"
        />
    </div>
</template>

<script>
import { EventBus } from "../../../../../../../../resources/js/plugins/event-bus";

export default {
    data() {
        return {
            app_base_url: APP_BASE_URL,
            show: false,
        };
    },
    created() {
        EventBus.$on("show-loading-block", () => {
            this.show = true;
        });

        EventBus.$on("hide-loading-block", () => {
            this.show = false;
        });
    },
};
</script>
