<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Employers");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "employers",
                baseUrl: `${DASHBOARD_BASE_URL}/employers`,
                showBaseUrl: `${DASHBOARD_BASE_URL}/employers`,
                queryUrl: `${DASHBOARD_BASE_URL}/employers`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/employers`,
                    trashed: `${DASHBOARD_BASE_URL}/employers/trashed`,
                },
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    identifier: "",
                    name: "",
                    email: "",
                    phone: "",
                    gender: "",
                    start_date: "",
                    end_date: "",
                },
                filterFields: {
                    identifier: {
                        name: "Identifier",
                        type: "input",
                    },
                    name: {
                        name: "Name",
                        type: "input",
                    },
                    email: {
                        name: "Email",
                        type: "input",
                    },
                    daterange: true,
                    phone: {
                        name: "Phone",
                        type: "input",
                    },
                    gender: {
                        name: "Gender",
                        type: "select",
                        options: [
                            { value: "male", text: "Male" },
                            { value: "female", text: "Female" },
                        ],
                    },
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "identifier" },
                    {
                        name: "Name",
                        propertyName: "name",
                    },
                    { name: "Email", propertyName: "email" },
                    {
                        name: "Phone",
                        propertyName: "phone",
                    },
                    {
                        name: "Gender",
                        propertyName: "gender.text",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    propertyNameShow: "id",
                    type: ["show", "destroy"],
                },
            },
        };
    },
};
</script>
