<template>
    <form @submit.prevent="save">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">
                Name
                <span class="required">*</span>
            </label>
            <div class="col-sm-8">
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    :class="{
                        'is-invalid': errors.name || $v.form_data.name.$error
                    }"
                    v-model="form_data.name"
                    @blur="$v.form_data.name.$touch()"
                />
                <span
                    v-if="errors.name || $v.form_data.name.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.name">{{ errors.name[0] }}</span>
                    <span v-if="$v.form_data.name.$invalid">Required field!</span>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">
                Email
                <span class="required">*</span>
            </label>
            <div class="col-sm-8">
                <input
                    type="text"
                    id="email"
                    class="form-control"
                    :class="{
                        'is-invalid': errors.email || $v.form_data.email.$error
                    }"
                    v-model="form_data.email"
                    @blur="$v.form_data.email.$touch()"
                />
                <span
                    v-if="errors.email || $v.form_data.email.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.email">{{ errors.email[0] }}</span>
                    <span v-if="$v.form_data.email.$invalid">Required field! Should be valid email</span>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-4 col-form-label">
                Phone
                <span class="required">*</span>
            </label>
            <div class="col-sm-8">
                <input
                    type="text"
                    class="form-control"
                    id="phone"
                    :class="{
                        'is-invalid': errors.phone || $v.form_data.phone.$error
                    }"
                    v-model="form_data.phone"
                    @blur="$v.form_data.phone.$touch()"
                />
                <span
                    v-if="errors.phone || $v.form_data.phone.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.phone">{{ errors.phone[0] }}</span>
                    <span v-if="$v.form_data.phone.$invalid">Required field!</span>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-sm-4 col-form-label">
                Gender
                <span class="required">*</span>
            </label>
            <div class="col-sm-8">
                <select
                    id="gender"
                    class="form-control"
                    :class="{
                        'is-invalid':
                            errors.gender || $v.form_data.gender.$error
                    }"
                    v-model="form_data.gender"
                >
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <span
                    v-if="errors.gender || $v.form_data.gender.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.gender">{{ errors.gender[0] }}</span>
                    <span v-if="$v.form_data.gender.$invalid">Required field!</span>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="dob" class="col-sm-4 col-form-label">
                Date of Birth
                <span class="required">*</span>
            </label>
            <div class="col-sm-8">
                <date-pick v-model="form_data.dob" :selectableYearRange="100"></date-pick>
                <br />
                <span
                    v-if="errors.dob || $v.form_data.dob.$invalid"
                    class="text-danger small"
                    role="alert"
                >
                    <span v-if="errors.dob">{{ errors.dob[0] }}</span>
                    <span v-if="$v.form_data.dob.$invalid">Required field!</span>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="photo" class="col-sm-4 col-form-label">Photo</label>
            <div class="col-sm-8 input-group">
                <b-form-file
                    v-model="form_data.photo_profile"
                    accept="image/jpeg, image/png"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                ></b-form-file>

                <span
                    v-if="errors.photo_profile"
                    class="small text-danger"
                    role="alert"
                >{{ errors.photo_profile[0] }}</span>
            </div>
        </div>

        <div v-if="form.is_new" class="form-group row">
            <div class="col-sm-4">
                Password
                <span class="required">*</span>
            </div>
            <div class="col-sm-8">
                <input
                    type="password"
                    class="form-control"
                    :class="{
                        'is-invalid':
                            errors.password || $v.form_data.password.$error
                    }"
                    v-model="form_data.password"
                    autocomplete="new-password"
                />
                <span
                    v-if="errors.password || $v.form_data.password.$invalid"
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.password">{{ errors.password[0] }}</span>
                    <span v-if="$v.form_data.password.$invalid">Required field!</span>
                </span>
            </div>
        </div>
        <div v-if="form.is_new" class="form-group row">
            <div class="col-sm-4">
                Confirm Password
                <span class="required">*</span>
            </div>
            <div class="col-sm-8">
                <input
                    type="password"
                    class="form-control"
                    :class="{
                        'is-invalid':
                            errors.password_confirmation ||
                            $v.form_data.password_confirmation.$error
                    }"
                    v-model="form_data.password_confirmation"
                    autocomplete="off"
                />
                <span
                    v-if="
                        errors.password_confirmation ||
                            $v.form_data.password_confirmation.$invalid
                    "
                    class="invalid-feedback"
                    role="alert"
                >
                    <span v-if="errors.password_confirmation">
                        {{
                        errors.password_confirmation[0]
                        }}
                    </span>
                    <span v-if="$v.form_data.password_confirmation.$invalid">Required field!</span>
                </span>
            </div>
        </div>

        <div class="form-group mt-3">
            <button
                type="submit"
                class="btn btn-primary float-right"
                :disabled="$v.$invalid || saving"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    Saving
                </span>
            </button>
        </div>
    </form>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { email, required, requiredIf } from "vuelidate/lib/validators";

export default {
    props: ["form"],
    mixins: ["SwalMixin"],
    data() {
        return {
            saving: false,
            form_data: this.form,
            errors: [],
        };
    },
    validations: {
        form_data: {
            name: { required },
            email: { required, email },
            phone: { required },
            gender: { required },
            dob: { required },
            password: {
                required: requiredIf(function (form) {
                    return form.is_new;
                }),
            },
            password_confirmation: {
                required: requiredIf(function (form) {
                    return form.is_new;
                }),
            },
        },
    },
    methods: {
        save() {
            this.saving = true;
            this.errors = [];

            const fd = new FormData();
            fd.append("name", this.form_data.name);
            fd.append("email", this.form_data.email);
            fd.append("phone", this.form_data.phone);
            fd.append("gender", this.form_data.gender);
            fd.append("dob", this.form_data.dob);
            fd.append("password", this.form_data.password);
            fd.append(
                "password_confirmation",
                this.form_data.password_confirmation
            );
            if (this.form_data.photo_profile != "") {
                fd.append(
                    "photo_profile",
                    this.form_data.photo_profile,
                    this.form_data.photo_profile.name
                );
            }

            if (this.form.is_new) {
                var request_url = axios.post(`${DASHBOARD_BASE_URL}/users`, fd);
            } else {
                var request_url = axios.patch(
                    `${DASHBOARD_BASE_URL}/users/${this.form.id}`,
                    fd
                );
            }

            request_url
                .then((res) => {
                    var data = res.data;
                    if (data.status == "success") {
                        if (this.form.is_new) {
                            window.location.replace(
                                `${DASHBOARD_BASE_URL}/users`
                            );
                        } else {
                            window.location.reload();
                        }
                    }
                    this.saving = false;
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.saving = false;
                });
        },
    },
};
</script>
