<template>
    <div class="card">
        <div class="card-header">New User</div>
        <div class="card-body">
            <UserForm :form="form" />
        </div>
    </div>
</template>

<script>
import UserForm from "./UserForm";

export default {
    components: {
        UserForm,
    },
    data() {
        return {
            form: {
                is_new: true,
                id: "",
                identifier: "",
                name: "",
                email: "",
                phone: "",
                gender: "",
                dob: "",
                photo_profile: [],
                password: "",
                password_confirmation: "",
            },
        };
    },
};
</script>
