<template>
    <div class="card contain-avatar mb-3">
        <div class="card-avatar">
            <img
                :src="user.avatar_url"
                :alt="user.name"
                class="img-fluid rounded-circle"
            />
        </div>
        <div class="card-body">
            <h4 class="card-title text-center mb-2">{{ user.name }}</h4>
            <p class="text-center">{{ user.email }}</p>
            <button
                type="button"
                class="destroy-confirm btn btn-block btn-danger"
                @click="destroy"
            >
                <i class="fas fa-trash-alt"></i> Delete
            </button>
            <div class="mt-3 small center">
                <a
                    :href="`${app_base_url}/profile/${user.identifier}`"
                    title="Profile Page"
                    target="_blank"
                    >Profile Page <i class="fas fa-external-link-alt"></i
                ></a>
            </div>
        </div>
    </div>
</template>

<script>
import SwalMixin from "../../../../mixins/swal";

export default {
    props: ["user"],
    mixins: ["SwalMixin"],
    data() {
        return {
            app_base_url: APP_BASE_URL,
        };
    },
    methods: {
        destroy() {
            this.$swal({
                title: "Are you sure?",
                text: "Move this user to trash?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, do it!",
            }).then((result) => {
                if (result.value) {
                    axios
                        .delete(`${DASHBOARD_BASE_URL}/users/${this.user.id}`)
                        .then((res) => {
                            var data = res.data;
                            this.$snotify[data.status](
                                data.message,
                                data.status
                            );
                            if (data.status == "success") {
                                window.location.replace(
                                    `${DASHBOARD_BASE_URL}/users`
                                );
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                            if (err.response.status === 422) {
                                this.swalWrong(err.response.data.message);
                            }
                        });
                }
            });
        },
    },
};
</script>
