<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../../Share/DataTable/DataTable";
import { EventBus } from "../../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "User Addresses");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "addresses",
                baseUrl: `${DASHBOARD_BASE_URL}/users/${this.data.user.id}/addresses`,
                // showBaseUrl: `${DASHBOARD_BASE_URL}/addresses`,
                queryUrl: `${DASHBOARD_BASE_URL}/users/${this.data.user.id}/addresses`,
                search: {
                    keyword: "",
                    name: "",
                    street: "",
                    province_name: "",
                    city_name: "",
                    subdistrict_name: "",
                    post_code: "",
                    phone: "",
                },
                filterFields: {
                    name: {
                        name: "Ship To",
                        type: "input",
                    },
                    street: {
                        name: "Street",
                        type: "input",
                    },
                    province_name: {
                        name: "Province",
                        type: "input",
                    },
                    city_name: {
                        name: "City",
                        type: "input",
                    },
                    subdistrict_name: {
                        name: "Subdistrict",
                        type: "input",
                    },
                    post_code: {
                        name: "Post Code",
                        type: "input",
                    },
                    phone: {
                        name: "Phone",
                        type: "input",
                    },
                    daterange: true,
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "Ship To", propertyName: "name" },
                    {
                        name: "Street",
                        propertyName: "street",
                    },
                    {
                        name: "Province",
                        propertyName: "province.name",
                    },
                    {
                        name: "City",
                        propertyName: "city.name",
                    },
                    {
                        name: "Subdistrict",
                        propertyName: "subdistrict.name",
                    },
                    {
                        name: "Post Code",
                        propertyName: "post_code",
                    },
                    {
                        name: "Phone",
                        propertyName: "phone",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Ship To",
                    propertyName: "id",
                    type: ["destroy"],
                },
            },
        };
    },
};
</script>
