<template>
    <div>
        <b-card header="User Info">
            <table class="table table-sm table-borderless table--width-auto">
                <tbody>
                    <tr>
                        <th class="label">Identifier</th>
                        <td class="data">{{ user.identifier }}</td>
                    </tr>
                    <tr>
                        <th class="label">Name</th>
                        <td class="data">{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th class="label">Email</th>
                        <td class="data">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th class="label">Gender</th>
                        <td class="data">{{ user.gender.text }}</td>
                    </tr>
                    <tr>
                        <th class="label">Date of Birth</th>
                        <td class="data">
                            {{ user.dob | format_date_only }}
                        </td>
                    </tr>
                    <tr>
                        <th class="label">Address</th>
                        <td class="data">{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th class="label">Province</th>
                        <td class="data">{{ user.province.name }}</td>
                    </tr>
                    <tr>
                        <th class="label">City</th>
                        <td class="data">{{ user.city.name }}</td>
                    </tr>
                    <tr>
                        <th class="label">Subdistrict</th>
                        <td class="data">{{ user.subdistrict.name }}</td>
                    </tr>
                    <tr>
                        <th class="label">Pos Code</th>
                        <td class="data">{{ user.pos_code }}</td>
                    </tr>
                    <tr>
                        <th class="label">Created At</th>
                        <td class="data">
                            {{ user.created_at | format_date_only }}
                        </td>
                    </tr>
                    <tr>
                        <th class="label">Updated At</th>
                        <td class="data">
                            {{ user.updated_at | format_date_only }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <a
                :href="`${dashboard_base_url}/users/${user.id}/edit`"
                title="Edit Profil"
                >Edit Profil</a
            > -->
        </b-card>

        <b-card class="mt-4" header="Resume">
            <object
                v-if="user.resume.file_url != ''"
                :data="user.resume.file_url"
                type="application/pdf"
                width="100%"
                height="650"
            >
                <a :href="user.resume.file_url">{{ user.resume.file_name }}</a>
            </object>
            <div v-else>Tidak ada resume</div>
        </b-card>

        <b-card class="mt-4" header="English Asessment">
            <div v-if="user.english_test.has_data" class="text-center">
                <div>
                    <strong>Score</strong>: {{ user.english_test.score }}/10
                </div>
                <div>
                    <strong>Test date</strong>:
                    {{ user.english_test.test_date | format_date }}
                </div>
            </div>
            <div v-else class="text-center">No Score</div>
        </b-card>

        <b-card class="mt-4" header="Personality Test">
            <div v-if="user.personal_test.has_data">
                <div class="mb-2">
                    <strong>Test date</strong>:
                    {{ personality_test.updated_at | format_date }}
                </div>

                <PersonalTest
                    :personality="personality_test.behaviour.most"
                    personality_name="Most"
                />

                <LineChart
                    :labels="chartMost.labels"
                    :label="chartMost.label"
                    :data="chartMost.data"
                    :title="chartMost.title"
                />

                <hr />

                <PersonalTest
                    :personality="personality_test.behaviour.least"
                    personality_name="Least"
                />

                <LineChart
                    :labels="chartLeast.labels"
                    :label="chartLeast.label"
                    :data="chartLeast.data"
                    :title="chartLeast.title"
                />
            </div>
            <div v-else class="text-center">No Data</div>
        </b-card>
    </div>
</template>

<script>
import PersonalTest from "../PersonalTest/PersonalTest";
import LineChart from "../../../Share/Chart/LineChart";

export default {
    props: {
        user: {
            type: Object,
            required: true,
        },
        personality_test: {
            type: Object,
        },
    },
    components: {
        PersonalTest,
        LineChart,
    },
    data() {
        return {
            dashboard_base_url: DASHBOARD_BASE_URL,
            chartMost: {
                labels: ["D", "I", "S", "C"],
                label: "Score",
                data: [
                    this.getConversionScore("D", this.personality_test, "most"),
                    this.getConversionScore("I", this.personality_test, "most"),
                    this.getConversionScore("S", this.personality_test, "most"),
                    this.getConversionScore("C", this.personality_test, "most"),
                ],
                title: "Most Behaviour Chart",
            },
            chartLeast: {
                labels: ["D", "I", "S", "C"],
                label: "Score",
                data: [
                    this.getConversionScore(
                        "D",
                        this.personality_test,
                        "least"
                    ),
                    this.getConversionScore(
                        "I",
                        this.personality_test,
                        "least"
                    ),
                    this.getConversionScore(
                        "S",
                        this.personality_test,
                        "least"
                    ),
                    this.getConversionScore(
                        "C",
                        this.personality_test,
                        "least"
                    ),
                ],
                title: "Least Behaviour Chart",
            },
        };
    },
    methods: {
        getConversionScore(char, data, type) {
            if (!this.user.personal_test.has_data) {
                return 0;
            }

            const index = data.behaviour[type].total.findIndex(
                (total) => total.char == char
            );
            if (index === -1) {
                return 0;
            }

            return data.behaviour[type].total[index].conversion;
        },
    },
};
</script>
