<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Job Roles");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "job_roles",
                baseUrl: `${DASHBOARD_BASE_URL}/job/job-roles`,
                showBaseUrl: `${DASHBOARD_BASE_URL}/job/job-roles`,
                createUrl: `${DASHBOARD_BASE_URL}/job/job-roles/create`,
                queryUrl: `${DASHBOARD_BASE_URL}/job/job-roles`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/job/job-roles`,
                    trashed: `${DASHBOARD_BASE_URL}/job/job-roles/trashed`,
                },
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    name: "",
                    jobfunction_id: "",
                    start_date: "",
                    end_date: "",
                },
                filterFields: {
                    name: {
                        name: "Name",
                        type: "input",
                    },
                    jobfunction_id: {
                        name: "Job Function",
                        type: "select",
                        options: this.data.job_function_select,
                    },
                    daterange: true,
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Name",
                        propertyName: "name",
                    },
                    {
                        name: "Job Function",
                        propertyName: "job_function.name",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    type: ["edit", "destroy"],
                },
            },
        };
    },
};
</script>
