<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="card">
                    <div class="card-header">Edit Job Role: {{ job_role.name }}</div>
                    <div class="card-body">
                        <JobroleForm :form="form" :job_function_select="job_function_select" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import JobroleForm from "./JobroleForm";

export default {
    props: {
        job_role: Object,
        job_function_select: Array,
    },
    components: {
        JobroleForm,
    },
    data() {
        return {
            form: {
                is_new: false,
                id: this.job_role.id,
                jobfunction_id: this.job_role.jobfunction_id,
                name: this.job_role.name,
            },
        };
    },
};
</script>
