<template>
    <form @submit.prevent="save">
        <div class="form-group row">
            <label for="title" class="col-lg-3 col-form-label">
                Name
                <span class="required">*</span>
            </label>
            <div class="col-lg-9">
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    :class="{ 'is-invalid': errors.name }"
                    v-model="form_data.name"
                />
                <span v-if="errors.name" class="invalid-feedback" role="alert">{{ errors.name[0] }}</span>
            </div>
        </div>

        <div class="form-group row">
            <label for="jobfunction_id" class="col-lg-3 col-form-label">
                Job Function
                <span class="required">*</span>
            </label>
            <div class="col-lg-9">
                <select
                    class="form-control"
                    id="jobfunction_id"
                    name="jobfunction_id"
                    :class="{ 'is-invalid': errors.jobfunction_id }"
                    v-model="form_data.jobfunction_id"
                >
                    <option
                        v-for="(option, i) in job_function_select"
                        :key="i"
                        :value="option.value"
                    >{{option.text}}</option>
                </select>
                <span
                    v-if="errors.jobfunction_id"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.jobfunction_id[0] }}</span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary float-right" :disabled="processing">
            <span v-if="!processing">Save</span>
            <span v-else>
                <i class="fas fa-spinner fa-spin" aria-hidden="true"></i> Processing
            </span>
        </button>
    </form>
</template>

<script>
export default {
    props: {
        form: Object,
        job_function_select: Array,
    },
    data() {
        return {
            form_data: this.form,
            errors: [],
            processing: false,
        };
    },
    created() {
        console.log(this.job_function_select);
    },
    methods: {
        save() {
            this.errors = [];
            this.processing = true;

            if (this.form.is_new) {
                var request_url = axios.post(
                    `${DASHBOARD_BASE_URL}/job/job-roles`,
                    this.form_data
                );
            } else {
                var request_url = axios.patch(
                    `${DASHBOARD_BASE_URL}/job/job-roles/${this.form.id}`,
                    this.form_data
                );
            }

            request_url
                .then((res) => {
                    var data = res.data;
                    if (data.status == "success") {
                        window.location.replace(
                            `${DASHBOARD_BASE_URL}/job/job-roles`
                        );
                    }
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.processing = false;
                });
        },
    },
};
</script>
