<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="card">
                    <div class="card-header">New Job Role</div>
                    <div class="card-body">
                        <JobroleForm :form="form" :job_function_select="job_function_select" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import JobroleForm from "./JobroleForm";

export default {
    props: {
        job_function_select: Array,
    },
    components: {
        JobroleForm,
    },
    data() {
        return {
            form: {
                is_new: true,
                id: "",
                jobfunction_id: "",
                name: "",
            },
        };
    },
};
</script>
