.h-100vh {
    height: 100vh;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

.form-control {

    &:focus,
    &:active {
        box-shadow: none;
    }
}

.btn {

    &:focus,
    &:active,
    &:active:focus {
        box-shadow: none !important;
    }
}

#app {
    &.dashboard {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 205px 1fr;
        grid-column-gap: 0;
        position: relative;
        top: 0;
        // background: #348F6C;
        background: #2f2f2f;

        @media only screen and (max-width: 768px) {
            display: block;
            background: #ffffff;
        }
    }

    #content {
        margin-bottom: 30px;
    }
}

.main-panel {
    margin: 15px 15px 15px 0;
    background: #FFF;
    border-radius: 25px;

    @media only screen and (max-width: 768px) {
        margin: 0;
        border-radius: 0;
    }
}

h1.page-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media print {
    .no-print {
        display: none !important;
    }
}

.pre-line {
    white-space: pre-line;
}