.auth-page {
    position: relative;

    &--register {}

    &--login {}
}

.auth-image {
    position: absolute;
    width: 185px;

    @media only screen and (max-width: 1200px) {
        width: 150px;
    }

    @media only screen and (max-width: 992px) {
        width: 134px;
    }

    @media only screen and (max-width: 768px) {
        width: 70px;
    }

    &--register {
        top: 197px;
        right: -100px;
        transform: rotateY(180deg);

        @media only screen and (max-width: 1200px) {
            top: 281px;
            right: 3px;
        }

        @media only screen and (max-width: 768px) {
            top: auto;
            bottom: -3px;
            right: 15px;
        }
    }

    &--login {
        top: 216px;
        left: -70px;

        @media only screen and (max-width: 1200px) {
            top: 300px;
            left: 3px;
        }

        @media only screen and (max-width: 768px) {
            top: auto;
            bottom: -3px;
            left: 15px;
        }
    }
}

.auth-form {
    width: 1135px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 3px rgba(192, 192, 192, 0.26);
    border-radius: $border-radius;
    display: flex;
    overflow: hidden;

    @media only screen and(max-width: 1200px) {
        width: 100%;
    }

    @media only screen and(max-width: 768px) {
        flex-direction: column;
    }

    &--login {
        @media only screen and(max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    &--compact {
        width: 400px;
        margin: 0 auto;
        padding: 35px;

        @media only screen and(max-width: 576px) {
            width: 100%;
        }

        .auth-form__wrapper {
            width: 100%;
            padding: 0;
        }
    }

    &__wrapper {
        width: 65%;
        padding: 50px;

        @media only screen and (max-width: 992px) {
            width: 60%;
            padding: 30px;
        }

        @media only screen and(max-width: 768px) {
            width: 100%;
        }

        @media only screen and (max-width: 576px) {
            padding: 50px 20px 20px;
        }

        h1 {
            font-family: $font-family-base;
            font-weight: 600;
            font-size: 26px;
            line-height: 39px;
            margin-top: 0;

            @media only screen and(max-width: 768px) {
                font-size: 24px;
                line-height: 36px;
                text-align: center;
            }
        }

        .auth-form-text {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__cta {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 40px;

        @media only screen and(max-width: 768px) {
            text-align: center;
            margin-bottom: 25px;
        }
    }

    &__or {
        color: $grey-1;
        width: 441px;
        height: 24px;
        margin: 30px auto 15px;
        position: relative;

        @media only screen and(max-width: 768px) {
            width: 100%;
        }

        .text {
            width: 85px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 24px;
            display: block;
            text-align: center;
            background-color: #FFFFFF;
            z-index: 9;
            position: relative;

            @media only screen and(max-width: 768px) {
                font-size: 14px;
                line-height: 21px;
            }
        }

        .line {
            height: 2px;
            width: 100%;
            background-color: $color-form-control-bg;
            position: absolute;
            top: 11px;
            left: 0;
        }
    }

    &__cta-social {
        text-align: center;
        color: $grey-1;
    }

    &__social {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }

    &__social-item {
        margin: 0 30px;

        @media only screen and(max-width: 576px) {
            margin: 0 20px;
        }

        svg {
            width: 40px;
            height: 40px;

            @media only screen and(max-width: 576px) {
                width: 30px;
                height: 30px;
            }

            image {
                width: 40px;
                height: 40px;

                @media only screen and(max-width: 576px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    &__tnc {
        text-align: center;
        color: $grey-1;
        font-size: 12px;
        line-height: 18px;

        a {
            color: $red-2;
        }
    }

    &__msg {
        width: 35%;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 65px 50px;
        border-radius: $border-radius 0 0 $border-radius;

        @media only screen and (max-width: 1200px) {
            padding: 65px 30px;
        }

        @media only screen and (max-width: 992px) {
            width: 40%;
            padding: 40px 30px;
        }

        @media only screen and(max-width: 768px) {
            width: 100%;
            padding: 40px 50px;
            border-radius: $border-radius $border-radius 0 0;
        }
    }

    &__msg-text {
        color: #FFFFFF;
        text-align: center;

        h2 {
            font-family: $font-family-base;
            font-weight: bold;
            font-size: 32px;
            line-height: 48px;
            color: #FFFFFF;
            margin-top: 0;

            @media only screen and(max-width: 768px) {
                font-size: 24px;
                line-height: 36px;
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 25px;

            @media only screen and(max-width: 768px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &__msg-btn {
        display: flex;
        justify-content: center;
        z-index: 9;
    }
}