.p-company {
    &__banner {
        width: 100%;
        height: 370px;
        position: relative;

        @media only screen and(max-width: 1200px) {
            height: 320px;
        }

        @media only screen and(max-width: 768px) {
            height: 200px;
            width: calc(100% - 30px);
            margin: 30px auto 0;
            border-radius: 30px;
            z-index: 9;
            overflow: hidden;
            box-shadow: $box-shadow-2;
        }

        @media only screen and(max-width: 576px) {
            height: 150px;
        }

        .logo-sq {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
            border-radius: 30px;

            @media only screen and(max-width: 768px) {
                display: block;
            }

            @media only screen and(max-width: 576px) {
                width: 150px;
                height: 150px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__top {
        background: #FFFFFF;
        border-radius: 30px;
        box-shadow: $box-shadow-2;
        margin-top: -60px;
        z-index: 9;
        position: relative;
        overflow: hidden;
        display: flex;
        padding: 30px;
        margin-bottom: 60px;

        @media only screen and(max-width: 768px) {
            z-index: 0;
            padding-top: 100px;
        }

        @media only screen and(max-width: 576px) {
            padding: 100px 25px 25px 25px;
        }
    }

    &__logo {
        width: 200px;
        margin-right: 30px;

        @media only screen and(max-width: 768px) {
            display: none;
        }
    }

    &__details {
        flex: 1;

        h1 {
            font-family: $font-family-base;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            color: $color-heading;
        }
    }

    &__short-desc {
        margin-bottom: 30px;

        @media only screen and(max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media only screen and(max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .list-detail {
            margin-right: 20px;

            @media only screen and(max-width: 768px) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        .list-socials {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;

                li {
                    margin-right: 15px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        svg {
                            width: 40px;
                            height: 40px;

                            image {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }

    &__description,
    &__images {
        background: #FFFFFF;
        border-radius: 30px;
        box-shadow: $box-shadow-2;
        padding: 30px;
        margin-bottom: 60px;

        @media only screen and(max-width: 576px) {
            padding: 25px;
        }
    }

    &__images {
        #silentbox-gallery {
            display: flex;
            align-items: center;

            @media only screen and(max-width: 768px) {
                flex-direction: column;
            }

            .silentbox-item {
                border-radius: 5px;
                display: flex;
                overflow: hidden;
                width: 36%;

                @media only screen and(max-width: 768px) {
                    width: 100%;
                }

                &:nth-child(2) {
                    margin: 0 2%;

                    @media only screen and(max-width: 768px) {
                        margin: 15px 0;
                    }
                }

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.co-form {
    &__banner {
        width: 100%;
        height: 188px;
        background-color: $grey-1;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__upload-banner {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__upload-logo {
        position: absolute;
        bottom: 15px;
        left: 15px;
        cursor: pointer;

        &:hover>.co-form__logo-input {
            opacity: .8;
        }

        .logo-sq {
            width: 115px;
            height: 115px;

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

    &__logo-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flexCenter;
        font-size: 40px;
        cursor: pointer;
        opacity: 0;
        transition: all .25s ease-in-out;

        input[type="file"] {
            display: none;
        }
    }
}