body.homepage {
    .content {
        padding-bottom: 0;

        @media only screen and (max-width: 992px) {
            padding: 0;
        }
    }
}

.home {
    margin-top: -150px;

    @media only screen and(max-width: 992px) {
        margin-top: 0;
    }

    &__top {
        height: 100vh;
        background-color: $color-primary;
        padding: 30px 10%;
        position: relative;
        color: #ffffff;
        overflow: hidden;

        @media only screen and(max-width: 1200px) {
            padding: 30px 5%;
        }

        @media only screen and(max-width: 992px) {
            color: $black;
            height: calc(100vh - 70px);
        }

        @media only screen and(max-width: 768px) {
            padding: 30px 25px;
        }
    }

    &__job-search {
        height: 100%;
        padding-top: 11%;

        @media only screen and(max-width: 992px) {
            padding-top: 8%;
        }

        @media only screen and(max-width: 576px) {
            padding-top: 0;
        }
    }

    .job-search {
        &__headline {
            font-weight: 600;
            font-family: $font-family-base;
            font-size: 36px;
            line-height: 54px;
            margin-bottom: 0px;
            color: #ffffff;

            @media only screen and(max-width: 576px) {
                font-size: 30px;
                line-height: 45px;
            }
        }

        &__small-text {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 30px;
            color: #ffffff;
        }

        &__form {
            width: 50%;

            @media only screen and(max-width: 1200px) {
                width: 60%;
            }

            .form {
                @media only screen and(max-width: 992px) {
                    display: none;
                }
            }

            .input-group {
                &__main {
                    width: 61%;

                    .form__control {
                        padding: 19px 20px 20px 0;

                        &::-webkit-input-placeholder {
                            font-size: 12px;
                        }
                    }
                }

                &__append {
                    .btn {
                        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);
                        filter: drop-shadow(0px 0px 10px #FFD65D);
                    }
                }
            }
        }

        &__button-mobile {
            display: none;
            text-align: center;
            line-height: 1.8;

            @media only screen and(max-width: 992px) {
                display: block;
            }
        }
    }

    &__top-picture {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-image: url('images/reqruit/stars.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 85%;
    }

    &__top-picture-inner {
        position: absolute;
        bottom: 105px;
        right: 125px;
        width: 70%;

        @media only screen and(max-width: 1200px) {
            right: 40px;
        }

        @media only screen and(max-width: 768px) {
            right: -90px;
            bottom: 75px;
            width: 90%;
        }

        @media only screen and(max-width: 576px) {
            bottom: 35px;
            width: 100%;
        }
    }

    .home-sec {
        width: 70%;
        height: 170px;
        margin: -85px auto 80px;
        background-color: #ffffff;
        box-shadow: 3px 5px 20px rgba(135, 135, 135, 0.1);
        border-radius: 30px;
        z-index: 9;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media only screen and(max-width: 1200px) {
            width: 80%;
        }

        @media only screen and(max-width: 768px) {
            width: 95%;
            padding: 20px 10px;
        }

        @media only screen and(max-width: 576px) {
            flex-wrap: wrap;
            height: auto;
            margin: -35px auto 40px;
        }

        &__item {
            width: 120px;

            @media only screen and(max-width: 576px) {
                width: 46%;
                margin: 20px 1%;
            }
        }

        &__icon {
            height: 55px;
            width: 70px;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .home-develop {
        &__item {
            display: flex;
            align-items: center;

            @media only screen and(max-width: 768px) {
                flex-direction: column;
            }

            &:first-child {
                margin-bottom: 60px;

                @media only screen and(max-width: 768px) {
                    flex-direction: column-reverse;
                }
            }
        }

        &__text {
            @media only screen and(max-width: 992px) {
                width: 65%;
            }

            @media only screen and(max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            h3 {
                font-weight: 600;
                font-size: 30px;
                line-height: 45px;
                margin-bottom: 20px;
                font-family: $font-family-base;

                @media only screen and(max-width: 576px) {
                    font-size: 18px;
                    line-height: 27px;
                }
            }

            p {
                font-size: 18px;
                line-height: 27px;

                @media only screen and(max-width: 576px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }

        &__image {
            width: 630px;
            height: 365px;

            @media only screen and(max-width: 992px) {
                width: 35%;
                height: 300px;
            }

            @media only screen and(max-width: 768px) {
                width: 50%;
                height: 300px;
            }

            @media only screen and(max-width: 576px) {
                width: 65%;
                height: 300px;
            }
        }
    }

    .home-service {
        .section__inner {
            display: flex;
            justify-content: center;

            @media only screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;
            }
        }

        &__item-wrapper {
            &:first-child {
                text-align: right;
                padding-right: 10px;
                border-right: 1px solid $grey-1;

                @media only screen and (max-width: 992px) {
                    text-align: left;
                    padding-right: 0;
                    border-right: none;
                }

                .home-service__item {
                    @media only screen and (max-width: 992px) {
                        flex-direction: row-reverse;
                    }

                    @media only screen and (max-width: 576px) {
                        flex-direction: column-reverse;
                    }
                }
            }

            &:last-child {
                padding-left: 10px;

                @media only screen and (max-width: 992px) {
                    padding-left: 0;
                }
            }
        }

        &__item {
            margin-bottom: 30px;
            display: flex;
            align-items: center;

            @media only screen and (max-width: 576px) {
                flex-direction: column;
            }
        }

        &__text {
            flex: 1;

            @media only screen and (max-width: 576px) {
                width: 100%;
                text-align: center;
            }

            h3 {
                font-family: $font-family-base;
                font-size: 26px;
                line-height: 39px;
                margin-top: 0;
                margin-bottom: 10px;

                @media only screen and (max-width: 576px) {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                }
            }

            p {
                font-size: 20px;
                line-height: 30px;

                @media only screen and (max-width: 576px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }

        &__image {
            width: 180px;
            height: 180px;
            padding: 20px;
            background-color: #FFFFFF;
            box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
            border-radius: 30px;
            margin: 0 30px;
            @include flexCenter;
            overflow: hidden;

            @media only screen and(max-width: 1200px) {
                width: 130px;
                height: 130px;
            }

            @media only screen and(max-width: 992px) {
                width: 180px;
                height: 180px;
                margin: 0 30px 0 0;
            }

            @media only screen and (max-width: 576px) {
                margin: 0 auto;
                margin-bottom: 40px;
            }
        }
    }

    .home-about {
        background-color: #F5F6FA;

        .section__title--left {
            @media only screen and (max-width: 992px) {
                text-align: center;
            }

            &::after {
                @media only screen and (max-width: 992px) {
                    margin: 30px auto;
                }

                @media only screen and (max-width: 576px) {
                    margin: 15px auto;
                }
            }
        }

        .section__inner {
            display: flex;
            align-items: center;

            @media only screen and (max-width: 992px) {
                flex-direction: column-reverse;
            }
        }

        &__text {
            width: 60%;
            padding-right: 20px;

            @media only screen and (max-width: 992px) {
                width: 100%;
            }

            p {
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 40px;

                @media only screen and (max-width: 576px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }

        &__video-wrapper {
            width: 40%;

            @media only screen and (max-width: 992px) {
                width: 100%;
            }
        }

        &__video {
            width: 100%;
            border-radius: 30px;
            overflow: hidden;
            position: relative;

            @media only screen and (max-width: 992px) {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
        }

        &__play-video {
            width: 100%;
            height: 100%;
            @include flexCenter;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 45px;
            cursor: pointer;
            opacity: .5;
            transition: all .3s ease;

            &:hover {
                opacity: 1;
            }

            .icon-wrapper {
                width: 90px;
                height: 90px;
                background-color: $yellow;
                border-radius: 50%;
                @include flexCenter;
                color: #ffffff;

                span {
                    margin-left: 10px;
                }
            }
        }
    }

    .home-numbers {
        background-color: $yellow;
        padding: 40px 0;

        .section__inner {
            display: flex;
            align-items: center;
            justify-content: space-around;

            @media only screen and (max-width: 576px) {
                flex-direction: column;
            }
        }

        &__item {
            text-align: center;

            @media only screen and (max-width: 576px) {
                height: 180px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        &__big-text {
            font-weight: 600;
            font-size: 48px;
            line-height: 72px;
            color: $color-heading;

            @media only screen and (max-width: 992px) {
                font-size: 38px;
                line-height: 60px;
            }

            @media only screen and (max-width: 576px) {
                font-size: 48px;
                line-height: 72px;
            }
        }

        &__small-text {
            font-size: 24px;
            line-height: 36px;

            @media only screen and (max-width: 992px) {
                font-size: 19px;
                line-height: 30px;
            }

            @media only screen and (max-width: 576px) {
                font-size: 24px;
                line-height: 36px;
            }
        }
    }

    .home-join {
        &__image {
            img {
                width: 100%;
            }
        }

        &__cta {
            h3 {
                font-size: 52px;
                line-height: 65px;
                margin-bottom: 50px;

                @media only screen and (max-width: 768px) {
                    font-size: 40px;
                    line-height: 45px;
                }

                @media only screen and (max-width: 576px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }

            a {
                width: 235px;
                margin: 0 auto;
            }
        }
    }

    .home-testi {
        background-color: #F5F6FA;

        @media only screen and (max-width: 576px) {
            padding-bottom: 90px;
        }

        .glide {
            &__arrow {
                &--left {
                    left: -3em;

                    @media only screen and (max-width: 1200px) {
                        display: none;
                    }
                }

                &--right {
                    right: -3em;

                    @media only screen and (max-width: 1200px) {
                        display: none;
                    }
                }
            }

            &__bullets {
                bottom: -1em;
            }

            &__bullet {
                background-color: #C4C4C4;
            }
        }
    }

    .home-pre-footer {
        padding: 50px 0;
        background-color: $blue-black;
        color: #ffffff;

        .section__inner {
            display: flex;
            align-items: center;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
        }

        &__cta {
            text-align: center;
            width: 50%;
            font-size: 46px;
            line-height: 69px;

            @media only screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 40px;
            }

            @media only screen and (max-width: 576px) {
                font-size: 30px;
                line-height: 45px;
            }

            .text-strong {
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        &__button {
            width: 50%;

            @media only screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}