.myo {
    display: flex;
    position: relative;

    @media only screen and(max-width: 992px) {
        flex-direction: column;
    }

    &__side {
        width: 350px;
        margin-right: 40px;
        margin-top: 65px;

        @media only screen and(max-width: 992px) {
            width: 100%;
            margin-right: 0;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    &__avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid $color-primary;
        margin: -85px auto 0;
        box-shadow: $box-shadow-2;
        margin-bottom: 20px;
        position: relative;

        &:hover>.myo__update-avatar {
            opacity: 0.8;
        }
    }

    &__update-avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        @include flexCenter;
        font-size: 60px;
        color: $grey-2;
        cursor: pointer;
        opacity: 0;
        transition: all .25s ease-in-out;

        input[type="file"] {
            display: none;
        }
    }

    &__side-buttons {
        margin-bottom: 20px;
    }

    &__progress {
        h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
        }
    }

    &__progress-list,
    &__menu {
        margin-top: 20px;

        ul {
            list-style-type: none;

            li {
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                margin-bottom: 15px;
                position: relative;

                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color-primary;
                    position: absolute;
                    left: -20px;
                    top: 7px;

                }

                a {
                    display: block;

                    .name {
                        color: $grey-1;

                        &.completed {
                            color: $grey-3;
                        }
                    }

                    .icon {
                        float: right;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &__menu {
        ul {
            li {

                &:hover,
                &.active {
                    &:before {
                        background-color: $color-primary;
                    }

                    a {

                        .name,
                        .icon {
                            color: $color-primary;
                        }
                    }
                }

                &:before {
                    background-color: $grey-3;
                }

                a {

                    .name,
                    .icon {
                        color: $grey-3;
                    }
                }
            }
        }
    }

    &__main {
        flex: 1;

        @media only screen and(max-width: 992px) {
            width: 100%;
        }
    }

    &__basic {
        margin-bottom: 40px;
        position: relative;
    }

    &__basic-detail {
        h1 {
            margin-bottom: 0;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }

    &__status {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $grey-3;
    }

    &__basic-list {
        dl {
            margin-top: 0;
        }
    }
}