<template>
    <div class="card">
        <div class="card__body">
            <div class="mb3">
                <ol>
                    <li v-for="(q, i) in questions" :key="i">
                        <div class="bold">{{ q.question }}</div>
                        <div class="form__group">
                            <div>Jawaban:</div>
                            <div
                                :id="`question-${i}`"
                                class="contenteditable form__control"
                                contenteditable
                                @input="($e) => answerUpdate($e, i)"
                            ></div>
                        </div>
                    </li>
                </ol>
            </div>

            <button
                type="button"
                class="btn btn--block btn--primary"
                @click="send"
                :disabled="sending"
            >
                <span v-if="!sending"><i class="icon-send"></i> Kirim</span>
                <span v-else>Mengirim lamaran...</span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        questions: Array,
        job: Object,
    },
    data() {
        let answers = [];
        this.questions.forEach((q) => {
            answers.push({
                question: q.question,
                answer: "",
            });
        });

        return {
            sending: false,
            answers: answers,
        };
    },
    methods: {
        answerUpdate(e, index) {
            this.answers[index].answer = e.target.innerText;
        },
        send() {
            console.log(this.answers);
            this.sending = true;

            axios
                .post(
                    `${APP_BASE_URL}/job/${this.job.slug}/${this.job.identifier}/answers`,
                    { answers: this.answers }
                )
                .then((res) => {
                    window.location.href = `${APP_BASE_URL}/job/${this.job.slug}/${this.job.identifier}`;
                })
                .catch((err) => {
                    console.log(err.response);
                    let response = err.response;
                    if (response.data.hasOwnProperty("message")) {
                        this.swalWrong(response.data.message);
                    } else {
                        this.swalWrong();
                    }
                    this.sending = false;
                });
        },
    },
};
</script>