<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Trashed Job Functions");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "job_functions",
                baseUrl: `${DASHBOARD_BASE_URL}/job/job-functions`,
                queryUrl: `${DASHBOARD_BASE_URL}/job/job-functions/trashed`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/job/job-functions`,
                    trashed: `${DASHBOARD_BASE_URL}/job/job-functions/trashed`,
                },
                trashed_page: true,
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    name: "",
                    start_date: "",
                    end_date: "",
                },
                filterFields: {
                    name: {
                        name: "Name",
                        type: "input",
                    },
                    daterange: true,
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Name",
                        propertyName: "name",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                    {
                        name: "Deleted At",
                        propertyName: "deleted_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    type: ["restore", "destroy_permanent"],
                },
            },
        };
    },
};
</script>
