<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="card">
                    <div class="card-header">Edit Job Function: {{ job_function.name }}</div>
                    <div class="card-body">
                        <JobfunctionForm :form="form" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import JobfunctionForm from "./JobfunctionForm";

export default {
    props: ["job_function"],
    components: {
        JobfunctionForm,
    },
    data() {
        return {
            form: {
                is_new: false,
                id: this.job_function.id,
                name: this.job_function.name,
            },
        };
    },
};
</script>
