<template>
    <div class="sidebar" :class="{ active: show_mobile_menu }">
        <div class="text-center sidebar__brand">
            <img v-if="logo_url != ''" :src="logo_url" :alt="app_name" />
            <div v-else class="text">{{ app_name }}</div>
        </div>
        <div class="sidebar__wrapper">
            <ul class="nav">
                <li @click="hideMenu">
                    <a
                        :href="home_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'home' }"
                    >
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-page')"
                    @click="hideMenu"
                >
                    <a
                        :href="pages_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'pages' }"
                    >
                        <i class="fas fa-pager"></i>
                        <span>Page</span>
                    </a>
                </li>
                <!-- <li v-if="permissions.includes('manage-category')" @click="hideMenu">
                    <a
                        :href="categories_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'categories' }"
                    >
                        <i class="far fa-list-alt"></i>
                        <span>Category</span>
                    </a>
                </li> -->
                <li
                    v-if="permissions.includes('manage-employer')"
                    @click="hideMenu"
                >
                    <a
                        :href="employers_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'employers' }"
                    >
                        <i class="fas fa-user-secret"></i>
                        <span>Employer</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-head-hunting')"
                    @click="hideMenu"
                >
                    <a
                        :href="head_huntings_url"
                        class="d-flex align-items-center"
                        :class="{
                            active: active_menu == 'head-huntings'
                        }"
                    >
                        <i class="fas fa-hands-helping"></i>
                        <span>Head Huntings</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-company')"
                    @click="hideMenu"
                >
                    <a
                        :href="companies_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'companies' }"
                    >
                        <i class="far fa-building"></i>
                        <span>Companies</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-company-review')"
                    @click="hideMenu"
                >
                    <a
                        :href="company_reviews_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'company-reviews' }"
                    >
                        <i class="far fa-edit"></i>
                        <span>Company Reviews</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-industry')"
                    @click="hideMenu"
                >
                    <a
                        :href="industries_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'industries' }"
                    >
                        <i class="fas fa-industry"></i>
                        <span>Industry</span>
                    </a>
                </li>
                <li>
                    <a
                        data-toggle="collapse"
                        href="#submenu-job"
                        :aria-expanded="
                            active_parent_menu == 'job' ? true : false
                        "
                        aria-controls="submenu-job"
                    >
                        <div class="d-flex justify-content-between">
                            <div>
                                <i class="fas fa-briefcase"></i>
                                <span>Job</span>
                            </div>
                            <div class="arrow-sub">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                    </a>
                    <div
                        class="collapse submenu"
                        :class="{ show: active_parent_menu == 'job' }"
                        id="submenu-job"
                    >
                        <ul>
                            <li @click="hideMenu">
                                <a
                                    :href="jobs_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active: active_menu == 'jobs'
                                    }"
                                    >Job List</a
                                >
                            </li>
                            <li @click="hideMenu">
                                <a
                                    :href="job_applications_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active:
                                            active_menu == 'job-applications'
                                    }"
                                    >Job Applications</a
                                >
                            </li>
                            <li @click="hideMenu">
                                <a
                                    :href="skills_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active: active_menu == 'skills'
                                    }"
                                    >Skills</a
                                >
                            </li>
                            <li @click="hideMenu">
                                <a
                                    :href="job_functions_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active: active_menu == 'job_functions'
                                    }"
                                    >Job Functions</a
                                >
                            </li>
                            <li @click="hideMenu">
                                <a
                                    :href="job_roles_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active: active_menu == 'job_roles'
                                    }"
                                    >Job Roles</a
                                >
                            </li>
                            <li @click="hideMenu">
                                <a
                                    :href="jap_rejection_messages_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active:
                                            active_menu ==
                                            'jap_rejection_messages'
                                    }"
                                    >Rejection Messages</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li
                    v-if="permissions.includes('manage-testimonial')"
                    @click="hideMenu"
                >
                    <a
                        :href="testimonials_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'testimonials' }"
                    >
                        <i class="far fa-smile"></i>
                        <span>Testimonial</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-article')"
                    @click="hideMenu"
                >
                    <a
                        :href="articles_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'articles' }"
                    >
                        <i class="far fa-newspaper"></i>
                        <span>Articles</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-user')"
                    @click="hideMenu"
                >
                    <a
                        :href="users_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'users' }"
                    >
                        <i class="fas fa-users"></i>
                        <span>User</span>
                    </a>
                </li>
                <li>
                    <a
                        data-toggle="collapse"
                        href="#submenu-education"
                        :aria-expanded="
                            active_parent_menu == 'education' ? true : false
                        "
                        aria-controls="submenu-education"
                    >
                        <div class="d-flex justify-content-between">
                            <div>
                                <i class="fas fa-graduation-cap"></i>
                                <span>Education</span>
                            </div>
                            <div class="arrow-sub">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                    </a>
                    <div
                        class="collapse submenu"
                        :class="{ show: active_parent_menu == 'education' }"
                        id="submenu-education"
                    >
                        <ul>
                            <li
                                v-if="
                                    permissions.includes(
                                        'manage-education-degree'
                                    )
                                "
                                @click="hideMenu"
                            >
                                <a
                                    :href="education_degrees_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active:
                                            active_menu == 'education-degrees'
                                    }"
                                    >Education Degree</a
                                >
                            </li>
                            <li
                                v-if="
                                    permissions.includes(
                                        'manage-education-field'
                                    )
                                "
                                @click="hideMenu"
                            >
                                <a
                                    :href="education_fields_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active:
                                            active_menu == 'education-fields'
                                    }"
                                    >Education Field</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a
                        data-toggle="collapse"
                        href="#submenu-question"
                        :aria-expanded="
                            active_parent_menu == 'question' ? true : false
                        "
                        aria-controls="submenu-question"
                    >
                        <div class="d-flex justify-content-between">
                            <div>
                                <i class="far fa-file-alt"></i>
                                <span>Question</span>
                            </div>
                            <div class="arrow-sub">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                    </a>
                    <div
                        class="collapse submenu"
                        :class="{ show: active_parent_menu == 'question' }"
                        id="submenu-question"
                    >
                        <ul>
                            <li
                                v-if="permissions.includes('manage-question')"
                                @click="hideMenu"
                            >
                                <a
                                    :href="english_questions_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active:
                                            active_menu == 'english-questions'
                                    }"
                                    >English Question</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>

                <li
                    v-if="permissions.includes('manage-static-block')"
                    @click="hideMenu"
                >
                    <a
                        :href="static_blocks_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'static_blocks' }"
                    >
                        <i class="fas fa-th-large"></i>
                        <span>Static Block</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-menu')"
                    @click="hideMenu"
                >
                    <a
                        :href="menus_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'menus' }"
                    >
                        <i class="fas fa-bars"></i>
                        <span>Menu</span>
                    </a>
                </li>
                <li v-if="permissions.includes('manage-banner')">
                    <a
                        data-toggle="collapse"
                        href="#submenu-banner"
                        :aria-expanded="
                            active_menu == 'main_banners' ? true : false
                        "
                        aria-controls="submenu-banner"
                    >
                        <div class="d-flex justify-content-between">
                            <div>
                                <i class="far fa-images"></i>
                                <span>Banner</span>
                            </div>
                            <div class="arrow-sub">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </div>
                    </a>
                    <div
                        class="collapse submenu"
                        :class="{ show: active_menu == 'main_banners' }"
                        id="submenu-banner"
                    >
                        <ul>
                            <li @click="hideMenu">
                                <a
                                    :href="main_banners_url"
                                    class="d-flex align-items-center"
                                    :class="{
                                        active: active_parent_menu == 'banners'
                                    }"
                                    >Main Banner</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav">
                <li
                    v-if="permissions.includes('manage-admin') || admin.primary"
                    @click="hideMenu"
                >
                    <a
                        :href="admins_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'admins' }"
                    >
                        <i class="fas fa-user-tie"></i>
                        <span>Admin</span>
                    </a>
                </li>
                <li
                    v-if="permissions.includes('manage-config')"
                    @click="hideMenu"
                >
                    <a
                        :href="configs_url"
                        class="d-flex align-items-center"
                        :class="{ active: active_menu == 'configs' }"
                    >
                        <i class="fas fa-cogs"></i>
                        <span>Configuration</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: [
        "admin",
        "permissions",
        "app_name",
        "logo_url",
        "home_url",
        // "categories_url",
        "pages_url",
        "static_blocks_url",
        "menus_url",
        "employers_url",
        "head_huntings_url",
        "companies_url",
        "company_reviews_url",
        "industries_url",
        "jobs_url",
        "job_applications_url",
        "skills_url",
        "job_functions_url",
        "job_roles_url",
        "jap_rejection_messages_url",
        "testimonials_url",
        "articles_url",
        "users_url",
        "education_degrees_url",
        "education_fields_url",
        "english_questions_url",
        "main_banners_url",
        "admins_url",
        "configs_url",
        "active_menu",
        "active_parent_menu"
    ],
    data() {
        return {
            show_mobile_menu: false,
            dashboard_base_url: DASHBOARD_BASE_URL
        };
    },
    created() {
        EventBus.$on("show_mobile_menu", () => {
            this.show_mobile_menu = true;
        });
        EventBus.$on("hide_mobile_menu", () => {
            this.show_mobile_menu = false;
        });
    },
    methods: {
        hideMenu() {
            EventBus.$emit("hide_overlay");
            this.show_mobile_menu = false;
        }
    }
};
</script>
