<template>
    <div class="container-fluid">
        <nav id="top-nav" class="navbar navbar-expand-md">
            <div class="container-fluid">
                <div
                    class="d-flex justify-content-between"
                    id="navbarSupportedContent"
                >
                    <!-- Left Side Of Navbar -->
                    <div class="left-nav d-flex align-items-center">
                        <i
                            class="fas fa-bars d-md-none mr-3"
                            @click="showMenu"
                        ></i>
                        <h1>{{ page_title }}</h1>
                    </div>

                    <!-- Right Side Of Navbar -->
                    <div class="d-flex align-items-center">
                        <div class="user-name d-none d-md-block mr-3">
                            {{ admin.name }}
                        </div>
                        <div class="avatar mr-3">
                            <img
                                :src="admin.web_avatar_url"
                                :alt="admin.name"
                                class="img-fluid rounded-circle"
                            />
                        </div>
                        <a href="#" @click.prevent="logout" title="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div
            class="menu-overlay"
            :class="{ active: show_mobile_menu }"
            @click="hideMenu"
        ></div>
    </div>
</template>

<script>
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["admin", "logout_url"],
    data() {
        return {
            show_mobile_menu: false,
            page_title: "Admin Panel"
        };
    },
    methods: {
        logout() {
            document.getElementById("logout-form").submit();
        },
        showMenu() {
            console.log("show");
            EventBus.$emit("show_mobile_menu");
            this.show_mobile_menu = true;
        },
        hideMenu() {
            EventBus.$emit("hide_mobile_menu");
            this.show_mobile_menu = false;
        }
    },
    created() {
        EventBus.$on("hide_overlay", () => {
            this.show_mobile_menu = false;
        });

        EventBus.$on("set_page_title", title => {
            this.page_title = title;
        });
    }
};
</script>
