<template>
    <MenuForm :form="form" :pages="pages" />
</template>

<script>
import MenuForm from "./MenuForm";

export default {
    props: ["pages", "menu"],
    components: {
        MenuForm,
    },
    data() {
        return {
            form: {
                id: this.menu.id,
                name: this.menu.name,
                links: this.menu.links,
            },
        };
    },
};
</script>
