<template>
    <div class="container fluid">
        <div class="card">
            <div class="card-header">Menus</div>
            <div class="card-body">
                <DataTable :datatable="datatable" />
            </div>
        </div>
    </div>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";

export default {
    props: ["data"],
    components: {
        DataTable
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "menus",
                baseUrl: `${DASHBOARD_BASE_URL}/menus`,
                queryUrl: `${DASHBOARD_BASE_URL}/menus`,
                createUrl: `${DASHBOARD_BASE_URL}/menus/create`,
                noTrash: true,
                search: {
                    keyword: ""
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Name",
                        propertyName: "name"
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time"
                    }
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    type: ["edit", "destroy"]
                }
            }
        };
    }
};
</script>
