<template>
    <draggable
        class="menu-item-container"
        :list="menus"
        :group="{ name: 'g1' }"
    >
        <div class="item-group" v-for="(menu, index) in menus" :key="index">
            <div class="item">
                <div class="item-head" :class="{ show: menu.show_detail }">
                    <div class="d-flex">
                        <span class="mr-1">{{ menu.text }}</span>
                        <span class="text-muted small d-flex align-items-center"
                            >- {{ menu.type }}</span
                        >
                    </div>
                    <div class="icons">
                        <span
                            class="remove text-danger small mr-4"
                            @click="remove(index)"
                        >
                            <i class="far fa-trash-alt"></i>
                        </span>
                        <span
                            class="show-detail"
                            @click="menu.show_detail = !menu.show_detail"
                        >
                            <i
                                v-if="!menu.show_detail"
                                class="fas fa-angle-down"
                            ></i>
                            <i v-else class="fas fa-angle-up"></i>
                        </span>
                    </div>
                </div>
                <div class="item-detail" :class="{ show: menu.show_detail }">
                    <b-row>
                        <b-col lg="6">
                            <b-form-group label="Text">
                                <b-form-input
                                    size="sm"
                                    v-model="menus[index].text"
                                ></b-form-input>
                            </b-form-group>
                            <div v-if="menu.childs.length > 0">
                                <b-form-group label="Mega Menu">
                                    <select
                                        v-model="menus[index].mega_menu"
                                        class="form-control form-control-sm"
                                    >
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </b-form-group>
                                <b-form-group
                                    v-if="menu.mega_menu == 1"
                                    label="Mega Menu Image"
                                >
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input
                                                type="file"
                                                class="custom-file-input"
                                                @change="
                                                    onFileChange(
                                                        $event,
                                                        index,
                                                        'mega_menu_image'
                                                    )
                                                "
                                                placeholder="Drop file here..."
                                            />
                                            <label class="custom-file-label"
                                                >Choose a file</label
                                            >
                                        </div>
                                    </div>
                                    <span
                                        v-if="errors.mega_menu_image"
                                        class="text-danger small"
                                        role="alert"
                                    >
                                        {{ errors.mega_menu_image[0] }}
                                    </span>
                                    <div class="image-preview">
                                        <img
                                            v-if="
                                                menu.mega_menu_image_url != ''
                                            "
                                            :src="menu.mega_menu_image_url"
                                            class="img-fluid mt-2"
                                        />
                                    </div>
                                    <a
                                        v-if="menu.mega_menu_image_url != ''"
                                        href="#"
                                        class="text-danger small"
                                        @click.prevent="
                                            removeMegaMenuImage(index)
                                        "
                                        >Remove</a
                                    >
                                </b-form-group>
                            </div>
                        </b-col>
                        <b-col lg="6">
                            <b-form-group label="Icon Font">
                                <select
                                    v-model="menus[index].icon_font"
                                    class="form-control form-control-sm"
                                >
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </b-form-group>
                            <b-form-group
                                v-if="menu.icon_font == 1"
                                label="Icon"
                            >
                                <b-form-input
                                    size="sm"
                                    v-model="menus[index].icon"
                                ></b-form-input>
                            </b-form-group>
                            <b-form-group v-else label="Icon Image">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            @change="
                                                onFileChange(
                                                    $event,
                                                    index,
                                                    'icon_image'
                                                )
                                            "
                                            placeholder="Drop file here..."
                                        />
                                        <label class="custom-file-label"
                                            >Choose a file</label
                                        >
                                    </div>
                                </div>
                                <span
                                    v-if="errors.icon"
                                    class="text-danger small"
                                    role="alert"
                                >
                                    {{ errors.icon[0] }}
                                </span>
                                <div class="image-preview">
                                    <img
                                        v-if="menu.icon_image_url != ''"
                                        :src="menu.icon_image_url"
                                        class="img-fluid mt-2"
                                    />
                                </div>
                                <a
                                    v-if="menu.icon_image_url != ''"
                                    href="#"
                                    class="text-danger small"
                                    @click.prevent="removeIconImage(index)"
                                    >Remove</a
                                >
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-form-group label="URL">
                        <b-form-input
                            v-if="
                                menu.type == 'custom' ||
                                    menu.type == 'hardcoded'
                            "
                            size="sm"
                            v-model="menus[index].url"
                        ></b-form-input>
                        <span v-else class="text-muted small">
                            <a :href="getUrl(menu)" target="_blank">{{
                                getUrl(menu)
                            }}</a>
                        </span>
                    </b-form-group>
                </div>
            </div>
            <nested-draggable class="item-sub" :menus="menu.childs" />
        </div>
    </draggable>
</template>

<script>
import { EventBus } from "../../../plugins/event-bus";
import SwalMixin from "../../../mixins/swal";

export default {
    props: ["menus"],
    name: "nested-draggable",
    mixins: ["SwalMixin"],
    data() {
        return {
            errors: []
        };
    },
    created() {
        console.log(this.menus);
    },
    methods: {
        remove(index) {
            this.menus.splice(index, 1);
        },
        getUrl(menu) {
            if (menu.type == "custom") {
                return menu.url;
            }

            return `${FRONTEND_BASE_URL}/${menu.type}/${menu.url}`;
        },
        removeMegaMenuImage(index) {
            this.menus[index].mega_menu_image = "";
            this.menus[index].mega_menu_image_url = "";
        },
        removeIconImage(index) {
            this.menus[index].icon_image = "";
            this.menus[index].icon_image_url = "";
        },
        onFileChange(e, index, option_name) {
            EventBus.$emit("show_page_overlay");

            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;

            this.errors = [];

            const fd = new FormData();

            fd.append("type", option_name);
            fd.append("image", files[0], files[0].name);

            axios
                .post(`${DASHBOARD_BASE_URL}/menus/upload-image`, fd)
                .then(res => {
                    if (res.data.status == "success") {
                        var data = res.data;
                        this.$snotify[data.status](data.message, data.status);
                        this.menus[index][option_name] = data.file_name;
                        this.menus[index][option_name + "_url"] = data.file_url;
                    }
                    EventBus.$emit("hide_page_overlay");
                })
                .catch(err => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        this.swalWrong;
                    }
                    EventBus.$emit("hide_page_overlay");
                });
        }
    }
};
</script>
