<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 grid-margin stretch-card mb-3 mb-lg-0">
                <div class="card" title="Menu Type List">
                    <div class="card-body">
                        <div class="card-title">Menu type List</div>
                        <p class="card-description">Select from page type</p>
                        <div role="tablist" id="menu-accordion">
                            <div class="card mb-1">
                                <div class="card-header p-1" role="tab">
                                    <button
                                        type="button"
                                        class="btn btn-primary btn-block"
                                        data-toggle="collapse"
                                        data-target="#menu-pages"
                                        aria-controls="menu-pages"
                                    >
                                        Pages
                                    </button>
                                </div>
                                <div
                                    id="menu-pages"
                                    class="collapse"
                                    data-parent="#menu-accordion"
                                >
                                    <div
                                        class="ms-box d-flex justify-content-between align-items-center p-2"
                                        v-for="(page, index) in pages"
                                        :key="index"
                                    >
                                        <span>{{ page.title }}</span>
                                        <button
                                            class="btn btn-sm btn-dark"
                                            type="button"
                                            @click="addToMenu('page', page)"
                                        >
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-1">
                                <div class="card-header p-1" role="tab">
                                    <button
                                        class="btn btn-block btn-primary"
                                        data-toggle="collapse"
                                        data-target="#menu-custom"
                                        aria-controls="menu-custom"
                                    >
                                        Custom
                                    </button>
                                </div>
                                <div
                                    id="menu-custom"
                                    class="collapse"
                                    data-parent="#menu-accordion"
                                >
                                    <div class="p-3">
                                        <div class="form-group">
                                            <label>Text</label>
                                            <input
                                                class="form-control form-control-sm"
                                                v-model="custom_menu.name"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label>Url</label>
                                            <input
                                                class="form-control form-control-sm"
                                                v-model="custom_menu.url"
                                            />
                                        </div>
                                        <button
                                            class="btn btn-sm btn-dark float-right mb-3"
                                            type="button"
                                            @click="
                                                addToMenu('custom', custom_menu)
                                            "
                                        >
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-1">
                                <div class="card-header p-1" role="tab">
                                    <button
                                        class="btn btn-block btn-primary"
                                        data-toggle="collapse"
                                        data-target="#menu-hardcoded"
                                        aria-controls="menu-hardcoded"
                                    >
                                        Hardcoded Page
                                    </button>
                                </div>
                                <div
                                    id="menu-hardcoded"
                                    class="collapse"
                                    data-parent="#menu-accordion"
                                >
                                    <div class="p-3">
                                        <div class="form-group">
                                            <label>Text</label>
                                            <input
                                                class="form-control form-control-sm"
                                                v-model="hardcoded_menu.name"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label>Slug</label>
                                            <input
                                                class="form-control form-control-sm"
                                                v-model="hardcoded_menu.slug"
                                            />
                                            <small class="form-text text-muted"
                                                >Input only slug without
                                                frontend root url</small
                                            >
                                        </div>
                                        <button
                                            class="btn btn-sm btn-dark float-right mb-3"
                                            type="button"
                                            @click="
                                                addToMenu(
                                                    'hardcoded',
                                                    hardcoded_menu
                                                )
                                            "
                                        >
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Menu</div>
                        <p class="card-description">Selected pages</p>
                        <div class="form-group">
                            <label>Name</label>
                            <input
                                class="form-control"
                                type="text"
                                :class="{ 'is-invalid': errors.name }"
                                v-model="form_data.name"
                                required
                            />
                            <span
                                v-if="errors.name"
                                class="invalid-feedback"
                                role="alert"
                                >{{ errors.name[0] }}</span
                            >
                        </div>
                        <hr />
                        <MenuDraggable :menus="form_data.links" />
                        <button
                            type="button"
                            class="btn btn-primary mt-4 float-right"
                            @click="save"
                            :disabled="saving"
                        >
                            <span v-if="!saving">Save</span>
                            <span v-else>
                                <i class="fas fa-spinner fa-spin"></i>
                                Processing
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MenuDraggable from "./MenuDraggable";

export default {
    props: ["form", "pages"],
    data() {
        return {
            form_data: this.form,
            custom_menu: {
                id: "",
                name: "",
                url: ""
            },
            hardcoded_menu: {
                id: "",
                name: "",
                slug: ""
            },
            not_found: false,
            errors: [],
            saving: false
        };
    },
    components: {
        MenuDraggable
    },
    methods: {
        addToMenu(type, data) {
            // console.log(data);
            var menu = {
                type: type,
                id: data.id,
                text: type != "page" ? data.name : data.title,
                mega_menu: 0,
                mega_menu_image: "",
                mega_menu_image_url: "",
                icon_font: 0,
                icon_image: "",
                icon_image_url: "",
                url: type == "custom" ? data.url : data.slug,
                childs: [],
                show_detail: false
            };

            this.form_data.links.push(menu);
        },
        save() {
            this.errors = [];
            this.saving = true;
            if (this.form.id == "") {
                var request_to_api = axios.post(
                    `${DASHBOARD_BASE_URL}/menus`,
                    this.form_data
                );
            } else {
                var request_to_api = axios.patch(
                    `${DASHBOARD_BASE_URL}/menus/${this.form.id}`,
                    this.form_data
                );
            }

            request_to_api
                .then(res => {
                    if (res.data.status == "success") {
                        window.location.replace(`${DASHBOARD_BASE_URL}/menus`);
                    }
                    this.saving = false;
                })
                .catch(err => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.saving = false;
                });
        }
    }
};
</script>

<style lang="scss" scoped>
.ms-box {
    border-top: 1px solid #e6e6e6;
}
</style>
