<template>
    <MenuForm :form="form" :pages="pages" />
</template>

<script>
import MenuForm from "./MenuForm";

export default {
    props: ["pages"],
    components: {
        MenuForm,
    },
    data() {
        return {
            form: {
                id: "",
                name: "",
                links: [],
            },
        };
    },
};
</script>
