<template>
    <div class="tab-pane active" row="tabpanel">
        <form @submit.prevent="update">
            <b-form-group
                label-cols-lg="3"
                label="English Question Count"
                label-for="english_test_q_count"
            >
                <b-form-input
                    id="english_test_q_count"
                    v-model="form.english_test_q_count"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.english_test_q_count"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.english_test_q_count[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="English Test Session 2 Timer"
                label-for="english_test_session_2_timer"
            >
                <b-form-input
                    id="english_test_session_2_timer"
                    v-model="form.english_test_session_2_timer"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.english_test_session_2_timer"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.english_test_session_2_timer[0] }}</span
                >
            </b-form-group>
            <!-- <b-form-group
                label-cols-lg="3"
                label="English Test Can Re-Do After x Days"
                label-for="english_test_can_retest_after_days"
            >
                <b-form-input
                    id="english_test_can_retest_after_days"
                    v-model="form.english_test_can_retest_after_days"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.english_test_can_retest_after_days"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.english_test_can_retest_after_days[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Personal Test Can Re-Do After x Days"
                label-for="personal_test_can_retest_after_days"
            >
                <b-form-input
                    id="personal_test_can_retest_after_days"
                    v-model="form.personal_test_can_retest_after_days"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.personal_test_can_retest_after_days"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.personal_test_can_retest_after_days[0] }}</span
                >
            </b-form-group> -->
            <b-button
                type="submit"
                variant="primary"
                :disabled="saving"
                class="float-right"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fas fa-spinner fa-spin"></i> Processing
                </span>
            </b-button>
        </form>
    </div>
</template>

<script>
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: {
        english_test_q_count: String,
        // english_test_can_retest_after_days: String,
        english_test_session_2_timer: String
        // personal_test_can_retest_after_days: String
    },
    data() {
        return {
            form: {
                english_test_q_count: this.english_test_q_count,
                // english_test_can_retest_after_days: this
                //     .english_test_can_retest_after_days,
                english_test_session_2_timer: this.english_test_session_2_timer
                // personal_test_can_retest_after_days: this
                //     .personal_test_can_retest_after_days
            },
            errors: [],
            saving: false
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Assessment Configuration");
    },
    methods: {
        update() {
            this.saving = true;
            this.errors = [];

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then(res => {
                    let data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch(err => {
                    console.log(err.response);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        alert("Something went wrong!");
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        }
    }
};
</script>
