<template>
    <div class="tab-pane active" row="tabpanel">
        <form @submit.prevent="update">
            <b-form-group label-cols-lg="3" label="Auth Image">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="auth-image"
                            @change="authImageChange"
                            placeholder="Drop file here..."
                        />
                        <label class="custom-file-label" for="auth-image"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.auth_image"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.auth_image[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.auth_image_url != ''"
                                :src="urls.auth_image_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>
            <b-form-group label-cols-lg="3" label="Auth Image Employer">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="auth-image-employer"
                            @change="authImageEmployerChange"
                            placeholder="Drop file here..."
                        />
                        <label
                            class="custom-file-label"
                            for="auth-image-employer"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.auth_image_employer"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.auth_image_employer[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.auth_image_employer_url != ''"
                                :src="urls.auth_image_employer_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>

            <button
                type="submit"
                class="btn btn-save btn-primary mt-3 float-right"
                :disabled="saving"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fas fa-spinner fa-spin"></i> Processing
                </span>
            </button>
        </form>
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: [
        "auth_image",
        "auth_image_url",
        "auth_image_employer",
        "auth_image_employer_url",
    ],
    mixins: ["SwalMixin"],
    data() {
        return {
            urls: {
                auth_image_url: this.auth_image_url,
                auth_image_employer_url: this.auth_image_employer_url,
            },
            errors: [],
            saving: false,
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Authentication Configuration");
    },
    methods: {
        authImageChange(e) {
            this.uploadFile(e, "auth_image", "auth_image_url");
        },
        authImageEmployerChange(e) {
            this.uploadFile(
                e,
                "auth_image_employer",
                "auth_image_employer_url"
            );
        },
        uploadFile(e, config_name, url_name) {
            EventBus.$emit("show_page_overlay");

            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;

            this.errors = [];

            const fd = new FormData();

            fd.append(config_name, files[0], files[0].name);

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update-file`, fd)
                .then((res) => {
                    var data = res.data;
                    this.urls[url_name] = data.file_url;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        this.swalWrong;
                    }
                })
                .finally(() => {
                    EventBus.$emit("hide_page_overlay");
                });
        },
    },
};
</script>
