<template>
    <div>
        <!-- Featured posts -->
        <div class="tab-pane active" row="tabpanel">
            <b-card no-body class="card-accordion">
                <b-card-header header-tag="header" role="tab">
                    <div class="toggler" v-b-toggle.accordion-ft-posts>
                        <div class="title">Featured Posts</div>
                        <div class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                </b-card-header>
                <b-collapse id="accordion-ft-posts" role="tabpanel">
                    <b-card-body>
                        <b-row>
                            <b-col md="4">
                                <strong>Search Post</strong>
                                <hr />
                                <b-form-input
                                    v-model="ft_post_search_title"
                                    placeholder="Type then hit enter..."
                                    autocomplete="off"
                                    @keyup.enter="searchPost('ft_posts')"
                                    class="mb-2"
                                ></b-form-input>
                                <p v-if="not_found" class="text-danger">
                                    Not found
                                </p>
                                <b-list-group v-else>
                                    <b-list-group-item
                                        v-for="(article,
                                        index) in ft_post_search_result"
                                        :key="index"
                                        class="d-flex justify-content-between align-items-center"
                                    >
                                        {{ article.title }}
                                        <b-button
                                            type="button"
                                            @click="addToFtPost(article)"
                                            variant="outline-secondary"
                                            size="sm"
                                        >
                                            <i
                                                class="fas fa-angle-double-right"
                                            ></i>
                                        </b-button>
                                    </b-list-group-item>
                                </b-list-group>
                            </b-col>
                            <b-col md="8">
                                <strong>Selected Post</strong>
                                <hr />
                                <b-list-group class="mt-2">
                                    <draggable
                                        v-model="selected_ft_posts"
                                        group="company"
                                        @end="updateSelectedFtIds"
                                    >
                                        <b-list-group-item
                                            v-for="(article,
                                            index) in selected_ft_posts"
                                            :key="index"
                                            class="cursor-grab d-flex justify-content-between align-items-center"
                                        >
                                            {{ article.title }}
                                            <b-button
                                                type="button"
                                                @click="
                                                    removeSelectedFtPost(index)
                                                "
                                                variant="danger"
                                                size="sm"
                                            >
                                                <i
                                                    class="far fa-times-circle"
                                                ></i>
                                            </b-button>
                                        </b-list-group-item>
                                    </draggable>
                                </b-list-group>
                                <button
                                    type="button"
                                    class="btn btn-save btn-primary mt-3 float-right"
                                    :disabled="saving"
                                    @click="update"
                                >
                                    <span v-if="!saving">Save</span>
                                    <span v-else>
                                        <i class="fas fa-spinner fa-spin"></i>
                                        Processing
                                    </span>
                                </button>
                            </b-col>
                        </b-row>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>
        <!-- End featured posts -->

        <!-- Popular posts -->
        <div class="tab-pane" row="tabpanel">
            <b-card no-body class="card-accordion">
                <b-card-header header-tag="header" role="tab">
                    <div class="toggler" v-b-toggle.accordion-pop-posts>
                        <div class="title">Popular Posts</div>
                        <div class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                </b-card-header>
                <b-collapse id="accordion-pop-posts" role="tabpanel">
                    <b-card-body>
                        <b-row>
                            <b-col md="4">
                                <strong>Search Post</strong>
                                <hr />
                                <b-form-input
                                    v-model="pop_post_search_title"
                                    placeholder="Type then hit enter..."
                                    autocomplete="off"
                                    @keyup.enter="searchPost('pop_posts')"
                                    class="mb-2"
                                ></b-form-input>
                                <p v-if="not_found" class="text-danger">
                                    Not found
                                </p>
                                <b-list-group v-else>
                                    <b-list-group-item
                                        v-for="(article,
                                        index) in pop_post_search_result"
                                        :key="index"
                                        class="d-flex justify-content-between align-items-center"
                                    >
                                        {{ article.title }}
                                        <b-button
                                            type="button"
                                            @click="addToPopPost(article)"
                                            variant="outline-secondary"
                                            size="sm"
                                        >
                                            <i
                                                class="fas fa-angle-double-right"
                                            ></i>
                                        </b-button>
                                    </b-list-group-item>
                                </b-list-group>
                            </b-col>
                            <b-col md="8">
                                <strong>Selected Post</strong>
                                <hr />
                                <b-list-group class="mt-2">
                                    <draggable
                                        v-model="selected_pop_posts"
                                        group="company"
                                        @end="updateSelectedPopIds"
                                    >
                                        <b-list-group-item
                                            v-for="(article,
                                            index) in selected_pop_posts"
                                            :key="index"
                                            class="cursor-grab d-flex justify-content-between align-items-center"
                                        >
                                            {{ article.title }}
                                            <b-button
                                                type="button"
                                                @click="
                                                    removeSelectedPopPost(index)
                                                "
                                                variant="danger"
                                                size="sm"
                                            >
                                                <i
                                                    class="far fa-times-circle"
                                                ></i>
                                            </b-button>
                                        </b-list-group-item>
                                    </draggable>
                                </b-list-group>
                                <button
                                    type="button"
                                    class="btn btn-save btn-primary mt-3 float-right"
                                    :disabled="saving"
                                    @click="update"
                                >
                                    <span v-if="!saving">Save</span>
                                    <span v-else>
                                        <i class="fas fa-spinner fa-spin"></i>
                                        Processing
                                    </span>
                                </button>
                            </b-col>
                        </b-row>
                    </b-card-body>
                </b-collapse>
            </b-card>
        </div>
        <!-- End popular posts -->
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: [
        "ft_posts_data",
        "featured_post_ids",
        "pop_posts_data",
        "pop_post_ids"
    ],
    mixins: ["SwalMixin"],
    data() {
        return {
            form: {
                featured_posts: JSON.parse(this.featured_post_ids),
                popular_posts: JSON.parse(this.pop_post_ids)
            },
            errors: [],
            saving: false,
            not_found: false,
            ft_post_search_title: "",
            ft_post_search_result: [],
            selected_ft_posts: this.ft_posts_data,
            pop_post_search_title: "",
            pop_post_search_result: [],
            selected_pop_posts: this.pop_posts_data
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Blog Configuration");
    },
    methods: {
        update() {
            this.errors = [];
            this.saving = true;

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then(res => {
                    var data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                    this.saving = false;
                })
                .catch(err => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.saving = false;
                });
        },
        searchPost(type) {
            this.not_found = false;
            const keyword =
                type == "ft_posts"
                    ? this.ft_post_search_title
                    : this.pop_post_search_title;

            axios
                .post(`${APP_BASE_URL}/api/articles-search`, {
                    keyword
                })
                .then(res => {
                    const data = res.data.data;
                    if (type == "ft_posts") {
                        this.ft_post_search_result = data.articles;
                    } else if (type == "pop_posts") {
                        this.pop_post_search_result = data.articles;
                    }
                    if (data.articles.length == 0) {
                        this.not_found = true;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        addToFtPost(article) {
            if (this.form.featured_posts.includes(article.id)) {
                this.swalWarning("Article already in the selected list!");
                return;
            }

            this.form.featured_posts.push(article.id);
            this.selected_ft_posts.push(article);
        },
        addToPopPost(article) {
            if (this.form.popular_posts.includes(article.id)) {
                this.swalWarning("Article already in the selected list!");
                return;
            }

            this.form.popular_posts.push(article.id);
            this.selected_pop_posts.push(article);
        },
        removeSelectedFtPost(index) {
            this.form.featured_posts.splice(index, 1);
            this.selected_ft_posts.splice(index, 1);
        },
        removeSelectedPopPost(index) {
            this.form.popular_posts.splice(index, 1);
            this.selected_pop_posts.splice(index, 1);
        },
        updateSelectedFtIds() {
            var ids = [];
            this.selected_ft_posts.forEach(article => {
                ids.push(article.id);
            });

            this.form.featured_posts = ids;
        },
        updateSelectedPopIds() {
            var ids = [];
            this.selected_pop_posts.forEach(article => {
                ids.push(article.id);
            });

            this.form.popular_posts = ids;
        }
    }
};
</script>
