<template>
    <div class="tab-pane active" row="tabpanel">
        <form @submit.prevent="update">
            <b-form-group
                label-cols-lg="3"
                label="Footer Content"
                label-for="footer-content"
            >
                <b-form-textarea
                    id="footer-content"
                    v-model="form.footer_content"
                    type="text"
                    rows="8"
                ></b-form-textarea>
                <span
                    v-if="errors.footer_content"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.footer_content[0] }}</span
                >
            </b-form-group>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                    >Enable Background Image</label
                >
                <div class="col-sm-9">
                    <select
                        class="form-control"
                        v-model="form.footer_bg_image_enable"
                    >
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>
                    <span
                        v-if="errors.footer_bg_image_enable"
                        class="text-danger small"
                        role="alert"
                    >
                        <strong>{{ errors.footer_bg_image_enable[0] }}</strong>
                    </span>
                </div>
            </div>
            <b-form-group label-cols-lg="3" label="Footer Background">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="footer-bg-image"
                            @change="footerBgChange"
                            placeholder="Drop file here..."
                        />
                        <label class="custom-file-label" for="footer-bg-image"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.footer_bg_image"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.footer_bg_image[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.footer_bg_image_url != ''"
                                :src="urls.footer_bg_image_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>

            <b-button
                type="submit"
                variant="primary"
                :disabled="saving"
                class="float-right"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fas fa-spinner fa-spin"></i> Processing
                </span>
            </b-button>
        </form>
    </div>
</template>

<script>
import { EventBus } from "../../../plugins/event-bus";
import SwalMixin from "../../../mixins/swal";

export default {
    props: {
        footer_content: Object,
        footer_bg_image_enable: String,
        footer_bg_image: String,
        footer_bg_image_url: String,
    },
    mixins: ["SwalMixin"],
    data() {
        return {
            urls: {
                footer_bg_image_url: this.footer_bg_image_url,
            },
            form: {
                footer_content: this.footer_content.the_content,
                footer_bg_image_enable: this.footer_bg_image_enable,
            },
            errors: [],
            saving: false,
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Footer Configuration");
    },
    methods: {
        update() {
            this.saving = true;
            this.errors = [];

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then((res) => {
                    let data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch((err) => {
                    console.log(err.response);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        alert("Something went wrong!");
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
        footerBgChange(e) {
            this.uploadFile(e, "footer_bg_image", "footer_bg_image_url");
        },
        uploadFile(e, config_name, url_name) {
            EventBus.$emit("show_page_overlay");

            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;

            this.errors = [];

            const fd = new FormData();

            fd.append(config_name, files[0], files[0].name);

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update-file`, fd)
                .then((res) => {
                    var data = res.data;
                    this.urls[url_name] = data.file_url;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        this.swalWrong;
                    }
                })
                .finally(() => {
                    EventBus.$emit("hide_page_overlay");
                });
        },
    },
};
</script>