<template>
    <div class="tab-pane active" row="tabpanel">
        <form @submit.prevent="update">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Site Name</label>
                <div class="col-sm-9">
                    <b-form-input v-model="form.site_name"></b-form-input>
                    <span
                        v-if="errors.site_name"
                        class="text-danger small"
                        role="alert"
                        >{{ errors.site_name[0] }}</span
                    >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Site Email</label>
                <div class="col-sm-9">
                    <b-form-input v-model="form.site_email"></b-form-input>
                    <span
                        v-if="errors.site_email"
                        class="text-danger small"
                        role="alert"
                        >{{ errors.site_email[0] }}</span
                    >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                    >Site Contact Email</label
                >
                <div class="col-sm-9">
                    <b-form-input
                        v-model="form.site_contact_email"
                    ></b-form-input>
                    <span
                        v-if="errors.site_contact_email"
                        class="text-danger small"
                        role="alert"
                        >{{ errors.site_contact_email[0] }}</span
                    >
                </div>
            </div>
            <button
                type="submit"
                class="btn btn-save btn-primary mt-3 float-right"
                :disabled="saving"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fas fa-spinner fa-spin"></i> Processing
                </span>
            </button>
        </form>
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["site_name", "site_email", "site_contact_email"],
    mixins: ["SwalMixin"],
    data() {
        return {
            form: {
                site_name: this.site_name,
                site_email: this.site_email,
                site_contact_email: this.site_contact_email
            },
            errors: [],
            saving: false
        };
    },
    created() {
        EventBus.$emit("set_page_title", "General Configuration");
    },
    methods: {
        update() {
            this.errors = [];
            this.saving = true;

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then(res => {
                    var data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                    this.saving = false;
                })
                .catch(err => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.saving = false;
                });
        }
    }
};
</script>
