<template>
    <div class="tab-pane active" row="tabpanel">
        <form @submit.prevent="update">
            <b-row class="mb-3">
                <b-col sm="9" offset-sm="3"><h4>SEO Meta</h4></b-col>
            </b-row>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                    >Homepage Meta Title</label
                >
                <div class="col-sm-9">
                    <b-form-input v-model="form.home_meta_title"></b-form-input>
                    <span
                        v-if="errors.home_meta_title"
                        class="text-danger small"
                        role="alert"
                        >{{ errors.home_meta_title[0] }}</span
                    >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                    >Homepage Meta Description</label
                >
                <div class="col-sm-9">
                    <b-form-textarea
                        v-model="form.home_meta_description"
                        rows="4"
                    ></b-form-textarea>
                    <span
                        v-if="errors.home_meta_description"
                        class="text-danger small"
                        role="alert"
                        >{{ errors.home_meta_description[0] }}</span
                    >
                </div>
            </div>

            <hr />

            <b-row class="mb-3">
                <b-col sm="9" offset-sm="3"><h4>Hero Banner</h4></b-col>
            </b-row>
            <b-form-group label-cols-lg="3" label="Homepage Banner">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="home-banner"
                            @change="homeBannerChange"
                            placeholder="Drop file here..."
                        />
                        <label class="custom-file-label" for="home-banner"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.home_banner"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_banner[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.home_banner_url != ''"
                                :src="urls.home_banner_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>
            <b-form-group label-cols-lg="3" label="Homepage Banner Mobile">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="home-banner-mobile"
                            @change="homeBannerMobileChange"
                            placeholder="Drop file here..."
                        />
                        <label
                            class="custom-file-label"
                            for="home-banner-mobile"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.home_banner_mobile"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_banner_mobile[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.home_banner_mobile_url != ''"
                                :src="urls.home_banner_mobile_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>

            <hr />

            <b-row class="mb-3">
                <b-col sm="9" offset-sm="3"><h4>Section Intro</h4></b-col>
            </b-row>
            <b-form-group label-cols-lg="3" label="Right Image">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="intro-right-image"
                            @change="introRightImageChange"
                            placeholder="Drop file here..."
                        />
                        <label class="custom-file-label" for="intro-right-image"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.intro_right_image"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.intro_right_image[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.intro_right_image_url != ''"
                                :src="urls.intro_right_image_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>
            <b-form-group label-cols-lg="3" label="Intro Left Image">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="intro-left-image"
                            @change="introLeftImageChange"
                            placeholder="Drop file here..."
                        />
                        <label class="custom-file-label" for="intro-left-image"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.intro_left_image"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.intro_left_image[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.intro_left_image_url != ''"
                                :src="urls.intro_left_image_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>

            <hr />

            <b-row class="mb-3">
                <b-col sm="9" offset-sm="3"><h4>Section About</h4></b-col>
            </b-row>
            <b-form-group
                label-cols-lg="3"
                label="Section About Button Link"
                label-for="section-abt-btn-link"
            >
                <b-form-input
                    id="section-abt-btn-link"
                    v-model="form.section_about_btn_link"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.section_about_btn_link"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.section_about_btn_link[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Section About Youtube Link"
                label-for="section-abt-yt-link"
            >
                <b-form-input
                    id="section-abt-yt-link"
                    v-model="form.section_about_yt_link"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.section_about_yt_link"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.section_about_yt_link[0] }}</span
                >
            </b-form-group>
            <b-form-group label-cols-lg="3" label="Section About Video Image">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="section-abt-video-img"
                            @change="abtVideoImgChange"
                            placeholder="Drop file here..."
                        />
                        <label
                            class="custom-file-label"
                            for="section-abt-video-img"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.section_about_video_image"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.section_about_video_image[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.section_about_video_image_url != ''"
                                :src="urls.section_about_video_image_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>

            <hr />

            <b-row class="mb-3">
                <b-col sm="9" offset-sm="3"><h4>Section Join</h4></b-col>
            </b-row>

            <b-form-group label-cols-lg="3" label="Join Banner">
                <div class="input-group">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="home-join-banner"
                            @change="joinBannerChange"
                            placeholder="Drop file here..."
                        />
                        <label class="custom-file-label" for="home-join-banner"
                            >Choose a file</label
                        >
                    </div>
                </div>
                <span
                    v-if="errors.home_join_banner"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_join_banner[0] }}</span
                >
                <b-row>
                    <b-col lg="6">
                        <div class="image-preview">
                            <img
                                v-if="urls.home_join_banner_url != ''"
                                :src="urls.home_join_banner_url"
                                class="img-fluid mt-2"
                            />
                        </div>
                    </b-col>
                </b-row>
            </b-form-group>

            <hr />

            <b-row class="mb-3">
                <b-col sm="9" offset-sm="3"><h4>Section Count</h4></b-col>
            </b-row>

            <b-form-group
                label-cols-lg="3"
                label="Count Value 1"
                label-for="count-value-1"
            >
                <b-form-input
                    id="count-value-1"
                    v-model="form.home_count_1_value"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.home_count_1_value"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_count_1_value[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Count Label 1"
                label-for="count-label-1"
            >
                <b-form-input
                    id="count-label-1"
                    v-model="form.home_count_1_label"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.home_count_1_label"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_count_1_label[0] }}</span
                >
            </b-form-group>

            <b-form-group
                label-cols-lg="3"
                label="Count Value 2"
                label-for="count-value-2"
            >
                <b-form-input
                    id="count-value-2"
                    v-model="form.home_count_2_value"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.home_count_2_value"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_count_2_value[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Count Label 2"
                label-for="count-label-2"
            >
                <b-form-input
                    id="count-label-2"
                    v-model="form.home_count_2_label"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.home_count_2_label"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_count_2_label[0] }}</span
                >
            </b-form-group>

            <b-form-group
                label-cols-lg="3"
                label="Count Value 3"
                label-for="count-value-3"
            >
                <b-form-input
                    id="count-value-3"
                    v-model="form.home_count_3_value"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.home_count_3_value"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_count_3_value[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Count Label 3"
                label-for="count-label-3"
            >
                <b-form-input
                    id="count-label-3"
                    v-model="form.home_count_3_label"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.home_count_3_label"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_count_3_label[0] }}</span
                >
            </b-form-group>

            <b-form-group
                label-cols-lg="3"
                label="Count Value 4"
                label-for="count-value-4"
            >
                <b-form-input
                    id="count-value-4"
                    v-model="form.home_count_4_value"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.home_count_4_value"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_count_4_value[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Count Label 4"
                label-for="count-label-4"
            >
                <b-form-input
                    id="count-label-4"
                    v-model="form.home_count_4_label"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.home_count_4_label"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.home_count_4_label[0] }}</span
                >
            </b-form-group>

            <button
                type="submit"
                class="btn btn-save btn-primary mt-3 float-right"
                :disabled="saving"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fas fa-spinner fa-spin"></i> Processing
                </span>
            </button>
        </form>
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: [
        "home_meta_title",
        "home_meta_description",
        "home_banner",
        "home_banner_url",
        "home_banner_mobile",
        "home_banner_mobile_url",
        "intro_right_image",
        "intro_right_image_url",
        "intro_left_image",
        "intro_left_image_url",
        "section_about_btn_link",
        "section_about_yt_link",
        "section_about_video_image",
        "section_about_video_image_url",
        "home_join_banner",
        "home_join_banner_url",
        "home_count_1_value",
        "home_count_1_label",
        "home_count_2_value",
        "home_count_2_label",
        "home_count_3_value",
        "home_count_3_label",
        "home_count_4_value",
        "home_count_4_label"
    ],
    mixins: ["SwalMixin"],
    data() {
        return {
            urls: {
                section_about_video_image_url: this
                    .section_about_video_image_url,
                home_banner_url: this.home_banner_url,
                home_banner_mobile_url: this.home_banner_mobile_url,
                intro_right_image_url: this.intro_right_image_url,
                intro_left_image_url: this.intro_left_image_url,
                home_join_banner_url: this.home_join_banner_url
            },
            form: {
                home_meta_title: this.home_meta_title,
                home_meta_description: this.home_meta_description,
                section_about_btn_link: this.section_about_btn_link,
                section_about_yt_link: this.section_about_yt_link,
                home_count_1_value: this.home_count_1_value,
                home_count_1_label: this.home_count_1_label,
                home_count_2_value: this.home_count_2_value,
                home_count_2_label: this.home_count_2_label,
                home_count_3_value: this.home_count_3_value,
                home_count_3_label: this.home_count_3_label,
                home_count_4_value: this.home_count_4_value,
                home_count_4_label: this.home_count_4_label
            },
            errors: [],
            saving: false
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Homepage Configuration");
    },
    methods: {
        update() {
            this.errors = [];
            this.saving = true;

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then(res => {
                    var data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch(err => {
                    console.log(err.response);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        alert("Something went wrong!");
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
        abtVideoImgChange(e) {
            this.uploadFile(
                e,
                "section_about_video_image",
                "section_about_video_image_url"
            );
        },
        homeBannerChange(e) {
            this.uploadFile(e, "home_banner", "home_banner_url");
        },
        homeBannerMobileChange(e) {
            this.uploadFile(e, "home_banner_mobile", "home_banner_mobile_url");
        },
        introRightImageChange(e) {
            this.uploadFile(e, "intro_right_image", "intro_right_image_url");
        },
        introLeftImageChange(e) {
            this.uploadFile(e, "intro_left_image", "intro_left_image_url");
        },
        joinBannerChange(e) {
            this.uploadFile(e, "home_join_banner", "home_join_banner_url");
        },
        uploadFile(e, config_name, url_name) {
            EventBus.$emit("show_page_overlay");

            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;

            this.errors = [];

            const fd = new FormData();

            fd.append(config_name, files[0], files[0].name);

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update-file`, fd)
                .then(res => {
                    var data = res.data;
                    this.urls[url_name] = data.file_url;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch(err => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        this.swalWrong;
                    }
                })
                .finally(() => {
                    EventBus.$emit("hide_page_overlay");
                });
        }
    }
};
</script>
