<template>
    <div class="tab-pane active" row="tabpanel">
        <b-card no-body class="card-accordion">
            <b-card-header header-tag="header" role="tab">
                <div class="toggler" v-b-toggle.accordion-companies>
                    <div class="title">Recomended Companies</div>
                    <div class="arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </b-card-header>
            <b-collapse id="accordion-companies" role="tabpanel">
                <b-card-body>
                    <b-row>
                        <b-col md="4">
                            <strong>Search Company</strong>
                            <hr />
                            <b-form-input
                                v-model="company_name"
                                placeholder="Type then hit enter..."
                                autocomplete="off"
                                @keyup.enter="searchCompany"
                                class="mb-2"
                            ></b-form-input>
                            <p v-if="not_found" class="text-danger">
                                Not found
                            </p>
                            <b-list-group v-else>
                                <b-list-group-item
                                    v-for="(company, index) in companies"
                                    :key="index"
                                    class="d-flex justify-content-between align-items-center"
                                >
                                    {{ company.name }}
                                    <b-button
                                        type="button"
                                        @click="addToSelected(company)"
                                        variant="outline-secondary"
                                        size="sm"
                                    >
                                        <i
                                            class="fas fa-angle-double-right"
                                        ></i>
                                    </b-button>
                                </b-list-group-item>
                            </b-list-group>
                        </b-col>
                        <b-col md="8">
                            <strong>Selected Company</strong>
                            <hr />
                            <b-list-group class="mt-2">
                                <draggable
                                    v-model="selected_companies"
                                    group="company"
                                    @end="updateSelectedIds"
                                >
                                    <b-list-group-item
                                        v-for="(company,
                                        index) in selected_companies"
                                        :key="index"
                                        class="cursor-grab d-flex justify-content-between align-items-center"
                                    >
                                        {{ company.name }}
                                        <b-button
                                            type="button"
                                            @click="removeSelected(index)"
                                            variant="danger"
                                            size="sm"
                                        >
                                            <i class="far fa-times-circle"></i>
                                        </b-button>
                                    </b-list-group-item>
                                </draggable>
                            </b-list-group>
                        </b-col>
                    </b-row>
                </b-card-body>
            </b-collapse>
        </b-card>

        <button
            type="button"
            class="btn btn-save btn-primary mt-3 float-right"
            :disabled="saving"
            @click="update"
        >
            <span v-if="!saving">Save</span>
            <span v-else>
                <i class="fas fa-spinner fa-spin"></i> Processing
            </span>
        </button>
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["jf_companies", "jf_companies_data"],
    mixins: ["SwalMixin"],
    data() {
        return {
            form: {
                jf_companies: JSON.parse(this.jf_companies)
            },
            errors: [],
            saving: false,
            not_found: false,
            company_name: "",
            companies: [],
            selected_companies: this.jf_companies_data
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Job Filters Configuration");
        console.log(this.jf_companies_data);
    },
    methods: {
        update() {
            this.errors = [];
            this.saving = true;

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then(res => {
                    var data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                    this.saving = false;
                })
                .catch(err => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.saving = false;
                });
        },
        searchCompany() {
            this.not_found = false;
            axios
                .post(`${APP_BASE_URL}/api/companies-search`, {
                    name: this.company_name
                })
                .then(res => {
                    console.log(res.data.data);
                    this.companies = res.data.data;
                    if (this.companies.length == 0) {
                        this.not_found = true;
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        },
        addToSelected(company) {
            if (this.form.jf_companies.includes(company.id)) {
                this.swalWarning("Company already in the selected list!");
                return;
            }

            this.form.jf_companies.push(company.id);
            this.selected_companies.push(company);
        },
        removeSelected(index) {
            this.form.jf_companies.splice(index, 1);
            this.selected_companies.splice(index, 1);
        },
        updateSelectedIds() {
            var ids = [];
            this.selected_companies.forEach(company => {
                ids.push(company.id);
            });

            this.form.jf_companies = ids;
        }
    }
};
</script>
