<template>
    <div class="tab-pane active" row="tabpanel">
        <form @submit.prevent="update">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Locale</label>
                <div class="col-sm-9">
                    <select class="form-control" v-model="form.locale">
                        <option v-for="(locale, i) in locales" :key="i" :value="locale">{{ locale }}</option>
                    </select>
                    <span v-if="errors.locale" class="text-danger small" role="alert">
                        <strong>{{ errors.locale[0] }}</strong>
                    </span>
                </div>
            </div>
            <button
                type="submit"
                class="btn btn-save btn-primary mt-3 float-right"
                :disabled="saving"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fas fa-spinner fa-spin"></i> Processing
                </span>
            </button>
        </form>
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["configs", "locales"],
    mixins: ["SwalMixin"],
    data() {
        return {
            form: {
                locale: this.configs.locale,
            },
            errors: [],
            saving: false,
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Formatting Configuration");
    },
    methods: {
        update() {
            this.errors = [];
            this.saving = true;

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then((res) => {
                    var data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                    this.saving = false;
                })
                .catch((err) => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.saving = false;
                });
        },
    },
};
</script>
