<template>
    <div class="tab-pane active" row="tabpanel">
        <b-card no-body class="card-accordion">
            <b-card-header header-tag="header" role="tab">
                <div class="toggler" v-b-toggle.accordion-files>
                    <div class="title">Logo & Favicon File</div>
                    <div class="arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </b-card-header>
            <b-collapse id="accordion-files" role="tabpanel">
                <b-card-body>
                    <b-row>
                        <b-col md="6" class="mb-3">
                            <div class="logo-item">
                                <div class="logo-type">Logo 1</div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="logo1"
                                            @change="
                                                onFileChange($event, 'logo1')
                                            "
                                            placeholder="Drop file here..."
                                        />
                                        <label class="custom-file-label" for="logo1">Choose a file</label>
                                    </div>
                                </div>
                                <span
                                    v-if="errors.logo1"
                                    class="text-danger small"
                                    role="alert"
                                >{{ errors.logo1[0] }}</span>
                                <div class="image-preview">
                                    <img
                                        v-if="urls.logo1 != ''"
                                        :src="urls.logo1"
                                        class="img-fluid mt-2"
                                    />
                                </div>
                            </div>
                        </b-col>
                        <b-col md="6" class="mb-3">
                            <div class="logo-item">
                                <div class="logo-type">Logo 2</div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="logo2"
                                            @change="
                                                onFileChange($event, 'logo2')
                                            "
                                            placeholder="Drop file here..."
                                        />
                                        <label class="custom-file-label" for="logo2">Choose a file</label>
                                    </div>
                                </div>
                                <span
                                    v-if="errors.logo2"
                                    class="text-danger small"
                                    role="alert"
                                >{{ errors.logo2[0] }}</span>
                                <div class="image-preview">
                                    <img
                                        v-if="urls.logo2 != ''"
                                        :src="urls.logo2"
                                        class="img-fluid mt-2"
                                    />
                                </div>
                            </div>
                        </b-col>
                        <b-col md="6" class="mb-3">
                            <div class="logo-item">
                                <div class="logo-type">Logo 3</div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="logo3"
                                            @change="
                                                onFileChange($event, 'logo3')
                                            "
                                            placeholder="Drop file here..."
                                        />
                                        <label class="custom-file-label" for="logo3">Choose a file</label>
                                    </div>
                                </div>
                                <span
                                    v-if="errors.logo3"
                                    class="text-danger small"
                                    role="alert"
                                >{{ errors.logo3[0] }}</span>
                                <div class="image-preview">
                                    <img
                                        v-if="urls.logo3 != ''"
                                        :src="urls.logo3"
                                        class="img-fluid mt-2"
                                    />
                                </div>
                            </div>
                        </b-col>
                        <b-col md="6" class="mb-3">
                            <div class="logo-item">
                                <div class="logo-type">Logo Square</div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="logo_square"
                                            @change="
                                                onFileChange(
                                                    $event,
                                                    'logo_square'
                                                )
                                            "
                                            placeholder="Drop file here..."
                                        />
                                        <label
                                            class="custom-file-label"
                                            for="logo_square"
                                        >Choose a file</label>
                                    </div>
                                </div>
                                <span
                                    v-if="errors.logo_square"
                                    class="text-danger small"
                                    role="alert"
                                >{{ errors.logo_square[0] }}</span>
                                <div class="image-preview">
                                    <img
                                        v-if="urls.logo_square != ''"
                                        :src="urls.logo_square"
                                        class="img-fluid mt-2"
                                    />
                                </div>
                            </div>
                        </b-col>
                        <b-col md="6" class="mb-3">
                            <div class="logo-item">
                                <div class="logo-type">Favicon</div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input
                                            type="file"
                                            class="custom-file-input"
                                            id="favicon"
                                            @change="
                                                onFileChange($event, 'favicon')
                                            "
                                            placeholder="Drop file here..."
                                        />
                                        <label class="custom-file-label" for="favicon">Choose a file</label>
                                    </div>
                                </div>
                                <span
                                    v-if="errors.favicon"
                                    class="text-danger small"
                                    role="alert"
                                >{{ errors.favicon[0] }}</span>
                                <div class="image-preview">
                                    <img
                                        v-if="urls.favicon != ''"
                                        :src="urls.favicon"
                                        class="img-fluid mt-2"
                                    />
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                </b-card-body>
            </b-collapse>
        </b-card>

        <b-card no-body class="card-accordion">
            <b-card-header header-tag="header" role="tab">
                <div class="toggler" v-b-toggle.accordion-assign-logo>
                    <div class="title">Assign Logo</div>
                    <div class="arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </b-card-header>
            <b-collapse id="accordion-assign-logo" role="tabpanel">
                <div class="card-body">
                    <form @submit.prevent="update">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Admin Logo</label>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="form.admin_logo">
                                    <option value="logo1">Logo 1</option>
                                    <option value="logo2">Logo 2</option>
                                    <option value="logo3">Logo 3</option>
                                    <option value="logo_square">Logo Square</option>
                                </select>
                                <span
                                    v-if="errors.admin_logo"
                                    class="text-danger small"
                                    role="alert"
                                >
                                    <strong>{{ errors.admin_logo[0] }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Frontend Logo</label>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="form.frontend_logo">
                                    <option value="logo1">Logo 1</option>
                                    <option value="logo2">Logo 2</option>
                                    <option value="logo3">Logo 3</option>
                                    <option value="logo_square">Logo Square</option>
                                </select>
                                <span
                                    v-if="errors.frontend_logo"
                                    class="text-danger small"
                                    role="alert"
                                >
                                    <strong>
                                        {{
                                        errors.frontend_logo[0]
                                        }}
                                    </strong>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email Logo</label>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="form.email_logo">
                                    <option value="logo1">Logo 1</option>
                                    <option value="logo2">Logo 2</option>
                                    <option value="logo3">Logo 3</option>
                                    <option value="logo_square">Logo Square</option>
                                </select>
                                <span
                                    v-if="errors.email_logo"
                                    class="text-danger small"
                                    role="alert"
                                >
                                    <strong>{{ errors.email_logo[0] }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Invoice Logo</label>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="form.invoice_logo">
                                    <option value="logo1">Logo 1</option>
                                    <option value="logo2">Logo 2</option>
                                    <option value="logo3">Logo 3</option>
                                    <option value="logo_square">Logo Square</option>
                                </select>
                                <span
                                    v-if="errors.invoice_logo"
                                    class="text-danger small"
                                    role="alert"
                                >
                                    <strong>
                                        {{
                                        errors.invoice_logo[0]
                                        }}
                                    </strong>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Light Logo</label>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="form.light_logo">
                                    <option value="logo1">Logo 1</option>
                                    <option value="logo2">Logo 2</option>
                                    <option value="logo3">Logo 3</option>
                                    <option value="logo_square">Logo Square</option>
                                </select>
                                <span
                                    v-if="errors.light_logo"
                                    class="text-danger small"
                                    role="alert"
                                >
                                    <strong>{{ errors.light_logo[0] }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Dark Logo</label>
                            <div class="col-sm-9">
                                <select class="form-control" v-model="form.dark_logo">
                                    <option value="logo1">Logo 1</option>
                                    <option value="logo2">Logo 2</option>
                                    <option value="logo3">Logo 3</option>
                                    <option value="logo_square">Logo Square</option>
                                </select>
                                <span
                                    v-if="errors.dark_logo"
                                    class="text-danger small"
                                    role="alert"
                                >
                                    <strong>{{ errors.dark_logo[0] }}</strong>
                                </span>
                            </div>
                        </div>

                        <button
                            type="submit"
                            class="btn btn-save btn-primary mt-3 float-right"
                            :disabled="saving"
                        >
                            <span v-if="!saving">Save</span>
                            <span v-else>
                                <i class="fas fa-spinner fa-spin"></i>
                                Processing
                            </span>
                        </button>

                        <div class="clearfix"></div>
                    </form>
                </div>
            </b-collapse>
        </b-card>
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: [
        "logo1",
        "logo2",
        "logo3",
        "logo_square",
        "favicon",
        "admin_logo",
        "frontend_logo",
        "email_logo",
        "invoice_logo",
        "light_logo",
        "dark_logo",
        "logo1_url",
        "logo2_url",
        "logo3_url",
        "logo_square_url",
        "favicon_url"
    ],
    mixins: ["SwalMixin"],
    data() {
        return {
            urls: {
                logo1: this.logo1_url,
                logo2: this.logo2_url,
                logo3: this.logo3_url,
                logo_square: this.logo_square_url,
                favicon: this.favicon_url
            },
            form: {
                admin_logo: this.admin_logo,
                frontend_logo: this.frontend_logo,
                email_logo: this.email_logo,
                invoice_logo: this.invoice_logo,
                light_logo: this.light_logo,
                dark_logo: this.dark_logo
            },
            errors: [],
            saving: false
        };
    },
    methods: {
        onFileChange(e, option_name) {
            EventBus.$emit("show_page_overlay");

            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;

            this.errors = [];

            const fd = new FormData();

            fd.append(option_name, files[0], files[0].name);

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update-file`, fd)
                .then(res => {
                    if (res.data.status == "success") {
                        var data = res.data;
                        this.$snotify[data.status](data.message, data.status);
                        this.urls[option_name] = data.file_url;
                    }
                    EventBus.$emit("hide_page_overlay");
                })
                .catch(err => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        this.swalWrong;
                    }
                    EventBus.$emit("hide_page_overlay");
                });
        },
        update() {
            this.errors = [];
            this.saving = true;

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then(res => {
                    var data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                    this.saving = false;
                })
                .catch(err => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.saving = false;
                });
        }
    }
};
</script>

<style lang="scss" scoped>
.logo-item {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 15px;
    background: #e6e6e6;

    .logo-type {
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .image-preview {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        max-height: 90px;

        img {
            max-height: 90px;
        }
    }
}
</style>
