<template>
    <div class="tab-pane active" row="tabpanel">
        <form @submit.prevent="update">
            <b-form-group
                label-cols-lg="3"
                label="Top Menu"
                label-for="top-menu"
            >
                <select
                    id="top-menu"
                    class="form-control"
                    v-model="form.top_menu"
                >
                    <option
                        v-for="(menu, i) in menus"
                        :key="i"
                        :value="menu.id"
                    >
                        {{ menu.name }}
                    </option>
                </select>
                <span
                    v-if="errors.top_menu"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.top_menu[0] }}</span
                >
            </b-form-group>

            <b-form-group
                label-cols-lg="3"
                label="Footer Menu"
                label-for="footer-menu"
            >
                <select
                    id="footer-menu"
                    class="form-control"
                    v-model="form.footer_menu"
                >
                    <option
                        v-for="(menu, i) in menus"
                        :key="i"
                        :value="menu.id"
                    >
                        {{ menu.name }}
                    </option>
                </select>
                <span
                    v-if="errors.footer_menu"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.footer_menu[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Top Menu Employer"
                label-for="top-menu-employer"
            >
                <select
                    id="top-menu"
                    class="form-control"
                    v-model="form.top_menu_employer"
                >
                    <option
                        v-for="(menu, i) in menus"
                        :key="i"
                        :value="menu.id"
                    >
                        {{ menu.name }}
                    </option>
                </select>
                <span
                    v-if="errors.top_menu_employer"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.top_menu_employer[0] }}</span
                >
            </b-form-group>

            <button
                type="submit"
                class="btn btn-save btn-primary mt-3 float-right"
                :disabled="saving"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fas fa-spinner fa-spin"></i> Processing
                </span>
            </button>
        </form>
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: {
        menus: Array,
        top_menu: String,
        footer_menu: String,
        top_menu_employer: String,
    },
    mixins: ["SwalMixin"],
    data() {
        return {
            form: {
                top_menu: this.top_menu,
                footer_menu: this.footer_menu,
                top_menu_employer: this.top_menu_employer,
            },
            errors: [],
            saving: false,
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Menu Configuration");
    },
    methods: {
        update() {
            this.errors = [];
            this.saving = true;

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then((res) => {
                    var data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch((err) => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
};
</script>
