<template>
    <div class="tab-pane active" row="tabpanel">
        <form @submit.prevent="update">
            <b-form-group
                label-cols-lg="3"
                label="Youtube"
                label-for="youtube-link"
            >
                <b-form-input
                    id="youtube-link"
                    v-model="form.youtube_link"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.youtube_link"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.youtube_link[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Instagram"
                label-for="instagram-link"
            >
                <b-form-input
                    id="instagram-link"
                    v-model="form.instagram_link"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.instagram_link"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.instagram_link[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Twitter"
                label-for="twitter-link"
            >
                <b-form-input
                    id="twitter-link"
                    v-model="form.twitter_link"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.twitter_link"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.twitter_link[0] }}</span
                >
            </b-form-group>
            <b-form-group
                label-cols-lg="3"
                label="Facebook"
                label-for="facebook-link"
            >
                <b-form-input
                    id="facebook-link"
                    v-model="form.facebook_link"
                    type="text"
                ></b-form-input>
                <span
                    v-if="errors.facebook_link"
                    class="text-danger small"
                    role="alert"
                    >{{ errors.facebook_link[0] }}</span
                >
            </b-form-group>
            <b-button
                type="submit"
                variant="primary"
                :disabled="saving"
                class="float-right"
            >
                <span v-if="!saving">Save</span>
                <span v-else>
                    <i class="fas fa-spinner fa-spin"></i> Processing
                </span>
            </b-button>
        </form>
    </div>
</template>

<script>
export default {
    props: {
        youtube_link: String,
        instagram_link: String,
        twitter_link: String,
        facebook_link: String,
    },
    data() {
        return {
            form: {
                youtube_link: this.youtube_link,
                instagram_link: this.instagram_link,
                twitter_link: this.twitter_link,
                facebook_link: this.facebook_link,
            },
            errors: [],
            saving: false,
        };
    },
    created() {
        EventBus.$emit("set_page_title", "Social Media Configuration");
    },
    methods: {
        update() {
            this.saving = true;
            this.errors = [];

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, this.form)
                .then((res) => {
                    let data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch((err) => {
                    console.log(err.response);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        alert("Something went wrong!");
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
};
</script>