<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Education Degrees");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "education_degrees",
                baseUrl: `${DASHBOARD_BASE_URL}/education/education-degrees`,
                queryUrl: `${DASHBOARD_BASE_URL}/education/education-degrees`,
                createUrl: `${DASHBOARD_BASE_URL}/education/education-degrees/create`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/education/education-degrees`,
                    trashed: `${DASHBOARD_BASE_URL}/education/education-degrees/trashed`,
                },
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                },
                filterFields: {},
                cols: [
                    { name: "cb", propertyName: "id" },
                    {
                        name: "Name",
                        propertyName: "name",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    type: ["edit", "destroy"],
                },
            },
        };
    },
};
</script>
