<template>
    <div class="mb-4">
        <div v-if="showForm">
            <div class="card">
                <div class="card__body">
                    <form @submit.prevent="invite" class="form">
                        <div class="clearfix mxn1">
                            <div
                                class="col col-12 sm-col-12 md-col-4 lg-col-4 px1"
                            >
                                <div class="form__group">
                                    <input
                                        type="text"
                                        class="form__control"
                                        name="name"
                                        id="name"
                                        placeholder="Nama"
                                        v-model="form.name"
                                        @blur="$v.form.name.$touch()"
                                    />
                                    <span
                                        v-if="
                                            errors.name || $v.form.name.$invalid
                                        "
                                        class="invalid-feedback"
                                        role="alert"
                                    >
                                        <span v-if="errors.name">{{
                                            errors.name[0]
                                        }}</span>
                                        <span v-if="$v.form.name.$error"
                                            >Required field!</span
                                        >
                                    </span>
                                </div>
                            </div>
                            <div
                                class="col col-12 sm-col-12 md-col-4 lg-col-4 px1"
                            >
                                <div class="form__group">
                                    <input
                                        type="text"
                                        class="form__control"
                                        name="email"
                                        id="email"
                                        placeholder="Email"
                                        v-model="form.email"
                                        @blur="$v.form.email.$touch()"
                                    />
                                    <span
                                        v-if="
                                            errors.email ||
                                            $v.form.email.$invalid
                                        "
                                        class="invalid-feedback"
                                        role="alert"
                                    >
                                        <span v-if="errors.email">{{
                                            errors.email[0]
                                        }}</span>
                                        <span v-if="$v.form.email.$error"
                                            >Required field and valid
                                            email!</span
                                        >
                                    </span>
                                </div>
                            </div>
                            <div
                                class="col col-12 sm-col-12 md-col-4 lg-col-4 px1"
                            >
                                <div class="form__group">
                                    <v-select
                                        label="description"
                                        :options="role_options"
                                        @input="roleChange"
                                        placeholder="Role"
                                    ></v-select>
                                    <span
                                        v-if="
                                            errors.role || $v.form.role.$invalid
                                        "
                                        class="invalid-feedback"
                                        role="alert"
                                    >
                                        <span v-if="errors.role">{{
                                            errors.role[0]
                                        }}</span>
                                        <span v-if="$v.form.role.$error"
                                            >Required field!</span
                                        >
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="flex right">
                            <button
                                type="button"
                                @click="showForm = false"
                                class="btn btn-outline btn-outline--primary mr-3"
                                :disabled="saving"
                            >
                                Batal
                            </button>
                            <button
                                type="submit"
                                class="btn btn--primary"
                                :disabled="$v.$invalid || saving"
                            >
                                <span v-if="!saving">Undang</span>
                                <span v-else>Memproses</span>
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <button
            v-else
            type="button"
            @click="showForm = true"
            class="btn btn--primary"
        >
            <i class="icon-plus"></i> Tambah
        </button>
    </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
import { EventBus } from "../../../../../../../../../resources/js/plugins/event-bus";

export default {
    props: {
        role_options: Array,
    },
    data() {
        return {
            showForm: false,
            saving: false,
            errors: [],
            form: {
                name: "",
                email: "",
                role: "",
            },
        };
    },
    validations: {
        form: {
            name: { required },
            email: { required, email },
            role: { required },
        },
    },
    methods: {
        roleChange(value) {
            this.form.role = value.value;
        },
        invite() {
            EventBus.$emit("show-loading-block");
            this.saving = true;
            this.errors = [];

            axios
                .post(`${APP_BASE_URL}/employer/team/invite`, this.form)
                .then((res) => {
                    let data = res.data;
                    let team = data.data;
                    this.$emit("invited", team);
                    this.swalToast(data.status, data.message);
                    this.form.name = "";
                    this.form.email = "";
                    this.form.role = "";
                    this.showForm = false;
                })
                .catch((err) => {
                    console.log(err.response);
                    if (err.response.status == 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        this.swalWrong();
                    }
                })
                .finally(() => {
                    this.saving = false;
                    EventBus.$emit("hide-loading-block");
                });
        },
    },
};
</script>