<template>
    <div>
        <AddEmployer :role_options="role_options" @invited="invited" />

        <div class="clearfix mt-4 mxn1">
            <div
                v-for="(employer, i) in team_data"
                :key="i"
                class="col col-12 sm-col-6 md-col-4 lg-col-4 px1"
            >
                <div class="card card--user">
                    <div class="card__avatar">
                        <img
                            :src="employer.avatar_url"
                            :alt="employer.name"
                            class="img-fluid"
                        />
                    </div>
                    <div class="card__body">
                        <dl>
                            <dt>Name</dt>
                            <dd>{{ employer.name }}</dd>

                            <dt>Email</dt>
                            <dd>{{ employer.email }}</dd>

                            <dt>Role</dt>
                            <dd>
                                <div :id="`role-text-${i}`">
                                    {{ employer.role.description }}
                                    <a
                                        v-if="
                                            employer.role.value !=
                                            'super-administrator'
                                        "
                                        href="#"
                                        @click.prevent="editRole(i)"
                                        ><i class="icon-edit"></i
                                    ></a>
                                </div>
                                <div
                                    v-if="
                                        employer.role.value !=
                                        'super-administrator'
                                    "
                                    :id="`role-update-${i}`"
                                    class="hide"
                                >
                                    <v-select
                                        label="description"
                                        :options="role_options"
                                        @input="
                                            (value) =>
                                                roleUpdate(value, employer, i)
                                        "
                                        v-model="selected_role"
                                        placeholder="Pilih role"
                                    ></v-select>
                                    <a
                                        href="#"
                                        @click.prevent="cancelEditRole(i)"
                                        ><small>Batal edit</small></a
                                    >
                                </div>
                            </dd>
                        </dl>
                        <a
                            href="#"
                            @click.prevent="showMore(i)"
                            :id="`show-more-toggle-${i}`"
                            ><small>Show more</small></a
                        >
                        <div :id="`emp-${i}`" class="hide">
                            <dl>
                                <dt>Phone</dt>
                                <dd>{{ employer.phone }}</dd>

                                <dt>Jenis Kelamin</dt>
                                <dd>{{ employer.gender.text }}</dd>

                                <dt>Tanggal Lahir</dt>
                                <dd>{{ employer.dob }}</dd>
                            </dl>
                            <a href="#" @click.prevent="showLess(i)"
                                ><small>Show less</small></a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AddEmployer from "./AddEmployer";
import { EventBus } from "../../../../../../../../../resources/js/plugins/event-bus.js";

export default {
    props: {
        team: Array,
    },
    data() {
        return {
            team_data: this.team,
            role_options: [
                {
                    description: "Administrator",
                    key: "Administrator",
                    value: "administrator",
                },
                {
                    description: "Reqruiter",
                    key: "Reqruiter",
                    value: "reqruiter",
                },
            ],
            selected_role: null,
        };
    },
    components: {
        AddEmployer,
    },
    methods: {
        showMore(num) {
            document.getElementById(`emp-${num}`).classList.remove("hide");
            document
                .getElementById(`show-more-toggle-${num}`)
                .classList.add("hide");
        },
        showLess(num) {
            document.getElementById(`emp-${num}`).classList.add("hide");
            document
                .getElementById(`show-more-toggle-${num}`)
                .classList.remove("hide");
        },
        editRole(num) {
            document
                .getElementById(`role-update-${num}`)
                .classList.remove("hide");
        },
        cancelEditRole(num) {
            document.getElementById(`role-update-${num}`).classList.add("hide");
        },
        roleUpdate(value, employer, i) {
            console.log(value.value);
            console.log(employer.role);

            if (value.value == employer.role.value) {
                this.cancelEditRole(i);
                this.selected_role = null;
                return;
            }

            EventBus.$emit("show-loading-block");

            axios
                .post(
                    `${APP_BASE_URL}/employer/team/${employer.id}/role-update`,
                    {
                        role: value.value,
                    }
                )
                .then((res) => {
                    console.log(res);
                    let employer = res.data.data;
                    document.getElementById(`role-text-${i}`).innerHTML =
                        employer.role.description;
                })
                .catch((err) => {
                    console.log(err.response);
                    this.swalWrong();
                })
                .finally(() => {
                    EventBus.$emit("hide-loading-block");
                    this.cancelEditRole(i);
                });
        },
        invited(data) {
            this.team_data = data;
        },
    },
};
</script>