<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable
    },
    created() {
        EventBus.$emit("set_page_title", "Company Reviews");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "reviews",
                baseUrl: `${DASHBOARD_BASE_URL}/company-reviews`,
                queryUrl: `${DASHBOARD_BASE_URL}/company-reviews`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/company-reviews`,
                    trashed: `${DASHBOARD_BASE_URL}/company-reviews/trashed`
                },
                default_start_date: "",
                default_end_date: "",
                search: {
                    user_name: "",
                    user_email: "",
                    company_name: "",
                    start_date: "",
                    end_date: "",
                    rating: "",
                    published: ""
                },
                filterFields: {
                    user_name: {
                        name: "User Name",
                        type: "input"
                    },
                    user_email: {
                        name: "User Email",
                        type: "input"
                    },
                    company_name: {
                        name: "Company",
                        type: "input"
                    },
                    daterange: true,
                    rating: {
                        name: "Rating",
                        type: "select",
                        options: [
                            { value: 1, text: 1 },
                            { value: 2, text: 2 },
                            { value: 3, text: 3 },
                            { value: 4, text: 4 },
                            { value: 5, text: 5 }
                        ]
                    },
                    published: {
                        name: "Published",
                        type: "select",
                        options: [
                            { value: "false", text: "No" },
                            { value: "true", text: "Yes" }
                        ]
                    }
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    {
                        name: "User Name",
                        propertyName: "user.name"
                    },
                    {
                        name: "User Email",
                        propertyName: "user.email"
                    },
                    { name: "Company", propertyName: "company.name" },
                    {
                        name: "Rating",
                        propertyName: "rating"
                    },
                    {
                        name: "Published",
                        propertyName: "published",
                        type: "boolean"
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time"
                    }
                ],
                actions: {
                    addTo: "User Name",
                    propertyName: "id",
                    type: ["edit", "destroy"]
                }
            }
        };
    }
};
</script>
