<template>
    <form @submit.prevent="save">
        <dl>
            <dt>Company</dt>
            <dd>{{ review.company.name }}</dd>
            <dt>User</dt>
            <dd>{{ review.user.name }}<br />{{ review.user.email }}</dd>
            <dt>Job Status</dt>
            <dd>{{ review.job_status.description }}</dd>
            <dt>Employment Status</dt>
            <dd>{{ review.employment_status.description }}</dd>
            <dt>Job Title</dt>
            <dd>{{ review.job_title }}</dd>
            <dt>Rating</dt>
            <dd>{{ review.rating }}</dd>
            <dt>Review</dt>
            <dd>{{ review.review }}</dd>
            <dt>Created At</dt>
            <dd>{{ review.created_at }}</dd>
        </dl>

        <div class="form-group">
            <label class="label"><strong>Published</strong></label>
            <div class="custom-control custom-switch">
                <input
                    type="checkbox"
                    class="custom-control-input"
                    id="r-form-published"
                    v-model="form.published"
                />
                <label class="custom-control-label" for="r-form-published">{{
                    form.published ? "Yes" : "No"
                }}</label>
            </div>
            <span v-if="errors.published" class="text-danger" role="alert">{{
                errors.published[0]
            }}</span>
        </div>

        <hr />

        <button
            type="submit"
            class="btn btn-primary float-right"
            :disabled="processing"
        >
            <span v-if="!processing">Save</span>
            <span v-else>
                <i class="fas fa-spinner fa-spin" aria-hidden="true"></i>
                Processing
            </span>
        </button>
    </form>
</template>

<script>
export default {
    props: ["review"],
    data() {
        return {
            form: {
                published: this.review.published
            },
            errors: [],
            processing: false
        };
    },
    methods: {
        save() {
            this.errors = [];
            this.processing = true;

            axios
                .patch(
                    `${DASHBOARD_BASE_URL}/company-reviews/${this.review.id}`,
                    this.form
                )
                .then(res => {
                    const data = res.data;
                    this.swalSuccess(data.message);
                })
                .catch(err => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.processing = false;
                });
        }
    }
};
</script>
