<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="card">
                    <div class="card-header">Edit Review</div>
                    <div class="card-body">
                        <CompanyReviewForm :review="review" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CompanyReviewForm from "./CompanyReviewForm";

export default {
    props: ["review"],
    components: {
        CompanyReviewForm
    }
};
</script>
