.card-accordion {
    box-shadow: none !important;
    margin-bottom: 5px;

    .card-header {
        background: $primary !important;
        border-bottom: 1px solid #dfdfdf !important;
        padding: 0.5rem 0.8rem;
        font-size: 15px !important;
        border-radius: 0 !important;
        color: #ffffff;
        text-transform: none !important;

        .toggler {
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            .title {
                font-weight: bold;
            }
        }
    }

    .card-body {
        border: 1px solid $primary;
        border-top: none;
    }
}