.card {
    box-shadow: 0px 0px 2px 2px rgba(82, 82, 82, 0.12);

    &.contain-avatar {
        overflow: visible;
        margin-top: 40px;
    }

    .card-title,
    .card-header {
        padding: 10px 20px;
        border-bottom: none;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all .3s ease;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .card-avatar {
        width: 100px;
        background: none;
        border-bottom: none;
        margin: -40px auto 12px;
    }

    &.card-navigation {
        .nav-link {
            color: $gray-700;

            &.active {
                font-weight: bold;
                color: $primary;
            }
        }
    }
}