.custom-file {
    width: 100% !important;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 3px;
}

select.form-control[size],
select.form-control[multiple] {
    height: 200px;
}