.list-group-item {
    &.nuxt-link-exact-active {
        background: $primary;
        color: #fff;
    }
}

.list-group {
    &.mobile-nav {
        @media only screen and (max-width: 992px) {
            flex-direction: row;

            .list-group-item {
                &:first-child {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 7px;
                }

                &:last-child {
                    border-top-right-radius: 7px;
                    border-bottom-right-radius: 7px;
                    border-bottom-left-radius: 0;
                }
            }
        }


    }
}