#page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    opacity: 0.7;
    z-index: 99;
    display: none;

    .icon {
        font-size: 60px;
    }

    .text {
        font-size: 20px;
    }

    &.show {
        @include flexCenter;
        flex-direction: column;
    }
}
