.sidebar {
    z-index: 99;
    height: 100vh;
    overflow: hidden;

    @media only screen and (max-width: 768px) {
        background: #2f2f2f;
        position: absolute;
        top: -13px;
        left: -195px;
        width: 195px;
        height: 101%;
        transition: all 0.25s ease;

        &.active {
            left: 0;
        }
    }

    @media print {
        display: none !important;
    }

    &__brand {
        height: 12vh;
        position: relative;
        padding: 1.1rem 0.7rem;
        z-index: 4;
        font-size: 20px;
        color: #ffffff;

        img {
            width: 80%;
        }
    }

    &__wrapper {
        overflow-y: scroll;
        height: 82vh;
        padding-top: 5px;
        // scrollbar-width: thin;
        // scrollbar-color: #0f0f0f #2f2f2f;

        /* Works on Chrome/Edge/Safari */
        &::-webkit-scrollbar {
            width: 0;
        }

        // &::-webkit-scrollbar-track {
        //     background: #2f2f2f;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background-color: #0f0f0f;
        //     border-radius: 20px;
        //     border: 3px solid #2f2f2f;
        // }

        .nav {
            margin-top: 5px;
            display: block;
            border-top: 1px solid #2f2f2f;
            padding: 15px 0px;

            li {
                a {
                    color: $nav-link-color;
                    display: block;
                    text-decoration: none;
                    position: relative;
                    font-size: 14px;
                    cursor: pointer;
                    padding: 7px 13px 7px 20px;
                    line-height: 1.625rem;
                    transition: all 0.5s ease;
                    z-index: 9;

                    i {
                        margin-right: 15px;
                        color: #E3CA93;
                    }

                    &:hover {
                        background: #ffffff;
                        color: #000;

                        span {
                            &.arrow-sub {

                                i {
                                    color: #3f3f3f;
                                }
                            }
                        }
                    }

                    &.active {
                        margin: -27px 0 -31px;
                        background: #ffffff;
                        color: #000;
                        height: 100px;
                        z-index: 0;

                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 30px;
                            top: -3px;
                            left: 0;
                            background: #2f2f2f;
                            border-radius: 0 0 34px 0;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 34px;
                            bottom: -3px;
                            left: 0;
                            background: #2f2f2f;
                            border-radius: 0 34px 0 0;
                        }

                        i {
                            color: #2f2f2f;
                        }

                        span {
                            font-weight: bold;
                        }

                        i,
                        span {
                            margin-bottom: 5px;
                        }
                    }

                    &.active.has-child {
                        border-radius: 0 25px 0 0;
                    }

                    span {
                        &.arrow-sub {
                            // float: right;

                            i {
                                color: #ffffff;
                            }
                        }
                    }
                }

                .submenu {
                    ul {
                        list-style: none;
                        padding-left: 0;

                        li {
                            a {
                                font-size: 11px;
                                padding: 0px 0 2px 56px;

                                &.active {
                                    margin: -35px 0 -37px 0;
                                    height: 100px;
                                    z-index: 0;
                                    width: 100%;

                                    &:before {
                                        height: 35px;
                                        top: 0px;
                                    }

                                    &:after {
                                        height: 37px;
                                        bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}