.table {
    thead {
        th {
            border-top: none;
            color: $primary;
            font-size: 18px;
        }
    }

    tbody {
        tr {
            td {
                .avatar {
                    width: 35px;
                }

                .image-only {
                    max-width: 220px;
                }
            }
        }
    }

    &.dt-table {
        tbody {
            tr {
                &:hover>td span .dt-actions {
                    display: flex;

                }

                td {
                    span {
                        .dt-actions {
                            display: none;

                            @media only screen and (max-width: 768px) {
                                display: flex;
                            }
                        }
                    }

                }
            }
        }
    }
}