.tab-wrapper {
    .tabs {
        .nav-tabs {
            .nav-item {
                .nav-link {
                    border-color: #dee2e6 #dee2e6 #eeeeee;
                    color: #495057;
                    font-weight: bold;

                    &.active {
                        background-color: #fff;
                    }
                }
            }
        }

        .tab-content {
            background: #fff;
            padding: 20px;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0 0 7px 7px;

            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
}