#top-nav {
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #EAEFF7;
    padding: 6px 0;

    #navbarSupportedContent {
        width: 100%;

        .left-nav {
            i {
                margin-right: 5px;
                font-size: 25px;
                color: #d8cfcf;
            }

            h1 {
                font-size: 22px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .avatar {
            margin-left: 8px;
            width: 30px;
        }

        .nav-item.dropdown a {
            color: $nav-link-color;
            font-size: 17px;
        }
    }
}

.menu-overlay {
    &.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9;
    }
}