<template>
    <div class="container">
        <div class="card">
            <div class="card-header">New Article</div>
            <div class="card-body">
                <ArticleForm :form="form" />
            </div>
        </div>
    </div>
</template>

<script>
import ArticleForm from "./ArticleForm";

export default {
    components: {
        ArticleForm,
    },
    data() {
        return {
            form: {
                is_new: true,
                id: "",
                title: "",
                slug: "",
                content: "",
                excerpt: "",
                featured_image: "",
                featured_image_url: "",
                meta_title: "",
                meta_description: "",
            },
        };
    },
};
</script>
