<template>
    <form @submit.prevent="save">
        <div class="form-group row">
            <label for="title" class="col-lg-3 col-form-label">
                Title
                <span class="required">*</span>
            </label>
            <div class="col-lg-9">
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    :class="{ 'is-invalid': errors.title }"
                    v-model="form_data.title"
                    required
                />
                <span
                    v-if="errors.title"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.title[0] }}</span
                >
            </div>
        </div>
        <div class="form-group row">
            <label for="slug" class="col-lg-3 col-form-label"
                >Slug <span class="required">*</span></label
            >
            <div class="col-lg-9">
                <div>
                    <span>{{ slug }}</span> |
                    <button
                        v-if="!editSlug"
                        type="button"
                        class="btn btn-link btn-sm"
                        @click="editSlug = true"
                    >
                        Edit
                    </button>
                    <button
                        v-else
                        type="button"
                        class="btn btn-link btn-sm"
                        @click="editSlug = false"
                    >
                        Cancel Edit
                    </button>
                </div>
                <input
                    v-show="editSlug"
                    type="text"
                    v-model="form_data.slug"
                    class="form-control"
                    :class="{ 'is-invalid': errors.slug }"
                    @keyup="slugifyOnSlugEdit(form_data.slug)"
                    id="slug"
                />
                <span
                    v-if="errors.slug"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.slug[0] }}</span
                >
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-lg-3 col-form-label"
                >Content <span class="required">*</span></label
            >
            <div class="col-lg-9">
                <ckeditor
                    :editor="editor_type"
                    v-model="form_data.content"
                    :config="editorConfig"
                ></ckeditor>
                <span
                    v-if="errors.content"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.content[0] }}</span
                >
            </div>
        </div>
        <div class="form-group row">
            <label for="excerpt" class="col-lg-3 col-form-label">Excerpt</label>
            <div class="col-lg-9">
                <textarea
                    id="excerpt"
                    v-model="form_data.excerpt"
                    rows="4"
                    class="form-control"
                    :class="{ 'is-invalid': errors.excerpt }"
                ></textarea>
                <span
                    v-if="errors.excerpt"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.excerpt[0] }}</span
                >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label">Featured Image</label>
            <div class="col-lg-9">
                <div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input
                                type="file"
                                class="custom-file-input"
                                id="featured_image"
                                @change="onFileChange"
                                placeholder="Drop file here..."
                            />
                            <label
                                class="custom-file-label"
                                for="featured_image"
                                >Choose a file</label
                            >
                        </div>
                    </div>
                    <span
                        v-if="errors.featured_image"
                        class="text-danger small"
                        role="alert"
                        >{{ errors.featured_image[0] }}</span
                    >
                </div>
                <div class="mt-2">
                    <img
                        v-if="form_data.featured_image_url != ''"
                        :src="form_data.featured_image_url"
                        class="img-fluid"
                    />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="meta_title" class="col-lg-3 col-form-label"
                >Meta Title <span class="required">*</span></label
            >
            <div class="col-lg-9">
                <input
                    type="text"
                    id="meta_title"
                    class="form-control"
                    :class="{ 'is-invalid': errors.meta_title }"
                    v-model="form_data.meta_title"
                    required
                />
                <span
                    v-if="errors.meta_title"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.meta_title[0] }}</span
                >
            </div>
        </div>
        <div class="form-group row">
            <label for="meta_description" class="col-lg-3 col-form-label"
                >Meta Description <span class="required">*</span></label
            >
            <div class="col-lg-9">
                <textarea
                    id="meta_description"
                    v-model="form_data.meta_description"
                    rows="4"
                    class="form-control"
                    :class="{ 'is-invalid': errors.meta_description }"
                ></textarea>
                <span
                    v-if="errors.meta_description"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.meta_description[0] }}</span
                >
            </div>
        </div>
        <button type="submit" class="float-right btn btn-primary">Save</button>
    </form>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import SlugifyMixin from "../../../mixins/slugify";
import CKEditorMixin from "../../../mixins/ckeditor";

export default {
    props: ["form"],
    mixins: ["SwalMixin", "SlugifyMixin", "CKEditorMixin"],
    data() {
        return {
            editSlug: false,
            form_data: this.form,
            ckeditor_upload_image_url: `${DASHBOARD_BASE_URL}/articles/store-content-image`,
            errors: [],
        };
    },
    created() {
        console.log(this.form_data);
    },
    methods: {
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length) return;
            this.form_data.featured_image = files[0];
            this.form_data.featured_image_url = URL.createObjectURL(files[0]);
        },
        save() {
            this.errors = [];

            const fd = new FormData();

            if (this.form_data.featured_image instanceof Blob) {
                fd.append(
                    "featured_image",
                    this.form_data.featured_image,
                    this.form_data.featured_image.name
                );
            }
            fd.append("title", this.form_data.title);
            fd.append("slug", this.form_data.slug);
            fd.append("content", this.form_data.content);
            fd.append("excerpt", this.form_data.excerpt);
            fd.append("featured_image", this.form_data.featured_image);
            fd.append("meta_title", this.form_data.meta_title);
            fd.append("meta_description", this.form_data.meta_description);

            if (this.form.is_new) {
                var request_url = axios.post(
                    `${DASHBOARD_BASE_URL}/articles`,
                    fd
                );
            } else {
                var request_url = axios.patch(
                    `${DASHBOARD_BASE_URL}/articles/${this.form.id}`,
                    fd
                );
            }

            request_url
                .then((res) => {
                    var data = res.data;
                    if (data.status == "success") {
                        window.location.replace(
                            `${DASHBOARD_BASE_URL}/articles`
                        );
                    }
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                });
        },
    },
    computed: {
        slug: function () {
            var slug = this.form_data.slug;
            if (!this.editSlug && this.form_data.is_new) {
                var slug = this.slugify(this.form_data.title);
                this.form_data.slug = slug;
            }
            return slug;
        },
    },
};
</script>
