<template>
    <div class="container">
        <div class="card">
            <div class="card-header">Edit Article: {{ article.title }}</div>
            <div class="card-body">
                <ArticleForm :form="form" />
            </div>
        </div>
    </div>
</template>

<script>
import ArticleForm from "./ArticleForm";

export default {
    props: ["article"],
    components: {
        ArticleForm,
    },
    data() {
        return {
            form: {
                is_new: false,
                id: this.article.id,
                title: this.article.title,
                slug: this.article.slug,
                content: this.article.content,
                excerpt: this.article.excerpt,
                featured_image: this.article.featured_image,
                featured_image_url: this.article.featured_image_url,
                meta_title: this.article.meta_title,
                meta_description: this.article.meta_description,
            },
        };
    },
};
</script>
