<template>
    <div class="mnjap__wrapper">
        <div v-if="japs.length === 0" class="mnjap__not-found center">
            <strong>Tidak ditemukan :(</strong>
        </div>
        <div v-else class="mnjap__users" :class="{ show: show_candidates }">
            <ul>
                <li
                    v-for="(jap, i) in japs"
                    :key="i"
                    class="mnjap__user-item"
                    :class="{ active: selected_user == jap.user.id }"
                    @click="getProfile(jap)"
                >
                    <div class="avatar">
                        <img
                            :src="jap.user.avatar_url"
                            :alt="jap.user.name"
                            class="img-fluid"
                        />
                    </div>
                    <div class="info">
                        <div class="name">
                            {{ jap.user.name }}
                        </div>
                        <div class="address">
                            {{ jap.user.city.name }}, <br />
                            {{ jap.user.province.name }}
                        </div>
                    </div>
                </li>
            </ul>
            <button
                v-if="next_url != ''"
                type="button"
                @click="showMore"
                class="btn btn-outline btn-outline--primary btn--block mt-4"
                :disabled="loading_more"
            >
                <span v-if="!loading_more"
                    ><i class="icon-arrow-down"></i> Tampilkan Lagi</span
                >
                <span v-else>Memuat...</span>
            </button>
        </div>
        <div class="mnjap__user-profile" :class="{ show: show_profile }">
            <div v-if="loading" class="loading-image">
                <img
                    :src="`${app_base_url}/images/reqruit/loading.gif`"
                    alt="Loading"
                />
            </div>

            <div v-if="user !== null" class="mnjap__profile">
                <div class="mnjap__profile-main">
                    <div class="mnjap__toggle-users mb-4">
                        <a
                            v-if="show_candidates"
                            href="#"
                            @click.prevent="hideCandidates"
                        >
                            <span
                                ><i class="icon-arrow-left"></i> Sembunyikan
                                kandidat</span
                            >
                        </a>
                        <a v-else href="#" @click.prevent="showCandidates">
                            <span
                                >Tampilkan kandidat
                                <i class="icon-arrow-right"></i
                            ></span>
                        </a>
                    </div>

                    <div class="mnjap__pm-left">
                        <div class="avatar">
                            <img
                                :src="user.avatar_url"
                                :alt="user.name"
                                class="img-fluid"
                            />
                        </div>
                        <div class="info">
                            <div class="name">
                                {{ user.name }}
                            </div>
                            <div class="address">
                                {{ user.city.name }}, <br />
                                {{ user.province.name }}
                            </div>
                            <div class="profile-link">
                                <a
                                    :href="
                                        `${app_base_url}/profile/${user.identifier}`
                                    "
                                    title="Halaman profil"
                                    target="_blank"
                                    ><small>Halaman Profil</small></a
                                >
                            </div>
                        </div>
                    </div>
                    <div class="mnjap__pm-right">
                        <div class="form__group">
                            <v-select
                                label="text"
                                id="job_application_status"
                                :options="jap_status_select"
                                v-model="selected_jap_status"
                                @input="statusChange"
                                placeholder="Pindahkan status pelamar"
                            ></v-select>
                        </div>
                    </div>
                </div>
                <div class="mnjap__profile-details">
                    <div class="tab tab--transparent">
                        <nav class="tab__nav" role="nav">
                            <ul>
                                <li
                                    class="tab__nav-item active"
                                    data-target="#profile-details"
                                >
                                    Profil
                                </li>
                                <li
                                    class="tab__nav-item"
                                    data-target="#profile-resume"
                                >
                                    Resume
                                </li>
                                <li
                                    v-if="answers.length > 0"
                                    class="tab__nav-item"
                                    data-target="#question-answers"
                                >
                                    Question Answers
                                </li>
                            </ul>
                        </nav>
                        <div class="tab__content tab__content--no-padding">
                            <div
                                class="tab__content-item active"
                                id="profile-details"
                            >
                                <Basic :user="user" />
                                <About :user="user" />
                                <Experience :user="user" />
                                <OrganizationExperience :user="user" />
                                <Education :user="user" />
                                <Skills :user="user" />
                                <Interest :user="user" />
                                <Portofolio :user="user" />
                            </div>
                            <div class="tab__content-item" id="profile-resume">
                                <object
                                    v-if="user.resume.file_url != ''"
                                    :data="user.resume.file_url"
                                    type="application/pdf"
                                    width="100%"
                                    height="650"
                                >
                                    <a :href="user.resume.file_url">{{
                                        user.resume.file_name
                                    }}</a>
                                </object>
                                <div v-else>Tidak ada resume</div>
                            </div>
                            <div
                                v-if="answers.length > 0"
                                class="tab__content-item"
                                id="question-answers"
                            >
                                <ol>
                                    <li
                                        v-for="(answer, i) in answers"
                                        :key="i"
                                        class="mb2"
                                    >
                                        <div class="bold">
                                            {{ answer.question }}
                                        </div>
                                        <div>Jawaban:</div>
                                        <div>{{ answer.answer }}</div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { EventBus } from "../../../../../../../../../resources/js/plugins/event-bus";
import Basic from "./Candidate/Basic";
import About from "./Candidate/About";
import Experience from "./Candidate/Experience";
import OrganizationExperience from "./Candidate/OrganizationExperience";
import Education from "./Candidate/Education";
import Skills from "./Candidate/Skills";
import Interest from "./Candidate/Interest";
import Portofolio from "./Candidate/Portofolio";

export default {
    props: {
        job_applications: Object,
        option_select: Object,
        type: String
    },
    components: {
        Basic,
        About,
        Experience,
        OrganizationExperience,
        Education,
        Skills,
        Interest,
        Portofolio
    },
    data() {
        return {
            show_candidates: true,
            show_profile: false,
            japs: this.job_applications.job_applications,
            next_url: this.job_applications.next_url,
            app_base_url: APP_BASE_URL,
            loading: false,
            user: null,
            answers: [],
            jap_status_select: [],
            selected_jap_status: null,
            selected_user: null,
            selected_jap: null,
            loading_more: false
        };
    },
    methods: {
        showMore() {
            this.loading_more = true;

            axios
                .get(this.next_url)
                .then(res => {
                    let job_applications = res.data.data;
                    job_applications[this.type].job_applications.forEach(
                        jap => {
                            this.japs.push(jap);
                        }
                    );

                    this.next_url = job_applications[this.type].next_url;
                })
                .catch(err => {
                    console.log(err.response);
                    this.swalWrong();
                })
                .finally(() => {
                    this.loading_more = false;
                });
        },
        getProfile(jap) {
            this.loading = true;
            this.user = null;
            this.answers = [];
            this.selected_user = jap.user.id;
            this.selected_jap = jap;

            if (window.innerWidth < 768) {
                this.hideCandidates();
            }

            axios
                .get(
                    `${APP_BASE_URL}/employer/job-applications/${jap.id}/profile`
                )
                .then(res => {
                    let data = res.data.data;
                    this.user = data.user;
                    this.answers = data.answers;
                    this.jap_status_select = this.option_select.job_application_status.filter(
                        status => status.value != jap.status.value
                    );
                })
                .catch(err => {
                    console.log(err.response);
                    this.swalWrong();
                    if (window.innerWidth < 768) {
                        this.showCandidates();
                    }
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        getDate(date, still_progress = false) {
            if (date === null || still_progress) {
                return "Sekarang";
            }

            var newDate = new Date(date);
            return newDate.toLocaleDateString("id-ID", {
                year: "numeric",
                month: "long"
            });
        },
        statusChange(value) {
            console.log(value);
            this.$swal({
                title: "Anda Yakin?",
                text: `Ubah status menjadi ${value.text}!`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Ya, Ubah!"
            }).then(result => {
                if (result.isConfirmed) {
                    EventBus.$emit("show-loading-block");

                    axios
                        .post(
                            `${APP_BASE_URL}/employer/job-applications/${this.selected_jap.id}/status-update`,
                            {
                                status: value.value
                            }
                        )
                        .then(res => {
                            console.log(res);
                            this.$emit("status_update");
                        })
                        .catch(err => {
                            console.log(err.response);
                            this.swalWrong();
                        })
                        .finally(() => {
                            EventBus.$emit("hide-loading-block");
                        });
                } else {
                    this.selected_jap_status = null;
                }
            });
        },
        showCandidates() {
            this.show_candidates = true;
            this.show_profile = false;
        },
        hideCandidates() {
            this.show_candidates = false;
            this.show_profile = true;
        }
    }
};
</script>
