<template>
    <div class="mnjap">
        <div class="form__group">
            <label for="select-job" class="form__label">Pilih Pekerjaan</label>
            <v-select
                id="select-job"
                label="title"
                :options="jobs"
                placeholder="Cari Pekerjaan"
                @search="searchJob"
                v-model="selected_job"
                @input="jobSelected"
            ></v-select>
            <span v-if="errors.title" class="invalid-feedback" role="alert">{{
                errors.title[0]
            }}</span>
        </div>

        <div v-if="searching" class="loading-image">
            <img
                :src="`${app_base_url}/images/reqruit/loading.gif`"
                alt="Loading"
            />
        </div>

        <div
            v-if="selected_job != null && !searching"
            class="mnjap__tab-wrapper"
        >
            <div class="tab tab--transparent">
                <nav class="tab__nav" role="nav">
                    <ul>
                        <li
                            class="tab__nav-item active"
                            data-target="#jap-pending"
                        >
                            Menunggu
                            <span class="number">{{
                                job_applications.pending.total
                            }}</span>
                        </li>
                        <li
                            class="tab__nav-item"
                            data-target="#jap-shortlisted"
                        >
                            Daftar Pendek
                            <span class="number">{{
                                job_applications.shortlisted.total
                            }}</span>
                        </li>
                        <li
                            class="tab__nav-item"
                            data-target="#jap-interview"
                        >
                            Wawancara
                            <span class="number">{{
                                job_applications.interview.total
                            }}</span>
                        </li>
                        <li class="tab__nav-item" data-target="#jap-offered">
                            Ditawarkan
                            <span class="number">{{
                                job_applications.offered.total
                            }}</span>
                        </li>
                        <li class="tab__nav-item" data-target="#jap-hired">
                            Dipekerjakan
                            <span class="number">{{
                                job_applications.hired.total
                            }}</span>
                        </li>
                        <li class="tab__nav-item" data-target="#jap-unsuitable">
                            Ditolak
                            <span class="number">{{
                                job_applications.unsuitable.total
                            }}</span>
                        </li>
                    </ul>
                </nav>
                <div class="tab__content tab__content--no-padding">
                    <div class="tab__content-item active" id="jap-pending">
                        <Candidates
                            :job_applications="job_applications.pending"
                            :option_select="option_select"
                            @status_update="statusUpdate"
                            type="pending"
                        />
                    </div>
                    <div class="tab__content-item" id="jap-shortlisted">
                        <Candidates
                            :job_applications="job_applications.shortlisted"
                            :option_select="option_select"
                            @status_update="statusUpdate"
                            type="shortlisted"
                        />
                    </div>
                    <div class="tab__content-item" id="jap-interview">
                        <Candidates
                            :job_applications="job_applications.interview"
                            :option_select="option_select"
                            @status_update="statusUpdate"
                            type="interview"
                        />
                    </div>
                    <div class="tab__content-item" id="jap-offered">
                        <Candidates
                            :job_applications="job_applications.offered"
                            :option_select="option_select"
                            @status_update="statusUpdate"
                            type="offered"
                        />
                    </div>
                    <div class="tab__content-item" id="jap-hired">
                        <Candidates
                            :job_applications="job_applications.hired"
                            :option_select="option_select"
                            @status_update="statusUpdate"
                            type="hired"
                        />
                    </div>
                    <div class="tab__content-item" id="jap-unsuitable">
                        <Candidates
                            :job_applications="job_applications.unsuitable"
                            :option_select="option_select"
                            @status_update="statusUpdate"
                            type="unsuitable"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Candidates from "./Candidates";

export default {
    props: {
        option_select: Object,
        job_applications_data: [Object, Array],
        workjob: [Object, Array],
    },
    components: {
        Candidates,
    },
    data() {
        let selected_job = null;
        if (this.workjob.hasOwnProperty("id")) {
            selected_job = {
                id: this.workjob.id,
                title: this.workjob.title,
            };
        }

        return {
            app_base_url: APP_BASE_URL,
            errors: [],
            searching: false,
            selected_job: selected_job,
            jobs: [],
            job_applications: this.job_applications_data,
        };
    },
    methods: {
        searchJob(search, loading) {
            loading(true);

            axios
                .post(`${APP_BASE_URL}/employer/workjob/search`, {
                    title: search,
                })
                .then((res) => {
                    this.jobs = res.data.data;
                })
                .catch((err) => {
                    console.log(err.response);
                })
                .finally(() => {
                    loading(false);
                });
        },
        jobSelected(value) {
            if (value === null) {
                return;
            }

            this.getCandidate(value.id);
        },
        statusUpdate() {
            this.getCandidate(this.selected_job.id);
        },
        getCandidate(id) {
            this.searching = true;
            this.jobs = [];
            this.job_applications = {};

            axios
                .get(`${APP_BASE_URL}/employer/workjob/${id}/job-applications`)
                .then((res) => {
                    let data = res.data.data;
                    this.job_applications = data;
                })
                .catch((err) => {
                    console.log(err.response);
                    this.swalWrong();
                })
                .finally(() => {
                    this.searching = false;
                });
        },
    },
};
</script>