<template>
    <div id="myo__basic" class="myo__basic">
        <div class="myo__basic-detail">
            <h1 class="myo__name">
                {{ user.name }}
                <small v-if="user.age != ''">({{ user.age }} Tahun)</small>
            </h1>
            <div class="myo__status">{{ user.job_status.description }}</div>

            <hr />

            <div class="myo__basic-list clearfix">
                <div class="col col-6">
                    <dl>
                        <dt>Email</dt>
                        <dd>{{ user.email }}</dd>

                        <dt>Jenis Kelamin</dt>
                        <dd>{{ user.gender.text }}</dd>

                        <dt>Relationship</dt>
                        <dd>{{ user.relationship.description }}</dd>
                    </dl>
                </div>
                <div class="col col-6">
                    <dl>
                        <dt>Hobi</dt>
                        <dd>{{ user.hobby }}</dd>

                        <dt>Telepon</dt>
                        <dd>{{ user.phone }}</dd>

                        <dt>Lokasi Domisili</dt>
                        <dd>
                            {{ user.address }}, Kecamatan
                            {{ user.subdistrict.name }},<br />
                            {{ user.city.name }}, {{ user.province.name }}<br />
                            Kode Pos: {{ user.pos_code }}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user: Object,
    },
};
</script>