<template>
    <div id="myo__portofolio" class="card">
        <div class="card__header">
            <div class="card__header-left">
                <div class="card__header-icon">
                    <i class="icon-more-square"></i>
                </div>
                <h2 class="card__header-title">Portofolio</h2>
            </div>
        </div>
        <div class="card__body card__body--pad-left">
            <div v-if="user.website !== ''" class="clearfix mb2">
                <div class="col col-12 md-col-4">
                    <h4>Website</h4>
                </div>
                <div class="col col-12 md-col-8">
                    <a
                        :href="user.website"
                        :title="user.name"
                        target="_blank"
                        >{{ user.website }}</a
                    >
                </div>
            </div>

            <div v-if="user.yt_video != ''" class="clearfix mb2">
                <div class="col col-12 md-col-4">
                    <h4>Video Profile</h4>
                </div>
                <div class="col col-12 md-col-8" v-html="user.yt_video_embed"></div>
            </div>

            <div class="clearfix mb2">
                <div class="col col-12 md-col-4">
                    <h4>Sosial Media</h4>
                </div>
                <div class="col col-12 md-col-8">
                    <ul class="sosmed">
                        <li v-if="user.linkedin !== ''">
                            <a
                                :href="user.linkedin"
                                title="Linkedin"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/linkedin.svg`"
                                        alt="Linkedin"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.twitter !== ''">
                            <a
                                :href="user.twitter"
                                title="Twitter"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/twitter.svg`"
                                        alt="Twitter"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.github !== ''">
                            <a
                                :href="user.github"
                                title="Github"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/github.svg`"
                                        alt="Github"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.instagram !== ''">
                            <a
                                :href="user.instagram"
                                title="Instagram"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/instagram.svg`"
                                        alt="Instagram"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.dribbble !== ''">
                            <a
                                :href="user.dribbble"
                                title="Dribbble"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/dribbble.svg`"
                                        alt="Dribbble"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.codepen !== ''">
                            <a
                                :href="user.codepen"
                                title="Codepen"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/codepen.svg`"
                                        alt="Codepen"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.youtube !== ''">
                            <a
                                :href="user.youtube"
                                title="Youtube"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/youtube.svg`"
                                        alt="Youtube"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.facebook !== ''">
                            <a
                                :href="user.facebook"
                                title="Facebook"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/facebook.svg`"
                                        alt="Facebook"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.vimeo !== ''">
                            <a :href="user.vimeo" title="Vimeo" target="_blank">
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/vimeo.svg`"
                                        alt="Vimeo"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li v-if="user.behance !== ''">
                            <a
                                :href="user.behance"
                                title="Behance"
                                target="_blank"
                            >
                                <svg>
                                    <image
                                        :xlink:href="`${app_base_url}/images/reqruit/icons/social/behance.svg`"
                                        alt="Behance"
                                    />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user: Object,
    },
    data() {
        return {
            app_base_url: APP_BASE_URL,
        };
    },
};
</script>