<template>
    <div id="myo__resume" class="card">
        <div class="card__header">
            <div class="card__header-left">
                <div class="card__header-icon">
                    <i class="icon-document"></i>
                </div>
                <h2 class="card__header-title">Resume</h2>
            </div>
        </div>
        <div class="card__body card__body--pad-left">
            <a
                :href="user.resume.file_url"
                :title="user.resume.file_name"
                target="_blank"
                >{{ user.resume.file_name }}</a
            >
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user: Object,
    },
};
</script>