<template>
    <aside>
        <div class="card card--over-show">
            <div class="card__body">
                <div class="myo__avatar">
                    <img
                        :src="user.avatar_url"
                        :alt="user.name"
                        class="img-fluid"
                    />
                </div>

                <div class="myo__menu">
                    <ul>
                        <li>
                            <a href="#myo__basic" title="Info Dasar">
                                <span class="name">Info Dasar</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#myo__about" title="Tentang Saya">
                                <span class="name">Tentang Saya</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__experiences"
                                title="Pengalaman Kerja"
                            >
                                <span class="name">Pengalaman Kerja</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#myo__organization-experiences"
                                title="Pengalaman Kerja"
                            >
                                <span class="name">Pengalaman Organisasi</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#myo__educations" title="Pendidikan">
                                <span class="name">Pendidikan</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#myo__skills" title="Keahlian">
                                <span class="name">Keahlian</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#myo__interests" title="Minat Pekerjaan">
                                <span class="name">Minat Pekerjaan</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#myo__resume" title="Resume">
                                <span class="name">Resume</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#myo__portofolio" title="Portofolio">
                                <span class="name">Portofolio</span>
                                <span class="icon text--danger"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</template>

<script>
export default {
    props: {
        user: Object
    }
};
</script>
