<template>
    <nav id="breadcrumb" aria-label="breadcrumb" class="d-none d-lg-block">
        <ol class="breadcrumb container">
            <li
                class="breadcrumb-item"
                :class="{ active: bc.last }"
                v-for="(bc, index) in breadcrumbs"
                :key="index"
            >
                <a :href="bc.url" :title="bc.text">{{ bc.text }}</a>
            </li>
        </ol>
    </nav>
</template>

<script>
export default {
    props: ["breadcrumbs"]
};
</script>
