<template>
    <div>
        <nav class="simple-pagination">
            <ul>
                <li v-if="prev_page_url != null" class="nav-item prev">
                    <a :href="prev_page_url" title="Sebelumnya" class="nav-link"
                        ><span class="icon"
                            ><i class="fas fas fa-long-arrow-alt-left"></i
                        ></span>
                        <span class="text">Sebelumnya</span></a
                    >
                </li>
                <li v-if="next_page_url != null" class="nav-item next">
                    <a
                        :href="next_page_url"
                        title="Selanjutnya"
                        class="nav-link"
                    >
                        <span class="text">Selanjutnya</span>
                        <span class="icon"
                            ><i class="fas fa-long-arrow-alt-right"></i></span
                    ></a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</template>

<script>
export default {
    props: ["prev_page_url", "next_page_url"]
};
</script>
