<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Testimonials");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "testimonials",
                baseUrl: `${DASHBOARD_BASE_URL}/testimonials`,
                createUrl: `${DASHBOARD_BASE_URL}/testimonials/create`,
                queryUrl: `${DASHBOARD_BASE_URL}/testimonials`,
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    name: "",
                    jobfunction_id: "",
                    start_date: "",
                    end_date: "",
                },
                filterFields: {
                    name: {
                        name: "Name",
                        type: "input",
                    },
                    daterange: true,
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Name",
                        propertyName: "name",
                        type: "avatar",
                        imagePropertyName: "avatar_url",
                        image_rounded: true,
                    },
                    {
                        name: "Profession",
                        propertyName: "profession",
                    },
                    {
                        name: "Rating",
                        propertyName: "rating",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    type: ["edit", "destroy"],
                },
            },
        };
    },
};
</script>
