<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="card">
                    <div class="card-header">Edit Testimonial</div>
                    <div class="card-body">
                        <TestimonialForm :form="form" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TestimonialForm from "./TestimonialForm";

export default {
    props: {
        testimonial: Object,
    },
    components: {
        TestimonialForm,
    },
    data() {
        return {
            form: {
                is_new: false,
                id: this.testimonial.id,
                name: this.testimonial.name,
                avatar_image: [],
                avatar_url: this.testimonial.avatar_url,
                profession: this.testimonial.profession,
                content: this.testimonial.content,
                rating: this.testimonial.rating,
            },
        };
    },
};
</script>
