<template>
    <form @submit.prevent="save">
        <div class="form-group row">
            <label for="name" class="col-lg-3 col-form-label">
                Name
                <span class="required">*</span>
            </label>
            <div class="col-lg-9">
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    :class="{ 'is-invalid': errors.name }"
                    v-model="form_data.name"
                />
                <span
                    v-if="errors.name"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.name[0] }}</span
                >
            </div>
        </div>

        <div class="form-group row">
            <label for="photo" class="col-lg-3 col-form-label"
                >Photo
                <span v-if="form_data.is_new" class="required">*</span></label
            >
            <div class="col-lg-9 input-group">
                <b-form-file
                    v-model="form_data.avatar_image"
                    accept="image/jpeg, image/png"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                ></b-form-file>
                <span
                    v-if="errors.avatar_image"
                    class="small text-danger"
                    role="alert"
                    >{{ errors.avatar_image[0] }}</span
                >
                <b-row v-if="!form.is_new" class="mt-2">
                    <b-col lg="5">
                        <img :src="form.avatar_url" class="img-fluid" />
                    </b-col>
                </b-row>
            </div>
        </div>

        <div class="form-group row">
            <label for="profession" class="col-lg-3 col-form-label">
                Profession
                <span class="required">*</span>
            </label>
            <div class="col-lg-9">
                <input
                    type="text"
                    class="form-control"
                    id="profession"
                    name="profession"
                    :class="{ 'is-invalid': errors.profession }"
                    v-model="form_data.profession"
                />
                <span
                    v-if="errors.profession"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.profession[0] }}</span
                >
            </div>
        </div>

        <div class="form-group row">
            <label for="content-rating" class="col-lg-3 col-form-label">
                Content
                <span class="required">*</span>
            </label>
            <div class="col-lg-9">
                <textarea
                    class="form-control"
                    id="content-rating"
                    name="content"
                    :class="{ 'is-invalid': errors.content }"
                    v-model="form_data.content"
                    rows="5"
                />
                <span
                    v-if="errors.content"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.content[0] }}</span
                >
            </div>
        </div>

        <div class="form-group row">
            <label for="rating" class="col-lg-3 col-form-label">
                Rating <span class="required">*</span>
            </label>
            <div class="col-lg-9">
                <select
                    name="rating"
                    id="rating"
                    class="form-control"
                    :class="{ 'is-invalid': errors.rating }"
                    v-model="form_data.rating"
                >
                    <option v-for="(n, i) in 10" :key="i" :value="n">
                        {{ n }}
                    </option>
                </select>
            </div>
        </div>

        <button
            type="submit"
            class="btn btn-primary float-right"
            :disabled="processing"
        >
            <span v-if="!processing">Save</span>
            <span v-else>
                <i class="fas fa-spinner fa-spin" aria-hidden="true"></i>
                Processing
            </span>
        </button>
    </form>
</template>

<script>
export default {
    props: {
        form: Object,
        job_function_select: Array,
    },
    data() {
        return {
            form_data: this.form,
            errors: [],
            processing: false,
        };
    },
    methods: {
        save() {
            this.errors = [];
            this.processing = true;

            const fd = new FormData();
            fd.append("name", this.form_data.name);
            if (this.form_data.avatar_image != "") {
                fd.append(
                    "avatar_image",
                    this.form_data.avatar_image,
                    this.form_data.avatar_image.name
                );
            }
            fd.append("profession", this.form_data.profession);
            fd.append("content", this.form_data.content);
            fd.append("rating", this.form_data.rating);

            if (this.form.is_new) {
                axios
                    .post(`${DASHBOARD_BASE_URL}/testimonials`, fd)
                    .then((res) => {
                        var data = res.data;
                        window.location.replace(
                            `${DASHBOARD_BASE_URL}/testimonials`
                        );
                    })
                    .catch((err) => {
                        console.log(err.response);
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        } else {
                            this.swalWrong();
                        }
                        this.processing = false;
                    });
            } else {
                axios
                    .patch(
                        `${DASHBOARD_BASE_URL}/testimonials/${this.form.id}`,
                        fd
                    )
                    .then((res) => {
                        var data = res.data;
                        window.location.replace(
                            `${DASHBOARD_BASE_URL}/testimonials`
                        );
                    })
                    .catch((err) => {
                        console.log(err.response);
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        } else {
                            this.swalWrong();
                        }
                        this.processing = false;
                    });
            }
        },
    },
};
</script>
