<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="card">
                    <div class="card-header">New Testimonial</div>
                    <div class="card-body">
                        <TestimonialForm :form="form" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TestimonialForm from "./TestimonialForm";

export default {
    components: {
        TestimonialForm,
    },
    data() {
        return {
            form: {
                is_new: true,
                id: "",
                name: "",
                avatar_image: [],
                avatar_url: [],
                profession: "",
                content: "",
                rating: "",
            },
        };
    },
};
</script>
