<template>
    <div class="njb__actions">
        <div class="card">
            <div class="card__body">
                <h3 class="center">Siap Publikasi?</h3>
                <div class="flex flex-column items-center mt-4">
                    <div class="form__group">
                        <label class="form__label" for="job_posting_status"
                            >Status</label
                        >
                        <v-select
                            label="text"
                            :options="option_select.status"
                            v-model="selected_status"
                            @input="StatusChange"
                        ></v-select>
                        <span
                            v-if="errors.status"
                            class="invalid-feedback"
                            role="alert"
                            >{{ errors.status[0] }}</span
                        >
                    </div>
                    <button
                        type="button"
                        class="btn btn--primary btn--block mb-4"
                        @click="save"
                    >
                        <span v-if="!saving">Simpan</span>
                        <span v-else>Memproses...</span>
                    </button>
                </div>
            </div>
        </div>

        <div v-if="form.id != ''" class="card mt-4">
            <div class="card__body">
                <button
                    type="button"
                    class="btn btn--block btn--grey"
                    @click="deleteJob"
                    :disabled="deleting"
                >
                    <span v-if="!deleting"
                        ><i class="icon-delete"></i> Hapus</span
                    >
                    <span v-else>Memproses...</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        option_select: Object,
        form_data: Object,
        errors: Object,
        saving: Boolean,
    },
    data() {
        let selected_status = {
            value: "published",
            text: "Published",
        };

        if (this.form_data.id != "") {
            selected_status = {
                value: this.form_data.status,
                text: this.form_data.status_raw.description,
            };
        }

        return {
            form: this.form_data,
            selected_status,
            deleting: false,
        };
    },
    methods: {
        save() {
            this.$emit("save");
        },
        StatusChange(value) {
            this.form.status = value.value;
        },
        deleteJob() {
            this.$swal({
                title: "Hapus Pekerjaan",
                text: "Aksi ini akan menghapus pekerjaan!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Ya, hapus!",
            }).then((result) => {
                if (result.isConfirmed) {
                    this.deleting = true;

                    axios
                        .delete(
                            `${APP_BASE_URL}/employer/workjob/${this.form.id}`
                        )
                        .then((res) => {
                            window.location.href = `${APP_BASE_URL}/employer/workjob`;
                        })
                        .catch((err) => {
                            console.log(err.response);
                            this.swalWrong();
                        })
                        .finally(() => {
                            this.deleting = false;
                        });
                }
            });
        },
    },
};
</script>