<template>
    <div class="card">
        <div class="card__header">
            <h2 class="card__header-title">
                <i class="icon-edit-square"></i> Description
            </h2>
        </div>
        <div class="card__body">
            <div class="form__group">
                <label class="form__label" for="description">Deskripsi</label>
                <ckeditor
                    :editor="editor_type"
                    v-model="form.description"
                    :config="editorConfig"
                    @change="formUpdate(event, index)"
                ></ckeditor>
                <span
                    v-if="errors.description"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.description[0] }}</span
                >
            </div>
        </div>
        <div class="card__footer">
            <div class="flex justify-between">
                <button
                    type="button"
                    @click="goTo('prev')"
                    class="btn btn-outline btn-outline--primary"
                >
                    <i class="icon-arrow-left"></i> Sebelumnya
                </button>
                <button
                    type="button"
                    @click="goTo('next')"
                    class="btn btn--primary"
                >
                    Selanjutnya <i class="icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
    props: {
        form_data: Object,
        errors: Object,
    },
    data() {
        return {
            form: this.form_data,
            editor_type: ClassicEditor,
            editorConfig: {
                toolbar: {
                    items: [
                        "heading",
                        "|",
                        "bold",
                        "italic",
                        "underline",
                        "strikethrough",
                        "alignment",
                        "bulletedList",
                        "numberedList",
                        "|",
                        "indent",
                        "outdent",
                        "|",
                        "blockQuote",
                        "insertTable",
                        "mediaEmbed",
                        "|",
                        "undo",
                        "redo",
                    ],
                },
                table: {
                    contentToolbar: [
                        "tableColumn",
                        "tableRow",
                        "mergeTableCells",
                    ],
                },
            },
        };
    },
    methods: {
        goTo(type) {
            this.$emit("goto", type);
        },
        formUpdate(event, index) {
            this.$emit("form_update", this.form);
        },
    },
};
</script>