<template>
    <div class="card">
        <div class="card__header">
            <h2 class="card__header-title">
                <i class="icon-edit-square"></i> Detail Pekerjaan
            </h2>
        </div>
        <div class="card__body">
            <div class="form__group">
                <label for="job-title" class="form__label">Title</label>
                <input
                    type="text"
                    class="form__control"
                    name="title"
                    id="job-title"
                    v-model="form.title"
                    @keyup="formUpdate"
                />
                <span
                    v-if="errors.title"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.title[0] }}</span
                >
            </div>
            <div class="form__group">
                <label class="form__label" for="type">Tipe Pekerjaan</label>
                <v-select
                    label="text"
                    :options="option_select.type"
                    v-model="selected_type"
                    @input="typeChange"
                    placeholder="Pilih"
                ></v-select>
                <span
                    v-if="errors.type"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.type[0] }}</span
                >
            </div>
            <div class="form__group">
                <label class="form__label" for="province_id">Provinsi</label>
                <v-select
                    label="name"
                    :options="provinces"
                    v-model="selected_province"
                    @input="provinceChange"
                    placeholder="Pilih Provinsi"
                ></v-select>
                <span
                    v-if="errors.province_id"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.province_id[0] }}</span
                >
            </div>
            <div class="form__group">
                <label class="form__label" for="city_id"
                    >Kabupaten / Kota</label
                >
                <v-select
                    label="name"
                    :options="cities"
                    v-model="selected_city"
                    @input="cityChange"
                    placeholder="Cari Kota/Kabupaten"
                ></v-select>
                <span
                    v-if="errors.city_id"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.city_id[0] }}</span
                >
            </div>
            <div class="form__group">
                <label for="number-of-vacancies" class="form__label"
                    >Jumlah Lowongan</label
                >
                <input
                    type="number"
                    class="form__control"
                    name="number-of-vacancies"
                    id="number-of-vacancies"
                    v-model="form.number_of_vacancies"
                    @keyup="formUpdate"
                />
                <span
                    v-if="errors.number_of_vacancies"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.number_of_vacancies[0] }}</span
                >
            </div>
            <div class="form__group">
                <label class="form__label" for="job_posting_status"
                    >Status Postingan Pekerjaan</label
                >
                <v-select
                    label="text"
                    :options="option_select.job_posting_status"
                    v-model="selected_job_posting_status"
                    @input="jobPostingStatusChange"
                ></v-select>
                <span
                    v-if="errors.job_posting_status"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.job_posting_status[0] }}</span
                >
            </div>
        </div>
        <div class="card__footer">
            <div class="flex justify-between">
                <div></div>
                <button
                    type="button"
                    @click="goTo('next')"
                    class="btn btn--primary"
                >
                    Selanjutnya <i class="icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import AddressMixin from "../../../../../../../../../../resources/js/mixins/address";

export default {
    props: {
        form_data: Object,
        errors: Object,
        option_select: Object,
    },
    mixins: ["AddressMixin"],
    data() {
        let selected_type = null;
        let selected_province = null;
        let selected_city = null;
        let selected_job_posting_status = {
            value: "open",
            text: "Open",
        };

        if (this.form_data.id != "") {
            selected_type = {
                value: this.form_data.type,
                text: this.form_data.type_raw.description,
            };

            selected_province = {
                id: this.form_data.province_id,
                name: this.form_data.province_raw.name,
            };

            selected_city = {
                id: this.form_data.city_id,
                name: this.form_data.city_raw.name,
            };

            selected_job_posting_status = {
                value: this.form_data.job_posting_status,
                text: this.form_data.job_posting_status_raw.description,
            };
        }

        return {
            form: this.form_data,
            provinces: [],
            cities: [],
            selected_province,
            selected_city,
            selected_job_posting_status,
            selected_type,
        };
    },
    created() {
        this.getProvinces();
        if (this.form.province_id != "") {
            this.getCities(this.form.province_id);
        }
    },
    methods: {
        goTo(type) {
            this.$emit("goto", type);
        },
        typeChange(value) {
            this.form.type = value.value;
            this.formUpdate();
        },
        provinceChange(value) {
            this.form.province_id = value.id;
            this.getCities(value.id);
            this.selected_city = { id: "", name: "Please select" };
            this.formUpdate();
        },
        cityChange(value) {
            this.form.city_id = value.id;
            this.formUpdate();
        },
        jobPostingStatusChange(value) {
            this.form.job_posting_status = value.value;
            this.formUpdate();
        },
        formUpdate() {
            this.$emit("form_update", this.form);
        },
    },
};
</script>