<template>
    <div class="card">
        <div class="card__header">
            <h2 class="card__header-title">
                <i class="icon-edit-square"></i> Job Questions
            </h2>
        </div>
        <div class="card__body">
            <div class="form__group">
                <label class="cb-container"
                    >Pre Screening Question
                    <input
                        type="checkbox"
                        name="has_question"
                        v-model="form.has_question"
                        @change="formUpdate"
                    />
                    <span class="checkmark"></span>
                </label>
                <span
                    v-if="errors.has_question"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.has_question[0] }}</span
                >
            </div>
            <div v-if="form.has_question" class="questions">
                <div class="sortable-list">
                    <draggable :list="questions" @change="reArrangeQuestions">
                        <div
                            v-for="(question, i) in questions"
                            :key="i"
                            class="sortable-list__item"
                        >
                            <div class="sortable-list__icon">&varr;</div>
                            <div class="sortable-list__content">
                                <div class="flex items-center">
                                    <div
                                        :id="`question-${i}`"
                                        class="contenteditable form__control"
                                        contenteditable
                                        @input="$e => qItemUpdate($e, i)"
                                    >
                                        {{ question }}
                                    </div>
                                    <div class="text-danger ml-3">
                                        <a
                                            href="#"
                                            title="remove"
                                            @click.prevent="removeQuestion(i)"
                                        >
                                            <i class="icon-close-square"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </draggable>
                </div>

                <button
                    type="button"
                    @click="newQuestion"
                    class="mt-3 btn btn--sm btn-outline btn-outline--primary"
                >
                    <i class="icon-plus"></i> New Question
                </button>

                <span
                    v-if="errors.questions"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.questions[0] }}</span
                >
            </div>
        </div>
        <div class="card__footer">
            <div class="flex justify-between">
                <button
                    type="button"
                    @click="goTo('prev')"
                    class="btn btn-outline btn-outline--primary"
                >
                    <i class="icon-arrow-left"></i> Sebelumnya
                </button>
                <div></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        form_data: Object,
        errors: Object
    },
    data() {
        return {
            form: this.form_data,
            questions: [],
            updated_qs: []
        };
    },
    created() {
        this.form_data.questions.forEach(q => {
            this.questions.push(q.question);
            this.updated_qs.push(q.question);
        });
    },
    methods: {
        goTo(type) {
            this.$emit("goto", type);
        },
        formUpdate(event, index) {
            this.$emit("form_update", this.form);
        },
        newQuestion() {
            this.questions.push("");
            this.updated_qs.push("");
            this.form.questions.push({
                id: null,
                question: "",
                sort_order: this.questions.length
            });
            this.formUpdate();
        },
        removeQuestion(i) {
            this.updated_qs.splice(i, 1);
            this.questions = this.updated_qs;
            this.form.questions.splice(i, 1);
            this.formUpdate();
        },
        qItemUpdate(e, index) {
            this.$set(this.updated_qs, index, e.target.innerText);
            this.form.questions[index].question = e.target.innerText;
            this.formUpdate();
        },
        reArrangeQuestions(e) {
            if (e.hasOwnProperty("moved")) {
                let moved = e.moved;
                let newIndex = moved.newIndex;
                let oldIndex = moved.oldIndex;

                // rearrange the updated_qs
                this.updated_qs.splice(
                    newIndex,
                    0,
                    this.updated_qs.splice(oldIndex, 1)[0]
                );

                // rearrange the form questions
                this.form.questions.splice(
                    newIndex,
                    0,
                    this.form.questions.splice(oldIndex, 1)[0]
                );

                // Update the form questions sort order
                for (let i = 0; i < this.form.questions.length; i++) {
                    this.form.questions[i].sort_order = i;
                }

                // update the questions data
                this.questions[newIndex] = this.updated_qs[newIndex];

                // Update the sortable question text
                document.getElementById(
                    `question-${newIndex}`
                ).innerHTML = this.updated_qs[newIndex];
                document.getElementById(
                    `question-${oldIndex}`
                ).innerHTML = this.updated_qs[oldIndex];

                this.formUpdate();
            }
        }
    }
};
</script>
