<template>
    <div class="njb__nav">
        <a
            :href="`${app_base_url}/employer/workjob`"
            class="btn btn--small btn--primary mb-4"
            title="Kembali"
            ><i class="icon-arrow-left"></i> Dashboard</a
        >

        <a href="#" class="njb__nav-circle mt-4" @click.prevent="goTo('prev')"
            ><i class="icon-arrow-up-2"></i
        ></a>
        <ul class="njb__nav-list">
            <li
                @click="goTo('details')"
                :class="{ active: active_form == 'details' }"
                title="Detail Pekerjaan"
            >
                &nbsp;
            </li>
            <li
                @click="goTo('roles')"
                :class="{ active: active_form == 'roles' }"
                title="Jabatan dan Keahlian"
            >
                &nbsp;
            </li>
            <li
                @click="goTo('salary')"
                :class="{ active: active_form == 'salary' }"
                title="Gaji"
            >
                &nbsp;
            </li>
            <li
                @click="goTo('description')"
                :class="{ active: active_form == 'description' }"
                title="Deskripsi"
            >
                &nbsp;
            </li>
            <li
                @click="goTo('job_question')"
                :class="{ active: active_form == 'job_question' }"
                title="Pre Screening Question"
            >
                &nbsp;
            </li>
        </ul>
        <a href="#" class="njb__nav-circle" @click.prevent="goTo('next')"
            ><i class="icon-arrow-down-2"></i
        ></a>
    </div>
</template>

<script>
export default {
    props: {
        active_form: String,
    },
    data() {
        return {
            app_base_url: APP_BASE_URL,
        };
    },
    methods: {
        goTo(type) {
            this.$emit("goto", type);
        },
    },
};
</script>