<template>
    <div class="card">
        <div class="card__header">
            <h2 class="card__header-title">
                <i class="icon-edit-square"></i> Jabatan dan Keahlian
            </h2>
        </div>
        <div class="card__body">
            <div class="form__group">
                <label class="form__label" for="jobfunction">Jabatan</label>
                <v-select
                    id="jobfunction"
                    label="name"
                    :options="jobfunctions"
                    v-model="selected_jobfunction"
                    @input="jobfunctionChange"
                    placeholder="Pilih Jabatan"
                ></v-select>
                <span
                    v-if="errors.jobfunction_id"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.jobfunction_id[0] }}</span
                >
            </div>
            <div class="form__group">
                <label class="form__label" for="role-select">Peran</label>
                <v-select
                    id="role-select"
                    label="name"
                    :options="jobroles"
                    v-model="selected_jobrole"
                    placeholder="Pilih Peran"
                    @input="addRole"
                ></v-select>
                <div class="mt-3 flex flex-wrap">
                    <div
                        v-for="(role, index) in selected_jobroles"
                        :key="index"
                        class="badge mr2 mb2"
                    >
                        <span>{{ role.name }}</span>
                        <span
                            class="badge__icon"
                            @click="removeRole(role, index)"
                        >
                            <i class="icon-close-square"></i>
                        </span>
                    </div>
                    <span
                        v-if="errors.jobrole_ids"
                        class="invalid-feedback"
                        role="alert"
                        >{{ errors.jobrole_ids[0] }}</span
                    >
                </div>
            </div>
            <div class="form__group">
                <label class="form__label" for="must-skill-select"
                    >Keahlian Wajib</label
                >
                <v-select
                    id="must-skill-select"
                    label="name"
                    :options="must_skills"
                    placeholder="Cari Keahlian"
                    @search="searchMustSkills"
                    v-model="selected_must_skill"
                    @input="addMustSkill"
                ></v-select>
                <div class="mt-3 flex flex-wrap">
                    <div
                        v-for="(skill, index) in selected_must_skills"
                        :key="index"
                        class="badge mr2 mb2"
                    >
                        <span>{{ skill.name }}</span>
                        <span
                            class="badge__icon"
                            @click="removeMustSkill(skill, index)"
                        >
                            <i class="icon-close-square"></i>
                        </span>
                    </div>
                    <span
                        v-if="errors.must_skill_ids"
                        class="invalid-feedback"
                        role="alert"
                        >{{ errors.must_skill_ids[0] }}</span
                    >
                </div>
            </div>
            <div class="form__group">
                <label class="form__label" for="nice-skill-select"
                    >Keahlian Tambahan</label
                >
                <v-select
                    id="nice-skill-select"
                    label="name"
                    :options="nice_skills"
                    placeholder="Cari Keahlian"
                    @search="searchNiceSkills"
                    v-model="selected_nice_skill"
                    @input="addNiceSkill"
                ></v-select>
                <div class="mt-3 flex flex-wrap">
                    <div
                        v-for="(skill, index) in selected_nice_skills"
                        :key="index"
                        class="badge mr2 mb2"
                    >
                        <span>{{ skill.name }}</span>
                        <span
                            class="badge__icon"
                            @click="removeNiceSkill(skill, index)"
                        >
                            <i class="icon-close-square"></i>
                        </span>
                    </div>
                    <span
                        v-if="errors.nice_skill_ids"
                        class="invalid-feedback"
                        role="alert"
                        >{{ errors.nice_skill_ids[0] }}</span
                    >
                </div>
                <div class="form__group">
                    <label class="form__label" for="work_experience"
                        >Pengalaman</label
                    >
                    <v-select
                        label="text"
                        id="work_experience"
                        :options="option_select.experience"
                        v-model="selected_experience"
                        @input="experienceChange"
                        placeholder="Pilih"
                    ></v-select>
                    <span
                        v-if="errors.work_experience"
                        class="invalid-feedback"
                        role="alert"
                        >{{ errors.work_experience[0] }}</span
                    >
                </div>
            </div>
        </div>
        <div class="card__footer">
            <div class="flex justify-between">
                <button
                    type="button"
                    @click="goTo('prev')"
                    class="btn btn-outline btn-outline--primary"
                >
                    <i class="icon-arrow-left"></i> Sebelumnya
                </button>
                <button
                    type="button"
                    @click="goTo('next')"
                    class="btn btn--primary"
                >
                    Selanjutnya <i class="icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        form_data: Object,
        errors: Object,
        option_select: Object,
    },
    data() {
        let selected_jobfunction = null;
        let selected_jobroles = [];
        let selected_must_skills = [];
        let selected_nice_skills = [];
        let selected_experience = null;

        if (this.form_data.id != "") {
            selected_jobfunction = {
                id: this.form_data.jobfunction_id,
                name: this.form_data.jobfunction_raw.name,
            };

            this.form_data.jobroles_raw.forEach((role) => {
                selected_jobroles.push(role);
            });

            this.form_data.must_skills_raw.forEach((skill) => {
                selected_must_skills.push(skill);
            });

            this.form_data.nice_skills_raw.forEach((skill) => {
                selected_nice_skills.push(skill);
            });

            selected_experience = {
                value: this.form_data.work_experience,
                text: this.form_data.work_experience_raw.description,
            };
        }

        return {
            form: this.form_data,
            jobfunctions: [],
            selected_jobfunction,
            jobroles: [],
            selected_jobroles,
            selected_jobrole: null,
            must_skills: [],
            selected_must_skills,
            selected_must_skill: null,
            nice_skills: [],
            selected_nice_skills,
            selected_nice_skill: null,
            selected_experience,
        };
    },
    created() {
        this.getJobfunctions();
        if (this.form.id != "") {
            this.getJobroles(this.form.jobfunction_id, false);
        }
    },
    methods: {
        goTo(type) {
            this.$emit("goto", type);
        },
        getJobfunctions() {
            axios
                .get(`${APP_BASE_URL}/api/jobfunctions`)
                .then((res) => {
                    let data = res.data;
                    this.jobfunctions = data.data;
                })
                .catch((err) => {
                    console.log(err.response);
                });
        },
        getJobroles(jobfunction_id, reset = true) {
            if (reset) {
                this.jobroles = [];
                this.form.jobrole_ids = [];
                this.selected_jobrole = {
                    id: "",
                    name: "",
                };
            }

            axios
                .get(`${APP_BASE_URL}/api/jobroles/${jobfunction_id}`)
                .then((res) => {
                    let data = res.data;
                    this.jobroles = data.data;
                })
                .catch((err) => {
                    console.log(err.response);
                });
        },
        jobfunctionChange(value) {
            this.form.jobfunction_id = value.id;
            this.getJobroles(value.id);
            this.form.jobrole_ids = [];
            this.selected_jobroles = [];
            this.formUpdate();
        },
        addRole(value) {
            if (!this.form.jobrole_ids.includes(value.id)) {
                this.form.jobrole_ids.push(value.id);
                this.selected_jobroles.push(value);
                this.formUpdate();
            }
        },
        removeRole(role, index) {
            this.selected_jobroles.splice(index, 1);
            this.form.jobrole_ids.splice(index, 1);
            this.formUpdate();
        },
        searchMustSkills(search, loading) {
            loading(true);

            axios
                .get(`${APP_BASE_URL}/api/skills-search?s=${escape(search)}`)
                .then((res) => {
                    this.must_skills = res.data.data;
                })
                .catch((err) => {
                    console.log(err);
                })
                .finally(() => {
                    loading(false);
                });
        },
        addMustSkill(value) {
            if (!this.form.must_skill_ids.includes(value.id)) {
                this.form.must_skill_ids.push(value.id);
                this.selected_must_skills.push(value);
                this.formUpdate();
            }
        },
        removeMustSkill(skill, index) {
            this.selected_must_skills.splice(index, 1);
            this.form.must_skill_ids.splice(index, 1);
            this.formUpdate();
        },
        searchNiceSkills(search, loading) {
            loading(true);

            axios
                .get(`${APP_BASE_URL}/api/skills-search?s=${escape(search)}`)
                .then((res) => {
                    this.nice_skills = res.data.data;
                })
                .catch((err) => {
                    console.log(err);
                })
                .finally(() => {
                    loading(false);
                });
        },
        addNiceSkill(value) {
            if (!this.form.nice_skill_ids.includes(value.id)) {
                this.form.nice_skill_ids.push(value.id);
                this.selected_nice_skills.push(value);
                this.formUpdate();
            }
        },
        removeNiceSkill(skill, index) {
            this.selected_nice_skills.splice(index, 1);
            this.form.nice_skill_ids.splice(index, 1);
            this.formUpdate();
        },
        experienceChange(value) {
            this.form.work_experience = value.value;
            this.formUpdate();
        },
        formUpdate() {
            this.$emit("form_update", this.form);
        },
    },
};
</script>