<template>
    <div class="card">
        <div class="card__header">
            <h2 class="card__header-title">
                <i class="icon-edit-square"></i> Gaji
            </h2>
        </div>
        <div class="card__body">
            <h3>Gaji Dasar</h3>
            <div class="clearfix mxn2">
                <div class="col col-12 sm-col-6 px2">
                    <div class="form__group">
                        <label for="salary_min" class="form__label">Min</label>
                        <Money
                            class="form__control"
                            id="salary_min"
                            name="salary_min"
                            v-model="form.salary_min"
                            v-bind="money"
                            @keyup.native="formUpdate"
                        />
                        <span
                            v-if="errors.salary_min"
                            class="invalid-feedback"
                            role="alert"
                            >{{ errors.salary_min[0] }}</span
                        >
                    </div>
                </div>
                <div class="col col-12 sm-col-6 px2">
                    <div class="form__group">
                        <label for="salary_max" class="form__label">Max</label>
                        <Money
                            class="form__control"
                            id="salary_max"
                            name="salary_max"
                            v-model="form.salary_max"
                            v-bind="money"
                            @keyup.native="formUpdate"
                        />
                        <span
                            v-if="errors.salary_max"
                            class="invalid-feedback"
                            role="alert"
                            >{{ errors.salary_max[0] }}</span
                        >
                    </div>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label" for="salary_duration"
                    >Durasi Gaji</label
                >
                <v-select
                    label="text"
                    id="salary_duration"
                    :options="option_select.salary_duration"
                    v-model="selected_salary_duration"
                    @input="salaryDurationChange"
                    placeholder="Pilih"
                ></v-select>
                <span
                    v-if="errors.salary_duration"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.salary_duration[0] }}</span
                >
            </div>

            <hr />

            <h3>Gaji Bonus</h3>

            <div class="form__group">
                <label class="cb-container"
                    >Ada Gaji Bonus?
                    <input
                        type="checkbox"
                        name="bonus_salary"
                        v-model="form.bonus_salary"
                        @change="formUpdate"
                    />
                    <span class="checkmark"></span>
                </label>
                <span
                    v-if="errors.bonus_salary"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.bonus_salary[0] }}</span
                >
            </div>

            <div v-if="form.bonus_salary" class="clearfix mxn2">
                <div class="col col-12 sm-col-6 px2">
                    <div class="form__group">
                        <label for="bonus_salary_min" class="form__label"
                            >Min</label
                        >
                        <Money
                            class="form__control"
                            name="bonus_salary_min"
                            id="bonus_salary_min"
                            v-model="form.bonus_salary_min"
                            v-bind="money"
                            @keyup.native="formUpdate"
                        />
                        <span
                            v-if="errors.bonus_salary_min"
                            class="invalid-feedback"
                            role="alert"
                            >{{ errors.bonus_salary_min[0] }}</span
                        >
                    </div>
                </div>
                <div class="col col-12 sm-col-6 px2">
                    <div class="form__group">
                        <label for="bonus_salary_max" class="form__label"
                            >Max</label
                        >
                        <Money
                            class="form__control"
                            name="bonus_salary_max"
                            id="bonus_salary_max"
                            v-model="form.bonus_salary_max"
                            v-bind="money"
                            @keyup.native="formUpdate"
                        />
                        <span
                            v-if="errors.bonus_salary_max"
                            class="invalid-feedback"
                            role="alert"
                            >{{ errors.bonus_salary_max[0] }}</span
                        >
                    </div>
                </div>
            </div>
            <div v-if="form.bonus_salary" class="form__group">
                <label class="form__label" for="bonus_salary_duration"
                    >Durasi Gaji Bonus</label
                >
                <v-select
                    label="text"
                    id="bonus_salary_duration"
                    :options="option_select.salary_duration"
                    v-model="selected_bonus_salary_duration"
                    @input="bonusSalaryDurationChange"
                    placeholder="Pilih"
                ></v-select>
                <span
                    v-if="errors.bonus_salary_duration"
                    class="invalid-feedback"
                    role="alert"
                    >{{ errors.bonus_salary_duration[0] }}</span
                >
            </div>
        </div>
        <div class="card__footer">
            <div class="flex justify-between">
                <button
                    type="button"
                    @click="goTo('prev')"
                    class="btn btn-outline btn-outline--primary"
                >
                    <i class="icon-arrow-left"></i> Sebelumnya
                </button>
                <button
                    type="button"
                    @click="goTo('next')"
                    class="btn btn--primary"
                >
                    Selanjutnya <i class="icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import MoneyMixin from "../../../../../../../../../../resources/js/mixins/money";

export default {
    props: {
        form_data: Object,
        option_select: Object,
        errors: Object,
    },
    mixins: ["MoneyMixin"],
    data() {
        let selected_salary_duration = {
            value: "monthly",
            text: "Monthly",
        };
        let selected_bonus_salary_duration = {
            value: "monthly",
            text: "Monthly",
        };

        if (this.form_data.id != "") {
            selected_salary_duration = {
                value: this.form_data.salary_duration,
                text: this.form_data.salary_duration_raw.description,
            };
            selected_bonus_salary_duration = {
                value: this.form_data.bonus_salary_duration,
                text: this.form_data.bonus_salary_duration_raw.description,
            };
        }

        return {
            selected_salary_duration,
            selected_bonus_salary_duration,
            form: this.form_data,
        };
    },
    methods: {
        goTo(type) {
            this.$emit("goto", type);
        },
        salaryDurationChange(value) {
            this.form.salary_duration = value.value;
            this.formUpdate();
        },
        bonusSalaryDurationChange(value) {
            this.form.bonus_salary_duration = value.value;
            this.formUpdate();
        },
        formUpdate() {
            this.$emit("form_update", this.form);
        },
    },
};
</script>