<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-jne>
                <div class="title">JNE</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-jne" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Enable JNE</label>
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.jne_enable"
                            @change="jneUpdate"
                            :options="[
                                { value: 1, text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                        ></b-form-select>
                        <span
                            v-if="errors.jne_enable"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.jne_enable[0] }}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">JNE Services</label>
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.jne_services"
                            @change="jneUpdate"
                            multiple
                        >
                            <option value="OKE"
                                >OKE Ongkos Kirim Ekonomis</option
                            >
                            <option value="REG">REG Layanan Reguler</option>
                            <option value="YES">YES Yakin Esok Sampai</option>
                            <option value="SPS">SPS Super Speed</option>
                            <option value="CTC">CTC JNE City Courier</option>
                            <option value="CTCOKE"
                                >CTCOKE JNE City Courier</option
                            >
                            <option value="CTCYES"
                                >CTCYES JNE City Courier</option
                            >
                            <option value="PELIK"
                                >Amplop Pra Bayar PELIKAN</option
                            >
                        </select>
                        <span
                            v-if="errors.jne_services"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.jne_services[0] }}
                        </span>
                    </div>
                </div>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
export default {
    props: ["configs", "errors"],
    data() {
        return {
            form: {
                jne_enable: this.configs.jne_enable,
                jne_services: JSON.parse(this.configs.jne_services)
            }
        };
    },
    methods: {
        jneUpdate() {
            this.$emit("jneFormUpdate", this.form);
        }
    }
};
</script>
