<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-jnt>
                <div class="title">J&T</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-jnt" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Enable J&T</label>
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.jnt_enable"
                            @change="jntUpdate"
                            :options="[
                                { value: 1, text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                        ></b-form-select>
                        <span
                            v-if="errors.jnt_enable"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.jnt_enable[0] }}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">J&T Services</label>
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.jnt_services"
                            @change="jntUpdate"
                            multiple
                        >
                            <option value="EZ">EZ Regular Service</option>
                        </select>
                        <span
                            v-if="errors.jnt_services"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.jnt_services[0] }}
                        </span>
                    </div>
                </div>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
export default {
    props: ["configs", "errors"],
    data() {
        return {
            form: {
                jnt_enable: this.configs.jnt_enable,
                jnt_services: JSON.parse(this.configs.jnt_services)
            }
        };
    },
    methods: {
        jntUpdate() {
            this.$emit("jntFormUpdate", this.form);
        }
    }
};
</script>
