<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-ninja>
                <div class="title">Ninja Xpress</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-ninja" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >Enable Ninja Xpress</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.ninja_enable"
                            @change="ninjaUpdate"
                            :options="[
                                { value: 1, text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                        ></b-form-select>
                        <span
                            v-if="errors.ninja_enable"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.ninja_enable[0] }}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >Ninja Xpress Services</label
                    >
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.ninja_services"
                            @change="ninjaUpdate"
                            multiple
                        >
                            <option value="NEXTDAY">Next Day Service</option>
                            <option value="STANDARD">Standard Service</option>
                        </select>
                        <span
                            v-if="errors.ninja_services"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.ninja_services[0] }}
                        </span>
                    </div>
                </div>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
export default {
    props: ["configs", "errors"],
    data() {
        return {
            form: {
                ninja_enable: this.configs.ninja_enable,
                ninja_services: JSON.parse(this.configs.ninja_services)
            }
        };
    },
    methods: {
        ninjaUpdate() {
            this.$emit("ninjaFormUpdate", this.form);
        }
    }
};
</script>
