<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-pos>
                <div class="title">Pos</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-pos" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >Enable Pos Indonesia</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.pos_enable"
                            @change="posUpdate"
                            :options="[
                                { value: 1, text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                        ></b-form-select>
                        <span
                            v-if="errors.pos_enable"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.pos_enable[0] }}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >Pos Indonesia Services</label
                    >
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.pos_services"
                            @change="posUpdate"
                            multiple
                        >
                            <option value="Surat Kilat Khusus"
                                >Surat Kilat Khusus</option
                            >
                            <option value="Paket Kilat Khusus"
                                >Paket Kilat Khusus</option
                            >
                            <option value="Express Next Day"
                                >Express Next Day</option
                            >
                            <option value="Express Next Day Barang"
                                >Express Next Day Barang</option
                            >
                            <option value="Q9 Barang">Q9 Barang</option>
                        </select>
                        <span
                            v-if="errors.pos_services"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.pos_services[0] }}
                        </span>
                    </div>
                </div>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
export default {
    props: ["configs", "errors"],
    data() {
        return {
            form: {
                pos_enable: this.configs.pos_enable,
                pos_services: JSON.parse(this.configs.pos_services)
            }
        };
    },
    methods: {
        posUpdate() {
            this.$emit("posFormUpdate", this.form);
        }
    }
};
</script>
