<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-sicepat>
                <div class="title">SiCepat</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-sicepat" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >Enable SiCepat</label
                    >
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.sicepat_enable"
                            @change="sicepatUpdate"
                            :options="[
                                { value: 1, text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                        ></b-form-select>
                        <span
                            v-if="errors.sicepat_enable"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.sicepat_enable[0] }}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                        >SiCepat Services</label
                    >
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.sicepat_services"
                            @change="sicepatUpdate"
                            multiple
                        >
                            <option value="REG">Layanan Reguler</option>
                            <option value="BEST">Besok Sampai Tujuan</option>
                        </select>
                        <span
                            v-if="errors.sicepat_services"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.sicepat_services[0] }}
                        </span>
                    </div>
                </div>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
export default {
    props: ["configs", "errors"],
    data() {
        return {
            form: {
                sicepat_enable: this.configs.sicepat_enable,
                sicepat_services: JSON.parse(this.configs.sicepat_services)
            }
        };
    },
    methods: {
        sicepatUpdate() {
            this.$emit("sicepatFormUpdate", this.form);
        }
    }
};
</script>
