<template>
    <b-card no-body class="card-accordion">
        <b-card-header header-tag="header" role="tab">
            <div class="toggler" v-b-toggle.accordion-tiki>
                <div class="title">Tiki</div>
                <div class="arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </b-card-header>
        <b-collapse id="accordion-tiki" role="tabpanel">
            <b-card-body>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Enable Tiki</label>
                    <div class="col-sm-9">
                        <b-form-select
                            v-model="form.tiki_enable"
                            @change="tikiUpdate"
                            :options="[
                                { value: 1, text: 'Yes' },
                                { value: 0, text: 'No' }
                            ]"
                        ></b-form-select>
                        <span
                            v-if="errors.tiki_enable"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.tiki_enable[0] }}
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tiki Services</label>
                    <div class="col-sm-9">
                        <select
                            class="form-control"
                            v-model="form.tiki_services"
                            @change="tikiUpdate"
                            multiple
                        >
                            <option value="ECO">ECO Economi Service</option>
                            <option value="REG">REG Regular Service</option>
                            <option value="ONS">ONS Over Night Service</option>
                            <option value="HDS"
                                >HDS Holiday Delivery Service</option
                            >
                            <option value="SDS">SDS Same Day Service</option>
                            <option value="TDS">TDS Two Day Service</option>
                        </select>
                        <span
                            v-if="errors.tiki_services"
                            class="text-danger small"
                            role="alert"
                        >
                            {{ errors.tiki_services[0] }}
                        </span>
                    </div>
                </div>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<script>
export default {
    props: ["configs", "errors"],
    data() {
        return {
            form: {
                tiki_enable: this.configs.tiki_enable,
                tiki_services: JSON.parse(this.configs.tiki_services)
            }
        };
    },
    methods: {
        tikiUpdate() {
            this.$emit("tikiFormUpdate", this.form);
        }
    }
};
</script>
