<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Trashed Jobs");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "jobs",
                baseUrl: `${DASHBOARD_BASE_URL}/job/jobs`,
                queryUrl: `${DASHBOARD_BASE_URL}/job/jobs/trashed`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/job/jobs`,
                    trashed: `${DASHBOARD_BASE_URL}/job/jobs/trashed`,
                },
                trashed_page: true,
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    identifier: "",
                    title: "",
                    type: "",
                    jobfunction_id: "",
                    city_id: "",
                    job_posting_status: "",
                    status: "",
                    start_date: "",
                    end_date: "",
                },
                filterFields: {
                    identifier: {
                        name: "Identifier",
                        type: "input",
                    },
                    title: {
                        name: "Title",
                        type: "input",
                    },
                    type: {
                        name: "Type",
                        type: "select",
                        options: this.data.job_type_select,
                    },
                    daterange: true,
                    jobfunction_id: {
                        name: "Job Function",
                        type: "select",
                        options: this.data.job_function_select,
                    },
                    city_id: {
                        name: "City",
                        type: "select",
                        options: this.data.city_select,
                    },
                    job_posting_status: {
                        name: "Posting Status",
                        type: "select",
                        options: this.data.job_posting_status_select,
                    },
                    status: {
                        name: "Status",
                        type: "select",
                        options: this.data.job_status_select,
                    },
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Title",
                        propertyName: "title",
                    },
                    {
                        name: "Type",
                        propertyName: "type",
                    },
                    {
                        name: "Job Function",
                        propertyName: "job_function.name",
                    },
                    {
                        name: "City",
                        propertyName: "city.name",
                    },
                    {
                        name: "Posting Status",
                        propertyName: "job_posting_status",
                    },
                    {
                        name: "Status",
                        propertyName: "status",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                    {
                        name: "Deleted At",
                        propertyName: "deleted_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Title",
                    propertyName: "id",
                    type: ["restore", "destroy_permanent"],
                },
            },
        };
    },
};
</script>
