<template>
    <div class="container myo">
        <VueStickySidebar
            class="myo__side"
            containerSelector=".container"
            innerWrapperSelector=".myo__side--inner"
            :topSpacing="70"
            :minWidth="992"
        >
            <Side
                :user="user_data"
                :completion="completion"
                @updated="userUpdated"
            />
        </VueStickySidebar>

        <main class="myo__main">
            <Basic
                :user="user_data"
                :job_statuses="job_statuses"
                :relationships="relationships"
                @updated="userUpdated"
            />
            <About class="mb3" :user="user_data" @updated="userUpdated" />
            <Experience class="mb3" :user="user_data" @updated="userUpdated" />
            <OrganizationExperience
                class="mb3"
                :user="user_data"
                @updated="userUpdated"
            />
            <Education
                class="mb3"
                :user="user_data"
                :education_degrees="education_degrees"
                :education_fields="education_fields"
                @updated="userUpdated"
            />
            <Skills
                class="mb3"
                :user="user_data"
                :pre_skill_options="skills"
                @updated="userUpdated"
            />
            <Interest
                class="mb3"
                :user="user_data"
                :job_types="job_types"
                :jobfunctions="jobfunctions"
                :all_cities="all_cities"
                @updated="userUpdated"
            />
            <Resume class="mb3" :user="user_data" @updated="userUpdated" />
            <Portofolio class="mb3" :user="user_data" @updated="userUpdated" />
        </main>
    </div>
</template>

<script>
import VueStickySidebar from "vue-sticky-sidebar";
import Side from "./Overview/Side";
import Basic from "./Overview/Basic";
import About from "./Overview/About";
import Experience from "./Overview/Experience";
import OrganizationExperience from "./Overview/OrganizationExperience";
import Education from "./Overview/Education";
import Skills from "./Overview/Skills";
import Interest from "./Overview/Interest";
import Resume from "./Overview/Resume";
import Portofolio from "./Overview/Portofolio";

export default {
    props: {
        user: Object,
        job_statuses: Object,
        relationships: Object,
        job_types: Object,
        jobfunctions: Array,
        education_degrees: Array,
        education_fields: Array,
        skills: Array,
        all_cities: Array
    },
    components: {
        VueStickySidebar,
        Side,
        Basic,
        About,
        Experience,
        OrganizationExperience,
        Education,
        Skills,
        Interest,
        Resume,
        Portofolio
    },
    data() {
        return {
            user_data: this.user,
            completion: {
                basic_info: false,
                about: false,
                experiences: false,
                organization_experience: false,
                educations: false,
                skills: false,
                interest: false,
                resume: false,
                portofolio: false,
                percentage: 0
            }
        };
    },
    mounted() {
        this.profileCompletion();
    },
    methods: {
        profileCompletion() {
            axios
                .get(`${APP_BASE_URL}/my-account/profile-completion`)
                .then(res => {
                    let completion = res.data.data;
                    this.completion = completion;
                })
                .catch(err => {
                    console.log(err);
                });
        },
        userUpdated(user) {
            this.user_data = user;
            this.profileCompletion();
        }
    }
};
</script>
