<template>
    <div class="container jap">
        <VueStickySidebar
            class="jap__side"
            containerSelector=".container"
            innerWrapperSelector=".jap__side--inner"
            :topSpacing="70"
            :minWidth="992"
        >
            <Side @navigate="navigate" :active_menu="active_menu" />
        </VueStickySidebar>

        <main class="jap__main">
            <All
                v-if="active_menu == 'all'"
                :data="data"
                @navigate="navigate"
            />
            <List
                v-else
                :active_menu="active_menu"
                :japs="japs"
                :pagination="pagination"
            />
        </main>
    </div>
</template>

<script>
import VueStickySidebar from "vue-sticky-sidebar";
import Side from "./JobApplications/Side";
import All from "./JobApplications/All";
import List from "./JobApplications/List";

export default {
    props: {
        data: Object,
    },
    data() {
        return {
            active_menu: "all",
            japs: [],
            pagination: {
                current_page: "",
                next_page_url: "",
                prev_page: "",
                prev_page_url: "",
            },
        };
    },
    components: {
        VueStickySidebar,
        Side,
        All,
        List,
    },
    methods: {
        navigate(to) {
            this.active_menu = to;
            this.japs = [];

            axios
                .get(`${APP_BASE_URL}/my-account/job-applications-status/${to}`)
                .then((res) => {
                    let result = res.data.data;
                    this.$set(
                        this.pagination,
                        "current_page",
                        result.current_page
                    );
                    this.$set(
                        this.pagination,
                        "next_page_url",
                        result.next_page_url
                    );
                    this.$set(this.pagination, "prev_page", result.prev_page);
                    this.$set(
                        this.pagination,
                        "prev_page_url",
                        result.prev_page_url
                    );
                    this.japs = result.job_applications;
                })
                .catch((err) => {
                    console.log(err);
                });
        },
    },
};
</script>