<template>
    <div class="container myo">
        <VueStickySidebar
            class="myo__side"
            containerSelector=".container"
            innerWrapperSelector=".myo__side--inner"
            :topSpacing="70"
            :minWidth="992"
        >
            <Side
                :user="user_data"
                @navigate="navigate"
                :active_menu="active_menu"
            />
        </VueStickySidebar>

        <main class="myo__main">
            <ManagePassword
                :user="user_data"
                @updated="userUpdated"
                :active_menu="active_menu"
            />
        </main>
    </div>
</template>

<script>
import VueStickySidebar from "vue-sticky-sidebar";
import Side from "./Account/Side";
import ManagePassword from "./Account/ManagePassword";

export default {
    props: {
        user: Object,
    },
    components: {
        VueStickySidebar,
        Side,
        ManagePassword,
    },
    data() {
        return {
            user_data: this.user,
            active_menu: "manage-password",
        };
    },
    methods: {
        navigate(to) {
            this.active_menu = to;
        },
        userUpdated(user) {
            this.user_data = user;
        },
    },
};
</script>