<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Job Applications");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "job_applications",
                baseUrl: `${DASHBOARD_BASE_URL}/job/job-applications`,
                showBaseUrl: `${DASHBOARD_BASE_URL}/job/job-applications`,
                queryUrl: `${DASHBOARD_BASE_URL}/job/job-applications`,
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    user_name: "",
                    user_email: "",
                    job_title: "",
                    company_name: "",
                    start_date: "",
                    end_date: "",
                },
                filterFields: {
                    company_name: {
                        name: "Company Name",
                        type: "input",
                    },
                    job_title: {
                        name: "Job Title",
                        type: "input",
                    },
                    user_name: {
                        name: "User Name",
                        type: "input",
                    },
                    daterange: true,
                    user_email: {
                        name: "User Email",
                        type: "input",
                    },
                    status: {
                        name: "Status",
                        type: "select",
                        options: [
                            { value: "pending", text: "Pending" },
                            { value: "shortlisted", text: "Shortlisted" },
                            { value: "interviewing", text: "Interviewing" },
                            { value: "offered", text: "Offered" },
                            { value: "hired", text: "Hired" },
                            { value: "unsuitable", text: "Unsuitable" },
                        ],
                    },
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Company Name",
                        propertyName: "company.name",
                    },
                    {
                        name: "Job Title",
                        propertyName: "workjob.title",
                    },
                    {
                        name: "User Name",
                        propertyName: "user.name",
                    },
                    {
                        name: "User Email",
                        propertyName: "user.email",
                    },
                    {
                        name: "Status",
                        propertyName: "status.description",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Company Name",
                    propertyNameShow: "id",
                    type: ["show"],
                },
            },
        };
    },
};
</script>
