<template>
    <div>
        <div v-if="datatable.hasOwnProperty('dt_links')" class="dt-list-link d-flex">
            <a
                :href="datatable.dt_links.all"
                title="All"
                :class="{ active: currentUrl == datatable.dt_links.all }"
            >All</a>
            <div class="separator mx-2">|</div>
            <a
                :href="datatable.dt_links.trashed"
                title="Trashed"
                :class="{ active: currentUrl == datatable.dt_links.trashed }"
            >Trashed</a>
        </div>

        <Pagination :pagination="pagination" :goToPage="goToPage" :data="datatable.data" />

        <FilterToolbar
            :datatable="datatable"
            :filter="filter"
            :resetFilter="resetFilter"
            :selected="selected"
            :show_reset="show_reset"
            :deleteSelected="deleteSelected"
            :locale="locale"
            :base_currency="base_currency"
            :errors="errors"
        />

        <Table
            :datatable="datatable"
            :destroy="destroy"
            :restore="restore"
            :locale="locale"
            :base_currency="base_currency"
            @selected_update="selectedUpdate"
        />

        <Pagination :pagination="pagination" :goToPage="goToPage" :data="datatable.data" />
    </div>
</template>

<script>
import Pagination from "./Pagination";
import FilterToolbar from "./FilterToolbar";
import Table from "./Table";
import moment from "moment";
import SwalMixin from "../../../mixins/swal";

export default {
    props: {
        datatable: Object,
        locale: String,
        base_currency: String,
    },
    mixins: ["SwalMixin"],
    data() {
        return {
            pagination: {
                current_page: 1,
                total_page: 0,
                displayed_start: 1,
                displayed_end: 1,
                page_num_left: "",
                page_num_middle: "",
                page_num_right: "",
            },
            show_reset: false,
            selected: [],
            errors: [],
        };
    },
    components: {
        Pagination,
        FilterToolbar,
        Table,
    },
    created() {
        this.updatePagination(1);
    },
    methods: {
        resetFilter() {
            for (var property in this.datatable.search) {
                if (this.datatable.search.hasOwnProperty(property)) {
                    this.datatable.search[property] = "";
                }
            }
            this.startDate = moment().subtract(29, "days");
            this.startDate = moment();

            this.show_reset = false;
            this.errors = [];
            axios
                .get(this.datatable.queryUrl)
                .then((res) => {
                    if (res.data.status == "success") {
                        this.datatable.data = res.data.data;
                        this.updatePagination(1);
                    }
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        filter() {
            this.updatePagination(1);
            this.show_reset = true;
            this.errors = [];
            axios
                .get(this.datatable.queryUrl, {
                    params: this.params,
                })
                .then((res) => {
                    if (res.data.status == "success") {
                        this.datatable.data = res.data.data;
                    }
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                });
        },
        destroy(id, permanent = false) {
            this.$swal({
                title: "Are you sure?",
                text: this.deleteConfirmText(permanent),
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, do it!",
            }).then((result) => {
                if (result.value) {
                    var axios_action = permanent
                        ? axios.get(
                              `${this.datatable.baseUrl}/${id}/delete-permanent`
                          )
                        : axios.delete(`${this.datatable.baseUrl}/${id}`);

                    axios_action
                        .then((res) => {
                            var data = res.data;
                            this.$snotify[data.status](
                                data.message,
                                data.status
                            );
                            if (data.status == "success") {
                                this.filter();
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                            if (err.response.status === 422) {
                                this.swalWrong(err.response.data.message);
                            }
                        });
                }
            });
        },
        deleteSelected(permanent = false) {
            this.$swal({
                title: "Are you sure?",
                text: this.deleteConfirmText(permanent),
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete selected!",
            }).then((result) => {
                if (result.value) {
                    var axios_action = permanent
                        ? `${this.datatable.baseUrl}/bulk-delete-permanent`
                        : `${this.datatable.baseUrl}/bulk-delete`;

                    axios
                        .post(axios_action, {
                            ids: this.selected,
                        })
                        .then((res) => {
                            var data = res.data;
                            this.$snotify[data.status](
                                data.message,
                                data.status
                            );
                            if (data.status == "success") {
                                this.filter();
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                            if (err.response.status === 422) {
                                this.swalWrong(err.response.data.message);
                            }
                        });
                }
            });
        },
        deleteConfirmText(permanent) {
            return permanent || this.datatable.noTrash
                ? "Data will be permanently deleted!"
                : "Move it to trash";
        },
        restore(id) {
            this.$swal({
                title: "Are you sure?",
                text: "This action will restore the data",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, do it!",
            }).then((result) => {
                if (result.value) {
                    axios
                        .get(`${this.datatable.baseUrl}/${id}/restore`)
                        .then((res) => {
                            var data = res.data;
                            this.$snotify[data.status](
                                data.message,
                                data.status
                            );
                            if (data.status == "success") {
                                this.filter();
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                            if (err.response.status === 422) {
                                this.swalWrong(err.response.data.message);
                            }
                        });
                }
            });
        },
        updatePagination(page) {
            this.pagination.current_page = page;
            this.pagination.total_page = Math.ceil(
                this.datatable.data.total / this.datatable.data.per_page
            );
            this.pagination.displayed_start =
                (this.pagination.current_page - 1) *
                    this.datatable.data.per_page +
                1;
            this.pagination.displayed_end =
                this.pagination.current_page == this.pagination.total_page
                    ? this.datatable.data.total
                    : this.pagination.current_page *
                      this.datatable.data.per_page;
            // set pagination if total_page more than 10
            if (this.pagination.total_page > 10) {
                // set pagination numbers left
                var page_num_left = [];
                if (this.pagination.current_page <= 5) {
                    for (let num = 1; num < 8; num++) {
                        page_num_left.push(num);
                    }
                } else {
                    for (let num = 1; num < 3; num++) {
                        page_num_left.push(num);
                    }
                }
                this.pagination.page_num_left = page_num_left;

                //set pagination numbers middle
                var page_num_middle = [];
                if (
                    this.pagination.current_page >= 6 &&
                    this.pagination.current_page <=
                        this.pagination.total_page - 5
                ) {
                    for (
                        let num = this.pagination.current_page - 3;
                        num < this.pagination.current_page + 4;
                        num++
                    ) {
                        page_num_middle.push(num);
                    }
                }
                this.pagination.page_num_middle = page_num_middle;

                // set pagination numbers right
                var page_num_right = [];
                if (
                    this.pagination.current_page <=
                    this.pagination.total_page - 5
                ) {
                    for (
                        let num = this.pagination.total_page - 1;
                        num < this.pagination.total_page + 1;
                        num++
                    ) {
                        page_num_right.push(num);
                    }
                } else {
                    for (
                        let num = this.pagination.total_page - 5;
                        num < this.pagination.total_page + 1;
                        num++
                    ) {
                        page_num_right.push(num);
                    }
                }
                this.pagination.page_num_right = page_num_right;
            }
        },
        goToPage(page) {
            this.updatePagination(page);
            let queryParams = this.params;
            queryParams["page"] = page;
            axios
                .get(this.datatable.queryUrl, {
                    params: queryParams,
                })
                .then((res) => {
                    var data = res.data;
                    if (data.status == "success") {
                        this.datatable.data = data.data;
                        this.$router.push({
                            path: this.$route.path,
                            query: queryParams,
                        });
                    }
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        selectedUpdate(selected) {
            this.selected = selected;
        },
    },
    computed: {
        params() {
            let params = {};
            for (var property in this.datatable.search) {
                if (this.datatable.search.hasOwnProperty(property)) {
                    this.datatable.search[property] != ""
                        ? (params[property] = this.datatable.search[property])
                        : "";
                }
            }

            return params;
        },
        currentUrl() {
            return window.location.href.split("?")[0];
        },
    },
};
</script>
