<template>
    <div class="data-filter">
        <form id="filter-data" @submit.prevent="filter">
            <div
                class="btn-toolbar justify-content-between mb-3"
                role="toolbar"
            >
                <div class="mb-3 mb-md-0 d-flex flex-wrap">
                    <a
                        v-if="'createUrl' in datatable"
                        :href="datatable.createUrl"
                        class="btn btn-primary mr-2 mb-2"
                    >
                        <i class="fas fa-plus"></i> Create
                    </a>
                    <button
                        v-if="!_.isEmpty(datatable.filterFields)"
                        type="button"
                        data-toggle="collapse"
                        data-target="#filterFields"
                        aria-expanded="false"
                        aria-controls="filterFields"
                        class="btn btn-outline-primary mr-2 mb-2"
                    >
                        <i class="fas fa-filter"></i> Advanced Filter
                        <i class="fas fa-caret-down"></i>
                    </button>
                    <div v-if="selected.length > 0" class="mr-2 mb-2">
                        <button
                            v-if="
                                datatable.hasOwnProperty('trashed_page') &&
                                    datatable.trashed_page
                            "
                            type="button"
                            class="btn btn-danger"
                            @click="deleteSelected(true)"
                        >
                            <i class="fas fa-eraser"></i> Delete Permanent
                            Selected Items
                        </button>
                        <button
                            v-else
                            type="button"
                            class="btn btn-danger"
                            @click="deleteSelected(false)"
                        >
                            <i class="fas fa-eraser"></i> Delete Selected
                        </button>
                    </div>
                    <button
                        type="button"
                        v-if="show_reset"
                        class="btn btn-outline-secondary mr-2 mb-2"
                        @click="resetFilter"
                    >
                        <i class="fas fa-eraser"></i> Reset Filter
                    </button>
                </div>

                <div
                    v-if="datatable.search.keyword != undefined"
                    class="input-group"
                >
                    <input
                        type="text"
                        id="s"
                        class="form-control"
                        placeholder="Search..."
                        v-model="datatable.search.keyword"
                        aria-label="Search"
                        aria-describedby="button-search-data"
                    />
                    <div class="input-group-append">
                        <button
                            class="btn btn-primary"
                            type="submit"
                            id="button-search-data"
                        >
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="collapse" id="filterFields">
                <div class="row">
                    <div
                        v-for="(filterField,
                        filterName) in datatable.filterFields"
                        :key="filterName"
                        class="col-md-3"
                    >
                        <div
                            v-if="filterName != 'daterange'"
                            class="form-group"
                        >
                            <label for="name">{{ filterField.name }}</label>
                            <input
                                v-if="filterField.type == 'input'"
                                type="text"
                                class="form-control"
                                :class="{ 'is-invalid': errors[filterName] }"
                                v-model="datatable.search[filterName]"
                            />
                            <select
                                v-if="filterField.type == 'select'"
                                class="form-control"
                                :class="{ 'is-invalid': errors[filterName] }"
                                v-model="datatable.search[filterName]"
                            >
                                <option value>-- Select --</option>
                                <option
                                    v-for="(filterOption,
                                    index) in filterField.options"
                                    :key="index"
                                    :value="filterOption.value"
                                    >{{ filterOption.text }}</option
                                >
                            </select>
                            <div
                                class="invalid-feedback"
                                v-if="errors[filterName]"
                            >
                                {{ errors[filterName][0] }}
                            </div>
                        </div>
                        <div
                            v-if="
                                filterName == 'daterange' &&
                                    datatable.filterFields.daterange
                            "
                            class="form-group"
                        >
                            <label>Created At</label>
                            <date-range-picker
                                ref="picker"
                                @update="dateRangeUpdate($event)"
                                :date-range="selectedDate"
                                :locale-data="daterange.locale"
                                :startDate="daterange.startDate"
                                :endDate="daterange.endDate"
                                :opens="daterange.opens"
                                :ranges="daterange.ranges"
                                v-model="selectedDate"
                                style="width:100%;"
                            >
                                <div slot="input" slot-scope="picker">
                                    <i class="fas fa-calendar-alt mr-2"></i>
                                    <span
                                        v-if="
                                            datatable.search.start_date ==
                                                datatable.default_start_date
                                        "
                                    >
                                        {{ datatable.default_start_date }} -
                                        {{ datatable.default_end_date }}
                                    </span>
                                    <span
                                        v-else-if="
                                            datatable.default_start_date ==
                                                '' &&
                                                picker.startDate == undefined
                                        "
                                        >-</span
                                    >
                                    <span v-else>
                                        {{
                                            picker.startDate
                                                | format_date_only(locale)
                                        }}
                                        -
                                        {{
                                            picker.endDate
                                                | format_date_only(locale)
                                        }}
                                    </span>
                                </div>
                            </date-range-picker>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right mb-4">
                    Filter
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import DateRangePicker from "vue2-daterange-picker";
import moment from "moment";

export default {
    props: {
        datatable: Object,
        filter: Function,
        resetFilter: Function,
        selected: Array,
        show_reset: Boolean,
        deleteSelected: Function,
        locale: String,
        base_currency: String,
        errors: Array
    },
    data() {
        return {
            selectedDate: {
                startDate:
                    this.datatable.start_date != ""
                        ? this.datatable.start_date
                        : moment(),
                endDate:
                    this.datatable.end_date != ""
                        ? this.datatable.end_date
                        : moment()
            },
            daterange: {
                startDate: this.datatable.start_date,
                endDate: this.datatable.end_date,
                opens: "left", //which way the picker opens, default "center", can be "left"/"right"
                locale: {
                    direction: "ltr", //direction of text
                    format: "dd-mm-yyyy", //fomart of the dates displayed
                    separator: " - ", //separator between the two ranges
                    applyLabel: "Apply",
                    cancelLabel: "Cancel",
                    weekLabel: "W",
                    daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
                    monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
                    firstDay: 1, //ISO first day of week - see moment documenations for details
                    showWeekNumbers: true //show week numbers on each row of the calendar
                },
                ranges: {
                    //default value for ranges object (if you set this to false ranges will no be rendered)
                    Today: [moment(), moment()],
                    Yesterday: [
                        moment().subtract(1, "days"),
                        moment().subtract(1, "days")
                    ],
                    "Last week": [
                        moment()
                            .subtract(1, "week")
                            .startOf("week"),
                        moment()
                            .subtract(1, "week")
                            .endOf("week")
                    ],
                    "This month": [
                        moment().startOf("month"),
                        moment().endOf("month")
                    ],
                    "Last month": [
                        moment()
                            .subtract(1, "month")
                            .startOf("month"),
                        moment()
                            .subtract(1, "month")
                            .endOf("month")
                    ],
                    "This year": [
                        moment().startOf("year"),
                        moment().endOf("year")
                    ]
                }
            }
        };
    },
    components: {
        DateRangePicker
    },
    methods: {
        dateRangeUpdate(value) {
            this.datatable.search.start_date = moment(value.startDate).format(
                "YYYY-MM-DD"
            );
            this.datatable.search.end_date = moment(value.endDate).format(
                "YYYY-MM-DD"
            );
        }
    }
};
</script>

<style lang="scss" scoped>
.input-group-append {
    display: block;
}
</style>
