<template>
    <div class="btn-toolbar justify-content-between mt-3" role="toolbar">
        <div>
            Total {{ data.total }} items
            <span class="mx-2">|</span>
            Page {{ data.current_page }} from {{ data.total_page }}
            <span class="mx-2">|</span>
            Displayed {{ data.displayed_start }} - {{ data.displayed_end }}
        </div>

        <nav aria-label="Page navigation" v-if="data.total > data.per_page">
            <ul
                class="pagination justify-content-end"
                v-if="pagination.total_page <= 10"
            >
                <li
                    class="page-item"
                    :class="{ disabled: pagination.current_page == 1 }"
                >
                    <a
                        href="#"
                        class="page-link"
                        @click.prevent="goToPage(pagination.current_page - 1)"
                    >
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li
                    class="page-item"
                    :class="{ active: pagination.current_page == page }"
                    v-for="page in pagination.total_page"
                    :key="page"
                >
                    <a
                        href="#"
                        class="page-link"
                        @click.prevent="goToPage(page)"
                        >{{ page }}</a
                    >
                </li>
                <li
                    class="page-item"
                    :class="{
                        disabled:
                            pagination.current_page == pagination.total_page
                    }"
                >
                    <a
                        href="#"
                        class="page-link"
                        @click.prevent="goToPage(pagination.current_page + 1)"
                    >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            <ul class="pagination justify-content-end" v-else>
                <li
                    class="page-item"
                    :class="{ disabled: pagination.current_page == 1 }"
                >
                    <a
                        href="#"
                        class="page-link"
                        @click.prevent="goToPage(pagination.current_page - 1)"
                    >
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!-- Pagination numbers left -->
                <li
                    class="page-item"
                    :class="{ active: pagination.current_page == page }"
                    v-for="page in pagination.page_num_left"
                    :key="page"
                >
                    <a
                        href="#"
                        class="page-link"
                        @click.prevent="goToPage(page)"
                        >{{ page }}</a
                    >
                </li>
                <!-- End pagination numbers left -->
                <!-- Pagination before middle -->
                <li
                    v-if="pagination.page_num_middle != ''"
                    aria-disabled="true"
                    class="page-item disabled"
                >
                    <span class="page-link">...</span>
                </li>
                <!-- End pagination before middle -->
                <!-- Pagination numbers middle -->
                <li
                    v-if="pagination.page_num_middle == ''"
                    aria-disabled="true"
                    class="page-item disabled"
                >
                    <span class="page-link">...</span>
                </li>
                <li
                    v-else
                    class="page-item"
                    :class="{ active: pagination.current_page == page }"
                    v-for="page in pagination.page_num_middle"
                    :key="page"
                >
                    <a
                        href="#"
                        class="page-link"
                        @click.prevent="goToPage(page)"
                        >{{ page }}</a
                    >
                </li>
                <!-- End pagination numbers middle -->
                <!-- Pagination after middle -->
                <li
                    v-if="pagination.page_num_middle != ''"
                    aria-disabled="true"
                    class="page-item disabled"
                >
                    <span class="page-link">...</span>
                </li>
                <!-- End pagination after middle -->
                <!-- Pagination numbers right -->
                <li
                    class="page-item"
                    :class="{ active: pagination.current_page == page }"
                    v-for="page in pagination.page_num_right"
                    :key="page"
                >
                    <a
                        href="#"
                        class="page-link"
                        @click.prevent="goToPage(page)"
                        >{{ page }}</a
                    >
                </li>
                <!-- End pagination numbers right -->
                <li
                    class="page-item"
                    :class="{
                        disabled:
                            pagination.current_page == pagination.total_page
                    }"
                >
                    <a
                        href="#"
                        class="page-link"
                        @click.prevent="goToPage(pagination.current_page + 1)"
                    >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
export default {
    props: {
        pagination: Object,
        data: Object,
        goToPage: Function
    }
};
</script>
