<template>
    <div class="table-responsive">
        <table class="dt-table table table-hover">
            <thead>
                <tr>
                    <th
                        v-for="(col, index) in datatable.cols"
                        :key="index"
                        :class="{
                            'text-right': index + 1 == datatable.cols.length,
                        }"
                    >
                        <div
                            v-if="col.name == 'cb'"
                            class="custom-control custom-checkbox"
                        >
                            <input
                                type="checkbox"
                                id="select-all"
                                class="custom-control-input"
                                v-model="selectAll"
                                value="1"
                            />
                            <label
                                class="custom-control-label"
                                for="select-all"
                            ></label>
                        </div>
                        <span v-else>{{ col.name }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(data, indexData) in datatable.data[
                        datatable.dataPropertyName
                    ]"
                    :key="indexData"
                >
                    <td
                        v-for="(col, indexCol) in datatable.cols"
                        :key="indexCol"
                        :class="{
                            'text-right': indexCol + 1 == datatable.cols.length,
                        }"
                    >
                        <div
                            v-if="col.name == 'cb'"
                            class="custom-control custom-checkbox"
                        >
                            <input
                                type="checkbox"
                                class="custom-control-input"
                                :id="`data-cb-${indexData}`"
                                v-model="selected"
                                :value="_.get(data, col.propertyName)"
                            />
                            <label
                                class="custom-control-label"
                                :for="`data-cb-${indexData}`"
                            ></label>
                        </div>
                        <span v-else>
                            <span v-if="col.type == 'boolean'">
                                {{
                                    _.get(data, col.propertyName) ? "Yes" : "No"
                                }}
                            </span>
                            <span v-else-if="col.type == 'numeric'">
                                {{
                                    _.get(data, col.propertyName)
                                        | format_number(locale)
                                }}
                            </span>
                            <span v-else-if="col.type == 'currency'">
                                {{
                                    _.get(data, col.propertyName)
                                        | format_number(locale, currency_symbol)
                                }}
                            </span>
                            <span v-else-if="col.type == 'date_time'">
                                {{
                                    _.get(data, col.propertyName)
                                        | format_date(locale)
                                }}
                            </span>
                            <span v-else-if="col.type == 'image_only'">
                                <div class="image-only">
                                    <img
                                        :src="data[col.propertyName]"
                                        class="img-fluid"
                                    />
                                </div>
                            </span>
                            <span
                                v-else-if="col.type == 'avatar'"
                                class="d-flex align-items-center"
                            >
                                <div class="avatar mr-2">
                                    <img
                                        :src="data[col.imagePropertyName]"
                                        :alt="_.get(data, col.propertyName)"
                                        class="img-fluid"
                                        :class="{
                                            'rounded-circle': col.image_rounded,
                                        }"
                                    />
                                </div>
                                <span>{{ _.get(data, col.propertyName) }}</span>
                            </span>
                            <span v-else>
                                {{ _.get(data, col.propertyName) }}
                            </span>
                            <div
                                v-if="actions !== undefined"
                                class="dt-actions small"
                            >
                                <div v-if="col.name == actions.addTo">
                                    <a
                                        v-if="actions.type.includes('show')"
                                        :href="`${
                                            datatable.showBaseUrl
                                        }/${_.get(
                                            data,
                                            actions.propertyNameShow
                                        )}`"
                                        class="text-success mr-2"
                                        title="Show"
                                        >View</a
                                    >
                                    <a
                                        v-if="actions.type.includes('edit')"
                                        :href="`${datatable.baseUrl}/${_.get(
                                            data,
                                            actions.propertyName
                                        )}/edit`"
                                        class="text-info mr-2"
                                        title="Edit"
                                        >Edit</a
                                    >
                                    <a
                                        v-if="actions.type.includes('destroy')"
                                        href="#"
                                        class="text-danger mr-2"
                                        title="Delete"
                                        @click.prevent="
                                            destroy(
                                                _.get(
                                                    data,
                                                    actions.propertyName
                                                )
                                            )
                                        "
                                        >Delete</a
                                    >
                                    <a
                                        v-if="actions.type.includes('restore')"
                                        href="#"
                                        class="text-info mr-2"
                                        title="Restore"
                                        @click.prevent="
                                            restore(
                                                _.get(
                                                    data,
                                                    actions.propertyName
                                                )
                                            )
                                        "
                                        >Restore</a
                                    >
                                    <a
                                        v-if="
                                            actions.type.includes(
                                                'destroy_permanent'
                                            )
                                        "
                                        href="#"
                                        class="text-danger mr-2"
                                        title="Delete Permanent"
                                        @click.prevent="
                                            destroy(
                                                _.get(
                                                    data,
                                                    actions.propertyName
                                                ),
                                                true
                                            )
                                        "
                                        >Delete Permanent</a
                                    >
                                </div>
                            </div>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        datatable: Object,
        destroy: Function,
        restore: Function,
    },
    data() {
        return {
            selectAll: 0,
            selected: [],
            actions: this.datatable.actions,
            locale: LOCALE,
            currency: BASE_CURRENCY,
            currency_symbol: BASE_CURRENCY_SYMBOL,
        };
    },
    watch: {
        selectAll: function (newValue, oldValue) {
            this.selected = [];
            if (newValue == 1) {
                for (let i in this.datatable.data[
                    this.datatable.dataPropertyName
                ]) {
                    this.selected.push(
                        this.datatable.data[this.datatable.dataPropertyName][i]
                            .id
                    );
                }
            } else {
                this.selected = [];
            }
        },
        selected: function (newValue, oldValue) {
            this.$emit("selected_update", newValue);
            if (this.selected.length == 0) {
                this.selectAll = 0;
            }
        },
    },
};
</script>
