<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable,
    },
    created() {
        EventBus.$emit("set_page_title", "Head Hunting");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "head_huntings",
                baseUrl: `${DASHBOARD_BASE_URL}/head-huntings`,
                showBaseUrl: `${DASHBOARD_BASE_URL}/head-huntings`,
                queryUrl: `${DASHBOARD_BASE_URL}/head-huntings`,
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    position: "",
                    employer_name: "",
                    employer_email: "",
                    contacted: "",
                    start_date: "",
                    end_date: "",
                },
                filterFields: {
                    position: {
                        name: "Position",
                        type: "input",
                    },
                    employer_name: {
                        name: "Employer Name",
                        type: "input",
                    },
                    employer_email: {
                        name: "Employer Email",
                        type: "input",
                    },
                    daterange: true,
                    contacted: {
                        name: "Contacted",
                        type: "select",
                        options: [
                            { value: "0", text: "No" },
                            { value: "1", text: "Yes" },
                        ],
                    },
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    {
                        name: "Employer Name",
                        propertyName: "name",
                    },
                    { name: "Employer Email", propertyName: "email" },
                    {
                        name: "Position",
                        propertyName: "position",
                    },
                    {
                        name: "Contacted",
                        propertyName: "contacted",
                        type: "boolean",
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time",
                    },
                ],
                actions: {
                    addTo: "Employer Name",
                    propertyName: "id",
                    propertyNameShow: "id",
                    type: ["show"],
                },
            },
        };
    },
};
</script>
