<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="card">
                    <div class="card-header">New Skill</div>
                    <div class="card-body">
                        <SkillForm :form="form" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SkillForm from "./SkillForm";

export default {
    components: {
        SkillForm,
    },
    data() {
        return {
            form: {
                is_new: true,
                id: "",
                name: "",
            },
        };
    },
};
</script>
