<template>
    <div id="page-overlay" :class="{ show: show }">
        <div class="icon"><i class="fas fa-spinner fa-spin"></i></div>
        <div class="text">
            Please wait...
        </div>
    </div>
</template>

<script>
import { EventBus } from "../../plugins/event-bus";

export default {
    data() {
        return {
            show: false
        };
    },
    created() {
        EventBus.$on("show_page_overlay", () => {
            this.show = true;
        });

        EventBus.$on("hide_page_overlay", () => {
            this.show = false;
        });
    }
};
</script>
