<template>
    <div class="container myo">
        <VueStickySidebar
            class="myo__side"
            containerSelector=".container"
            innerWrapperSelector=".myo__side--inner"
            :topSpacing="70"
            :minWidth="992"
        >
            <Side
                :employer="employer_data"
                @navigate="navigate"
                :active_menu="active_menu"
                @updated="employerUpdated"
            />
        </VueStickySidebar>

        <main class="myo__main">
            <ManageProfile
                :employer="employer_data"
                @updated="employerUpdated"
                :active_menu="active_menu"
            />
            <ManagePassword
                :employer="employer_data"
                @updated="employerUpdated"
                :active_menu="active_menu"
            />
        </main>
    </div>
</template>

<script>
import VueStickySidebar from "vue-sticky-sidebar";
import Side from "./EmployerAccount/Side";
import ManageProfile from "./EmployerAccount/ManageProfile";
import ManagePassword from "./EmployerAccount/ManagePassword";

export default {
    props: {
        employer: Object,
    },
    components: {
        VueStickySidebar,
        Side,
        ManageProfile,
        ManagePassword,
    },
    data() {
        return {
            employer_data: this.employer,
            active_menu: "manage-profile",
        };
    },
    methods: {
        navigate(to) {
            this.active_menu = to;
        },
        employerUpdated(employer) {
            this.employer_data = employer;
        },
    },
};
</script>