<template>
    <div class="card mt-4">
        <div class="card-header">Update Password</div>
        <div class="card-body">
            <form @submit.prevent="save">
                <div class="form-group row">
                    <div class="col-sm-4">
                        New Password
                        <span class="required">*</span>
                    </div>
                    <div class="col-sm-8">
                        <input
                            type="password"
                            class="form-control"
                            :class="{
                                'is-invalid':
                                    errors.password ||
                                    $v.form_data.password.$error
                            }"
                            v-model="form_data.password"
                            autocomplete="new-password"
                        />
                        <span
                            v-if="
                                errors.password ||
                                    $v.form_data.password.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.password">
                                {{
                                errors.password[0]
                                }}
                            </span>
                            <span v-if="$v.form_data.password.$invalid">Required field!</span>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        Confirm New Password
                        <span class="required">*</span>
                    </div>
                    <div class="col-sm-8">
                        <input
                            type="password"
                            class="form-control"
                            :class="{
                                'is-invalid':
                                    errors.password_confirmation ||
                                    $v.form_data.password_confirmation.$error
                            }"
                            v-model="form_data.password_confirmation"
                            autocomplete="off"
                        />
                        <span
                            v-if="
                                errors.password_confirmation ||
                                    $v.form_data.password_confirmation.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.password_confirmation">
                                {{
                                errors.password_confirmation[0]
                                }}
                            </span>
                            <span
                                v-if="
                                    $v.form_data.password_confirmation.$invalid
                                "
                            >Required field!</span>
                        </span>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <button
                        type="submit"
                        class="btn btn-primary float-right"
                        :disabled="$v.$invalid || saving"
                    >
                        <span v-if="!saving">Save</span>
                        <span v-else>
                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            Saving
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import SwalMixin from "../../../../mixins/swal";
import { required } from "vuelidate/lib/validators";

export default {
    props: ["user"],
    mixins: ["SwalMixin"],
    data() {
        return {
            saving: false,
            form_data: {
                password: "",
                password_confirmation: "",
            },
            errors: [],
        };
    },
    validations: {
        form_data: {
            password: { required },
            password_confirmation: { required },
        },
    },
    methods: {
        save() {
            this.saving = true;
            this.errors = [];

            axios
                .patch(
                    `${DASHBOARD_BASE_URL}/users/${this.user.id}/update-password`,
                    this.form_data
                )
                .then((res) => {
                    var data = res.data;
                    this.form_data.password = "";
                    this.form_data.password_confirmation = "";
                    this.$snotify[data.status](data.message, data.status);
                    this.saving = false;
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    this.saving = false;
                });
        },
    },
};
</script>
