<template>
    <div class="card">
        <div class="card-header">Edit User Details</div>
        <div class="card-body">
            <UserForm :form="form" />
        </div>
    </div>
</template>

<script>
import UserForm from "../UserForm";
import moment from "moment";

export default {
    props: ["user"],
    components: {
        UserForm,
    },
    data() {
        return {
            form: {
                is_new: false,
                id: this.user.id,
                identifier: this.user.identifier,
                name: this.user.name,
                email: this.user.email,
                phone: this.user.phone,
                gender: this.user.gender,
                dob: moment(this.user.dob).format("YYYY-MM-DD"),
                photo_profile: [],
            },
        };
    },
};
</script>
