<template>
    <b-row>
        <b-col lg="6" class="m-auto">
            <b-card header="Job Application Rejection Messages">
                <form @submit.prevent="save">
                    <b-row v-for="(msg, i) in msgs" :key="i">
                        <b-col lg="10">
                            <b-form-group :for="`message-${i}`">
                                <b-form-input
                                    :id="`message-${i}`"
                                    type="text"
                                    name="messages[]"
                                    v-model="msgs[i]"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col lg="2">
                            <button
                                type="button"
                                @click="remove(i)"
                                class="btn btn-danger btn-block"
                            >
                                <i class="far fa-times-circle"></i>
                            </button>
                        </b-col>
                    </b-row>

                    <span
                        v-if="errors.messages"
                        class="text-danger small mb-3"
                        role="alert"
                        >{{ errors.messages[0] }}</span
                    >

                    <div class="d-flex justify-content-between">
                        <button
                            type="button"
                            @click="addNew"
                            class="btn btn-outline-primary"
                        >
                            <i class="fas fa-plus"></i>
                        </button>
                        <button
                            type="submit"
                            class="btn btn-primary float-right"
                            :disabled="saving"
                        >
                            <span v-if="!saving">Save</span>
                            <span v-else>Processing...</span>
                        </button>
                    </div>
                </form>
            </b-card>
        </b-col>
    </b-row>
</template>

<script>
export default {
    props: {
        messages: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            msgs: this.messages,
            saving: false,
            errors: [],
        };
    },
    created() {
        console.log(this.messages);
    },
    methods: {
        addNew() {
            this.msgs.push("");
        },
        save() {
            this.saving = true;
            this.errors = [];

            axios
                .post(`${DASHBOARD_BASE_URL}/configs/update`, {
                    jap_rejection_messages: this.msgs,
                })
                .then((res) => {
                    let data = res.data;
                    this.$snotify[data.status](data.message, data.status);
                })
                .catch((err) => {
                    console.log(err.response);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    } else {
                        alert("Something went wrong!");
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
        remove(i) {
            this.msgs.splice(i, 1);
        },
    },
};
</script>