<template>
    <div class="container fluid">
        <div class="card">
            <div class="card-header">Trashed Pages</div>
            <div class="card-body">
                <DataTable :datatable="datatable" />
            </div>
        </div>
    </div>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";

export default {
    props: ["data"],
    components: {
        DataTable
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "pages",
                baseUrl: `${DASHBOARD_BASE_URL}/pages`,
                queryUrl: `${DASHBOARD_BASE_URL}/pages/trashed`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/pages`,
                    trashed: `${DASHBOARD_BASE_URL}/pages/trashed`
                },
                trashed_page: true,
                search: {
                    keyword: ""
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Title",
                        propertyName: "title"
                    },
                    {
                        name: "Slug",
                        propertyName: "slug"
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time"
                    },
                    {
                        name: "Deleted At",
                        propertyName: "deleted_at",
                        type: "date_time"
                    }
                ],
                actions: {
                    addTo: "Title",
                    propertyName: "id",
                    type: ["restore", "destroy_permanent"]
                }
            }
        };
    }
};
</script>
