<template>
    <div class="container">
        <div class="card">
            <div class="card-header">Edit Page: {{ page.title }}</div>
            <div class="card-body">
                <PageForm :form="form" />
            </div>
        </div>
    </div>
</template>

<script>
import PageForm from "./PageForm";

export default {
    props: ["page"],
    components: {
        PageForm
    },
    data() {
        return {
            form: {
                is_new: false,
                id: this.page.id,
                title: this.page.title,
                slug: this.page.slug,
                content: this.page.content,
                meta_title: this.page.meta_title,
                meta_description: this.page.meta_description
            }
        };
    }
};
</script>
