<template>
    <form @submit.prevent="save">
        <div class="form-group row">
            <label for="title" class="col-lg-3 col-form-label">
                Title
                <span class="required">*</span>
            </label>
            <div class="col-lg-9">
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    :class="{ 'is-invalid': errors.title }"
                    v-model="form_data.title"
                    required
                />
                <span
                    v-if="errors.title"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.title[0] }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="slug" class="col-lg-3 col-form-label">Slug</label>
            <div class="col-lg-9">
                <div>
                    <span>{{ slug }}</span> |
                    <button
                        v-if="!editSlug"
                        type="button"
                        class="btn btn-link btn-sm"
                        @click="editSlug = true"
                    >Edit</button>
                    <button
                        v-else
                        type="button"
                        class="btn btn-link btn-sm"
                        @click="editSlug = false"
                    >Cancel Edit</button>
                </div>
                <input
                    v-show="editSlug"
                    type="text"
                    v-model="form_data.slug"
                    class="form-control"
                    :class="{ 'is-invalid': errors.slug }"
                    @keyup="slugifyOnSlugEdit(form_data.slug)"
                    id="slug"
                />
                <span v-if="errors.slug" class="invalid-feedback" role="alert">{{ errors.slug[0] }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-lg-3 col-form-label">Content</label>
            <div class="col-lg-9">
                <ckeditor :editor="editor_type" v-model="form_data.content" :config="editorConfig"></ckeditor>
                <span
                    v-if="errors.content"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.content[0] }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="meta_title" class="col-lg-3 col-form-label">Meta Title</label>
            <div class="col-lg-9">
                <input
                    type="text"
                    id="meta_title"
                    class="form-control"
                    :class="{ 'is-invalid': errors.meta_title }"
                    v-model="form_data.meta_title"
                    required
                />
                <span
                    v-if="errors.meta_title"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.meta_title[0] }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="meta_description" class="col-lg-3 col-form-label">Meta Description</label>
            <div class="col-lg-9">
                <textarea
                    id="meta_description"
                    v-model="form_data.meta_description"
                    rows="4"
                    class="form-control"
                    :class="{ 'is-invalid': errors.meta_description }"
                ></textarea>
                <span
                    v-if="errors.meta_description"
                    class="invalid-feedback"
                    role="alert"
                >{{ errors.meta_description[0] }}</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Save</button>
    </form>
</template>

<script>
import SwalMixin from "../../../mixins/swal";
import SlugifyMixin from "../../../mixins/slugify";
import CKEditorMixin from "../../../mixins/ckeditor";

export default {
    props: ["form"],
    mixins: ["SwalMixin", "SlugifyMixin", "CKEditorMixin"],
    data() {
        return {
            editSlug: false,
            form_data: this.form,
            ckeditor_upload_image_url: `${DASHBOARD_BASE_URL}/pages/store-content-image`,
            errors: [],
        };
    },
    methods: {
        save() {
            this.errors = [];
            if (this.form.is_new) {
                var request_url = axios.post(
                    `${DASHBOARD_BASE_URL}/pages`,
                    this.form_data
                );
            } else {
                var request_url = axios.patch(
                    `${DASHBOARD_BASE_URL}/pages/${this.form.id}`,
                    this.form_data
                );
            }

            request_url
                .then((res) => {
                    var data = res.data;
                    if (data.status == "success") {
                        window.location.replace(`${DASHBOARD_BASE_URL}/pages`);
                    }
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                });
        },
    },
    computed: {
        slug: function () {
            var slug = this.form_data.slug;
            if (!this.editSlug && this.form_data.is_new) {
                var slug = this.slugify(this.form_data.title);
                this.form_data.slug = slug;
            }
            return slug;
        },
    },
};
</script>
