<template>
    <div class="container">
        <div class="card">
            <div class="card-header">New Page</div>
            <div class="card-body">
                <PageForm :form="form" />
            </div>
        </div>
    </div>
</template>

<script>
import PageForm from "./PageForm";

export default {
    components: {
        PageForm
    },
    data() {
        return {
            form: {
                is_new: true,
                id: "",
                title: "",
                slug: "",
                content: "",
                meta_title: "",
                meta_description: ""
            }
        };
    }
};
</script>
