<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable
    },
    created() {
        EventBus.$emit("set_page_title", "Static Blocks");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "blocks",
                baseUrl: `${DASHBOARD_BASE_URL}/static-blocks`,
                queryUrl: `${DASHBOARD_BASE_URL}/static-blocks`,
                createUrl: `${DASHBOARD_BASE_URL}/static-blocks/create`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/static-blocks`,
                    trashed: `${DASHBOARD_BASE_URL}/static-blocks/trashed`
                },
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    name: "",
                    active: "",
                    start_date: "",
                    end_date: ""
                },
                filterFields: {
                    name: {
                        name: "Name",
                        type: "input"
                    },
                    active: {
                        name: "Active",
                        type: "select",
                        options: [
                            { value: "0", text: "No" },
                            { value: "1", text: "Yes" }
                        ]
                    },
                    daterange: true
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Name",
                        propertyName: "name"
                    },
                    { name: "Active", propertyName: "active", type: "boolean" },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time"
                    }
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    type: ["edit", "destroy"]
                }
            }
        };
    }
};
</script>
