<template>
    <b-container>
        <b-card>
            <StaticBlockForm :form="form" />
        </b-card>
    </b-container>
</template>

<script>
import StaticBlockForm from "./StaticBlockForm";
import { EventBus } from "../../../plugins/event-bus";

export default {
    components: {
        StaticBlockForm
    },
    created() {
        EventBus.$emit("set_page_title", "New Static Blocks");
    },
    data() {
        return {
            form: {
                id: "",
                name: "",
                content: "",
                active: true
            }
        };
    }
};
</script>
