<template>
    <b-container>
        <b-card>
            <StaticBlockForm :form="form" />
        </b-card>
    </b-container>
</template>

<script>
import StaticBlockForm from "./StaticBlockForm";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["static_block"],
    components: {
        StaticBlockForm
    },
    created() {
        EventBus.$emit(
            "set_page_title",
            "Edit Static Blocks: " + this.static_block.name
        );
    },
    data() {
        return {
            form: {
                id: this.static_block.id,
                name: this.static_block.name,
                content: this.static_block.content,
                active: this.static_block.active
            }
        };
    }
};
</script>
