<template>
    <div class="container fluid">
        <div class="card">
            <div class="card-header">Trashed Static Blocks</div>
            <div class="card-body">
                <DataTable :datatable="datatable" />
            </div>
        </div>
    </div>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";

export default {
    props: ["data"],
    components: {
        DataTable
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "blocks",
                baseUrl: `${DASHBOARD_BASE_URL}/static-blocks`,
                queryUrl: `${DASHBOARD_BASE_URL}/static-blocks/trashed`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/static-blocks`,
                    trashed: `${DASHBOARD_BASE_URL}/static-blocks/trashed`
                },
                trashed_page: true,
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    name: "",
                    active: "",
                    start_date: "",
                    end_date: ""
                },
                filterFields: {
                    name: {
                        name: "Name",
                        type: "input"
                    },
                    active: {
                        name: "Active",
                        type: "select",
                        options: [
                            { value: "0", text: "No" },
                            { value: "1", text: "Yes" }
                        ]
                    },
                    daterange: true
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    { name: "ID", propertyName: "id" },
                    {
                        name: "Name",
                        propertyName: "name"
                    },
                    { name: "Active", propertyName: "active", type: "boolean" },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time"
                    },
                    {
                        name: "Deleted At",
                        propertyName: "deleted_at",
                        type: "date_time"
                    }
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    type: ["restore", "destroy_permanent"]
                }
            }
        };
    }
};
</script>
