<template>
    <form @submit.prevent="save">
        <div class="form-group">
            <label for="name">Name</label>
            <input
                id="name"
                class="form-control"
                type="text"
                v-model="form_data.name"
                :class="{'is-invalid': errors.name}"
            />
            <span v-if="errors.name" class="invalid-feedback" role="alert">{{ errors.name[0] }}</span>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <ckeditor :editor="editor_type" v-model="form_data.content" :config="editorConfig"></ckeditor>
            <span
                v-if="errors.content"
                class="text-danger small"
                role="alert"
            >{{ errors.content[0] }}</span>
        </div>
        <div class="form-group">
            <label>Active</label>
            <div class="custom-control custom-switch">
                <input
                    type="checkbox"
                    class="custom-control-input"
                    id="active"
                    v-model="form_data.active"
                />
                <label
                    class="custom-control-label"
                    for="active"
                >{{ (form_data.active) ? 'Yes' : 'No' }}</label>
            </div>
            <span v-if="errors.active" class="text-danger" role="alert">{{ errors.active[0] }}</span>
        </div>

        <button type="submit" class="btn btn-primary float-right">Save</button>
    </form>
</template>

<script>
import CKEditorMixin from "../../../mixins/ckeditor";

export default {
    props: ["form"],
    mixins: ["CKEditorMixin"],
    data() {
        return {
            form_data: this.form,
            errors: [],
            ckeditor_upload_image_url: `${DASHBOARD_BASE_URL}/static-blocks/store-content-image`,
        };
    },
    methods: {
        save() {
            this.errors = [];
            this.form_data.active = this.form_data.active ? 1 : 0;

            if (this.form.id == "") {
                var request_to_api = axios.post(
                    `${DASHBOARD_BASE_URL}/static-blocks`,
                    this.form_data
                );
            } else {
                var request_to_api = axios.patch(
                    `${DASHBOARD_BASE_URL}/static-blocks/${this.form.id}`,
                    this.form_data
                );
            }
            request_to_api
                .then((res) => {
                    if (res.data.status == "success") {
                        window.location.replace(
                            `${DASHBOARD_BASE_URL}/static-blocks`
                        );
                    }
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                });
        },
    },
};
</script>