<template>
    <div id="myo__about" class="card card--over-hide">
        <div class="card__header">
            <div class="card__header-left">
                <div class="card__header-icon">
                    <i class="icon-profile"></i>
                </div>
                <h2 class="card__header-title">Tentang Saya</h2>
            </div>
            <div class="card__header-right">
                <a
                    href="#"
                    class="card__edit modal-trigger"
                    data-target="#myo__about-modal"
                    ><i class="icon-edit"></i> Edit</a
                >
            </div>
        </div>
        <div class="card__body card__body--pad-left pre-line">
            <div class="el-short-long" :class="{ full: full }">
                {{ user.about }}
            </div>
            <a
                class="el-short-long-toggle-full"
                v-if="!full"
                href="#"
                @click.prevent="full = true"
                >... See more</a
            >
            <a
                class="el-short-long-toggle-less"
                v-else
                href="#"
                @click.prevent="full = false"
                >See less</a
            >
            <div class="clearfix"></div>
        </div>

        <div id="myo__about-modal" class="c-modal" role="dialog">
            <div class="c-modal__wrapper">
                <div class="c-modal__header">
                    <h3 class="c-modal__title">Tentang Saya</h3>
                    <div class="c-modal__close close-modal">&nbsp;</div>
                </div>
                <div class="c-modal__body">
                    <div class="form__group">
                        <label class="form__label" for="about"
                            >Tentang Saya</label
                        >
                        <textarea
                            class="form__control"
                            name="about"
                            v-model="form.about"
                            @blur="$v.form.about.$touch()"
                            rows="5"
                        />
                        <span
                            v-if="errors.about || $v.form.about.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.about">{{
                                errors.about[0]
                            }}</span>
                            <span v-if="$v.form.about.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                </div>
                <div class="c-modal__footer">
                    <div class="flex justify-end">
                        <button
                            type="button"
                            class="btn btn--grey mr2 close-modal"
                        >
                            Batal
                        </button>
                        <button
                            type="button"
                            @click="save('myo__about-modal')"
                            class="btn btn--primary"
                            :disabled="$v.$invalid || saving"
                        >
                            <span v-if="!saving">Simpan</span>
                            <span v-else>Memproses</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
    props: {
        user: Object,
    },
    data() {
        return {
            full: false,
            saving: false,
            errors: [],
            form: {
                about: this.user.about,
            },
        };
    },
    validations: {
        form: {
            about: { required },
        },
    },
    methods: {
        save(modal) {
            this.saving = true;
            this.errors = [];

            axios
                .post(`${APP_BASE_URL}/my-account/update-about`, this.form)
                .then((res) => {
                    let user = res.data.data;
                    this.$emit("updated", user);
                    document.getElementById(modal).classList.remove("show");
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
};
</script>