<template>
    <div id="myo__basic" class="myo__basic">
        <a
            href="#"
            class="block-edit modal-trigger"
            data-target="#myo__basic-modal"
            ><i class="icon-edit"></i> Edit</a
        >
        <div class="myo__basic-detail">
            <h1 class="myo__name">
                {{ user.name }}
                <small v-if="user.age != ''">({{ user.age }} Tahun)</small>
            </h1>
            <div class="myo__status">{{ user.job_status.description }}</div>

            <hr />

            <div class="myo__basic-list clearfix">
                <div class="col col-6">
                    <dl>
                        <dt>Email</dt>
                        <dd>{{ user.email }}</dd>

                        <dt>Jenis Kelamin</dt>
                        <dd>{{ user.gender.text }}</dd>

                        <dt>Relationship</dt>
                        <dd>{{ user.relationship.description }}</dd>
                    </dl>
                </div>
                <div class="col col-6">
                    <dl>
                        <dt>Hobi</dt>
                        <dd>{{ user.hobby }}</dd>

                        <dt>Telepon</dt>
                        <dd>{{ user.phone }}</dd>

                        <dt>Lokasi Domisili</dt>
                        <dd>
                            {{ user.address }}, Kecamatan
                            {{ user.subdistrict.name }},<br />
                            {{ user.city.name }}, {{ user.province.name }}<br />
                            Kode Pos: {{ user.pos_code }}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div id="myo__basic-modal" class="c-modal" role="dialog">
            <div class="c-modal__wrapper">
                <div class="c-modal__header">
                    <h3 class="c-modal__title">Informasi Dasar</h3>
                    <div class="c-modal__close close-modal">&nbsp;</div>
                </div>
                <div class="c-modal__body">
                    <div class="form__group">
                        <label class="form__label" for="name">Nama</label>
                        <input
                            type="text"
                            class="form__control"
                            name="name"
                            v-model="form.name"
                            @blur="$v.form.name.$touch()"
                        />
                        <span
                            v-if="errors.name || $v.form.name.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.name">{{ errors.name[0] }}</span>
                            <span v-if="$v.form.name.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="email">Email</label>
                        <input
                            type="text"
                            class="form__control"
                            name="email"
                            v-model="form.email"
                            @blur="$v.form.email.$touch()"
                        />
                        <span
                            v-if="errors.email || $v.form.email.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.email">{{
                                errors.email[0]
                            }}</span>
                            <span v-if="$v.form.email.$error"
                                >Required field and valid email!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="address"
                            >Alamat Jalan/RT & RW/No. Rumah</label
                        >
                        <input
                            type="text"
                            class="form__control"
                            name="address"
                            v-model="form.address"
                            @blur="$v.form.address.$touch()"
                        />
                        <span
                            v-if="errors.address || $v.form.address.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.address">{{
                                errors.address[0]
                            }}</span>
                            <span v-if="$v.form.address.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="province_id"
                            >Provinsi</label
                        >
                        <v-select
                            label="name"
                            :options="provinces"
                            v-model="selected_province"
                            @input="provinceChange"
                        ></v-select>
                        <span
                            v-if="
                                errors.province_id ||
                                $v.form.province_id.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.province_id">{{
                                errors.province_id[0]
                            }}</span>
                            <span v-if="$v.form.province_id.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="city_id"
                            >Kabupaten / Kota</label
                        >
                        <v-select
                            label="name"
                            :options="cities"
                            v-model="selected_city"
                            @input="cityChange"
                        ></v-select>
                        <span
                            v-if="errors.city_id || $v.form.city_id.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.city_id">{{
                                errors.city_id[0]
                            }}</span>
                            <span v-if="$v.form.city_id.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="subdistrict_id"
                            >Kecamatan</label
                        >
                        <v-select
                            label="name"
                            :options="subdistricts"
                            v-model="selected_subdistrict"
                            @input="subdistrictChange"
                        ></v-select>
                        <span
                            v-if="
                                errors.subdistrict_id ||
                                $v.form.subdistrict_id.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.subdistrict_id">{{
                                errors.subdistrict_id[0]
                            }}</span>
                            <span v-if="$v.form.subdistrict_id.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="pos_code"
                            >Kode Pos</label
                        >
                        <input
                            type="text"
                            class="form__control"
                            name="pos_code"
                            v-model="form.pos_code"
                            @blur="$v.form.pos_code.$touch()"
                        />
                        <span
                            v-if="errors.pos_code || $v.form.pos_code.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.pos_code">{{
                                errors.pos_code[0]
                            }}</span>
                            <span v-if="$v.form.pos_code.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="dob"
                            >Tanggal Lahir</label
                        >
                        <date-pick v-model="form.dob"></date-pick>
                        <span
                            v-if="errors.dob || $v.form.dob.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.dob">{{ errors.dob[0] }}</span>
                            <span v-if="$v.form.dob.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="gender"
                            >Jenis Kelamin</label
                        >
                        <v-select
                            label="text"
                            :options="[
                                { value: 'male', text: 'Laki-laki' },
                                { value: 'female', text: 'Perempuan' },
                            ]"
                            v-model="selected_gender"
                            @input="genderChange"
                            placeholder="-- Select Gender--"
                        ></v-select>
                        <span
                            v-if="errors.gender || $v.form.gender.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.gender">{{
                                errors.gender[0]
                            }}</span>
                            <span v-if="$v.form.gender.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="phone">Telepon</label>
                        <input
                            type="text"
                            class="form__control"
                            name="phone"
                            v-model="form.phone"
                            @blur="$v.form.phone.$touch()"
                        />
                        <span
                            v-if="errors.phone || $v.form.phone.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.phone">{{
                                errors.phone[0]
                            }}</span>
                            <span v-if="$v.form.phone.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="phone">Hobby</label>
                        <input
                            type="text"
                            class="form__control"
                            name="hobby"
                            v-model="form.hobby"
                            @blur="$v.form.hobby.$touch()"
                        />
                        <span
                            v-if="errors.hobby || $v.form.hobby.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.hobby">{{
                                errors.hobby[0]
                            }}</span>
                            <span v-if="$v.form.hobby.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="relationship"
                            >Relationship</label
                        >
                        <ul class="list-no-style">
                            <li
                                v-for="(desc, value) in relationships"
                                :key="value"
                            >
                                <label class="ir-container"
                                    >{{ desc }}
                                    <input
                                        type="radio"
                                        :value="value"
                                        name="relationship"
                                        v-model="form.relationship"
                                    />
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>

                        <span
                            v-if="
                                errors.relationship ||
                                $v.form.relationship.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.relationship">{{
                                errors.relationship[0]
                            }}</span>
                            <span v-if="$v.form.relationship.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="job_status"
                            >Status</label
                        >
                        <ul class="list-no-style">
                            <li
                                v-for="(desc, value) in job_statuses"
                                :key="value"
                            >
                                <label class="ir-container"
                                    >{{ desc }}
                                    <input
                                        type="radio"
                                        :value="value"
                                        name="job_status"
                                        v-model="form.job_status"
                                    />
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>

                        <span
                            v-if="
                                errors.job_status || $v.form.job_status.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.job_status">{{
                                errors.job_status[0]
                            }}</span>
                            <span v-if="$v.form.job_status.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                </div>
                <div class="c-modal__footer">
                    <div class="flex justify-end">
                        <button
                            type="button"
                            class="btn btn--grey mr2 close-modal"
                        >
                            Batal
                        </button>
                        <button
                            type="button"
                            @click="save('myo__basic-modal')"
                            class="btn btn--primary"
                            :disabled="$v.$invalid || saving"
                        >
                            <span v-if="!saving">Simpan</span>
                            <span v-else>Memproses</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { email, required, requiredIf } from "vuelidate/lib/validators";
import AddressMixin from "../../../../../../../../../resources/js/mixins/address";

export default {
    props: {
        user: Object,
        job_statuses: Object,
        relationships: Object,
    },
    mixins: ["AddressMixin"],
    data() {
        let selected_gender = null;
        if (this.user.gender.value != "") {
            selected_gender = {
                value: this.user.gender.value,
                text:
                    this.user.gender.value == "male"
                        ? "Laki-laki"
                        : "Perempuan",
            };
        }

        return {
            saving: false,
            errors: [],
            provinces: [],
            cities: [],
            subdistricts: [],
            selected_province: {
                id: this.user.province.id,
                name: this.user.province.name,
            },
            selected_city: {
                id: this.user.city.id,
                name: this.user.city.name,
            },
            selected_subdistrict: {
                id: this.user.subdistrict.id,
                name: this.user.subdistrict.name,
            },
            selected_gender: selected_gender,
            form: {
                name: this.user.name,
                email: this.user.email,
                gender: this.user.gender.value,
                dob: this.user.dob,
                phone: this.user.phone,
                address: this.user.address,
                province_id: this.user.province.id,
                city_id: this.user.city.id,
                subdistrict_id: this.user.subdistrict.id,
                pos_code: this.user.pos_code,
                job_status:
                    this.user.job_status == ""
                        ? ""
                        : this.user.job_status.value,
                hobby: this.user.hobby,
                relationship:
                    this.user.relationship == ""
                        ? ""
                        : this.user.relationship.value,
            },
        };
    },
    validations: {
        form: {
            name: { required },
            email: { required, email },
            gender: { required },
            dob: { required },
            phone: { required },
            address: { required },
            province_id: { required },
            city_id: { required },
            subdistrict_id: { required },
            pos_code: { required },
            job_status: { required },
            hobby: { required },
            relationship: { required },
        },
    },
    created() {
        this.getProvinces();
        if (this.user.province.id != "") {
            this.getCities(this.user.province.id);
            this.getSubdistricts(this.user.city.id);
        }
    },
    methods: {
        provinceChange(value) {
            this.form.province_id = value.id;
            this.getCities(value.id);
            this.selected_city = { id: "", name: "Please select" };
            this.subdistricts = [];
            this.selected_subdistrict = { id: "", name: "Please select" };
        },
        cityChange(value) {
            this.form.city_id = value.id;
            this.getSubdistricts(value.id);
            this.selected_subdistrict = { id: "", name: "Please select" };
        },
        subdistrictChange(value) {
            this.form.subdistrict_id = value.id;
        },
        genderChange(value) {
            this.form.gender = value.value;
        },
        save(modal) {
            // console.log(this.form);
            this.saving = true;
            this.errors = [];

            axios
                .post(`${APP_BASE_URL}/my-account/update-basic-info`, this.form)
                .then((res) => {
                    let user = res.data.data;
                    this.$emit("updated", user);
                    document.getElementById(modal).classList.remove("show");
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
};
</script>