<template>
    <div id="myo__experiences" class="card">
        <div class="card__header">
            <div class="card__header-left">
                <div class="card__header-icon">
                    <i class="icon-work"></i>
                </div>
                <h2 class="card__header-title">Pengalaman Kerja</h2>
            </div>
            <div class="card__header-right">
                <a
                    href="#"
                    class="card__add modal-trigger"
                    data-target="#myo__experience-modal"
                    @click.prevent="blankModalForm"
                    ><i class="icon-plus"></i> Tambah</a
                >
            </div>
        </div>
        <div class="card__body card__body--pad-left">
            <ul class="progress-list">
                <li v-for="(exp, index) in user.experiences" :key="index">
                    <h4 class="progress-list__title">{{ exp.company }}</h4>
                    <div class="progress-list__sub-title">
                        {{ exp.position }}
                    </div>
                    <div class="progress-list__info pre-line">
                        <div v-if="exp.more_info.length > 250">
                            <div
                                class="el-short-long"
                                :class="{ full: is_full[index] }"
                            >
                                {{ exp.more_info }}
                            </div>

                            <a
                                class="el-short-long-toggle-full exp"
                                v-if="!is_full[index]"
                                href="#"
                                @click.prevent="makeFull(index)"
                                >... See more</a
                            >
                            <a
                                class="el-short-long-toggle-less"
                                v-else
                                href="#"
                                @click.prevent="makeLess(index)"
                                >See less</a
                            >
                            <div class="clearfix"></div>
                        </div>
                        <span v-else>{{ exp.more_info }}</span>
                    </div>
                    <div class="progress-list__footer">
                        {{ getDate(exp.start_time) }} -
                        {{ getDate(exp.end_time, exp.still_working) }}
                    </div>
                    <div class="progress-list__actions">
                        <a
                            href="#"
                            @click.prevent="deleteExp(exp, index)"
                            class="mr-2"
                            ><i class="icon-delete"></i> Hapus</a
                        >
                        <a href="#" @click.prevent="fillModalForm(exp)"
                            ><i class="icon-edit"></i> Edit</a
                        >
                    </div>
                </li>
            </ul>
        </div>

        <div id="myo__experience-modal" class="c-modal" role="dialog">
            <div class="c-modal__wrapper">
                <div class="c-modal__header">
                    <h3 class="c-modal__title">Pengalaman Kerja</h3>
                    <div class="c-modal__close close-modal">&nbsp;</div>
                </div>
                <div class="c-modal__body">
                    <div class="form__group">
                        <label class="form__label" for="company"
                            >Perusahaan</label
                        >
                        <input
                            type="text"
                            class="form__control"
                            name="company"
                            v-model="form.company"
                            @blur="$v.form.company.$touch()"
                        />
                        <span
                            v-if="errors.company || $v.form.company.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.company">{{
                                errors.company[0]
                            }}</span>
                            <span v-if="$v.form.company.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="position"
                            >Jabatan</label
                        >
                        <input
                            type="text"
                            class="form__control"
                            name="position"
                            v-model="form.position"
                            @blur="$v.form.position.$touch()"
                        />
                        <span
                            v-if="errors.position || $v.form.position.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.position">{{
                                errors.position[0]
                            }}</span>
                            <span v-if="$v.form.position.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="more_info"
                            >Job Description</label
                        >
                        <textarea
                            class="form__control"
                            name="more_info"
                            v-model="form.more_info"
                            @blur="$v.form.more_info.$touch()"
                            rows="7"
                        />
                        <span
                            v-if="
                                errors.more_info || $v.form.more_info.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.more_info">{{
                                errors.more_info[0]
                            }}</span>
                            <span v-if="$v.form.more_info.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div class="clearfix mxn2 mb-3">
                        <div class="col col-6 px2">
                            <div class="form__group">
                                <label class="form__label" for="start_month"
                                    >Bulan Mulai</label
                                >
                                <v-select
                                    label="text"
                                    :options="months_list"
                                    v-model="selected_start_month"
                                    @input="startMonthChange"
                                    placeholder="Pilih Bulan"
                                ></v-select>
                                <span
                                    v-if="
                                        errors.start_month ||
                                            $v.form.start_month.$invalid
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.start_month">{{
                                        errors.start_month[0]
                                    }}</span>
                                    <span v-if="$v.form.start_month.$error"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="col col-6 px2">
                            <div class="form__group">
                                <label class="form__label" for="start_year"
                                    >Tahun Mulai</label
                                >
                                <input
                                    type="number"
                                    class="form__control"
                                    name="start_year"
                                    v-model="form.start_year"
                                    @blur="$v.form.start_year.$touch()"
                                />
                                <span
                                    v-if="
                                        errors.start_year ||
                                            $v.form.start_year.$invalid
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.start_year">{{
                                        errors.start_year[0]
                                    }}</span>
                                    <span v-if="$v.form.start_year.$error"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="still_working"
                            >Masih Bekerja Disini</label
                        >
                        <label class="cb-container"
                            >Ya
                            <input
                                type="checkbox"
                                name="still_working"
                                v-model="form.still_working"
                            />
                            <span class="checkmark"></span>
                        </label>
                        <span
                            v-if="
                                errors.still_working ||
                                    $v.form.still_working.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.still_working">{{
                                errors.still_working[0]
                            }}</span>
                            <span v-if="$v.form.still_working.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                    <div v-if="!form.still_working" class="clearfix mxn2 mb-3">
                        <div class="col col-6 px2">
                            <div class="form__group">
                                <label class="form__label" for="end_month"
                                    >Bulan Berakhir</label
                                >
                                <v-select
                                    label="text"
                                    :options="months_list"
                                    v-model="selected_end_month"
                                    @input="endMonthChange"
                                    placeholder="Pilih Bulan"
                                ></v-select>
                                <span
                                    v-if="
                                        errors.end_month ||
                                            $v.form.end_month.$invalid
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.end_month">{{
                                        errors.end_month[0]
                                    }}</span>
                                    <span v-if="$v.form.end_month.$error"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="col col-6 px2">
                            <div class="form__group">
                                <label class="form__label" for="end_year"
                                    >Tahun Berakhir</label
                                >
                                <input
                                    type="number"
                                    class="form__control"
                                    name="end_year"
                                    v-model="form.end_year"
                                    @blur="$v.form.end_year.$touch()"
                                />
                                <span
                                    v-if="
                                        errors.end_year ||
                                            $v.form.end_year.$invalid
                                    "
                                    class="invalid-feedback"
                                    role="alert"
                                >
                                    <span v-if="errors.end_year">{{
                                        errors.end_year[0]
                                    }}</span>
                                    <span v-if="$v.form.end_year.$error"
                                        >Required field!</span
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-modal__footer">
                    <div class="flex justify-end">
                        <button
                            type="button"
                            class="btn btn--grey mr2 close-modal"
                        >
                            Batal
                        </button>
                        <button
                            type="button"
                            @click="save('myo__experience-modal')"
                            class="btn btn--primary"
                            :disabled="$v.$invalid || saving"
                        >
                            <span v-if="!saving">Simpan</span>
                            <span v-else>Memproses</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";
import MonthsMixin from "../../../../mixins/months";

export default {
    props: {
        user: Object
    },
    mixins: ["MonthsMixin"],
    data() {
        let is_full = [];
        this.user.experiences.forEach(exp => {
            is_full.push(false);
        });

        return {
            saving: false,
            errors: [],
            form_mode: "add", // add / edit
            selected_start_month: null,
            selected_end_month: null,
            form: {
                id: 0,
                company: "",
                position: "",
                start_month: "",
                start_year: "",
                end_month: "",
                end_year: "",
                still_working: false,
                more_info: ""
            },
            is_full: is_full
        };
    },
    validations: {
        form: {
            id: { required },
            company: { required },
            position: { required },
            start_month: { required },
            start_year: { required },
            end_month: {
                required: requiredIf(function() {
                    return !this.form.still_working;
                })
            },
            end_year: {
                required: requiredIf(function() {
                    return !this.form.still_working;
                })
            },
            still_working: { required },
            more_info: { required }
        }
    },
    methods: {
        getDate(date, still_progress = false) {
            if (date === null || still_progress) {
                return "Sekarang";
            }

            var newDate = new Date(date);
            return newDate.toLocaleDateString("id-ID", {
                year: "numeric",
                month: "long"
            });
        },
        fillModalForm(exp) {
            this.form_mode = "edit";
            this.form.id = exp.id;
            this.form.company = exp.company;
            this.form.position = exp.position;
            this.form.start_month = exp.start_month;
            this.form.start_year = exp.start_year;
            this.form.end_month = exp.end_month;
            this.form.end_year = exp.end_year;
            this.form.still_working = exp.still_working;
            this.form.more_info = exp.more_info;

            this.selected_start_month = this.months_list[
                parseInt(exp.start_month) - 1
            ];
            this.selected_end_month = this.months_list[
                parseInt(exp.end_month) - 1
            ];

            document
                .getElementById("myo__experience-modal")
                .classList.add("show");
        },
        blankModalForm() {
            this.form_mode = "add";
            this.form.id = 0;
            this.form.company = "";
            this.form.position = "";
            this.form.start_month = "";
            this.form.start_year = "";
            this.form.end_month = "";
            this.form.end_year = "";
            this.form.still_working = false;
            this.form.more_info = "";
            this.is_full.push(false);
        },
        save(modal) {
            // console.log(this.form);
            this.saving = true;
            this.errors = [];

            this.form.end_month = this.form.still_working
                ? null
                : this.form.end_month;
            this.form.end_year = this.form.still_working
                ? null
                : this.form.end_year;

            if (this.form_mode == "edit") {
                axios
                    .patch(
                        `${APP_BASE_URL}/my-account/experiences/${this.form.id}`,
                        this.form
                    )
                    .then(res => {
                        let user = res.data.data;
                        this.resetMonth();
                        this.$emit("updated", user);
                        document.getElementById(modal).classList.remove("show");
                    })
                    .catch(err => {
                        console.log(err);
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        }
                    })
                    .finally(() => {
                        this.saving = false;
                    });
            } else {
                axios
                    .post(`${APP_BASE_URL}/my-account/experiences`, this.form)
                    .then(res => {
                        let user = res.data.data;
                        this.resetMonth();
                        this.$emit("updated", user);
                        document.getElementById(modal).classList.remove("show");
                    })
                    .catch(err => {
                        console.log(err);
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        }
                    })
                    .finally(() => {
                        this.saving = false;
                    });
            }
        },
        deleteExp(exp, index) {
            this.$swal({
                title: "Anda yakin?",
                text: "Hapus pengalaman kerja?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Ya, hapus!"
            }).then(result => {
                if (result.value) {
                    axios
                        .delete(
                            `${APP_BASE_URL}/my-account/experiences/${exp.id}`
                        )
                        .then(res => {
                            let user = res.data.data;
                            this.$emit("updated", user);
                        })
                        .catch(err => {
                            console.log(err);
                        });
                }
            });
        },
        resetMonth() {
            this.selected_start_month = null;
            this.selected_end_month = null;
        },
        startMonthChange(value) {
            this.form.start_month = value.number;
        },
        endMonthChange(value) {
            this.form.end_month = value.number;
        },
        makeFull(index) {
            this.$set(this.is_full, index, true);
        },
        makeLess(index) {
            this.$set(this.is_full, index, false);
        }
    }
};
</script>

<style lang="scss">
.el-short-long-toggle-full.exp {
    margin-top: -18px;
}
</style>
