<template>
    <div id="myo__interests" class="card">
        <div class="card__header">
            <div class="card__header-left">
                <div class="card__header-icon">
                    <i class="icon-heart"></i>
                </div>
                <h2 class="card__header-title">Minat Pekerjaan</h2>
            </div>
            <div class="card__header-right">
                <a
                    href="#"
                    class="card__edit modal-trigger"
                    data-target="#myo__interest-modal"
                    ><i class="icon-edit"></i> Edit</a
                >
            </div>
        </div>
        <div class="card__body card__body--pad-left">
            <div v-if="user.interest != ''">
                <div class="clearfix mb2">
                    <div class="col col-12 md-col-4">
                        <h4>Bidang Minat</h4>
                    </div>
                    <div class="col col-12 md-col-8">
                        <div
                            v-for="(foi, i) in user.interest.field_of_interests"
                            :key="i"
                        >
                            <div>{{ foi.jobfunction.name }}</div>
                            <ul class="check-list">
                                <li
                                    v-for="(role, index) in foi.jobroles"
                                    :key="index"
                                >
                                    {{ role.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="clearfix mb2">
                    <div class="col col-12 md-col-4">
                        <h4>Tipe Pekerjaan</h4>
                    </div>
                    <div class="col col-12 md-col-8">
                        <ul class="check-list">
                            <li
                                v-for="(job_type, i) in user.interest.job_types"
                                :key="i"
                            >
                                {{ job_type.name }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix mb2">
                    <div class="col col-12 md-col-4">
                        <h4>Gaji Sekarang</h4>
                    </div>
                    <div class="col col-12 md-col-8">
                        {{
                            user.interest.current_salary
                                | format_currency("id-ID", "IDR")
                        }}
                    </div>
                </div>

                <div class="clearfix mb2">
                    <div class="col col-12 md-col-4">
                        <h4>Ekspektasi Gaji</h4>
                    </div>
                    <div class="col col-12 md-col-8">
                        {{
                            user.interest.expected_salary
                                | format_currency("id-ID", "IDR")
                        }}
                    </div>
                </div>

                <div class="clearfix mb2">
                    <div class="col col-12 md-col-4">
                        <h4>Preferensi Kota Kerja</h4>
                    </div>
                    <div class="col col-12 md-col-8">
                        <ul class="check-list">
                            <li
                                v-for="(city, i) in user.interest.cities"
                                :key="i"
                            >
                                {{ city.name }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix mb2">
                    <div class="col col-12 md-col-4">
                        <h4>Bersedia Direlokasi</h4>
                    </div>
                    <div class="col col-12 md-col-8">
                        {{ user.interest.relocated ? "Ya" : "Tidak" }}
                    </div>
                </div>
            </div>
        </div>

        <div id="myo__interest-modal" class="c-modal" role="dialog">
            <div class="c-modal__wrapper">
                <div class="c-modal__header">
                    <h3 class="c-modal__title">Minat Pekerjaan</h3>
                    <div class="c-modal__close close-modal">&nbsp;</div>
                </div>
                <div class="c-modal__body">
                    <div class="tab">
                        <nav class="tab__nav" role="nav">
                            <ul>
                                <li
                                    class="tab__nav-item active"
                                    data-target="#field-of-interest"
                                >
                                    Minat
                                </li>
                                <li
                                    class="tab__nav-item"
                                    data-target="#preferensi"
                                >
                                    Preferensi
                                </li>
                            </ul>
                        </nav>
                        <div class="tab__content">
                            <div
                                class="tab__content-item active"
                                id="field-of-interest"
                            >
                                <div v-for="(foi, i) in foi_form" :key="i">
                                    <div class="form__group clearfix">
                                        <div class="col col-11">
                                            <label>Pekerjaan</label>
                                            <v-select
                                                label="name"
                                                :options="jobfunctions"
                                                placeholder="Cari Bidang Pekerjaan"
                                                v-model="
                                                    selected_jobfunctions[i]
                                                "
                                                @input="
                                                    (jobfunction) =>
                                                        jobFunctionChange(
                                                            i,
                                                            jobfunction
                                                        )
                                                "
                                            ></v-select>
                                        </div>
                                        <div class="col col-1 flex justify-end">
                                            <a
                                                href="#"
                                                @click.prevent="removeFoi(i)"
                                                class="text-danger"
                                                title="Hapus"
                                            >
                                                <i class="icon-delete"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form__group">
                                        <label>Posisi yang Diminati</label>
                                        <ul class="list-no-style">
                                            <li
                                                v-for="(
                                                    jobrole, jr_i
                                                ) in jobrole_cbs[i]"
                                                :key="jr_i"
                                            >
                                                <label class="cb-container"
                                                    >{{ jobrole.name }}
                                                    <input
                                                        type="checkbox"
                                                        :value="jobrole.id"
                                                        :name="`job_roles[${i}][]`"
                                                        v-model="
                                                            form.jobrole_ids[i]
                                                        "
                                                    />
                                                    <span
                                                        class="checkmark"
                                                    ></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>

                                    <hr />
                                </div>

                                <button
                                    type="button"
                                    class="btn btn--sm btn-outline btn-outline--primary"
                                    @click="addFoi"
                                >
                                    <i class="icon-plus"></i> Tambah
                                </button>
                            </div>
                            <div class="tab__content-item" id="preferensi">
                                <div class="form__group">
                                    <label class="form__label" for="job_types"
                                        >Tipe Pekerjaan</label
                                    >
                                    <ul class="list-no-style">
                                        <li
                                            v-for="(desc, value) in job_types"
                                            :key="value"
                                        >
                                            <label class="cb-container"
                                                >{{ desc }}
                                                <input
                                                    type="checkbox"
                                                    :value="value"
                                                    name="job_types[]"
                                                    v-model="form.job_types"
                                                />
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>

                                    <span
                                        v-if="
                                            errors.job_types ||
                                            $v.form.job_types.$invalid
                                        "
                                        class="invalid-feedback"
                                        role="alert"
                                    >
                                        <span v-if="errors.job_types">{{
                                            errors.job_types[0]
                                        }}</span>
                                        <span v-if="$v.form.job_types.$error"
                                            >Required field!</span
                                        >
                                    </span>
                                </div>
                                <div class="form__group">
                                    <label
                                        class="form__label"
                                        for="current_salary"
                                        >Gaji Sekarang</label
                                    >
                                    <input
                                        type="number"
                                        class="form__control"
                                        name="current_salary"
                                        v-model="form.current_salary"
                                        @blur="$v.form.current_salary.$touch()"
                                    />
                                    <span
                                        v-if="
                                            errors.current_salary ||
                                            $v.form.current_salary.$invalid
                                        "
                                        class="invalid-feedback"
                                        role="alert"
                                    >
                                        <span v-if="errors.current_salary">{{
                                            errors.current_salary[0]
                                        }}</span>
                                        <span
                                            v-if="$v.form.current_salary.$error"
                                            >Required field!</span
                                        >
                                    </span>
                                </div>
                                <div class="form__group">
                                    <label
                                        class="form__label"
                                        for="expected_salary"
                                        >Ekspektasi Gaji</label
                                    >
                                    <input
                                        type="number"
                                        class="form__control"
                                        name="expected_salary"
                                        v-model="form.expected_salary"
                                        @blur="$v.form.expected_salary.$touch()"
                                    />
                                    <span
                                        v-if="
                                            errors.expected_salary ||
                                            $v.form.expected_salary.$invalid
                                        "
                                        class="invalid-feedback"
                                        role="alert"
                                    >
                                        <span v-if="errors.expected_salary">{{
                                            errors.expected_salary[0]
                                        }}</span>
                                        <span
                                            v-if="
                                                $v.form.expected_salary.$error
                                            "
                                            >Required field!</span
                                        >
                                    </span>
                                </div>
                                <div class="form__group">
                                    <label>Kota Kerja</label>
                                    <v-select
                                        label="name"
                                        :options="all_cities"
                                        @input="addCity"
                                        placeholder="-- Pilih --"
                                    ></v-select>
                                </div>

                                <div class="mt-3 flex flex-wrap">
                                    <div
                                        v-for="(city, index) in selected_cities"
                                        :key="index"
                                        class="badge mr2 mb2"
                                    >
                                        <span>{{ city.name }}</span>
                                        <span
                                            class="badge__icon"
                                            @click="removeCity(city, index)"
                                        >
                                            <i class="icon-close-square"></i>
                                        </span>
                                    </div>
                                    <span
                                        v-if="
                                            errors.cities ||
                                            $v.form.cities.$invalid
                                        "
                                        class="invalid-feedback"
                                        role="alert"
                                    >
                                        <span v-if="errors.cities">{{
                                            errors.cities[0]
                                        }}</span>
                                        <span v-if="$v.form.cities.$error"
                                            >Required field!</span
                                        >
                                    </span>
                                </div>

                                <div class="form__group">
                                    <label class="form__label" for="relocated"
                                        >Relokasi</label
                                    >
                                    <label class="cb-container"
                                        >Ya
                                        <input
                                            type="checkbox"
                                            name="relocated"
                                            v-model="form.relocated"
                                        />
                                        <span class="checkmark"></span>
                                    </label>
                                    <span
                                        v-if="
                                            errors.relocated ||
                                            $v.form.relocated.$invalid
                                        "
                                        class="invalid-feedback"
                                        role="alert"
                                    >
                                        <span v-if="errors.relocated">{{
                                            errors.relocated[0]
                                        }}</span>
                                        <span v-if="$v.form.relocated.$error"
                                            >Required field!</span
                                        >
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-modal__footer">
                    <div class="flex justify-end">
                        <button
                            type="button"
                            class="btn btn--grey mr2 close-modal"
                        >
                            Batal
                        </button>
                        <button
                            type="button"
                            @click="save('myo__interest-modal')"
                            class="btn btn--primary"
                            :disabled="$v.$invalid || saving"
                        >
                            <span v-if="!saving">Simpan</span>
                            <span v-else>Memproses</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
    props: {
        user: Object,
        job_types: Object,
        jobfunctions: Array,
        all_cities: Array,
    },
    data() {
        return {
            saving: false,
            errors: [],
            selected_cities:
                this.user.interest != "" ? this.user.interest.cities : [],
            selected_jobfunctions: [],
            jobrole_cbs: [],
            foi_form: [],
            form: {
                jobfunction_ids: [],
                jobrole_ids: [],
                job_types: [],
                current_salary:
                    this.user.interest != ""
                        ? this.user.interest.current_salary
                        : "",
                expected_salary:
                    this.user.interest != ""
                        ? this.user.interest.expected_salary
                        : "",
                cities: [],
                relocated:
                    this.user.interest != ""
                        ? this.user.interest.relocated
                        : false,
            },
        };
    },
    validations: {
        form: {
            jobfunction_ids: { required },
            jobrole_ids: { required },
            job_types: { required },
            current_salary: { required },
            expected_salary: { required },
            cities: { required },
            relocated: { required },
        },
    },
    created() {
        if (this.user.interest != "") {
            // Set job types
            let job_types = [];
            this.user.interest.job_types.forEach((job_type) => {
                job_types.push(job_type.value);
            });
            this.form.job_types = job_types;

            // Set form cities
            let cities = [];
            let selected_cities = [];
            this.user.interest.cities.forEach((city) => {
                cities.push(city.id);
                selected_cities.push(city);
            });
            this.selected_cities = selected_cities;
            this.form.cities = cities;

            // Set selected_jobfunctions and jobrole_ids
            let selected_jobfunctions = [];
            let num = 0;
            this.user.interest.field_of_interests.forEach((foi) => {
                selected_jobfunctions.push({
                    id: foi.jobfunction.id,
                    name: foi.jobfunction.name,
                });
                this.getJobroles(num, foi.jobfunction);
                let jobroles = [];
                foi.jobroles.forEach((role) => {
                    jobroles.push(role.id);
                });
                this.foi_form.push(foi);
                this.form.jobfunction_ids.push(foi.jobfunction.id);
                this.form.jobrole_ids.push(jobroles);
                num++;
            });
            this.selected_jobfunctions = selected_jobfunctions;
        }
    },
    methods: {
        save(modal) {
            // console.log(this.form);
            this.saving = true;
            this.errors = [];
            axios
                .post(`${APP_BASE_URL}/my-account/update-interest`, {
                    jobfunction_ids: this.form.jobfunction_ids,
                    jobrole_ids: this.form.jobrole_ids.flat(),
                    job_types: this.form.job_types,
                    current_salary: this.form.current_salary,
                    expected_salary: this.form.expected_salary,
                    cities: this.form.cities,
                    relocated: this.form.relocated,
                })
                .then((res) => {
                    let user = res.data.data;
                    this.$emit("updated", user);
                    document.getElementById(modal).classList.remove("show");
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
        removeCity(city, index) {
            this.selected_cities.splice(index, 1);
            this.form.cities.splice(index, 1);
        },
        addCity(value) {
            this.form.cities.push(value.id);
            this.selected_cities.push(value);
        },
        jobFunctionChange(index, jobfunction) {
            Vue.set(this.form.jobfunction_ids, index, jobfunction.id);
            Vue.set(this.form.jobrole_ids, index, []);
            this.getJobroles(index, jobfunction);
        },
        getJobroles(index, jobfunction) {
            axios
                .get(`${APP_BASE_URL}/api/jobroles/${jobfunction.id}`)
                .then((res) => {
                    Vue.set(this.jobrole_cbs, index, res.data.data);
                })
                .catch((err) => {
                    console.log(err);
                });
        },
        removeFoi(index) {
            this.foi_form.splice(index, 1);
            this.jobrole_cbs.splice(index, 1);
            this.form.jobfunction_ids.splice(index, 1);
            this.form.jobrole_ids.splice(index, 1);
            this.selected_jobfunctions.splice(index, 1);
        },
        addFoi() {
            this.foi_form.push({});
            this.jobrole_cbs.push({});
            this.form.jobfunction_ids.push("");
            this.form.jobrole_ids.push([]);
            this.selected_jobfunctions.push({ id: "", name: "" });
        },
    },
};
</script>