<template>
    <div id="myo__resume" class="card">
        <div class="card__header">
            <div class="card__header-left">
                <div class="card__header-icon">
                    <i class="icon-document"></i>
                </div>
                <h2 class="card__header-title">Resume</h2>
            </div>
            <div class="card__header-right">
                <a
                    href="#"
                    class="card__edit modal-trigger"
                    data-target="#myo__resume-modal"
                    ><i class="icon-edit"></i> Edit</a
                >
            </div>
        </div>
        <div class="card__body card__body--pad-left">
            <a
                :href="user.resume.file_url"
                :title="user.resume.file_name"
                target="_blank"
                >{{ user.resume.file_name }}</a
            >
        </div>

        <div id="myo__resume-modal" class="c-modal" role="dialog">
            <div class="c-modal__wrapper">
                <div class="c-modal__header">
                    <h3 class="c-modal__title">Resume</h3>
                    <div class="c-modal__close close-modal">&nbsp;</div>
                </div>
                <div class="c-modal__body">
                    <div class="form__group">
                        <label class="form__label" for="resume"
                            >File Resume</label
                        >
                        <input
                            type="file"
                            name="resume"
                            id="resume"
                            ref="resume"
                            @change="fileSelected"
                        />
                        <span
                            v-if="errors.resume || $v.form.resume.$invalid"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.resume">{{
                                errors.resume[0]
                            }}</span>
                            <span v-if="$v.form.resume.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>
                </div>
                <div class="c-modal__footer">
                    <div class="flex justify-end">
                        <button
                            type="button"
                            class="btn btn--grey mr2 close-modal"
                        >
                            Batal
                        </button>
                        <button
                            type="button"
                            @click="save('myo__resume-modal')"
                            class="btn btn--primary"
                            :disabled="$v.$invalid || saving"
                        >
                            <span v-if="!saving">Simpan</span>
                            <span v-else>Memproses</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
    props: {
        user: Object,
    },
    data() {
        return {
            saving: false,
            errors: [],
            form: {
                resume: "",
            },
        };
    },
    validations: {
        form: {
            resume: { required },
        },
    },
    methods: {
        fileSelected() {
            this.form.resume = this.$refs.resume.files[0];
        },
        save(modal) {
            this.saving = true;
            this.errors = [];

            let formData = new FormData();
            formData.append("resume", this.form.resume);

            axios
                .post(`${APP_BASE_URL}/my-account/upload-resume`, formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((res) => {
                    let user = res.data.data;
                    this.$emit("updated", user);
                    document.getElementById(modal).classList.remove("show");
                    this.form.resume = "";
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
};
</script>