<template>
    <aside>
        <div class="card card--over-show">
            <div class="card__body">
                <div class="myo__avatar">
                    <img
                        :src="user.avatar_url"
                        :alt="user.name"
                        class="img-fluid"
                    />
                    <label class="myo__update-avatar">
                        <i class="icon-edit"></i>
                        <input
                            type="file"
                            ref="avatar"
                            @change="handleFileChange"
                        />
                    </label>
                </div>

                <div class="center mb-2">
                    <a
                        :href="`${app_base_url}/profile/${user.identifier}`"
                        :title="user.name"
                        target="_blank"
                        >Lihat profil</a
                    >
                </div>

                <div class="myo__progress">
                    <h2>Kelengkapan Profile</h2>

                    <div
                        :class="
                            `progress-bar progress-bar--${completion.percentage}`
                        "
                    ></div>

                    <div class="myo__progress-list">
                        <ul>
                            <li>
                                <a href="#myo__basic" title="Info Dasar">
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.basic_info
                                        }"
                                        >Info Dasar</span
                                    >
                                    <span
                                        v-if="completion.basic_info"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a href="#myo__about" title="Tentang Saya">
                                    <span
                                        class="name"
                                        :class="{ completed: completion.about }"
                                        >Tentang Saya</span
                                    >
                                    <span
                                        v-if="completion.about"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__experiences"
                                    title="Pengalaman Kerja"
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.experiences
                                        }"
                                        >Pengalaman Kerja</span
                                    ><span
                                        v-if="completion.experiences"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__organization-experiences"
                                    title="Pengalaman Organisasi"
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed:
                                                completion.organization_experiences
                                        }"
                                        >Pengalaman Organisasi</span
                                    ><span
                                        v-if="
                                            completion.organization_experiences
                                        "
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a href="#myo__educations" title="Pendidikan">
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.educations
                                        }"
                                        >Pendidikan</span
                                    ><span
                                        v-if="completion.educations"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a href="#myo__skills" title="Keahlian">
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.skills
                                        }"
                                        >Keahlian</span
                                    ><span
                                        v-if="completion.skills"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#myo__interests"
                                    title="Minat Pekerjaan"
                                >
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.interest
                                        }"
                                        >Minat Pekerjaan</span
                                    ><span
                                        v-if="completion.interest"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a href="#myo__resume" title="Resume">
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.resume
                                        }"
                                        >Resume</span
                                    ><span
                                        v-if="completion.resume"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                            <li>
                                <a href="#myo__portofolio" title="Portofolio">
                                    <span
                                        class="name"
                                        :class="{
                                            completed: completion.portofolio
                                        }"
                                        >Portofolio</span
                                    ><span
                                        v-if="completion.portofolio"
                                        class="icon text--success"
                                        ><i class="icon-tick-square"></i
                                    ></span>
                                    <span v-else class="icon text--danger"
                                        ><i class="icon-arrow-right-2"></i
                                    ></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</template>

<script>
export default {
    props: {
        user: Object,
        completion: Object
    },
    data() {
        return {
            app_base_url: APP_BASE_URL
        };
    },
    methods: {
        handleFileChange(e) {
            let formData = new FormData();
            formData.append("avatar", this.$refs.avatar.files[0]);

            axios
                .post(`${APP_BASE_URL}/my-account/update-avatar`, formData, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                })
                .then(res => {
                    let data = res.data;
                    let user = data.data;
                    this.$emit("updated", user);
                    var avatar_wrapper = document.querySelector(
                        ".header__avatar"
                    );
                    avatar_wrapper.querySelector("img").src = user.avatar_url;
                    this.swalToast(data.status, data.message);
                })
                .catch(err => {
                    console.log(err.response);
                    this.swalToast("error", err.response.data.errors.avatar[0]);
                })
                .finally(() => {
                    this.saving = false;
                });
        }
    }
};
</script>
