<template>
    <div id="myo__skills" class="card">
        <div class="card__header">
            <div class="card__header-left">
                <div class="card__header-icon">
                    <i class="icon-star"></i>
                </div>
                <h2 class="card__header-title">Keahlian</h2>
            </div>
            <div class="card__header-right">
                <a
                    href="#"
                    class="card__edit modal-trigger"
                    data-target="#myo__skills-modal"
                    ><i class="icon-edit"></i> Edit</a
                >
            </div>
        </div>
        <div class="card__body card__body--pad-left">
            <div class="flex flex-wrap">
                <div
                    v-for="(skill, index) in user.skills"
                    :key="index"
                    class="badge mr2"
                >
                    {{ skill.name }}
                </div>
            </div>
        </div>

        <div
            id="myo__skills-modal"
            class="c-modal c-modal--full-height"
            role="dialog"
        >
            <div class="c-modal__wrapper">
                <div class="c-modal__header">
                    <h3 class="c-modal__title">Keahlian</h3>
                    <div class="c-modal__close close-modal">&nbsp;</div>
                </div>
                <div class="c-modal__body">
                    <div class="form__group">
                        <label>Tambah Keahlian</label>
                        <v-select
                            label="name"
                            :options="skill_options"
                            @search="searchSkills"
                            v-model="selected_skill"
                            @input="addSkill"
                            placeholder="Pilih / Cari..."
                        ></v-select>
                        <span
                            v-if="
                                errors.skill_ids || $v.form.skill_ids.$invalid
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <span v-if="errors.skill_ids">{{
                                errors.skill_ids[0]
                            }}</span>
                            <span v-if="$v.form.skill_ids.$error"
                                >Required field!</span
                            >
                        </span>
                    </div>

                    <div class="mt-3 flex flex-wrap">
                        <div
                            v-for="(skill, index) in skills"
                            :key="index"
                            class="badge mr2 mb2"
                        >
                            <span>{{ skill.name }}</span>
                            <span
                                class="badge__icon"
                                @click="removeSkill(skill, index)"
                            >
                                <i class="icon-close-square"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="c-modal__footer">
                    <div class="flex justify-end">
                        <button
                            type="button"
                            class="btn btn--grey mr2 close-modal"
                        >
                            Batal
                        </button>
                        <button
                            type="button"
                            @click="save('myo__skills-modal')"
                            class="btn btn--primary"
                            :disabled="$v.$invalid || saving"
                        >
                            <span v-if="!saving">Simpan</span>
                            <span v-else>Memproses</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
    props: {
        user: Object,
        pre_skill_options: Array,
    },
    data() {
        return {
            saving: false,
            errors: [],
            skill_options: this.pre_skill_options,
            selected_skill: "",
            skills: [],
            form: {
                skill_ids: [],
            },
        };
    },
    validations: {
        form: {
            skill_ids: { required },
        },
    },
    created() {
        this.user.skills.forEach((skill) => {
            this.form.skill_ids.push(skill.id);
            this.skills.push(skill);
        });
    },
    methods: {
        save(modal) {
            // console.log(this.form);
            this.saving = true;
            this.errors = [];

            axios
                .post(`${APP_BASE_URL}/my-account/update-skills`, this.form)
                .then((res) => {
                    let user = res.data.data;
                    this.$emit("updated", user);
                    document.getElementById(modal).classList.remove("show");
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
        searchSkills(search, loading) {
            loading(true);

            axios
                .get(`${APP_BASE_URL}/api/skills-search?s=${escape(search)}`)
                .then((res) => {
                    this.skill_options = res.data.data;
                })
                .catch((err) => {
                    console.log(err);
                })
                .finally(() => {
                    loading(false);
                });
        },
        removeSkill(skill, index) {
            this.skills.splice(index, 1);
            this.form.skill_ids.splice(index, 1);
        },
        addSkill(value) {
            if (!this.form.skill_ids.includes(value.id)) {
                this.form.skill_ids.push(value.id);
                this.skills.push(value);
            }
        },
    },
};
</script>