<template>
    <div class="col-md-5 col-lg-3 mb-3 mb-md-3">
        <div class="card contain-avatar">
            <div class="card-avatar">
                <img :src="admin.web_avatar_url" :alt="admin.name" class="img-fluid rounded-circle" />
            </div>
            <div class="card-body">
                <h4 class="card-title text-center mb-2">{{ admin.name }}</h4>
                <p class="text-center">{{ admin.email }}</p>
                <button
                    v-if="admin.id != current_admin_id"
                    type="button"
                    class="destroy-confirm btn btn-block btn-danger"
                    @click="destroy"
                >
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import SwalMixin from "../../../mixins/swal";

export default {
    props: ["admin", "current_admin_id"],
    mixins: ["SwalMixin"],
    methods: {
        destroy() {
            this.$swal({
                title: "Are you sure?",
                text: "Move this admin to trash?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, do it!"
            }).then(result => {
                if (result.value) {
                    axios
                        .delete(`${DASHBOARD_BASE_URL}/admins/${this.admin.id}`)
                        .then(res => {
                            var data = res.data;
                            this.$snotify[data.status](
                                data.message,
                                data.status
                            );
                            if (data.status == "success") {
                                window.location.replace(
                                    `${DASHBOARD_BASE_URL}/admins`
                                );
                            }
                        })
                        .catch(err => {
                            console.log(err);
                            if (err.response.status === 422) {
                                this.swalWrong(err.response.data.message);
                            }
                        });
                }
            });
        }
    }
};
</script>
