<template>
    <div v-if="active_menu == 'manage-profile'" class="card">
        <div class="card__header">
            <div class="card__header-left">
                <h2 class="card__header-title">Edit Profil Akun Perusahaan</h2>
            </div>
        </div>
        <div class="card__body">
            <form @submit.prevent="save" class="form">
                <div class="form__group">
                    <label class="form__label" for="name">Nama</label>
                    <input
                        type="text"
                        class="form__control"
                        name="name"
                        id="name"
                        v-model="form.name"
                        @blur="$v.form.name.$touch()"
                    />
                    <span
                        v-if="errors.name || $v.form.name.$invalid"
                        class="invalid-feedback"
                        role="alert"
                    >
                        <span v-if="errors.name">{{ errors.name[0] }}</span>
                        <span v-if="$v.form.name.$error">Required field!</span>
                    </span>
                </div>
                <div class="form__group">
                    <label class="form__label" for="email">Email</label>
                    <input
                        type="text"
                        class="form__control"
                        name="email"
                        id="email"
                        v-model="form.email"
                        @blur="$v.form.email.$touch()"
                    />
                    <span
                        v-if="errors.email || $v.form.email.$invalid"
                        class="invalid-feedback"
                        role="alert"
                    >
                        <span v-if="errors.email">{{ errors.email[0] }}</span>
                        <span v-if="$v.form.email.$error">Required field!</span>
                    </span>
                </div>
                <div class="form__group">
                    <label class="form__label" for="phone">Telepon</label>
                    <input
                        type="text"
                        class="form__control"
                        name="phone"
                        id="phone"
                        v-model="form.phone"
                        @blur="$v.form.phone.$touch()"
                    />
                    <span
                        v-if="errors.phone || $v.form.phone.$invalid"
                        class="invalid-feedback"
                        role="alert"
                    >
                        <span v-if="errors.phone">{{ errors.phone[0] }}</span>
                        <span v-if="$v.form.phone.$error">Required field!</span>
                    </span>
                </div>
                <div class="form__group">
                    <label class="form__label" for="job_position"
                        >Jabatan</label
                    >
                    <input
                        type="text"
                        class="form__control"
                        name="job_position"
                        id="job_position"
                        v-model="form.job_position"
                        @blur="$v.form.job_position.$touch()"
                    />
                    <span
                        v-if="
                            errors.job_position || $v.form.job_position.$invalid
                        "
                        class="invalid-feedback"
                        role="alert"
                    >
                        <span v-if="errors.job_position">{{
                            errors.job_position[0]
                        }}</span>
                        <span v-if="$v.form.job_position.$error"
                            >Required field!</span
                        >
                    </span>
                </div>
                <div class="form__group">
                    <label class="form__label" for="phone">Jenis Kelamin</label>
                    <v-select
                        label="text"
                        :options="[
                            { value: 'male', text: 'Laki-laki' },
                            { value: 'female', text: 'Perempuan' },
                        ]"
                        v-model="selected_gender"
                        @input="genderChange"
                    ></v-select>
                    <span
                        v-if="errors.gender || $v.form.gender.$invalid"
                        class="invalid-feedback"
                        role="alert"
                    >
                        <span v-if="errors.gender">{{ errors.gender[0] }}</span>
                        <span v-if="$v.form.gender.$error"
                            >Required field!</span
                        >
                    </span>
                </div>
                <div class="form__group">
                    <label class="form__label" for="dob">Tanggal Lahir</label>
                    <date-pick v-model="form.dob"></date-pick>
                    <span
                        v-if="errors.dob || $v.form.dob.$invalid"
                        class="invalid-feedback"
                        role="alert"
                    >
                        <span v-if="errors.dob">{{ errors.dob[0] }}</span>
                        <span v-if="$v.form.dob.$error">Required field!</span>
                    </span>
                </div>

                <button
                    type="submit"
                    class="btn btn--primary"
                    :disabled="$v.$invalid || saving"
                >
                    <span v-if="!saving">Simpan</span>
                    <span v-else>Memproses</span>
                </button>
            </form>
        </div>
    </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";

export default {
    props: {
        employer: Object,
        active_menu: String,
    },
    data() {
        let selected_gender = { value: "", text: "-- Pilih --" };
        if (this.employer.gender.value != "") {
            selected_gender = {
                value: this.employer.gender.value,
                text:
                    this.employer.gender.value == "male"
                        ? "Laki-laki"
                        : "Perempuan",
            };
        }

        return {
            saving: false,
            errors: [],
            selected_gender: selected_gender,
            form: {
                name: this.employer.name,
                email: this.employer.email,
                phone: this.employer.phone,
                job_position: this.employer.job_position,
                gender: this.employer.gender.value,
                dob: this.employer.dob,
            },
        };
    },
    created() {
        console.log(this.employer);
    },
    validations: {
        form: {
            name: { required },
            email: { required, email },
            phone: { required },
            job_position: { required },
            gender: { required },
            dob: { required },
        },
    },
    methods: {
        genderChange(value) {
            this.form.gender = value.value;
        },
        save(modal) {
            this.saving = true;
            this.errors = [];

            axios
                .post(`${APP_BASE_URL}/employer/update-account`, this.form)
                .then((res) => {
                    let data = res.data;
                    let employer = data.data;
                    this.$emit("updated", employer);
                    this.swalToast(data.status, data.message);
                })
                .catch((err) => {
                    console.log(err);
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
};
</script>