<template>
    <aside>
        <div class="card card--over-show">
            <div class="card__body">
                <div class="myo__avatar">
                    <img
                        :src="employer.avatar_url"
                        :alt="employer.name"
                        class="img-fluid"
                    />
                    <label class="myo__update-avatar">
                        <i class="icon-edit"></i>
                        <input
                            type="file"
                            ref="avatar"
                            @change="handleFileChange"
                        />
                    </label>
                </div>

                <nav class="myo__menu">
                    <ul>
                        <li
                            :class="{
                                active: active_menu == 'manage-profile',
                            }"
                        >
                            <a
                                href="#"
                                title="Edit Profil"
                                @click.prevent="navigate('manage-profile')"
                            >
                                <span class="name">Edit Profile</span>
                                <span class="icon"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                        <li
                            :class="{
                                active: active_menu == 'manage-password',
                            }"
                        >
                            <a
                                href="#"
                                title="Ganti Password"
                                @click.prevent="navigate('manage-password')"
                            >
                                <span class="name">Ganti Password</span>
                                <span class="icon"
                                    ><i class="icon-arrow-right-2"></i
                                ></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>
</template>

<script>
export default {
    props: {
        employer: Object,
        active_menu: String,
    },
    methods: {
        navigate(to) {
            this.$emit("navigate", to);
        },
        handleFileChange(e) {
            let formData = new FormData();
            formData.append("avatar", this.$refs.avatar.files[0]);

            axios
                .post(`${APP_BASE_URL}/employer/update-avatar`, formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((res) => {
                    let data = res.data;
                    let employer = data.data;
                    this.$emit("updated", employer);
                    var avatar_wrapper = document.querySelector(
                        ".header__avatar"
                    );
                    avatar_wrapper.querySelector("img").src =
                        employer.avatar_url;
                    this.swalToast(data.status, data.message);
                })
                .catch((err) => {
                    console.log(err.response);
                    this.swalToast("error", err.response.data.errors.avatar[0]);
                })
                .finally(() => {
                    this.saving = false;
                });
        },
    },
};
</script>