@font-face {
    font-family: "reqruit";
    src: url("../../../font/reqruit.eot?31291842");
    src: url("../../../font/reqruit.eot?31291842#iefix")
            format("embedded-opentype"),
        url("../../../font/reqruit.woff2?31291842") format("woff2"),
        url("../../../font/reqruit.woff?31291842") format("woff"),
        url("../../../font/reqruit.ttf?31291842") format("truetype"),
        url("../../../font/reqruit.svg?31291842#reqruit") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'reqruit';
    src: url('../../../font/reqruit.svg?31291842#reqruit') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "reqruit";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-2-user:before {
    content: "\e800";
} /* '' */
.icon-3-user:before {
    content: "\e801";
} /* '' */
.icon-activity:before {
    content: "\e802";
} /* '' */
.icon-add-user:before {
    content: "\e803";
} /* '' */
.icon-arrow-down:before {
    content: "\e804";
} /* '' */
.icon-arrow-down-2:before {
    content: "\e805";
} /* '' */
.icon-arrow-down-3:before {
    content: "\e806";
} /* '' */
.icon-arrow-down-circle:before {
    content: "\e807";
} /* '' */
.icon-arrow-down-square:before {
    content: "\e808";
} /* '' */
.icon-arrow-left:before {
    content: "\e809";
} /* '' */
.icon-arrow-left-2:before {
    content: "\e80a";
} /* '' */
.icon-arrow-left-3:before {
    content: "\e80b";
} /* '' */
.icon-arrow-left-circle:before {
    content: "\e80c";
} /* '' */
.icon-arrow-left-square:before {
    content: "\e80d";
} /* '' */
.icon-arrow-right:before {
    content: "\e80e";
} /* '' */
.icon-arrow-right-2:before {
    content: "\e80f";
} /* '' */
.icon-arrow-right-3:before {
    content: "\e810";
} /* '' */
.icon-arrow-right-circle:before {
    content: "\e811";
} /* '' */
.icon-arrow-right-square:before {
    content: "\e812";
} /* '' */
.icon-arrow-up:before {
    content: "\e813";
} /* '' */
.icon-arrow-up-2:before {
    content: "\e814";
} /* '' */
.icon-arrow-up-3:before {
    content: "\e815";
} /* '' */
.icon-arrow-up-circle:before {
    content: "\e816";
} /* '' */
.icon-arrow-up-square:before {
    content: "\e817";
} /* '' */
.icon-bag:before {
    content: "\e818";
} /* '' */
.icon-bag-2:before {
    content: "\e819";
} /* '' */
.icon-bookmark:before {
    content: "\e81a";
} /* '' */
.icon-buy:before {
    content: "\e81b";
} /* '' */
.icon-calendar:before {
    content: "\e81c";
} /* '' */
.icon-call:before {
    content: "\e81d";
} /* '' */
.icon-calling:before {
    content: "\e81e";
} /* '' */
.icon-call-missed:before {
    content: "\e81f";
} /* '' */
.icon-call-silent:before {
    content: "\e820";
} /* '' */
.icon-camera:before {
    content: "\e821";
} /* '' */
.icon-category:before {
    content: "\e822";
} /* '' */
.icon-chart:before {
    content: "\e823";
} /* '' */
.icon-chat:before {
    content: "\e824";
} /* '' */
.icon-close-square:before {
    content: "\e825";
} /* '' */
.icon-danger:before {
    content: "\e826";
} /* '' */
.icon-delete:before {
    content: "\e827";
} /* '' */
.icon-discount:before {
    content: "\e828";
} /* '' */
.icon-discovery:before {
    content: "\e829";
} /* '' */
.icon-document:before {
    content: "\e82a";
} /* '' */
.icon-download:before {
    content: "\e82b";
} /* '' */
.icon-edit:before {
    content: "\e82c";
} /* '' */
.icon-edit-square:before {
    content: "\e82d";
} /* '' */
.icon-filter:before {
    content: "\e82e";
} /* '' */
.icon-filter-2:before {
    content: "\e82f";
} /* '' */
.icon-folder:before {
    content: "\e830";
} /* '' */
.icon-game:before {
    content: "\e831";
} /* '' */
.icon-graph:before {
    content: "\e832";
} /* '' */
.icon-heart:before {
    content: "\e833";
} /* '' */
.icon-hide:before {
    content: "\e834";
} /* '' */
.icon-home:before {
    content: "\e835";
} /* '' */
.icon-image:before {
    content: "\e836";
} /* '' */
.icon-image-2:before {
    content: "\e837";
} /* '' */
.icon-info-circle:before {
    content: "\e838";
} /* '' */
.icon-info-square:before {
    content: "\e839";
} /* '' */
.icon-location:before {
    content: "\e83a";
} /* '' */
.icon-lock:before {
    content: "\e83b";
} /* '' */
.icon-login:before {
    content: "\e83c";
} /* '' */
.icon-logout:before {
    content: "\e83d";
} /* '' */
.icon-message:before {
    content: "\e83e";
} /* '' */
.icon-more-circle:before {
    content: "\e83f";
} /* '' */
.icon-more-square:before {
    content: "\e840";
} /* '' */
.icon-notification:before {
    content: "\e841";
} /* '' */
.icon-paper:before {
    content: "\e842";
} /* '' */
.icon-paper-download:before {
    content: "\e843";
} /* '' */
.icon-paper-fail:before {
    content: "\e844";
} /* '' */
.icon-paper-negative:before {
    content: "\e845";
} /* '' */
.icon-paper-plus:before {
    content: "\e846";
} /* '' */
.icon-paper-upload:before {
    content: "\e847";
} /* '' */
.icon-password:before {
    content: "\e848";
} /* '' */
.icon-play:before {
    content: "\e849";
} /* '' */
.icon-plus:before {
    content: "\e84a";
} /* '' */
.icon-profile:before {
    content: "\e84b";
} /* '' */
.icon-scan:before {
    content: "\e84c";
} /* '' */
.icon-search:before {
    content: "\e84d";
} /* '' */
.icon-send:before {
    content: "\e84e";
} /* '' */
.icon-setting:before {
    content: "\e84f";
} /* '' */
.icon-shield-done:before {
    content: "\e850";
} /* '' */
.icon-shield-fail:before {
    content: "\e851";
} /* '' */
.icon-show:before {
    content: "\e852";
} /* '' */
.icon-star:before {
    content: "\e853";
} /* '' */
.icon-swap:before {
    content: "\e854";
} /* '' */
.icon-ticket:before {
    content: "\e855";
} /* '' */
.icon-ticket-star:before {
    content: "\e856";
} /* '' */
.icon-tick-square:before {
    content: "\e857";
} /* '' */
.icon-time-circle:before {
    content: "\e858";
} /* '' */
.icon-time-square:before {
    content: "\e859";
} /* '' */
.icon-unlock:before {
    content: "\e85a";
} /* '' */
.icon-upload:before {
    content: "\e85b";
} /* '' */
.icon-video:before {
    content: "\e85c";
} /* '' */
.icon-voice:before {
    content: "\e85d";
} /* '' */
.icon-voice-2:before {
    content: "\e85e";
} /* '' */
.icon-volume-down:before {
    content: "\e85f";
} /* '' */
.icon-volume-off:before {
    content: "\e860";
} /* '' */
.icon-volume-up:before {
    content: "\e861";
} /* '' */
.icon-wallet:before {
    content: "\e862";
} /* '' */
.icon-work:before {
    content: "\e863";
} /* '' */
