<template>
    <div class="mb-4">
        <div class="myo__basic-list clearfix">
            <div class="col col-6">
                <dl>
                    <dt>Email</dt>
                    <dd>{{ user.email }}</dd>

                    <dt>Jenis Kelamin</dt>
                    <dd>{{ user.gender.text }}</dd>
                </dl>
            </div>
            <div class="col col-6">
                <dl>
                    <dt>Telepon</dt>
                    <dd>{{ user.phone }}</dd>

                    <dt>Lokasi Domisili</dt>
                    <dd>{{ user.city.name }}, {{ user.province.name }}</dd>
                </dl>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        user: Object,
    },
};
</script>