<template>
    <div>
        <JobSearchForm :data="job_data" @update_result="updateResult" />
        <JobSearchResult :data="job_data" />
    </div>
</template>

<script>
import JobSearchForm from "./ExploreJobs/JobSearchForm";
import JobSearchResult from "./ExploreJobs/JobSearchResult";

export default {
    props: ["data"],
    components: {
        JobSearchForm,
        JobSearchResult,
    },
    data() {
        return {
            job_data: this.data,
        };
    },
    methods: {
        updateResult(data) {
            this.job_data = data;
        },
    },
};
</script>