<template>
    <div>
        <button
            v-if="!showForm"
            type="button"
            class="btn btn--lg btn--primary"
            @click="showForm = !showForm"
        >
            <i class="icon-plus"></i> Tambah Perusahaan
        </button>

        <div v-else class="co-form">
            <div class="co-form__banner">
                <img :src="banner_url" :alt="company.name" />
                <div class="co-form__upload-banner">
                    <label class="custom-file-upload">
                        <span class="text">Upload Banner</span>
                        <span class="icon"><i class="icon-upload"></i></span>
                        <input
                            type="file"
                            ref="banner"
                            @change="handleBannerChange"
                        />
                    </label>
                </div>
                <div class="co-form__upload-logo">
                    <div class="logo-sq">
                        <img :src="logo_url" :alt="company.name" />
                    </div>
                    <label class="co-form__logo-input">
                        <i class="icon-edit"></i>
                        <input
                            type="file"
                            ref="logo"
                            @change="handleLogoChange"
                        />
                    </label>
                </div>
            </div>
            <small
                ><i class="icon-danger"></i> Ukuran banner: 1400px x
                525px</small
            >

            <div class="mt-2">
                <div v-if="errors.banner" class="text--danger" role="alert">
                    <small>{{ errors.banner[0] }}</small>
                </div>
                <div v-if="errors.logo" class="text--danger" role="alert">
                    <small>{{ errors.logo[0] }}</small>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card__header">
                    <h2 class="card__header-title">Detail Perusahaan</h2>
                </div>
                <div class="card__body">
                    <form @submit.prevent="save" class="form">
                        <div class="form__group">
                            <label class="form__label" for="name"
                                >Nama Perusahaan</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="company-name"
                                id="name"
                                v-model="form.name"
                                @blur="$v.form.name.$touch()"
                            />
                            <span
                                v-if="errors.name || $v.form.name.$invalid"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.name">{{
                                    errors.name[0]
                                }}</span>
                                <span v-if="$v.form.name.$error"
                                    >Required field!</span
                                >
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="industry_ids"
                                >Industri</label
                            >
                            <v-select
                                label="name"
                                :options="industries"
                                @input="addIndustry"
                                placeholder="Pilih Industri"
                            ></v-select>
                        </div>
                        <div class="mt-3 flex flex-wrap">
                            <div
                                v-for="(ind, i) in selected_industries"
                                :key="i"
                                class="badge mr2 mb2"
                            >
                                <span>{{ ind.name }}</span>
                                <span
                                    class="badge__icon"
                                    @click="removeIndustry(ind, i)"
                                >
                                    <i class="icon-close-square"></i>
                                </span>
                            </div>
                            <span
                                v-if="
                                    errors.industry_ids ||
                                    $v.form.industry_ids.$invalid
                                "
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.industry_ids">{{
                                    errors.industry_ids[0]
                                }}</span>
                                <span v-if="$v.form.industry_ids.$error"
                                    >Required field!</span
                                >
                            </span>
                        </div>

                        <div class="form__group">
                            <label class="form__label" for="short_description"
                                >Deskripsi Pendek</label
                            >
                            <textarea
                                class="form__control"
                                name="short_description"
                                id="short_description"
                                v-model="form.short_description"
                                @blur="$v.form.short_description.$touch()"
                                rows="5"
                            />
                            <span
                                v-if="
                                    errors.short_description ||
                                    $v.form.short_description.$invalid
                                "
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.short_description">{{
                                    errors.short_description[0]
                                }}</span>
                                <span v-if="$v.form.short_description.$error"
                                    >Required field!</span
                                >
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="description"
                                >Deskripsi</label
                            >
                            <ckeditor
                                :editor="editor_type"
                                v-model="form.description"
                                :config="editorConfig"
                            ></ckeditor>
                            <span
                                v-if="
                                    errors.description ||
                                    $v.form.description.$invalid
                                "
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.description">{{
                                    errors.description[0]
                                }}</span>
                                <span v-if="$v.form.description.$error"
                                    >Required field!</span
                                >
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="address"
                                >Alamat</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="address"
                                id="address"
                                v-model="form.address"
                                @blur="$v.form.address.$touch()"
                            />
                            <span
                                v-if="
                                    errors.address || $v.form.address.$invalid
                                "
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.address">{{
                                    errors.address[0]
                                }}</span>
                                <span v-if="$v.form.address.$error"
                                    >Required field!</span
                                >
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="province_id"
                                >Provinsi</label
                            >
                            <v-select
                                label="name"
                                :options="provinces"
                                v-model="selected_province"
                                @input="provinceChange"
                                placeholder="Pilih Provinsi"
                            ></v-select>
                            <span
                                v-if="
                                    errors.province_id ||
                                    $v.form.province_id.$invalid
                                "
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.province_id">{{
                                    errors.province_id[0]
                                }}</span>
                                <span v-if="$v.form.province_id.$error"
                                    >Required field!</span
                                >
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="city_id"
                                >Kabupaten / Kota</label
                            >
                            <v-select
                                label="name"
                                :options="cities"
                                v-model="selected_city"
                                @input="cityChange"
                                placeholder="Pilih Kabupaten / Kota"
                            ></v-select>
                            <span
                                v-if="
                                    errors.city_id || $v.form.city_id.$invalid
                                "
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.city_id">{{
                                    errors.city_id[0]
                                }}</span>
                                <span v-if="$v.form.city_id.$error"
                                    >Required field!</span
                                >
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="subdistrict_id"
                                >Kecamatan</label
                            >
                            <v-select
                                label="name"
                                :options="subdistricts"
                                v-model="selected_subdistrict"
                                @input="subdistrictChange"
                                placeholder="Pilih Kecamatan"
                            ></v-select>
                            <span
                                v-if="
                                    errors.subdistrict_id ||
                                    $v.form.subdistrict_id.$invalid
                                "
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.subdistrict_id">{{
                                    errors.subdistrict_id[0]
                                }}</span>
                                <span v-if="$v.form.subdistrict_id.$error"
                                    >Required field!</span
                                >
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="pos_code"
                                >Kode Pos</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="pos_code"
                                id="pos_code"
                                v-model="form.pos_code"
                            />
                            <span
                                v-if="errors.pos_code"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.pos_code">{{
                                    errors.pos_code[0]
                                }}</span>
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="phone"
                                >Telepon</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="phone"
                                id="phone"
                                v-model="form.phone"
                            />
                            <span
                                v-if="errors.phone"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.phone">{{
                                    errors.phone[0]
                                }}</span>
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="email">Email</label>
                            <input
                                type="text"
                                class="form__control"
                                name="email"
                                id="email"
                                v-model="form.email"
                            />
                            <span
                                v-if="errors.email"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.email">{{
                                    errors.email[0]
                                }}</span>
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="website_url"
                                >Website URL</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="website_url"
                                id="website_url"
                                v-model="form.website_url"
                            />
                            <span
                                v-if="errors.website_url"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.website_url">{{
                                    errors.website_url[0]
                                }}</span>
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="instagram"
                                >Instagram</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="instagram"
                                id="instagram"
                                v-model="form.instagram"
                            />
                            <span
                                v-if="errors.instagram"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.instagram">{{
                                    errors.instagram[0]
                                }}</span>
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="facebook"
                                >Facebook</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="facebook"
                                id="facebook"
                                v-model="form.facebook"
                            />
                            <span
                                v-if="errors.facebook"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.facebook">{{
                                    errors.facebook[0]
                                }}</span>
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="linkedin"
                                >Linkedin</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="linkedin"
                                id="linkedin"
                                v-model="form.linkedin"
                            />
                            <span
                                v-if="errors.linkedin"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.linkedin">{{
                                    errors.linkedin[0]
                                }}</span>
                            </span>
                        </div>
                        <div class="form__group">
                            <label class="form__label" for="twitter"
                                >Twitter</label
                            >
                            <input
                                type="text"
                                class="form__control"
                                name="twitter"
                                id="twitter"
                                v-model="form.twitter"
                            />
                            <span
                                v-if="errors.twitter"
                                class="invalid-feedback"
                                role="alert"
                            >
                                <span v-if="errors.twitter">{{
                                    errors.twitter[0]
                                }}</span>
                            </span>
                        </div>

                        <div class="form__group">
                            <label class="form__label">Company Images</label>
                            <div class="clearfix mxn2">
                                <div
                                    v-for="(image, i) in form.company_images"
                                    :key="i"
                                    class="col sm-col-6 md-col-6 lg-col-4 px2 mb-4"
                                >
                                    <DropZone
                                        :name="`company-image-${i}`"
                                        :image_url="form.company_images[i].src"
                                        @dropped="
                                            (file) =>
                                                companyImageChange(file, i)
                                        "
                                    />
                                    <span
                                        v-if="errors[`image_file_names.${i}`]"
                                        class="invalid-feedback"
                                        role="alert"
                                        >{{
                                            errors[`image_file_names.${i}`][0]
                                        }}
                                    </span>
                                    <input
                                        type="text"
                                        class="form__control mt-2"
                                        v-model="
                                            form.company_images[i].description
                                        "
                                        placeholder="Image description"
                                    />
                                    <span
                                        v-if="errors[`image_descriptions.${i}`]"
                                        class="invalid-feedback"
                                        role="alert"
                                        >{{
                                            errors[`image_descriptions.${i}`][0]
                                        }}
                                    </span>
                                    <button
                                        type="button"
                                        @click="removeCompanyImage(i)"
                                        class="btn btn--block btn--danger btn--sm mt-2"
                                    >
                                        <i class="icon-delete"></i> Hapus
                                    </button>
                                </div>
                                <div
                                    v-if="this.form.company_images.length < 3"
                                    class="col sm-col-6 md-col-6 lg-col-4 px2 mb-4"
                                >
                                    <button
                                        type="button"
                                        @click="addCompanyImage"
                                        class="drop-zone-add"
                                    >
                                        <div class="drop-zone-add__icon">
                                            <i class="icon-plus"></i>
                                        </div>
                                        <div class="drop-zone-add__text">
                                            Tambah
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <button
                            type="submit"
                            class="mt-3 right btn btn--primary"
                            :disabled="$v.$invalid || saving"
                        >
                            <span v-if="!saving">Simpan</span>
                            <span v-else>Memproses</span>
                        </button>

                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import AddressMixin from "../../../../../../../../../resources/js/mixins/address";
import DropZone from "../../Share/DropZone/DropZone";

export default {
    props: {
        company: Object,
        industries: Array,
    },
    mixins: ["AddressMixin"],
    components: {
        DropZone,
    },
    data() {
        return {
            saving: false,
            errors: [],
            showForm: this.company.hasOwnProperty("logo_url") ? true : false,
            logo_url: this.company.hasOwnProperty("logo_url")
                ? this.company.logo_url
                : `${APP_BASE_URL}/images/default/no-thumbnail.png`,
            banner_url: this.company.hasOwnProperty("banner_url")
                ? this.company.banner_url
                : `${APP_BASE_URL}/images/reqruit/content-images/company-banner.png`,
            provinces: [],
            cities: [],
            subdistricts: [],
            selected_province: {
                id: this.company.hasOwnProperty("province")
                    ? this.company.province.id
                    : "",
                name: this.company.hasOwnProperty("province")
                    ? this.company.province.name
                    : "-- Please Select --",
            },
            selected_city: {
                id: this.company.hasOwnProperty("city")
                    ? this.company.city.id
                    : "",
                name: this.company.hasOwnProperty("city")
                    ? this.company.city.name
                    : "-- Please Select --",
            },
            selected_subdistrict: {
                id: this.company.hasOwnProperty("subdistrict")
                    ? this.company.subdistrict.id
                    : "",
                name: this.company.hasOwnProperty("subdistrict")
                    ? this.company.subdistrict.name
                    : "-- Please Select --",
            },
            selected_industries: this.company.hasOwnProperty("industries")
                ? this.company.industries
                : [],
            editor_type: ClassicEditor,
            editorConfig: {
                toolbar: {
                    items: [
                        "heading",
                        "|",
                        "bold",
                        "italic",
                        "underline",
                        "strikethrough",
                        "alignment",
                        "bulletedList",
                        "numberedList",
                        "|",
                        "indent",
                        "outdent",
                        "|",
                        "blockQuote",
                        "insertTable",
                        "mediaEmbed",
                        "|",
                        "undo",
                        "redo",
                    ],
                },
                table: {
                    contentToolbar: [
                        "tableColumn",
                        "tableRow",
                        "mergeTableCells",
                    ],
                },
            },
            form: {
                name: this.company.hasOwnProperty("name")
                    ? this.company.name
                    : "",
                industry_ids: this.company.hasOwnProperty("industries")
                    ? this.company.industry_ids
                    : [],
                short_description: this.company.hasOwnProperty(
                    "short_description"
                )
                    ? this.company.short_description
                    : "",
                address: this.company.hasOwnProperty("address")
                    ? this.company.address
                    : "",
                province_id: this.company.hasOwnProperty("province")
                    ? this.company.province.id
                    : "",
                city_id: this.company.hasOwnProperty("city")
                    ? this.company.city.id
                    : "",
                subdistrict_id: this.company.hasOwnProperty("subdistrict")
                    ? this.company.subdistrict.id
                    : "",
                pos_code: this.company.hasOwnProperty("pos_code")
                    ? this.company.pos_code
                    : "",
                phone: this.company.hasOwnProperty("phone")
                    ? this.company.phone
                    : "",
                email: this.company.hasOwnProperty("email")
                    ? this.company.email
                    : "",
                website_url: this.company.hasOwnProperty("website_url")
                    ? this.company.website_url
                    : "",
                instagram: this.company.hasOwnProperty("instagram")
                    ? this.company.instagram
                    : "",
                facebook: this.company.hasOwnProperty("facebook")
                    ? this.company.facebook
                    : "",
                linkedin: this.company.hasOwnProperty("linkedin")
                    ? this.company.linkedin
                    : "",
                twitter: this.company.hasOwnProperty("twitter")
                    ? this.company.twitter
                    : "",
                description: this.company.hasOwnProperty("description")
                    ? this.company.description
                    : "",
                company_images: this.company.hasOwnProperty("company_images")
                    ? this.company.company_images
                    : [],
            },
        };
    },
    created() {
        this.getProvinces();
        if (!this.noCompany) {
            if (this.company.province.id != "") {
                this.getCities(this.company.province.id);
            }
            if (this.company.city.id != "") {
                this.getSubdistricts(this.company.city.id);
            }
        }
    },
    validations: {
        form: {
            name: { required },
            industry_ids: { required },
            short_description: { required },
            address: { required },
            province_id: { required },
            city_id: { required },
            subdistrict_id: { required },
            pos_code: { required },
            description: { required },
        },
    },
    methods: {
        save() {
            console.log(this.form);

            this.saving = true;
            this.errors = [];

            let formData = new FormData();
            formData.append("name", this.form.name);
            this.form.industry_ids.forEach((id) => {
                formData.append("industry_ids[]", id);
            });
            if (this.noCompany) {
                let logo_file =
                    this.$refs.logo.files[0] === undefined
                        ? ""
                        : this.$refs.logo.files[0];
                let banner_file =
                    this.$refs.banner.files[0] === undefined
                        ? ""
                        : this.$refs.banner.files[0];
                formData.append("logo", logo_file);
                formData.append("banner", banner_file);
            }
            formData.append("short_description", this.form.short_description);
            formData.append("address", this.form.address);
            formData.append("province_id", this.form.province_id);
            formData.append("city_id", this.form.city_id);
            formData.append("subdistrict_id", this.form.subdistrict_id);
            formData.append("pos_code", this.form.pos_code);
            formData.append("phone", this.form.phone);
            formData.append("email", this.form.email);
            formData.append("website_url", this.form.website_url);
            formData.append("instagram", this.form.instagram);
            formData.append("facebook", this.form.facebook);
            formData.append("linkedin", this.form.linkedin);
            formData.append("twitter", this.form.twitter);
            formData.append("description", this.form.description);
            this.form.company_images.forEach((ci) => {
                formData.append("image_file_names[]", ci.file_name);
                formData.append("image_descriptions[]", ci.description);
            });

            if (this.noCompany) {
                axios
                    .post(`${APP_BASE_URL}/employer/company`, formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    })
                    .then((res) => {
                        let data = res.data;
                        this.swalToast(data.status, data.message);
                    })
                    .catch((err) => {
                        console.log(err.response);
                        if (err.response.status == 422) {
                            this.errors = err.response.data.errors;
                            this.swalToast(
                                "error",
                                "Ada input field yang tidak valid"
                            );
                        } else {
                            this.swalWrong();
                        }
                    })
                    .finally(() => {
                        this.saving = false;
                    });
            } else {
                axios
                    .patch(
                        `${APP_BASE_URL}/employer/company/${this.company.id}`,
                        formData,
                        {
                            headers: {
                                "Content-Type": "multipart/form-data",
                            },
                        }
                    )
                    .then((res) => {
                        let data = res.data;
                        this.swalToast(data.status, data.message);
                    })
                    .catch((err) => {
                        console.log(err);
                        console.log(err.response);
                        if (err.response.status == 422) {
                            this.errors = err.response.data.errors;
                            this.swalWrong("Ada input field yang tidak valid");
                        } else if (err.response.status == 403) {
                            this.swalWrong(err.response.data.message);
                        } else {
                            this.swalWrong();
                        }
                    })
                    .finally(() => {
                        this.saving = false;
                    });
            }
        },
        provinceChange(value) {
            this.form.province_id = value.id;
            this.getCities(value.id);
            this.selected_city = { id: "", name: "-- Please select --" };
            this.subdistricts = [];
            this.selected_subdistrict = { id: "", name: "-- Please select --" };
        },
        cityChange(value) {
            this.form.city_id = value.id;
            this.getSubdistricts(value.id);
            this.selected_subdistrict = { id: "", name: "-- Please select --" };
        },
        subdistrictChange(value) {
            this.form.subdistrict_id = value.id;
        },
        addIndustry(value) {
            this.selected_industries.push(value);
            this.form.industry_ids.push(value.id);
        },
        removeIndustry(industry, index) {
            this.selected_industries.splice(index, 1);
            this.form.industry_ids.splice(index, 1);
        },
        handleBannerChange(e) {
            if (this.noCompany) {
                this.banner_url = window.URL.createObjectURL(
                    this.$refs.banner.files[0]
                );
                return;
            }

            let formData = new FormData();
            formData.append("banner", this.$refs.banner.files[0]);

            axios
                .post(
                    `${APP_BASE_URL}/employer/company/${this.company.id}/update-banner`,
                    formData,
                    {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    }
                )
                .then((res) => {
                    let data = res.data;
                    let company = data.data;
                    this.banner_url = company.banner_url;
                    this.swalToast(data.status, data.message);
                })
                .catch((err) => {
                    console.log(err.response);
                    this.swalWrong(err.response.data.errors.banner[0]);
                });
        },
        handleLogoChange(e) {
            if (this.noCompany) {
                this.logo_url = window.URL.createObjectURL(
                    this.$refs.logo.files[0]
                );
                return;
            }

            let formData = new FormData();
            formData.append("logo", this.$refs.logo.files[0]);

            axios
                .post(
                    `${APP_BASE_URL}/employer/company/${this.company.id}/update-logo`,
                    formData,
                    {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    }
                )
                .then((res) => {
                    let data = res.data;
                    let company = data.data;
                    this.logo_url = company.logo_url;
                    this.swalToast(data.status, data.message);
                })
                .catch((err) => {
                    console.log(err.response);
                    this.swalWrong(err.response.data.errors.logo[0]);
                });
        },
        companyImageChange(file, index) {
            if (this.noCompany) {
                let prevFileName = this.form.company_images[index].file_name;

                let formData = new FormData();
                formData.append("image", file);
                if (prevFileName != "") {
                    formData.append("prev_file_name", prevFileName);
                }

                axios
                    .post(
                        `${APP_BASE_URL}/employer/company/${this.company.id}/add-image`,
                        formData,
                        {
                            headers: {
                                "Content-Type": "multipart/form-data",
                            },
                        }
                    )
                    .then((res) => {
                        let data = res.data;
                        this.form.company_images[index].src =
                            data.data.image_url;
                        this.form.company_images[index].file_name =
                            data.data.file_name;
                        this.form.company_images[index].new = false;
                        this.swalToast(data.status, data.message);
                    })
                    .catch((err) => {
                        console.log(err.response);
                        if (err.response.status == 500) {
                            this.swalWrong("Something went wrong");
                            return;
                        }
                        this.swalWrong(err.response.data.message);
                    });
                return;
            }

            let formData = new FormData();
            formData.append("image", file);
            formData.append("index", index);

            axios
                .post(
                    `${APP_BASE_URL}/employer/company/${this.company.id}/update-image`,
                    formData,
                    {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    }
                )
                .then((res) => {
                    let data = res.data;
                    this.form.company_images[index].src = data.data.image_url;
                    this.form.company_images[index].file_name =
                        data.data.file_name;
                    this.form.company_images[index].new = false;
                    this.swalToast(data.status, data.message);
                })
                .catch((err) => {
                    console.log(err.response);
                    if (err.response.status == 500) {
                        this.swalWrong("Something went wrong");
                        return;
                    }
                    this.swalWrong(err.response.data.message);
                });
        },
        removeCompanyImage(index) {
            if (this.form.company_images[index].new) {
                this.form.company_images.splice(index, 1);
                return;
            }

            axios
                .delete(
                    `${APP_BASE_URL}/employer/company/${this.company.id}/remove-image/${index}`
                )
                .then((res) => {
                    this.form.company_images.splice(index, 1);
                })
                .catch((err) => {
                    console.log(err.response);
                    if (err.response.status == 500) {
                        this.swalWrong("Something went wrong");
                        return;
                    }
                    this.swalWrong(err.response.data.message);
                });
        },
        addCompanyImage() {
            if (this.form.company_images.length === 3) {
                this.swalWrong("Maksimum 3 foto!");
                return;
            }

            this.form.company_images.push({
                new: true,
                file_name: "",
                src: "",
                description: "",
            });
        },
    },
    computed: {
        noCompany() {
            return Object.keys(this.company).length === 0;
        },
    },
};
</script>