* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: $font-family-base;
    color: $color-text;
    background-color: $body-bg;

    &.content-no-padding-top {
        .content {
            padding: 0 0 60px;
        }
    }
}

hr {
    height: 1px;
    background-color: #bbbbbb;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content {
    padding: 20px 0 60px;
}

.loading-image {
    width: 100%;
    @include flexCenter;

    img {
        width: 100px;
    }
}