body {
    font-size: 16px;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-base;
    color: $color-heading;
    margin-top: 0;
}

h3,
h4,
h5,
h6 {
    margin-bottom: 5px;
}

h1.page-title {
    @media only screen and(max-width: 768px) {
        font-size: 24px;
    }
}

a {
    color: $color-link;
    text-decoration: none;
    transition: all .1s ease-in;
}

.block-title {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: $color-heading;
}

dl {
    dt {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    dd {
        color: $grey-1;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
}

.pre-line {
    white-space: pre-line;
}