.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and(max-width: 1200px) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.sr-only {
    position: absolute;
    left: -9999px;
}

.text--success {
    color: $color-success;
}

.text--danger {
    color: $color-danger;
}

.block-edit {
    position: absolute;
    top: 15px;
    right: 15px;
}

.hide {
    display: none;
}

@for $i from 1 to 5 {
    .mt-#{$i} {
        margin-top: 4px * $i;
    }

    .mr-#{$i} {
        margin-right: 4px * $i;
    }

    .mb-#{$i} {
        margin-bottom: 4px * $i;
    }

    .ml-#{$i} {
        margin-left: 4px * $i;
    }

    .pt-#{$i} {
        padding-top: 4px * $i;
    }

    .pr-#{$i} {
        padding-right: 4px * $i;
    }

    .pb-#{$i} {
        padding-bottom: 4px * $i;
    }

    .pl-#{$i} {
        padding-left: 4px * $i;
    }
}

.el-short-long {
    height: 110px;
    overflow: hidden;

    &.full {
        height: auto;
    }
}

.el-short-long-toggle-full {
    float: right;
    background: #ffffff;
    position: relative;
    padding: 1px 10px;
}

.el-short-long-toggle-less {
    float: right;
}