/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: $color-primary;
    color: #ffffff;
    cursor: pointer;
    padding: 0 18px;
    height: 52px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-radius: $border-radius-general;
    margin-top: 10px;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;

    .icon {
        font-size: 20px;
    }

    &.active,
    &:hover {
        background-color: lighten($color-primary, 8);
    }

    &__panel {
        padding: 20px;
        background-color: #ffffff;
        display: none;
        overflow: hidden;
        font-size: 15px;
        line-height: 22px;
        border: 1px solid $grey-4;
        border-radius: 0 0 $border-radius-general $border-radius-general;
    }
}