.btn {
    border: none;
    height: $height-form;
    min-width: 85px;
    width: fit-content;
    border-radius: $border-radius-form;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $color-btn-black;
    @include flexCenter;
    text-decoration: none;
    padding: $padding-form;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover {
        background-position: 0%;
    }

    &--block {
        width: 100%;
    }

    &--bold {
        font-weight: 600;
    }

    &--shadow {
        box-shadow: 5px 5px 20px rgba(0, 129, 202, 0.3);
    }

    &--white {
        color: $black;
        background: #ffffff;
        background: linear-gradient(90deg,
                darken(#ffffff, 10) 0%,
                darken(#ffffff, 10) 50%,
                #ffffff 50%);
        background-size: 221%;
        background-position: 100%;

        &:disabled {
            background: lighten(#ffffff, 20);
        }
    }

    &--grey {
        color: $black;
        background: $grey-4;
        background: linear-gradient(90deg,
                darken($grey-4, 15) 0%,
                darken($grey-4, 15) 50%,
                $grey-4 50%);
        background-size: 221%;
        background-position: 100%;

        &:disabled {
            background: lighten($grey-4, 20);
        }
    }

    &--primary {
        color: $color-btn-light;
        background: $color-primary;
        background: linear-gradient(90deg,
                $color-primary-hover 0%,
                $color-primary-hover 50%,
                $color-primary 50%);
        background-size: 221%;
        background-position: 100%;

        &:disabled {
            background: lighten($color-primary, 20);
        }
    }

    &--warning {
        background: $yellow;
        background: linear-gradient(90deg,
                $yellow-hover 0%,
                $yellow-hover 50%,
                $yellow 50%);
        background-size: 221%;
        background-position: 100%;

        &:disabled {
            background: lighten($yellow, 20);
        }
    }

    &--info {
        background: $blue-2;
        background: linear-gradient(90deg,
                $blue-2-hover 0%,
                $blue-2-hover 50%,
                $blue-2 50%);
        background-size: 221%;
        background-position: 100%;
        color: #ffffff;

        &:disabled {
            background: lighten($blue-2, 20);
        }
    }

    &--success {
        background: $green;
        background: linear-gradient(90deg,
                $green-hover 0%,
                $green-hover 50%,
                $green 50%);
        background-size: 221%;
        background-position: 100%;
        color: #ffffff;

        &:disabled {
            background: lighten($green, 20);
        }
    }

    &--danger {
        background: $red;
        background: linear-gradient(90deg,
                $red-hover 0%,
                $red-hover 50%,
                $red 50%);
        background-size: 221%;
        background-position: 100%;
        color: #ffffff;

        &:disabled {
            background: lighten($red, 20);
        }
    }

    &.btn--lg {
        height: $height-form-lg;
        font-size: 18px;
    }

    &.btn--sm {
        height: $height-form-sm;
        font-size: 13px;
    }

    &.btn--long {
        min-width: 235px;
    }

    &.btn-outline {
        background: none;
        border-width: 2px;
        border-style: solid;

        &:hover {
            background-position: 0%;
        }

        &--bg-white {
            background-color: #ffffff;
        }

        &--color-black {
            color: $color-btn-black;
        }

        &--color-light {
            color: $color-btn-light;
        }

        &--white {
            border-color: #ffffff;
            background: transparent;
            background: linear-gradient(90deg,
                    #ffffff 0%,
                    #ffffff 50%,
                    transparent 50%);
            background-size: 221%;
            background-position: 100%;

            &:hover {
                color: $black;
            }

            &:disabled {
                border-color: lighten(#ffffff, 20);
            }
        }

        &--primary {
            border-color: $color-primary;
            background: transparent;
            background: linear-gradient(90deg,
                    $color-primary 0%,
                    $color-primary 50%,
                    transparent 50%);
            background-size: 221%;
            background-position: 100%;

            &:hover {
                color: #ffffff;
            }

            &:disabled {
                border-color: lighten($color-primary, 20);
            }
        }

        &--warning {
            border-color: $yellow;
            background: transparent;
            background: linear-gradient(90deg,
                    $yellow 0%,
                    $yellow 50%,
                    transparent 50%);
            background-size: 221%;
            background-position: 100%;

            &:hover {
                color: $color-btn-black;
            }

            &:disabled {
                border-color: lighten($color-primary, 20);
            }
        }

        &--info {
            border-color: $blue-2;
            background: transparent;
            background: linear-gradient(90deg,
                    $blue-2 0%,
                    $blue-2 50%,
                    transparent 50%);
            background-size: 221%;
            background-position: 100%;

            &:hover {
                color: $color-btn-black;
            }

            &:disabled {
                border-color: lighten($color-primary, 20);
            }
        }

        &--success {
            border-color: $green;
            background: transparent;
            background: linear-gradient(90deg,
                    $green 0%,
                    $green 50%,
                    transparent 50%);
            background-size: 221%;
            background-position: 100%;

            &:hover {
                color: $color-btn-black;
            }

            &:disabled {
                border-color: lighten($color-primary, 20);
            }
        }
    }
}