// CUSTOM SELECT
select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 1em 0 0;
    width: 100%;
    height: 40px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;

    &::-ms-expand {
        display: none;
    }

    &:focus+.focus {
        position: absolute;
        top: -25px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: inherit;
    }
}

.select {
    min-width: 150px;
    cursor: pointer;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

    &--disabled {
        cursor: not-allowed;
        background-color: #eee;
        background-image: linear-gradient(to top, #ddd, #eee 33%);
    }

    &:not(.select--multiple)::after {
        font-family: 'reqruit';
        content: "\e805";
        display: block;
        // color: $color-primary;
        justify-self: end;
    }

    .focus {
        display: none;
    }
}


select,
.select:after {
    grid-area: select;
}

select[multiple] {
    padding-right: 0;
    height: 6rem;
}

select[multiple] option {
    white-space: normal;
}

// END CUSTOM SELECT

.invalid-feedback {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    color: $color-danger;
}

.form {
    &__group {
        margin-bottom: 17px;
        display: block;
        width: 100%;
    }

    &__label {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
        color: $black;

        &--icon {
            display: flex;
            align-items: center;


            svg {
                width: 25px;
                height: 25px;
                margin-right: 10px;

                image {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    &__group-inline {
        display: flex;
        position: relative;
    }

    &__inline {
        .form__control {
            border-radius: 0;
        }

        &:first-child {
            .form__control {
                border-radius: $border-radius-form 0 0 $border-radius-form;
            }
        }

        &:last-child {
            .form__control {
                border-radius: 0 $border-radius-form $border-radius-form 0;
            }
        }

        &:not(:last-child) {
            border-right: 1px solid $grey-1;
        }
    }

    &__control {
        height: $height-form;
        border: 1px solid $color-form-border;
        border-radius: $border-radius-form;
        background-color: $color-form-control-bg;
        padding: $padding-form;
        width: 100%;
        font-size: 15px;
        line-height: 24px;

        &--lg {
            height: $height-form-lg;
        }

        &--bg-white {
            background-color: #ffffff;
        }

        &--border {
            border: 1px solid #959595;
        }

        &.is-invalid {
            border: 1px solid $color-danger;
        }
    }
}

textarea.form__control {
    height: auto;
}

.input-group {
    display: flex;
    height: $height-form;
    width: 100%;

    &--lg {
        height: $height-form-lg;
    }

    &--white {

        .input-group__prepend,
        .input-group__append {
            background-color: #ffffff;
        }
    }

    &--no-append {
        .input-group__main {
            width: 100%;

            .form__control {
                border-radius: 0 $border-radius-form $border-radius-form 0;
            }
        }
    }

    &--no-prepend {
        .input-group__main {
            width: 100%;

            .form__control {
                border-radius: $border-radius-form 0 0 $border-radius-form;
                padding-left: 10px;
                border-left: 1px solid $color-form-border;
            }
        }
    }

    &--full {
        width: 100%;

        .input-group__main {
            width: 100%;
        }
    }

    &__prepend {
        height: 100%;
        border-radius: $border-radius-form 0 0 $border-radius-form;
        @include flexCenter;
        padding: 0 15px;
        border: 1px solid $grey-1;
        border-right: none;

        &--icon {
            background-color: $color-form-control-bg;
            color: $color-text;
        }

        &--icon-primary {
            background-color: $color-form-control-bg;
            color: $color-primary;
        }
    }

    &__main {
        border-radius: 0;

        .form__control {
            border-radius: 0;
            padding-left: 0;
            border-left: none;
        }
    }

    &__append {
        height: 100%;
        border-radius: 0 $border-radius-form $border-radius-form 0;

        .btn {
            border-radius: 0 $border-radius-form $border-radius-form 0;
            margin-left: -20px;
            width: auto;
        }

        &--border {
            .btn {
                border: 1px solid $grey-1;
                border-left: none;
            }
        }
    }
}

.ffi {
    @media only screen and(max-width: 992px) {
        display: none;
    }

    &.show {
        @media only screen and(max-width: 992px) {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 9;
            background: $body-bg;
        }
    }

    &__mobile-trigger {
        display: none;

        @media only screen and(max-width: 992px) {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 25px;
            display: block;
            padding: 10px 0;
            background-color: $grey-4;
        }
    }

    &__mobile-action {
        display: none;

        @media only screen and(max-width: 992px) {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
    }

    &__items {
        display: flex;

        @media only screen and(max-width: 992px) {
            overflow-y: scroll;
        }
    }

    &__item-wrapper {
        background-color: #ffffff;
        position: relative;
        border-top: 1px solid #959595;
        border-left: 1px solid #959595;
        border-bottom: 1px solid #959595;

        @media only screen and(max-width: 992px) {
            position: initial;
            border-top: none;
        }

        &:not(:first-child) {
            border-left: none;
        }

        &:first-child {
            border-radius: $border-radius-form 0 0 $border-radius-form;

            @media only screen and(max-width: 992px) {
                border-radius: 0;
            }
        }

        &:last-child {
            border-radius: 0 $border-radius-form $border-radius-form 0;
            border-right: 1px solid #959595;

            @media only screen and(max-width: 992px) {
                border-radius: 0;
            }

            &::after {
                display: none;
            }
        }
    }

    &__item {
        height: 40px;
        padding: 0 30px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        width: max-content;
    }

    &__name {
        font-weight: 600;
        text-align: center;
        padding: 7px 0;

        .badge {
            font-size: 9px;
            background-color: $color-danger;
            padding: 1px 4px;
            border-radius: 50%;
            color: #ffffff;
        }
    }

    &__icon {
        position: absolute;
        right: 6px;
        top: 7px;
    }

    &__search-filter {
        display: none;
        background-color: #ffffff;
        box-shadow: $box-shadow-2;
        width: 290px;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 9;

        @media only screen and(max-width: 992px) {
            width: 100%;
            background-color: $body-bg;
            top: 125px;
            box-shadow: none;
        }

        &.active {
            display: block;
        }
    }

    &__search-filter-form {
        padding: 12px 20px;
        position: relative;
    }

    &__search-result {
        position: absolute;
        top: 61px;
        left: 20px;
        width: 250px;
        border: 1px solid $color-form-border;
        padding: 0;
        background-color: #ffffff;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 0;
                padding: 10px 15px;
                cursor: pointer;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: $grey-4;
                }
            }
        }
    }

    &__popular-text {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    &__filter-list {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding: 10px 20px;
                cursor: pointer;
                background-color: #ffffff;
                transition: all .3s ease-in-out;

                @media only screen and(max-width: 992px) {
                    background-color: $body-bg;
                }

                &:hover {
                    background-color: $grey-4;
                }
            }
        }
    }

    &__remove {
        border-top: 1px solid #dddddd;
        padding: 15px 20px;
        margin-top: 20px;
        color: $color-danger;
        cursor: pointer;
    }
}

/*============== Custom Checkbox ==================*/
.cb-container {
    display: inline-block !important;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    line-height: 17px;
    font-size: 15px !important;
    font-weight: normal !important;
}

/* Hide the browser's default checkbox */
.cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.cb-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    border: 1px solid $color-form-border;
    background-color: $color-form-control-bg;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked~.checkmark {
    background-color: $color-primary;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cb-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*============== Custom Radio ==================*/
.ir-container {
    display: inline-block !important;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    line-height: 17px;
    font-size: 15px !important;
    font-weight: normal !important;
}

/* Hide the browser's default radio button */
.ir-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.ir-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.ir-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.ir-container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ir-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.ir-container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.ir-container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
}

/* Vue Select */
.vs__dropdown-toggle {
    min-height: $height-form;
    border: 1px solid $grey-1;
    border-radius: $border-radius-form;
    background-color: $color-form-control-bg;
    padding: 8px 10px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
}

.vs__dropdown-menu {
    border: 1px solid $grey-1;
    border-top: none;
    background-color: $color-form-control-bg;
}

.vs__selected {
    margin: 0;
    padding: 0;
}

.vs__selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: nowrap;
    padding: 0 2px;
    position: relative;
}

.vs--single.vs--open .vs__selected {
    position: relative;
}

.vs__search {
    margin: 0;
    padding: 0;

    &:focus {
        margin: 0;
        padding: 0;
    }

    &::placeholder {
        color: $grey-1;
        font-size: 15px;
    }
}

/* Vue Date Pick */
.vdpComponent.vdpWithInput input {
    height: $height-form !important;
    border: 1px solid $grey-1 !important;
    border-radius: $border-radius-form !important;
    background-color: $color-form-control-bg !important;
    padding: $padding-form !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.custom-file-upload {
    min-width: 145px;
    height: 35px;
    background-color: $red-light;
    border-radius: 25px;
    color: #ffffff;
    padding: 10px 0 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {
        background-color: $red;
    }

    .text {
        color: #ffffff;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
    }

    .icon {
        background-color: $red;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: #ffffff;
        text-align: center;
        @include flexCenter;
    }

    input[type="file"] {
        display: none;
    }
}

.contenteditable {
    height: auto;

    &:empty::before {
        content: "Type here...";
        color: gray;
    }
}