.header {
    height: 90px;
    width: 100%;
    z-index: 99;
    position: relative;

    @media only screen and(max-width: 992px) {
        position: inherit;
        background-color: #ffffff;
        height: 70px;
        box-shadow: 0px -1px 21px rgba(0, 0, 0, 0.25);
    }

    &__logo {
        h1 {
            a {
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }

    &.dark {
        .header {
            &__logo {
                h1 {
                    a {
                        color: #ffffff;

                        @media only screen and(max-width: 992px) {
                            color: $black;
                        }
                    }
                }
            }

            &__top-menu {
                ul {
                    li {
                        a {
                            color: #ffffff;
                        }
                    }
                }
            }

            &__auth-menu {
                ul {
                    li {
                        a {
                            color: $black !important;
                        }
                    }
                }
            }
        }
    }

    &.light {
        .header {
            &__logo {
                h1 {
                    a {
                        color: $black;
                    }
                }
            }

            &__top-menu {
                ul {
                    li {
                        a {
                            color: $black;

                            @media only screen and(max-width: 992px) {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            &__auth {
                .btn-outline--color-dark {
                    @media only screen and(max-width: 992px) {
                        color: #ffffff !important;
                    }
                }
            }
        }
    }

    &__logo {
        h1 {
            margin: 0;
            height: 90px;

            @media only screen and(max-width: 992px) {
                height: 70px;
            }

            a {
                font-size: 34px;
                font-weight: 600;
                font-family: $font-family-base;
                line-height: 51px;
                text-decoration: none;
            }

            img {
                padding: 10px 0;

                @media only screen and(max-width: 992px) {
                    height: 70px;
                }
            }
        }
    }

    &__top-menu {
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;

        @media only screen and(max-width: 992px) {
            position: fixed;
            top: 0;
            left: -70%;
            width: 70%;
            height: 100%;
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
            background-color: $color-primary;
            z-index: 99;
            transition: all .3s ease-in-out;
        }

        &.active {
            left: 0;
            box-shadow: 3px 0 14px 12px rgba(0, 0, 0, 0.21);
        }

        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            @media only screen and(max-width: 992px) {
                display: block;
                width: 100%;
            }

            li {
                margin-top: 7px;
                margin-left: 1rem;
                margin-right: 1rem;

                @media only screen and(max-width: 992px) {
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 0;
                    width: 100%;
                }

                a {
                    text-decoration: none;

                    @media only screen and(max-width: 992px) {
                        font-size: 20px;
                        display: block;
                        width: 100%;
                        padding: 20px 40px;
                        border-bottom: 1px solid $red-2-hover;
                    }
                }

                .line {
                    width: 0;
                    height: 2px;
                    margin: 5px auto 0;
                    transition: all .4s ease;

                    @media only screen and(max-width: 992px) {
                        display: none;
                    }
                }

                &.active,
                &:hover {
                    .line {
                        width: 14px;
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }

    &__auth {
        display: flex;
        justify-content: flex-end;
        position: relative;

        @media only screen and(max-width: 992px) {
            padding: 20px 40px;
            justify-content: center;
        }

        @media only screen and(max-width: 576px) {
            flex-direction: column;
        }

        .btn {
            @media only screen and(max-width: 576px) {
                width: 100%;
            }

            &:first-child {
                margin-right: 20px;

                @media only screen and(max-width: 576px) {
                    margin-right: 0;
                    margin-bottom: 25px;
                }
            }
        }
    }

    &__authenticated {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        @media only screen and(max-width: 992px) {
            position: initial;
        }

        &:hover>.header__auth-menu-wrapper {
            @media only screen and(min-width: 992px) {
                display: block;
            }
        }
    }

    &__auth-menu-trigger {
        @media only screen and(max-width: 992px) {
            display: none;
        }
    }

    &__avatar {
        margin-right: 12px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 3px solid $color-primary;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);

        @media only screen and(max-width: 992px) {
            margin-right: 0;
        }
    }

    &__auth-menu-wrapper {
        display: none;
        position: absolute;
        top: 64px;
        right: 0;

        @media only screen and(max-width: 992px) {
            position: fixed;
            width: 100%;
            height: 100vh;
            margin-top: -64px;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.6);

            &.show {
                display: flex;
            }
        }
    }

    &__auth-menu {
        background-color: #ffffff;
        box-shadow: 0px 0px 40px rgba(159, 159, 159, 0.2);
        width: 160px;
        z-index: 9;

        @media only screen and(max-width: 992px) {
            width: 250px;
            border-radius: 5px;
            overflow: hidden;
        }

        ul {
            flex-direction: column;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0;
                padding: 0;
                cursor: pointer;
                background-color: #ffffff;
                transition: all 0.3s ease-in-out;
                font-weight: 500;
                transition: all .25s ease-in-out;

                &:hover {
                    background-color: $grey-4;
                }

                a {
                    padding: 8px 20px;
                    width: 100%;
                    display: block;

                    @media only screen and(max-width: 992px) {
                        color: inherit !important;
                        border-bottom: none;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }

    &__search {
        display: none;
        font-size: 30px;

        @media only screen and(max-width: 992px) {
            display: flex;
        }
    }

    #mobile-nav-toggle {
        display: none;

        @media only screen and (max-width:992px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .dot {
            width: 30px;
            height: 5px;
            background-color: $black;
            border-radius: 20px;
            opacity: 1;
            transition: all .25s ease-in;

            &:nth-child(2) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        &.active {
            .dot {
                margin-right: -5px;

                &:nth-child(1) {
                    transform: rotate(-135deg);
                    margin-top: 10px;
                    width: 30px;
                }

                &:nth-child(2) {
                    transform: rotate(135deg);
                    margin-top: -5px;
                    width: 30px;
                }

                &:nth-child(3) {
                    opacity: 0;
                }
            }
        }
    }
}