.logo-sq {
    width: 90px;
    height: 90px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    overflow: hidden;
    @include flexCenter;
}

.avatar {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    margin-right: 20px;
    overflow: hidden;
}