.job-list {
    padding: 25px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: $box-shadow-2;

    &:last-child {
        margin-bottom: 0;
    }

    &__top {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__top-right {
        width: 50%;
        padding-right: 15px;

        @media only screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 25px;
            padding-right: 0;
        }
    }

    &__details {
        flex: 1;
    }

    &__top-left {
        width: 50%;
        padding-left: 15px;
        align-items: center;

        @media only screen and (max-width: 992px) {
            flex-direction: column;
        }

        @media only screen and (max-width: 768px) {
            width: 100%;
            flex-direction: row;
            padding-left: 0;
        }
    }

    &__title {
        color: $color-primary;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;

        @media only screen and (max-width: 576px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__company {
        color: $black;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;

        @media only screen and (max-width: 576px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__published-time {
        color: $grey-1;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;

        @media only screen and (max-width: 576px) {
            font-size: 8px;
            line-height: 12px;
        }
    }

    &__info-wrapper {
        display: flex;
        margin-bottom: 30px;
    }

    &__info {
        width: 50%;
        text-align: center;
        border-right: 1px solid $grey-1;

        @media only screen and (max-width: 992px) {
            width: 100%;
            border-right: none;
            margin-bottom: 10px;
        }

        @media only screen and (max-width: 768px) {
            width: 49%;
            margin-bottom: 0;
            text-align: left;
            margin-right: 1%;
        }

        &:last-child {
            border-right: none;

            @media only screen and (max-width: 768px) {
                margin-right: 0;
            }
        }
    }

    &__info-title {
        font-size: 12px;
        line-height: 18px;
        color: $black;
        margin-bottom: 5px;

        @media only screen and (max-width: 576px) {
            font-size: 10px;
            line-height: 15px;
        }
    }

    &__info-desc {
        font-size: 16px;
        font-weight: 500;
        color: $black;

        @media only screen and (max-width: 576px) {
            font-size: 13px;
        }
    }
}