.c-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.65);

    &.show {
        @include flexCenter;
    }

    &--full-height {
        .c-modal__wrapper {
            height: 95vh;
        }

        .c-modal__body {
            height: 75vh;
        }
    }

    &__wrapper {
        width: 700px;
        max-height: 95vh;
        background-color: #ffffff;
        border-radius: $border-radius-general;
        overflow: hidden;

        @media only screen and (max-width: 768px) {
            width: 90vw;
        }
    }

    &__header {
        padding: 20px 20px 0 20px;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
    }

    &__close {
        width: 20px;
        height: 20px;
        background-image: url('../../../images/reqruit/icons/other/close-o.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        cursor: pointer;
    }

    &__body {
        padding: 20px;
        max-height: 75vh;
        overflow: auto;

        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: $grey-4;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $grey-1;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: darken($grey-1, 10);
        }
    }

    &__footer {
        padding: 10px 20px 20px 20px;
    }
}