.progress-bar {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #F5F6FA;
    position: relative;

    &:before {
        content: '';
        height: 15px;
        border-radius: 10px;
        overflow: hidden;
        display: block;
        background-color: $color-primary;
        transition: all .5s ease-in-out;
    }

    @for $i from 0 to 101 {
        &--#{$i} {
            &:before {
                width: 1% * $i;
            }
        }
    }

}