.testi {
    background-color: #ffffff;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    height: 375px;
    display: flex;
    flex-direction: column;

    @media only screen and(max-width: 576px) {
        height: 290px;
    }

    &__top {
        margin-bottom: 20px;

        @media only screen and(max-width: 576px) {
            margin-bottom: 30px;
        }
    }

    &__avatar {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.12);
        margin-right: 30px;

        @media only screen and(max-width: 576px) {
            width: 64px;
            height: 64px;
            margin-right: 20px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__user-detail {
        flex: 1;
    }

    &__user-name {
        font-size: 28px;
        line-height: 42px;
        color: $black;

        @media only screen and(max-width: 576px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__user-job {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: $red;

        @media only screen and(max-width: 576px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__content {
        font-size: 20px;
        line-height: 30px;
        height: 125px;
        overflow: auto;

        @media only screen and(max-width: 576px) {
            font-size: 14px;
            line-height: 21px;
        }

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 5px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #b8b8b8;
            border-radius: 5px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    &__rating {
        margin-top: auto;

        .rating-stars {
            padding-right: 15px;
            border-right: 1px solid $black;
        }
    }

    &__rating-score {
        padding-left: 15px;
        font-size: 24px;
        line-height: 36px;

        @media only screen and(max-width: 576px) {
            font-size: 14px;
            line-height: 21px;
        }
    }
}