<template>
    <div class="card">
        <div class="card__body">
            <div class="jap-card__main">
                <div class="jap-card__logo">
                    <div>&nbsp;</div>
                    <img
                        :src="jap.workjob.company.logo_url"
                        :alt="jap.workjob.company.name"
                        class="img-fluid"
                    />
                </div>
                <div class="jap-card__info">
                    <div class="jap-card__title">
                        <a
                            :href="
                                `${app_base_url}/job/${jap.workjob.slug}/${jap.workjob.identifier}`
                            "
                            :title="jap.workjob.title"
                        >
                            {{ jap.workjob.title }}
                        </a>
                    </div>
                    <div class="jap-card__company">
                        <a
                            :href="
                                `${app_base_url}/company/${jap.workjob.company.slug}`
                            "
                            :title="jap.workjob.company.name"
                        >
                            {{ jap.workjob.company.name }}
                        </a>
                    </div>
                    <div class="jap-card__location">
                        <i class="icon-location"></i>
                        <span>{{ jap.workjob.city.name }}</span>
                    </div>
                    <div class="jap-card__salary">
                        <span
                            >{{ jap.workjob.salary_currency }}
                            {{
                                jap.workjob.salary_min | format_number("id-ID")
                            }}
                            -
                            {{
                                jap.workjob.salary_max | format_number("id-ID")
                            }}</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        jap: Object
    },
    data() {
        return {
            app_base_url: APP_BASE_URL
        };
    }
};
</script>
