<template>
    <div class="job-card">
        <div class="job-card__main">
            <div class="job-card__logo">
                <div>&nbsp;</div>
                <img
                    :src="job.company.logo_url"
                    :alt="job.company.name"
                    class="img-fluid"
                />
            </div>
            <div class="job-card__info">
                <div class="job-card__title">
                    <a
                        :href="
                            `${app_base_url}/job/${job.slug}/${job.identifier}`
                        "
                        :title="job.title"
                    >
                        {{ job.title }}
                    </a>
                </div>
                <div class="job-card__company">
                    <a
                        :href="`${app_base_url}/company/${job.company.slug}`"
                        :title="job.company.name"
                    >
                        {{ job.company.name }}
                    </a>
                </div>
                <div class="job-card__location">
                    <i class="icon-location"></i>
                    <span>{{ job.city.name }}</span>
                </div>
                <div class="job-card__salary">
                    <span
                        >{{ job.salary_currency }}
                        {{ job.salary_min | format_number("id-ID") }}
                        -
                        {{ job.salary_max | format_number("id-ID") }}</span
                    >
                </div>
            </div>
        </div>
        <div class="job-card__created-time">
            <i class="icon-time-circle"></i>
            <span>{{ job.created_at | format_date }}</span>
        </div>
        <!-- <div class="job-card__bookmark">
            <i class="icon-bookmark"></i>
        </div> -->
    </div>
</template>

<script>
export default {
    props: {
        job: Object
    },
    data() {
        return {
            app_base_url: APP_BASE_URL
        };
    }
};
</script>
