// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
// $primary: #348f6c;
$primary: #b67f09;
$primary-linear-gradient: linear-gradient(60deg, #f1800a, #dca524);
// Border Radius
$border-radius: 3px;
$border-radius-lg: 5px;
$border-radius-sm: 1px;

$box-shadow: 0 0 4px 1px rgba(138, 138, 138, 0.17);
$nav-link-color: #ffffff;

// vue date pick
$vdpColor: #cc99cd;