<template>
    <div class="container myo">
        <VueStickySidebar
            class="myo__side"
            containerSelector=".container"
            innerWrapperSelector=".myo__side--inner"
            :topSpacing="70"
            :minWidth="992"
        >
            <Side :user="user_data" />
        </VueStickySidebar>

        <main class="myo__main">
            <Basic :user="user_data" />
            <About class="mb3" :user="user_data" />
            <Experience class="mb3" :user="user_data" />
            <OrganizationExperience class="mb3" :user="user_data" />
            <Education class="mb3" :user="user_data" />
            <Skills class="mb3" :user="user_data" />
            <Interest class="mb3" :user="user_data" />
            <Resume class="mb3" :user="user_data" />
            <Portofolio class="mb3" :user="user_data" />
        </main>
    </div>
</template>

<script>
import VueStickySidebar from "vue-sticky-sidebar";
import Side from "./ProfileView/Side";
import Basic from "./ProfileView/Basic";
import About from "./ProfileView/About";
import Experience from "./ProfileView/Experience";
import OrganizationExperience from "./ProfileView/OrganizationExperience";
import Education from "./ProfileView/Education";
import Skills from "./ProfileView/Skills";
import Interest from "./ProfileView/Interest";
import Resume from "./ProfileView/Resume";
import Portofolio from "./ProfileView/Portofolio";

export default {
    props: {
        user: Object
    },
    components: {
        VueStickySidebar,
        Side,
        Basic,
        About,
        Experience,
        OrganizationExperience,
        Education,
        Skills,
        Interest,
        Resume,
        Portofolio
    },
    data() {
        return {
            user_data: this.user
        };
    }
};
</script>
