<template>
    <div class="njb">
        <Navigation @goto="goTo" :active_form="active_form" />

        <div class="njb__form">
            <JobDetails
                v-show="active_form == 'details'"
                :form_data="form"
                :errors="errors"
                :option_select="option_select"
                @goto="goTo"
                @form_update="jobDetailUpdate"
            />
            <Roles
                v-show="active_form == 'roles'"
                :form_data="form"
                :errors="errors"
                :option_select="option_select"
                @goto="goTo"
                @form_update="rolesUpdate"
            />
            <Salary
                v-show="active_form == 'salary'"
                :form_data="form"
                :errors="errors"
                :option_select="option_select"
                @goto="goTo"
                @form_update="salaryUpdate"
            />
            <Description
                v-show="active_form == 'description'"
                :form_data="form"
                :errors="errors"
                :option_select="option_select"
                @goto="goTo"
                @form_update="descriptionUpdate"
            />
            <JobQuestion
                v-show="active_form == 'job_question'"
                :form_data="form"
                :errors="errors"
                @goto="goTo"
                @form_update="jobQuestionUpdate"
            />
        </div>

        <Actions
            @save="save"
            :option_select="option_select"
            :form_data="form"
            :errors="errors"
            :saving="saving"
            @form_update="actionUpdate"
        />
    </div>
</template>

<script>
import Navigation from "./WorkjobForm/Navigation";
import JobDetails from "./WorkjobForm/JobDetails";
import Roles from "./WorkjobForm/Roles";
import Salary from "./WorkjobForm/Salary";
import Description from "./WorkjobForm/Description";
import JobQuestion from "./WorkjobForm/JobQuestion";
import Actions from "./WorkjobForm/Actions";
import WorkjobFormMixin from "../../../../../../../../../resources/js/mixins/workjob-form";

export default {
    props: {
        option_select: Object,
        workjob: Object,
    },
    mixins: ["WorkjobFormMixin"],
    components: {
        Navigation,
        JobDetails,
        Roles,
        Salary,
        Description,
        JobQuestion,
        Actions,
    },
    data() {
        let jobrole_ids = [];
        this.workjob.job_roles.forEach((role) => {
            jobrole_ids.push(role.id);
        });

        let must_skill_ids = [];
        this.workjob.must_skills.forEach((skill) => {
            must_skill_ids.push(skill.id);
        });

        let nice_skill_ids = [];
        this.workjob.nice_skills.forEach((skill) => {
            nice_skill_ids.push(skill.id);
        });

        return {
            errors: {},
            active_form: "details",
            saving: false,
            form: {
                id: this.workjob.id,
                title: this.workjob.title,
                type: this.workjob.type.value,
                type_raw: this.workjob.type,
                province_id: this.workjob.province.id,
                province_raw: this.workjob.province,
                city_id: this.workjob.city.id,
                city_raw: this.workjob.city,
                number_of_vacancies: this.workjob.number_of_vacancies,
                job_posting_status: this.workjob.job_posting_status.value,
                job_posting_status_raw: this.workjob.job_posting_status,
                jobfunction_id: this.workjob.job_function.id,
                jobfunction_raw: this.workjob.job_function,
                jobrole_ids,
                jobroles_raw: this.workjob.job_roles,
                must_skill_ids,
                must_skills_raw: this.workjob.must_skills,
                nice_skill_ids,
                nice_skills_raw: this.workjob.nice_skills,
                work_experience: this.workjob.work_experience.value,
                work_experience_raw: this.workjob.work_experience,
                salary_min: this.workjob.salary_min,
                salary_max: this.workjob.salary_max,
                salary_duration: this.workjob.salary_duration.value,
                salary_duration_raw: this.workjob.salary_duration,
                bonus_salary: this.workjob.bonus_salary,
                bonus_salary_min: this.workjob.bonus_salary_min,
                bonus_salary_max: this.workjob.bonus_salary_max,
                bonus_salary_duration: this.workjob.bonus_salary_duration.value,
                bonus_salary_duration_raw: this.workjob.bonus_salary_duration,
                description: this.workjob.description,
                has_question: this.workjob.has_question,
                questions: this.workjob.questions,
                status: this.workjob.status.value,
                status_raw: this.workjob.status,
            },
        };
    },
};
</script>