<template>
    <div class="njb">
        <Navigation @goto="goTo" :active_form="active_form" />

        <div class="njb__main">
            <div class="njb__form">
                <JobDetails
                    v-show="active_form == 'details'"
                    :form_data="form"
                    :errors="errors"
                    :option_select="option_select"
                    @goto="goTo"
                    @form_update="jobDetailUpdate"
                />
                <Roles
                    v-show="active_form == 'roles'"
                    :form_data="form"
                    :errors="errors"
                    :option_select="option_select"
                    @goto="goTo"
                    @form_update="rolesUpdate"
                />
                <Salary
                    v-show="active_form == 'salary'"
                    :form_data="form"
                    :errors="errors"
                    :option_select="option_select"
                    @goto="goTo"
                    @form_update="salaryUpdate"
                />
                <Description
                    v-show="active_form == 'description'"
                    :form_data="form"
                    :errors="errors"
                    :option_select="option_select"
                    @goto="goTo"
                    @form_update="descriptionUpdate"
                />
                <JobQuestion
                    v-show="active_form == 'job_question'"
                    :form_data="form"
                    :errors="errors"
                    @goto="goTo"
                    @form_update="jobQuestionUpdate"
                />
            </div>

            <Actions
                @save="save"
                :option_select="option_select"
                :form_data="form"
                :errors="errors"
                :saving="saving"
                @form_update="actionUpdate"
            />
        </div>
    </div>
</template>

<script>
import Navigation from "./WorkjobForm/Navigation";
import JobDetails from "./WorkjobForm/JobDetails";
import Roles from "./WorkjobForm/Roles";
import Salary from "./WorkjobForm/Salary";
import Description from "./WorkjobForm/Description";
import JobQuestion from "./WorkjobForm/JobQuestion";
import Actions from "./WorkjobForm/Actions";
import WorkjobFormMixin from "../../../../../../../../../resources/js/mixins/workjob-form";

export default {
    props: {
        option_select: Object
    },
    mixins: ["WorkjobFormMixin"],
    components: {
        Navigation,
        JobDetails,
        Roles,
        Salary,
        Description,
        JobQuestion,
        Actions
    },
    data() {
        return {
            errors: {},
            active_form: "details",
            saving: false,
            form: {
                id: "",
                title: "",
                type: "",
                province_id: "",
                city_id: "",
                number_of_vacancies: "",
                job_posting_status: "open",
                jobfunction_id: "",
                jobrole_ids: [],
                must_skill_ids: [],
                nice_skill_ids: [],
                work_experience: "",
                salary_min: 0,
                salary_max: 0,
                salary_duration: "monthly",
                bonus_salary: false,
                bonus_salary_min: 0,
                bonus_salary_max: 0,
                bonus_salary_duration: "monthly",
                description: "",
                has_question: false,
                questions: [],
                status: "published"
            }
        };
    }
};
</script>
