<template>
    <div>
        <!-- <pre>{{ jobs }}</pre> -->
        <form @submit.prevent="searchJob" class="form mb-4">
            <div class="form__group">
                <div
                    class="input-group input-group--no-prepend input-group--white"
                >
                    <div class="input-group__main input-group__main--border">
                        <input
                            type="text"
                            autocomplete="off"
                            name="job-keyword"
                            placeholder="Cari Pekerjaan..."
                            class="form__control form__control--bg-white"
                            v-model="form.keyword"
                        />
                    </div>
                    <div class="input-group__append">
                        <button type="submit" class="btn btn--primary">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form__group">
                <label for="sort" class="form__label">Urutkan</label>
                <v-select
                    label="label"
                    :options="[
                        {
                            label: 'Tanggal Dibuat',
                            value: 'created_at'
                        },
                        {
                            label: 'Tanggal Diperbarui',
                            value: 'updated_at'
                        },
                        {
                            label: 'Alphabet',
                            value: 'title'
                        }
                    ]"
                    @input="sortChange"
                    placeholder="Urutkan"
                ></v-select>
                <span v-if="errors.sort" class="invalid-feedback" role="alert"
                    >{{ errors.sort[0] }}
                </span>
            </div>
        </form>

        <div v-if="searching" class="loading-image">
            <img
                :src="`${app_base_url}/images/reqruit/loading.gif`"
                alt="Loading"
            />
        </div>

        <div v-else>
            <div v-if="jobs.length == 0" class="center">
                <h3>Tidak ditemukan</h3>
            </div>

            <div v-for="(job, i) in jobs" :key="i" class="card mg-job mb-4">
                <div class="card__header">
                    <h2 class="card__header-title">{{ job.title }}</h2>
                </div>
                <div class="card__body mg-job__body">
                    <div class="mg-job__detail">
                        <ul class="mg-job__detail-list">
                            <li>{{ job.job_function.name }}</li>
                            <li>
                                {{ job.salary_currency }}
                                {{ job.salary_min }} - {{ job.salary_max }}
                            </li>
                            <li>{{ job.city.name }}</li>
                            <li>{{ job.type.description }}</li>
                        </ul>
                        <div class="mg-job__created-at">
                            <i class="icon-time-square"></i>
                            {{ job.created_at | format_date_only }}
                        </div>
                    </div>
                    <div class="mg-job__stats">
                        <div class="mg-job__stat-item">
                            <div class="mg-job__stat-num">
                                {{ job.applicants_count }}
                            </div>
                            <div class="mg-job__stat-name">Pelamar</div>
                        </div>
                    </div>
                </div>
                <div class="card__footer">
                    <div class="flex justify-between items-center">
                        <div>
                            <a
                                :href="
                                    `${app_base_url}/employer/workjob/${job.id}/edit`
                                "
                                title="Edit pekerjaan"
                                class="mr-3"
                                >Edit</a
                            >
                            <a
                                :href="
                                    `${app_base_url}/job/${job.slug}/${job.identifier}`
                                "
                                title="Lihat"
                                target="_blank"
                                >Lihat</a
                            >
                        </div>
                        <a
                            :href="
                                `${app_base_url}/employer/job-applications/?job_identifier=${job.identifier}`
                            "
                            class="btn btn--primary"
                            >PELAMAR</a
                        >
                    </div>
                </div>
            </div>

            <div
                v-if="next_url != '' && navigate_next == false"
                class="flex justify-center"
            >
                <button
                    type="button"
                    @click="nextPage(next_url)"
                    class="btn btn--lg btn--primary"
                    title="Tampilkan Lagi"
                >
                    <i class="icon-arrow-down"></i> Tampilkan Lagi
                </button>
            </div>

            <div v-if="navigate_next" class="loading-image">
                <img
                    :src="`${app_base_url}/images/reqruit/loading.gif`"
                    alt="Loading"
                />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: Object
    },
    data() {
        return {
            app_base_url: APP_BASE_URL,
            jobs: this.data.jobs,
            next_url: this.data.next_url,
            searching: false,
            navigate_next: false,
            errors: [],
            form: {
                keyword: "",
                sort: "created_at"
            }
        };
    },
    methods: {
        sortChange(value) {
            this.form.sort = value.value;
            this.searchJob();
        },
        searchJob() {
            this.searching = true;
            this.errors = [];

            let url = new URL(
                `${APP_BASE_URL}/employer/workjob?sort=${this.form.sort}`
            );

            if (this.form.keyword != "") {
                url.searchParams.append("keyword", this.form.keyword);
            }

            axios
                .get(url.href)
                .then(res => {
                    let data = res.data.data;
                    this.jobs = data.jobs;
                    this.next_url = data.next_url;
                })
                .catch(err => {
                    console.log(err.response);
                    this.swalWrong();
                })
                .finally(() => {
                    this.searching = false;
                });
        },
        nextPage(urlString) {
            this.navigate_next = true;

            let url = new URL(urlString);
            if (this.form.keyword != "") {
                url.searchParams.append("keyword", this.form.keyword);
            }
            if (this.form.sort != "") {
                url.searchParams.append("sort", this.form.sort);
            }

            axios
                .get(url.href)
                .then(res => {
                    let data = res.data.data;
                    this.next_url = data.next_url;

                    data.jobs.forEach(job => {
                        this.jobs.push(job);
                    });
                })
                .catch(err => {
                    console.log(err.response);
                    this.swalWrong();
                })
                .finally(() => {
                    this.navigate_next = false;
                });
        }
    }
};
</script>
