// Colors
$red: #C63D2F;
$red-hover: lighten($red, 10);
$red-2: #C0392B;
$red-2-hover: lighten($red-2, 10);
$red-light: #E74C3C;
$red-light-hover: lighten($red-light, 10);
$yellow: #FFD65E;
$yellow-hover: darken($yellow, 15);
$yellow2: #F0BC5E;
$green: #10AC84;
$green-hover: darken($green, 15);
$blue: #0081CA;
$blue-hover: darken($blue, 15);
$blue: #0081CA;
$blue-hover: darken($blue, 15);
$blue-2: #075785;
$blue-2-hover: darken($blue-2, 15);
$grey-1: #959595;
$grey-2:#666666;
$grey-3:#454D59;
$grey-4: #E8E8E8;
$black: #1E272E;
$blue-black: #0B2239;

$body-bg: #FAFAFA;
$color-text: $grey-3;
$color-heading: $black;
$color-primary: $red;
$color-primary-hover: $red-hover;
$color-secondary: $yellow;
$color-secondary-hover: $yellow-hover;
$color-dimmed: $grey-1;
$color-btn-black: #222222;
$color-btn-black-hover: lighten($color-btn-black, 10);
$color-btn-light: #FFFFFF;
$color-form-control-bg: #f9f9f9;
$color-link: $red-2;
$color-form-border: $grey-1;
$color-link-secondary: $blue;

$color-success: $green;
$color-warning: $yellow;
$color-danger: $red-light;

// Typography
$font-family-base: 'Poppins',
sans-serif;
$font-family-heading: 'Quicksand',
sans-serif;

// Numbers
$border-radius: 5px;
$border-radius-form: $border-radius;
$border-radius-image: $border-radius;
$border-radius-general: 10px;
$height-form: 40px;
$height-form-lg: 52px;
$height-form-sm: 35px;
$padding-form: 10px;

// Utils
$box-shadow: 3px 5px 20px rgba(135, 135, 135, 0.1);
$box-shadow-2: 0px 0px 40px rgba(159, 159, 159, 0.2);