<template>
    <div>
        <h1>{{ title[active_menu] }}</h1>
        <div v-if="japs.length > 0" class="clearfix mxn2">
            <div
                v-for="(jap, i) in japs"
                :key="i"
                class="sm-col sm-col-12 md-col-6 p2"
            >
                <JobApplicationCard :jap="jap" />
            </div>

            <div class="clearfix"></div>
            <div
                v-if="pagination_data.next_page_url != ''"
                class="flex justify-center mt-3"
            >
                <button
                    type="button"
                    class="btn btn--lg btn--primary"
                    @click="showMore"
                    :disabled="loading"
                >
                    <span v-if="loading">Memuat...</span>
                    <span v-else
                        ><i class="icon-arrow-down"></i> Selanjutnya</span
                    >
                </button>
            </div>
        </div>
        <div v-else class="jap__not-found">
            <div class="image">
                <img
                    :src="`${app_base_url}/images/reqruit/content-images/lonely.png`"
                    alt="Not found"
                    class="img-fluid"
                />
            </div>
            <div class="center mt-3 mb-3">
                <strong>Upps</strong>, tidak ditemukan.
            </div>
            <div class="button-cta">
                <a
                    :href="`${app_base_url}/explore-jobs`"
                    title="cari Pekerjaan"
                    class="btn btn--primary"
                    >Cari Pekerjaan</a
                >
            </div>
        </div>
    </div>
</template>

<script>
import JobApplicationCard from "../../Share/Job/JobApplicationCard";

export default {
    props: {
        japs: Array,
        pagination: Object,
        active_menu: String,
    },
    components: {
        JobApplicationCard,
    },
    data() {
        return {
            pagination_data: this.pagination,
            loading: false,
            app_base_url: APP_BASE_URL,
            title: {
                all: "Semua",
                pending: "Menunggu",
                shortlisted: "Daftar Pendek",
                interview: "Wawancara",
                offered: "Ditawarkan",
                hired: "Dipekerjakan",
                unsuitable: "Ditolak",
            },
        };
    },
    methods: {
        showMore() {
            this.loading = true;
            axios
                .get(this.pagination_data.next_page_url)
                .then((res) => {
                    let result = res.data.data;
                    this.pagination_data = result;
                    result.job_applications.forEach((jap) => {
                        this.japs.push(jap);
                    });
                })
                .catch((err) => {
                    console.log(err);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
    },
};
</script>