<template>
    <b-container fluid>
        <b-card>
            <DataTable :datatable="datatable" />
        </b-card>
    </b-container>
</template>

<script>
import DataTable from "../../Share/DataTable/DataTable";
import { EventBus } from "../../../plugins/event-bus";

export default {
    props: ["data"],
    components: {
        DataTable
    },
    created() {
        EventBus.$emit("set_page_title", "Companies");
    },
    data() {
        return {
            datatable: {
                data: this.data,
                dataPropertyName: "companies",
                baseUrl: `${DASHBOARD_BASE_URL}/companies`,
                showBaseUrl: `${DASHBOARD_BASE_URL}/companies`,
                queryUrl: `${DASHBOARD_BASE_URL}/companies`,
                dt_links: {
                    all: `${DASHBOARD_BASE_URL}/companies`,
                    trashed: `${DASHBOARD_BASE_URL}/companies/trashed`
                },
                default_start_date: "",
                default_end_date: "",
                search: {
                    keyword: "",
                    name: "",
                    start_date: "",
                    end_date: ""
                },
                filterFields: {
                    name: {
                        name: "Name",
                        type: "input"
                    },
                    daterange: true
                },
                cols: [
                    { name: "cb", propertyName: "id" },
                    {
                        name: "Name",
                        propertyName: "name"
                    },
                    { name: "City", propertyName: "city.name" },
                    {
                        name: "Short Description",
                        propertyName: "short_description"
                    },
                    {
                        name: "Created At",
                        propertyName: "created_at",
                        type: "date_time"
                    }
                ],
                actions: {
                    addTo: "Name",
                    propertyName: "id",
                    propertyNameShow: "id",
                    type: ["show", "destroy"]
                }
            }
        };
    }
};
</script>
